@import '../../../scss/modal.scss';
@import '../send/send.component.scss';
:host {
  flex-grow: 1;
}
:host > div.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  flex-grow: 1;
}
:host > div.list-item:hover {
  cursor: pointer;
}
:host > div.list-item span {
  color: #2C323A;
  font-size: 0.875rem;
  font-weight: 400;
  margin: 0;
  align-items: center;
  margin-left: 0.625rem;
}
:host > div.list-item div.imgWrapper {
  margin-left: 1rem;
  min-width: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
:host > div.list-item img {
  height: 1.5rem;
  width: 1.5rem;
  object-fit: contain;
}
:host > div.kukai-modal div.km-body img {
  height: 8rem;
}
:host > div.kukai-modal div.km-body img:hover {
  cursor: zoom-in;
}
:host > div.kukai-modal div.top-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
:host > div.kukai-modal div.top-wrapper div.basics > div:first-child {
  margin-top: 0;
}
:host > div.full-size {
  position: fixed;
  z-index: 150;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
:host > div.full-size:hover {
  cursor: zoom-out;
}
:host > div.full-size > img {
  z-index: 150;
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.group{
  width: 100%;
}
.seperator {
  border-top: 1px solid rgba($color: #000000, $alpha: 0.08);
  border-bottom: none !important;
}
.btn-preview{
  background: transparent;
  color: #5963FF;
  width: 128px !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 0.8125rem !important;
  line-height: 1rem !important;
}


.badge-notify {
  position:relative;
}
.badge-notify[data-badge]:after {
  content:attr(data-badge);
  position:absolute;
  top:18px;
  right:-6px;
  font-size:.7em;
  background:#4B77D6;
  color:white;
  width:8px;
  height:8px;
  text-align:center;
  line-height:18px;
  border-radius:50%;
  box-shadow:0 0 1px #333;
}