<div class="list-item" (click)="openModal()">
  <div class="imgWrapper"><img src="{{ token.thumbnailUrl }}"></div>
  <span>{{ listDisplayText() }}</span>
</div>

<!-- Modal -->
<div *ngIf="modalOpen" id="myModal" class="kukai-modal">
  <div class="km-content">
    <div class="x" (click)="closeModal()"><img src="../../../assets/img/x.svg"></div>
    <div class="km-header">
      <H1>Token Info</H1>
    </div>
    <div class="km-body">
      <div class="top-wrapper">
        <div class="basics">
          <div class="group">
            <label>Name</label>
            <p>{{ token.name }}</p>
          </div>
          <div *ngIf="token.symbol || !token.series; else showSeries" class="group">
            <label>Symbol</label>
            <p style="margin-bottom: 0">{{ token.symbol }}</p>
          </div>
          <ng-template #showSeries>
            <div class="group">
              <label>Series</label>
              <p style="margin-bottom: 0">{{ token.series }}</p>
            </div>
          </ng-template>
        </div>
        <div style="text-align:center">
          <img (click)="fullSize = true" src="{{ toggleShowHidePreviewImg ? token.metaDisplayUrl : token.displayUrl }}">
          <p *ngIf="isTokenPending(token)" style="display: block;">
            <button class="btn-preview" *ngIf="!toggleShowHidePreviewImg" (click)="onToggleShowHidePreviewImg()">(show image)</button>
            <button class="btn-preview" *ngIf="toggleShowHidePreviewImg" (click)="onToggleShowHidePreviewImg()">(hide image)</button>
          </p>
      </div>
      </div>
      <div class="group">
        <label>Description</label>
        <p>{{ getDescription() }}</p>
      </div>
      <div *ngIf="token.contractAddress" class="group">
        <label>Contract Address</label>
        <p>{{ token.contractAddress }}&nbsp;<span style="font-weight: lighter;">(#{{ token.id }})</span></p>
      </div>
      <div *ngIf="isTokenPending(token)" class="row-group seperator">
        <div class="group">
          <label>text here wraps to stay centered above both buttons; text here wraps to stay centered above both buttons</label>
        </div>
      </div>
      <div *ngIf="isTokenPending(token)" class="row-group row-buttons" style="margin: -1rem 0 0.5rem 0;">
        <div class="group">
          <app-token-modal-reject [token]="token"></app-token-modal-reject>
        </div>
        <div class="group">
          <button class="purple confirm" (click)="onTrust(true)">Approve</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="full-size" *ngIf="fullSize" (click)="fullSize = false">
  <img (click)="fullSize = false" src="{{ token.displayUrl }}">
</div>