@import '../../../scss/modal.scss';
:host {
  flex-grow: 1;
}
:host > div.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  flex-grow: 1;
}
:host > div.list-item:hover {
  cursor: pointer;
}
:host > div.list-item span {
  color: #2C323A;
  font-size: 0.875rem;
  font-weight: 400;
  margin: 0;
  align-items: center;
  margin-left: 0.625rem;
}
:host > div.list-item div.imgWrapper {
  margin-left: 1rem;
  min-width: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
:host > div.list-item img {
  height: 1.5rem;
  width: 1.5rem;
  object-fit: contain;
}
:host > div.kukai-modal div.km-body img {
  height: 8rem;
}
:host > div.kukai-modal div.km-body img:hover {
  cursor: zoom-in;
}
:host > div.kukai-modal div.top-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
:host > div.kukai-modal div.top-wrapper div.basics > div:first-child {
  margin-top: 0;
}
:host > div.full-size {
  position: fixed;
  z-index: 150;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
:host > div.full-size:hover {
  cursor: zoom-out;
}
:host > div.full-size > img {
  z-index: 150;
  object-fit: contain;
  height: 100%;
  width: 100%;
}