<app-header></app-header>
<div id="wrapper" *ngIf="walletService.wallet">
    <div class="main-container">
        <div id="top-container">
            <span id="title">Accounts</span>
            <app-new-implicit></app-new-implicit>
        </div>
        <div id="accounts-container">
            <ng-container *ngFor="let impAcc of implicitAccounts">
                <div class="account-container account-row" (click)="select(impAcc)">
                    <div>
                        <img class="account-icon" src="../../../assets/img/account-icon.svg">
                        <span class="account-address">{{ formatAddress(impAcc) }}</span>
                        <img class="copy-icon" src="../../../assets/img/copy-icon.svg" (click)="$event.stopPropagation() ; copy(impAcc)">
                    </div>
                    <div class="value-container">
                        <div class="values">
                            <span class="account-xtz">{{ impAcc.balanceXTZ / 1000000 | number: "1.0-6"}} tez</span>
                            <span *ngIf="impAcc.balanceXTZ" class="account-usd">{{ impAcc.balanceUSD | number: "1.0-0" }} USD</span>
                        </div>
                        <div>
                        <!-- Todo: Add menu
                            <img class="menu-icon" src="../../../assets/img/menu-icon.svg" (click)="$event.stopPropagation()">
                        -->
                        </div>
                    </div>
                </div>
                <div class="seperator"></div>
                <ng-container *ngFor="let origAcc of impAcc.originatedAccounts">
                    <div class="account-container account-row" (click)="select(origAcc)">
                        <div>
                            <img class="account-icon" src="../../../assets/img/account-icon.svg">
                            <span class="account-address">{{ formatAddress(origAcc) }}</span>
                            <img class="copy-icon" src="../../../assets/img/copy-icon.svg" (click)="$event.stopPropagation() ; copy(origAcc)">
                        </div>
                        <div class="value-container">
                            <div class="values">
                                <span class="account-xtz">{{ origAcc.balanceXTZ / 1000000 | number: "1.0-6"}} tez</span>
                                <span *ngIf="origAcc.balanceXTZ" class="account-usd">{{ origAcc.balanceUSD | number: "1.0-0" }} USD</span>
                            </div>
                            <div>
                            <!--
                                <img class="menu-icon" src="../../../assets/img/menu-icon.svg" (click)="$event.stopPropagation()">  
                            -->
                            </div>
                        </div>
                    </div>
                    <div class="seperator"></div>
                </ng-container>
            </ng-container>
            <div class="account-container value-total">
                <div class="value-container">
                    <div class="values">
                        <span class="account-xtz">{{ walletService.wallet.totalBalanceXTZ / 1000000 | number: "1.0-6"}} tez</span>
                        <span class="account-usd">{{ walletService.wallet.totalBalanceUSD | number: "1.0-0" }} USD</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!walletService.wallet">Need to be logged in to view this page</div>