img {
    vertical-align: baseline;
}
#main-container {
    width: 40rem;
    background: #FCFCFC;
    border: 0.0625rem solid #FFFFFF;
    box-shadow: 0rem 0rem 0.0625rem rgba(0, 0, 0, 0.04), 0rem 0.125rem 0.375rem rgba(0, 0, 0, 0.04), 0rem 1rem 1.5rem rgba(0, 0, 0, 0.06);
    border-radius: 0.75rem;
    // height: 16rem; // To be removed
}
#top-container {
    width: 39.875rem;
    margin-top: 0.75rem;
    height: 2.75rem;
    width: auto;
    border-bottom: 1px solid #EAEBF9;
}
#accounts-container {
    width: 40rem;
}
.account-container {
    width: 40rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: -1px;
    height: 4rem;
    display: flex;
    justify-content: space-between;
}
.account-row:hover { //#e6ffe6
    background-color: #EAEBF9 !important;
    cursor: pointer !important;
}
.account-icon {
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.copy-icon {
    padding-left: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
span {
    font-family: "Helvetica Now Text" ;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1rem;
    color: #2C323A;
}
.account-address {
    padding-left: 0.5rem;
    margin-top: 0.5rem;
}
.account-row > div {
    display: flex;
}
.account-xtz {
    display: flex;
    align-items: center;
    text-align: right;
    color: #2C323A;
}
.account-usd {
    float: right;
    display: flex;
    align-items: center;
    text-align: right;
    font-size: 0.75rem;
    color: rgba(44, 50, 58, 0.4);
}
#title {
    margin-left: 1rem;
    font-family: "Helvetica Now Text";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #2C323A;
}
#top-container > img {
    float: right;
    margin-top: 0.25rem;
    margin-right: 1rem;
    cursor: pointer;
}
.value-container {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    height: 2rem;
}
.values {
    float: right;
    text-align: right;
}
.value-total > .value-container{
    width: 100%;
    margin-bottom: 1.5rem;
    margin-right: 0.625rem;
}
.value-total > .value-container> .values > .account-xtz {
    font-size: 1rem;
    font-weight: bold;

}
.seperator {
    width: 38rem;
    margin-left: 0.375rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}
.menu-icon {
    margin-top: 0.25rem;
    margin-right: 1rem;
    margin-left: 0.625rem;
}
@media screen and (max-width: 40rem) {
    #main-container {
        width: 22rem;
    }
    #accounts-container {
        width: 22rem;
    }
    .account-container {
        width: 22rem;
    }
    .seperator {
        width: 20rem;
    }
  }