:host {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background: #5963FF;
}
#wrapper {
    width: 100%;
    min-height: calc(100% - 8rem);
    padding-bottom: 8rem;
    display: flex;
    justify-content: center;
}
img {
    vertical-align: baseline;
}
.main-container {
    width: 40rem;
    background: #FCFCFC;
    border: 0.0625rem solid #FFFFFF;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.14), 0px 16px 24px rgba(0, 0, 0, 0.16);
    border-radius: 0.75rem;
}
#top-container {
    width: 39.875rem;
    margin-top: 1rem;
    height: 2.5em;
    width: auto;
    border-bottom: 1px solid #EAEBF9;
}
#accounts-container {
    width: 40rem;
}
.account-container {
    width: 40rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: -1px;
    display: flex;
    justify-content: space-between;
}
.account-row:hover { //#e6ffe6
    background-color: #EAEBF9 !important;
    cursor: pointer !important;
}
.account-icon {
    margin-left: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.copy-icon {
    padding-left: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
span {
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1rem;
    color: #2C323A;
}
.account-address {
    padding-left: 0.5rem;
    margin-top: 0.5rem;
}
.account-row > div {
    display: flex;
}
.account-row > div.value-container {
    margin-right: 2rem;
}
.account-xtz {
    display: flex;
    align-items: center;
    text-align: right;
    color: #2C323A;
}
.account-usd {
    float: right;
    display: flex;
    align-items: center;
    text-align: right;
    font-size: 0.75rem;
    color: rgba(44, 50, 58, 0.4);
}
#title {
    margin-left: 1.5rem;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #2C323A;
}
.value-container {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    height: 2rem;
}
.values {
    float: right;
    text-align: right;
}
.value-total > .value-container{
    width: 100%;
    margin-bottom: 1.5rem;
    margin-right: 2rem;
}
.value-total > .value-container> .values > .account-xtz {
    font-size: 1rem;
    font-weight: bold;

}
.seperator {
    width: 38rem;
    margin-left: 0.375rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}
.menu-icon {
    margin-top: 0.25rem;
    margin-right: 1rem;
    margin-left: 0.625rem;
}
@media screen and (max-width: 40rem) {
    .main-container {
        width: 22rem;
    }
    #accounts-container {
        width: 22rem;
    }
    .account-container {
        width: 22rem;
    }
    .seperator {
        width: 20rem;
    }
    img.account-icon {
        margin-left: 1rem;
    }
    div.account-row > div.value-container {
        margin-right: 1rem;
    }
    div.seperator {
        width: 21rem;
    }
    .value-total > .value-container{
        margin-right: 1rem;
    }
  }