<div *ngIf='identity'>
  <table>
    <tr *ngIf='identity'><td>{{ identity.keyPair.pkh }}</td><td>{{ identity.balance / 100 }}ꜩ</td><td><a>Send</a></td><td><a>View</a></td></tr>
    <tr  *ngFor="let account of accounts">
      <td>{{ account.pkh }}</td><td>{{ account.balance / 100 }}ꜩ</td><td><a>Send</a></td><td><a>View</a></td>
    </tr>
  <tr><td colspan="2"></td><td colspan="2"><a *ngIf='showAdd' (click)='addAccount()'>Add account</a></td></tr></table>
</div>
<p *ngIf='!identity'>
  Wallet not configured
</p>
