// Wrappers

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: white;
}
.mono {
    font-family: "Courier New", Courier, monospace;  
}
@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        padding: 0 30px;
    }
}
