<div *ngIf='identity'>
  <div class="form-group">
    <select [(ngModel)]="activePkh" (ngModelChange)="getTransactions()" id="fromAdress" class="form-control">
      <option [value]="identity.keyPair.pkh">{{ identity.keyPair.pkh }} ({{ identity.balance / 100}}ꜩ)</option>
      <option *ngFor="let account of accounts" [value]="account.pkh">{{ account.pkh }} ({{account.balance / 100}}ꜩ)</option>
    </select>
  </div>
  <table>
    <tr><th>Date</th><th>Amount</th><th>Balance</th></tr>
  </table>
</div>
<p *ngIf='!identity'>
    Wallet not configured
</p>

