<div *ngIf='accounts'>
    <ng-container *ngFor="let account of accounts">
        <ng-container *ngIf="account.pkh === activePkh && showActivities.length > 0">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">{{ 'ACTIVITYCOMPONENT.TXNHASH' | translate }}</th>
                        <th scope="col">{{ 'ACTIVITYCOMPONENT.BLOCK' | translate }}</th>
                        <th scope="col">{{ 'ACTIVITYCOMPONENT.DATE' | translate }}</th>
                        <th scope="col">{{ 'ACTIVITYCOMPONENT.TYPE' | translate }}</th>
                        <th scope="col">{{ 'ACTIVITYCOMPONENT.COUNTERPARTY' | translate }}</th> <!-- To or From -->
                        <th scope="col">{{ 'ACTIVITYCOMPONENT.AMOUNT' | translate }} (&#42793;)</th>
                        <th scope="col">{{ 'ACTIVITYCOMPONENT.STATUS' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-row" *ngFor="let transaction of showActivities">
                        <!-- Txn Hash -->
                        <th scope="row" class="row-hash table-cell">
                            <span data-toggle="tooltip" [title]="transaction.hash">
                                <a href="{{ CONSTANTS.NET.BLOCK_EXPLORER_URL + transaction.hash }}" target="_blank"> {{ transaction.hash | truncate: '4':'true'}} </a>
                            </span>
                        </th>

                        <!-- Block -->
                        <td class="table-cell"> 
                            <span data-toggle="tooltip" [title]="transaction.block">
                                <a href="{{ CONSTANTS.NET.BLOCK_EXPLORER_URL + transaction.block }}" target="_blank"> {{ transaction.block | truncate: '4':'true'}} </a>
                            </span>
                        </td>

                        <!-- Date -->
                        <td class="table-cell"> 
                            <!-- {{ transaction.timestamp | date:'yyyy-MM-dd HH:mm:ss' }} -->
                            <span data-toggle="tooltip" [title]="transaction.timestamp | date:'yyyy-MM-dd HH:mm:ss'">
                                {{ transaction.timestamp | timeAgo }}
                            </span>
                        </td>

                        <!-- Type -->
                        <td class="table-cell">
                            <span class = "transaction badge badge-secondary" [ngClass]="{'received' : getType(transaction) == 'received', 'sent' : getType(transaction) == 'sent'}"> {{ getType(transaction) }} </span>
                        </td>

                        <!-- Counterparty: `To` or `From` -->
                        <td class="table-cell"> 
                            <!-- {{ transaction.source.tz }} -->
                            <span *ngIf="transaction.type != 'activation' && !(transaction.type === 'delegation' && !transaction.destination)">
                            <!-- to and from only shown when it's not an origination (transaction.type != 'activation') and when it's not an undelegate operation: !(transaction.type === 'delegation' && !transaction.destination) -->
                                <span *ngIf="activePkh === transaction.source;then to else from"> {{ 'ACTIVITYCOMPONENT.FROM' | translate }} </span>
                                <ng-template #from><span class="smallText">{{ 'ACTIVITYCOMPONENT.FROM' | translate }}</span></ng-template>
                                <ng-template #to><span class="smallText">{{ 'ACTIVITYCOMPONENT.TO' | translate }}</span></ng-template>
                            </span>
                            <br>
                            <span class="counterparty">
                                {{ getCounterparty(transaction) }}
                            </span>
                        </td>

                        <!-- Amount -->
                        <td class="amount table-cell"> 
                            <ng-container *ngIf="transaction.amount">
                                {{ transaction.amount / 1000000 | number:'1.0' }} &#42793;
                            </ng-container>
                        </td>

                        <!-- Status -->
                        <td class="amount table-cell">
                            <a href="{{ CONSTANTS.NET.BLOCK_EXPLORER_URL + transaction.hash }}" target="_blank">{{ getStatus(transaction) }}</a>
                        </td>
                    </tr>
                    <!-- Show More Button -->
                    <!--
                    <tr class="last-btn-column">
                        <td colspan="6">
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-light btn-sm btn-balance show-more" aria-label="More" (click)="toggleTransactions()">
                                <span aria-hidden="true"> {{ showBtn }} </span>
                            </button>
                        </td>
                    </tr>
                    -->
                </tbody>
            </table>
        </ng-container>
    </ng-container>
</div>

<p *ngIf='!accounts'>
    {{ 'ACTIVITYCOMPONENT.EMPTY' | translate }}
</p>

<!-- Type of operations: activation, transfers, delegation, origination --- endorsements, baking, rewards -->