// Wrappers

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: white;
}
.mono {
    font-family: "Courier New", Courier, monospace;  
}

table { 
    width : 100%; 
    table-layout: fixed; 
}

.table-row {
    line-height: 1.2;  //original at 1.5
}
.table-cell {
    vertical-align: middle;
    padding: 10px;
}

.row-hash {
    font-weight: normal;
}

.received {
    background-color: #5cb85c;  // rgb(0, 110, 9);
}

.sent {
    background-color: #23a4fa;
}

.amount {
    text-align: right;
}

.smallText {
    font-size: 80%;
}

.btn-balance {
    color: #6c757d;
    padding-right: 0rem; // original 0.5rem;
    padding-left: 0rem; // original 0.5rem;
}

.last-btn-column > td {
    background-color: white;
    padding-top: 0.25rem;  // default at 0.75rem
    padding-bottom: 0.25rem;  // default at 0.75rem
}

.show-more {
    font-size: 0.9rem;
    width: 73px;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        padding: 0 30px;
    }
}
