<div *ngIf='identity'>
    <!--<div class="form-group">
        <select [(ngModel)]="activePkh" (ngModelChange)="getTransactions()" id="fromAdress" class="form-control">
            <option [value]="identity.pkh">{{ identity.pkh }} ({{ identity.balance / 100 | number:'1.0' }}ꜩ)</option>
            <option *ngFor="let account of accounts" [value]="account.pkh">{{ account.pkh }} ({{account.balance / 100 | number:'1.0' }}ꜩ)</option>
        </select>
    </div>-->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Source</th>
                <th>Destination</th>
                <th>Type</th>
                <th>Amount (ꜩ)</th>
                <th>Fee (ꜩ)</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody *ngFor="let transaction of activityService.visibleTransactions">
            <tr>
                <td>{{ transaction.timestamp | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                <td>{{ transaction.source }}</td>
                <td>{{ transaction.destination }}</td>
                <td>{{ transaction.type }}</td>
                <td>{{ transaction.amount / 100 }}</td>
                <td>{{ transaction.fee / 100 }}</td>
                <td>{{ getStatus(transaction.block) }}</td>           
            </tr>
        </tbody>
    </table>
</div>

<p *ngIf='!identity'>
    Wallet not configured
</p>
