<div *ngIf="modalOpen" id="myModal" class="kukai-modal" [class.top]="headless">
  <!-- Modal content -->
  <div class="km-content">
    <div class="x" (click)="closeModalAction()"><img src="../../../../assets/img/x.svg"></div>
    <div class="km-header">
      <H1>{{ getTitle() }}</H1>
      <button *ngIf="!tokenTransfer" class="small multiple-destinations" (click)="toggleDestination()">
        <!--fix me-->
        <ng-container *ngIf="!this.isMultipleDestinations">Multiple transactions</ng-container>
        <ng-container *ngIf="this.isMultipleDestinations">Single transaction</ng-container>
      </button>
    </div>
    <!-- Prepare transaction -->
    <div class="km-body">
      <div class="amount">
        <ng-container *ngIf="!hideAmount">
          <input #amountInput class="input" class="custom-large" placeholder="0.00" [(ngModel)]="amount"
            (mousedown)="sendMax = false; default" [style.font-size.rem]="dynSize()" (input)="amountChange()"
            (keypress)="keyPressNumbersDecimal($event, 'amount')" (change)="amountChange()"
            [style.width.ch]="amount ? amount.length + 1 : 3.6" [disabled]="isMultipleDestinations">
          <span class="tez">{{ getAssetName() }}</span>
        </ng-container>
        <ng-container *ngIf="hideAmount">
          <img style="height: 100%; width: auto;" src="{{ tokenService.getAsset(tokenTransfer).thumbnailUrl }}">
        </ng-container>
      </div>
      <div class="row-group">
        <span *ngIf="hideAmount"></span>
        <button *ngIf="!this.isMultipleDestinations" tabindex=-1 class="small" [class.max]="sendMax"
          (click)="sendEntireBalance($event)">Send Max</button>
        <p *ngIf="this.isMultipleDestinations"></p>`
        <p class="fee">
          <ng-container *ngIf="simSemaphore"><img src="../../../assets/img/feeLoader.gif">&nbsp;</ng-container>
          <ng-container *ngIf="!getTotalBurn() ; else burn">Fee: </ng-container>
          <ng-template #burn>Fee & storage cost: </ng-template>
          {{ getTotalCost(true) }}
        </p>
      </div>
      <div class="group">
        <label>From address</label>
        <p>{{ activeAccount.address }}</p>
      </div>
      <div *ngIf="!this.isMultipleDestinations" class="group">
        <label style="justify-content: space-between; opacity: 1; color: rgba(44, 50, 58, 0.4)"><span>Send to</span>
          <select class="select-css" [(ngModel)]="torusVerifier" (ngModelChange)="verifierChange()">
            <option value="" selected>Tezos Address</option>
            <option value="domain">Tezos Domains</option>
            <option *ngFor="let key of torusService.verifierMapKeys" value="{{key}}">
              {{ torusService.verifierMap[key].name }} Account</option>
          </select></label>
        <input type="text" class="text" (input)="updateDefaultValues()" (change)="toPkhChange()" [(ngModel)]="toPkh">
      </div>
      <ng-container *ngIf="torusVerifier">
        <div *ngIf="torusPendingLookup" style="margin-top: 0.5rem;">
          <img style="float:left" src="../../../assets/img/feeLoader.gif">
          <div style="margin-left: 20px;">
            <p class="torus-details" style="margin:0;">Loading address...</p>
          </div>
        </div>
        <p class="torus-details" *ngIf="!torusPendingLookup && torusLookupAddress">{{ torusLookupAddress }}</p>
      </ng-container>
      <div *ngIf="this.isMultipleDestinations" class="group">
        <label>Addresses and amounts <span class="batchInfo">{{ batchSpace() }}</span></label>
        <textarea type="text" class="text" (input)="updateDefaultValues()" rows="3"
          [(ngModel)]="toMultipleDestinationsString"
          placeholder="address1 amount1 ; &#10;address2 amount2 ; &#10;address3 ..."></textarea>
      </div>
      <div class="advanced">
        <small>Advanced</small>
        <div class="switch-container">
          <label class="switch">
            <input type="checkbox" [(ngModel)]="advancedForm" tabindex=-1>
            <span class="slider round"></span>
          </label><span class="switch-desc">
            <ng-container *ngIf="!advancedForm">Off</ng-container>
            <ng-container *ngIf="advancedForm">On</ng-container>
          </span>
        </div>
      </div>
      <div *ngIf="advancedForm" class="advanced-form">
        <div class="row-group">
          <div class="group">
            <label>Gas limit</label>
            <input type="text" class="text" placeholder={{this.defaultTransactionParams.gas.toString()}}
              [(ngModel)]="customGasLimit">
          </div>
          <div class="group">
            <label>Fee</label>
            <input type="text" (input)="updateMaxAmount()" (paste)="updateMaxAmount()" class="text"
              (keypress)="keyPressNumbersDecimal($event, 'customFee')"
              placeholder={{this.defaultTransactionParams.fee.toString()}} [(ngModel)]="customFee">
          </div>
        </div>
        <div class="row-group">
          <div class="group">
            <label>Storage limit</label>
            <input type="text" (input)="updateMaxAmount()" (paste)="updateMaxAmount()" class="text"
              placeholder={{this.defaultTransactionParams.storage.toString()}} [(ngModel)]="customStorageLimit">
          </div>
          <div class="group">
            <label>Max storage cost</label>
            <input type="text" class="text read-only" [value]="burnAmount() ? burnAmount() : '0 tez'" tabindex=-1
              readonly>
          </div>
        </div>
      </div>
      <span *ngIf="formInvalid" class="danger no-margin">
        {{ formInvalid }}
      </span>
      <button style="margin: 2.5rem 0 1.5rem;" class="purple" (click)="preview()">Preview</button>
    </div>
  </div>
</div>