/* https://github.com/lydemann/angular-spinners-demo */

:host {

  .spinner-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1060;
  }

  #loader {
    bottom: 0;
    height: 30vmin;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 30vmin;

    & .dot {
      bottom: 0;
      height: 100%;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
      width: 15vmin;

      &::before {
        border-radius: 100%;
        content: "";
        height: 15vmin;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transform: scale(0);
        width: 15vmin;
      }

      &:nth-child(7n + 1) {
        transform: rotate(45deg);

        &::before {
          animation: 0.8s linear 0.1s normal none infinite running load;
          background: #00ff80 none repeat scroll 0 0;
        }
      }

      &:nth-child(7n + 2) {
        transform: rotate(90deg);

        &::before {
          animation: 0.8s linear 0.2s normal none infinite running load;
          background: #00ffea none repeat scroll 0 0;
        }
      }

      &:nth-child(7n + 3) {
        transform: rotate(135deg);

        &::before {
          animation: 0.8s linear 0.3s normal none infinite running load;
          background: #00aaff none repeat scroll 0 0;
        }
      }

      &:nth-child(7n + 4) {
        transform: rotate(180deg);

        &::before {
          animation: 0.8s linear 0.4s normal none infinite running load;
          background: #0040ff none repeat scroll 0 0;
        }
      }

      &:nth-child(7n + 5) {
        transform: rotate(225deg);

        &::before {
          animation: 0.8s linear 0.5s normal none infinite running load;
          background: #2a00ff none repeat scroll 0 0;
        }
      }

      &:nth-child(7n + 6) {
        transform: rotate(270deg);

        &::before {
          animation: 0.8s linear 0.6s normal none infinite running load;
          background: #9500ff none repeat scroll 0 0;
        }
      }

      &:nth-child(7n + 7) {
        transform: rotate(315deg);

        &::before {
          animation: 0.8s linear 0.7s normal none infinite running load;
          background: magenta none repeat scroll 0 0;
        }
      }

      &:nth-child(7n + 8) {
        transform: rotate(360deg);

        &::before {
          animation: 0.8s linear 0.8s normal none infinite running load;
          background: #ff0095 none repeat scroll 0 0;
        }
      }
    }
  }

  #loader .loading {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    bottom: -40px;
    height: 20px;
    left: 0;
    position: absolute;
    right: 0;
    width: 30vmin;
  }

  .loading {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
  }

  @keyframes load {
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }

  .spinner-message {
    text-align: center;
  }

}