<div class="container pt-5" *ngIf="this.walletService.wallet">
    <div class="animated fadeIn">
      <div class="row">
        <div class="col-lg-12">
          <div class="card bg-gray-700 text-white">
            <div class="card-header bg-dark">
              <div class="row">
                  <div class="col-md-2">
                    <i class="fa fa-align-justify"></i>
                    {{ 'ACCOUNTCOMPONENT.ACCOUNT' | translate }} 
                  </div>
              </div>
              <div class="row pt-2">
                  <div class="col-md-7">
                      <select [(ngModel)]="activePkh" (change)="updateBalance()" id="fromAdress" class="form-control">
                        <option *ngFor="let account of accounts" [value]="account.pkh">{{ account.pkh }}</option>
                      </select>
                  </div>
                  <div class="col-md-5 pt-2">
                    {{ 'ACCOUNTCOMPONENT.BALANCE' | translate }} {{ balance / 1000000 | number:'1.0' }} &#42793;
                    <span *ngIf="balanceUSD > 0">(${{ balanceUSD | number:'1.00'}} USD)</span>
                  </div>
              </div>
            </div>

            <div class="card-body">
              <app-activity [activePkh]="activePkh"></app-activity>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="container" *ngIf="!this.walletService.wallet">
    <div class="row bottom-separator-no-account">
        <div class="col-lg-12">
            <h1 class="page-header-no-account">{{ 'ACCOUNTCOMPONENT.ACCOUNT' | translate }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <!--
            <p>You can get your individual account details in here but before, you will need to
                <a routerLink="">create or import</a> a wallet.</p>
            -->
            <p>
                {{ 'ACCOUNTCOMPONENT.EMPTY' | translate }}
            </p>
        </div>
    </div>
</div>