.page-header {
    margin: 40px 0px 10px 0px;
}

.bottom-separator {
    padding-top: 10px;
    padding-bottom: 27px;
    border-bottom: 1px solid #eee; //Alignment  with sidebar
}

.page-header-no-account {
    margin: 40px 0px 10px 0px;
}

.bottom-separator-no-account {
    padding-bottom: 27px;
    border-bottom: 1px solid #eee; //Alignment  with sidebar
    margin-bottom: 0.5rem;
}

.mono {
    font-family: "Courier New", Courier, monospace;
}



