<div class="container" *ngIf="this.walletService.wallet">
    <div class="row">
        <div class="col-6">
            <h1 class="page-header">Account</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-10 mono">
            <select [(ngModel)]="activePkh" (change)="updateBalance()" id="fromAdress" class="form-control min-width">
                <option *ngFor="let account of accounts" [value]="account.pkh">{{ account.pkh }}</option>
            </select>
        </div>
    </div>
    <div class="row bottom-separator">
        <div class="col-6">
            Balance: {{ balance / 1000000 | number:'1.0' }} &#42793;
            <span *ngIf="balanceUSD > 0">(${{ balanceUSD | number:'1.00'}} USD)</span>
        </div>
    </div>
    <div class="row">
        <app-activity [activePkh]="activePkh"></app-activity>
    </div>
</div>
<div class="container" *ngIf="!this.walletService.wallet">
    <div class="row bottom-separator-no-account">
        <div class="col-lg-12">
            <h1 class="page-header-no-account">Account</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p>You can get your individual account details in here but before, you will need to
                <a routerLink="">create or import</a> a wallet.</p>
        </div>
    </div>
</div>