@use "../../../../../../abstracts/variables" as v;
@use "../../../../../../abstracts/mixins" as m;

$base-font-color: v.$base-font-color;
$base-end-color: v.$base-end-color;
$base-font-color-secondary: v.$base-font-color-secondary;
$base-blue-color-lightened: v.$base-blue-color-lightened;
$base-background-color: v.$base-background-color;
$border-color-dark-only: v.$border-color-dark-only;
$border-width: v.$border-width;
$border-radius: v.$border-radius;
$border-color: v.$border-color;
$compactness: v.$compactness;
$base-end-color-static: v.$base-end-color-static;
$base-blue-color : v.$base-blue-color;

:host.tez {

  & .balance {
    border: none;
    padding: 2rem;
    box-shadow: 0px 4px 8px #3333;
    z-index: 1000;
    width: calc(100% - 4rem);
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
    border-bottom: none;
    margin: 0;
    border-bottom: 2px solid transparent;
    background-color: $base-end-color;
  }
  &.no-box .balance {
    box-shadow: none !important;
    border-color: $border-color;
  }
}

:host.first {
  & .balance {
    border-top: none !important;
  }
}
:host button {
  position: relative;
  &.with-image {
    padding: 0.75rem;
    border: v.$border-width solid transparent;
    border-radius: v.$border-radius-hardest;

    &:not(.tez) {
      background-color: transparent;
      border-color: $border-color;
      margin-right: 0.75rem;
    }

    & span {
      @include m.multiply('font-size',1.25);
      margin: 0 1rem 0 0.25rem;
      font-weight: 500;
      color: $base-end-color-static;
    }

    & img {
      width: 2rem;
      height: 2rem;
    }

    &.tez {
      padding: 1rem;
      color: $base-blue-color;
    }

    &:hover {
      filter: unset;
    }

    &.buy {
      margin: 1rem;
      height: 4rem;
      &:hover {
        & .tooltip {
          display: block;
        }
      }

      & .tooltip {
        position: absolute;
        top: 4rem;
        left: calc(-50%);
        background-color: $base-end-color;
        width: auto;
        min-width: 6rem;
        height: 1rem;
        padding: 0.5rem;
        justify-content: center;
        align-items: center;
        border-radius: v.$border-radius-hard;
        display: none;
        box-shadow: v.$box-shadow;

        & .description {
          color: $base-font-color;
          font-weight: 500;
          letter-spacing: 0.02em;
          font-size: 1rem;
        }
        &.alt {
          left: 0.5rem;
          top: 4.5rem;
        }
      }
    }
  }

  &.detail {
    width: 50%;
    height: 4rem;
    color: v.$base-end-color-static;
  }
}
.balance {
  align-items: flex-start;
  padding: calc(2rem * #{$compactness}) 0;
  margin-right: 1rem;
  height: 3.5rem;
  border-top: 2px solid $border-color;

  &>* {
    margin-right: 0.5rem;

    &:last-child {
      margin-right: 0;
    }
  }

  & .left {
    width: calc(100% - 4rem);
    justify-content: flex-start;

    & .asset {
      width: 3.5rem;
      height: 3.5rem;
      margin-right: 1rem;
      overflow: hidden;
      border-radius: v.$border-radius-hardest;
      border: $border-width solid $border-color;
      cursor: pointer;
    }

    & .title {
      @include m.multiply('font-size', 1.5);
      width: 8rem;
      margin-right: 0rem;
      height: 3rem;
      align-items: flex-start;
      letter-spacing: 0.02em;
      cursor: pointer;
    }

    & .prices {
      max-width: calc(100% - 14rem);
      min-height: 3rem;

      & .price {
        @include m.multiply('font-size', 1.5, "rem", 1.3);
        margin-bottom: 0.25rem;
        font-weight: 500;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      & .price-usd {
        @include m.multiply("font-size", 1, "rem", 1.3);
        color: $base-font-color-secondary;
        font-weight: 500;
      }
    }
  }

  & .right {
    height: 100%;
    justify-content: flex-end;

    & .icon-send,
    & .icon-fund {
      width: calc(1.75rem * #{$compactness});
      height: calc(1.75rem * #{$compactness});
      margin-right: 0.5rem;
      padding: 0.5rem;
      border-radius: v.$border-radius-hard;
      border: v.$border-width solid $border-color;
      object-fit: scale-down;
    }
  }
}