<div id="content">
  <div class="center-content">

    <!-- Mouse movements card -->
    <div class="card text-center fix-size" *ngIf="activePanel==0">
      <div class="card-body">
        <h1 class="card-title">Collecting additional entropy</h1>
        <div class="card-text">
          <p class="mono rndp">{{ entropy }}</p>
          <progressbar [value]="counter2" type="info" [striped]="true">
            <ng-container *ngIf="counter2 > 4">{{ counter2 | number: '1.0-0' }}%</ng-container>
          </progressbar>
          <p>Please move the mouse over the screen to create extra entropy for the wallet creation.</p>
          <p>This step is optional, but will add an extra layer of randomness when generating your wallet.</p>
        </div>
      </div>
      <div class="card-footer text-right">
        <a routerLink="/">
          <button type="button" class="btn btn-primary btn-lg btn-float-left">Back</button>
        </a>
        <button type="button" class="btn btn-primary btn-lg" (click)="skipExtraEntropy()">Continue</button>
      </div>
    </div>

    <!-- Seed card -->
    <div class="card text-center fix-size" *ngIf="activePanel==2">
      <div class="card-body">
        <h1 class="card-title">Save your Seed</h1>
        <div class="card-text">
          <p class="seed"><b>{{ mnemonicOut }}</b>
          </p>
          <p>When you create a new wallet, a new Tezos seed is generated. Your Tezos seed is the master key of all your wallet
            and any value inside it.</p>
          <p>Make sure to back it up, write it down, and keep it incredibly safe!</p>
          <p>**Do not lose it!** It cannot be recovered if you lose it.</p>
          <p>**Do not share it!** Your funds will be stolen if you use the seed on a malicious/phishing site.</p>
          <p>**Make a backup!** Secure it like the millions it may be worth one day.</p>
        </div>
      </div>
      <div class="card-footer text-right">
        <button type="button" class="btn btn-primary btn-lg" (click)="verifyView()">Next</button>
      </div>
    </div>
    <!-- Seed card -->
    <div class="card text-center fix-size" *ngIf="activePanel==3">
      <div class="card-body">
        <h1 class="card-title">Verify your Seed</h1>
        <div class="card-text">
          <form class="form-group">
            <div class="form-group row">
              <div class="col-sm-12">
                <textarea [(ngModel)]="userMnemonic" [ngModelOptions]="{standalone: true}" rows="4" class="form-control" placeholder="word1 word2 word3 word4 word5 word6 word7 word8 word9 word10 word11 word12 word13 word14 word15"></textarea>
              </div>
            </div>
          </form>
          <BR>
          <p>Please submit your seed words to verify you written down the words correctly.</p>
        </div>
      </div>
      <div class="card-footer text-right">
        <button type="button" class="btn btn-primary btn-lg" [disabled]="!mnemonicMatch()" (click)="pwdView()">Next</button>
      </div>
    </div>

    <!-- Password card -->
    <div class="card text-center fix-size" *ngIf="activePanel==4">
      <div class="card-body">
        <h1 class="card-title">Choose your Password</h1>
        <div class="card-text">
          <form>
            <div class="form-group row">
              <div class="col-sm-12">
                <input type="password" [(ngModel)]="pwd1" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Password">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <input type="password" [(ngModel)]="pwd2" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Confirm Password">
                <small id="emailHelp1" class="form-text text-muted text-left">Minimum {{ this.MIN_PWD_LENGTH }} characters</small>
                <small id="emailHelp2" class="form-text alert-danger text-left" *ngIf="!isValidPass.minLength">There must be a minimum of {{ MIN_PWD_LENGTH }} characters</small>
                <small id="emailHelp3" class="form-text alert-danger text-left" *ngIf="!isValidPass.match">Passswords doesn't match!</small>
                <small id="emailHelp4" class="form-text alert-success text-left" *ngIf="isValidPass.confirmed">Password confirmed</small>
              </div>
            </div>
          </form>
          <p>This password will encrypt your secret key.</p>
          <p>When performing operations that need to be signed with your secret key, this password will be required.</p>
        </div>
      </div>
      <div class="card-footer text-right">
        <button type="button" class="btn btn-primary btn-lg" [disabled]="!pwd1" (click)="encryptWallet()">Encrypt</button>
      </div>
    </div>

    <!-- Seed card -->
    <div class="card text-center fix-size" *ngIf="activePanel==5">
      <div class="card-body">
        <h1 class="card-title">Wallet created</h1>
        <div class="card-text">
          <p class="seed">
            <b>Your public key hash: {{ getPkh() }}</b>
          </p>
          <br>
          <p>Your wallet is now set up and ready to use.</p>
          <p>Please download your Encrypted Keystore File..</p>
          <button type="button" class="btn btn-primary btn-lg" (click)="download()">Download</button>
        </div>
      </div>
      <div class="card-footer text-right">
        <button type="button" class="btn btn-primary btn-lg" [disabled]="!ekfDownloaded" (click)="done()" routerLink="">Finish</button>
      </div>
    </div>
  </div>
</div>