@import "../../../scss/card.css";

:host {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-block-start: 0;
  margin-block-end: 0;
  background: #5963FF;
}
:host.tacos {
  background-image: url(../../../assets/img/tacos.svg);
}
:host > div.kukai-card > div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
}
:host #wordInput {
  width: 13rem;
  margin-left: 0;
  margin-right: 0
}
@media screen and (max-width: 32.5rem) {
  :host #wordInput {
    width: 10rem;
  }
}