@import "../../../scss/common.css";

:host {
  width: 100%;
  padding-bottom: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-block-start: 0;
  margin-block-end: 0;
}
:host > div {
  width: 100%;
  min-height: calc(100vh - 11rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
