@import "../../../scss/card.css";

:host {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-block-start: 0;
  margin-block-end: 0;
}
:host > div.kukai-card > div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}
