<div class="kukai-card">
  <span class="step-counter">
    —{{ activePanel }}/4—
  </span>
  <div *ngIf="activePanel==1" (click)="hideBlur = false">
    <H1>Back up your seed</H1>
    <p class="description">When you create a new wallet, new Tezos seed words are generated. Your seed words are the master key of your wallet accounts and any value they hold.</p>
    <div class="grey-card">
      <div class="whitebox" (mouseout)="hideBlur = false" (click)="$event.stopPropagation()">{{ MNEMONIC.string }}</div>
      <div *ngIf="!hideBlur" class="seed-blur" (click)="hideBlur = true ; $event.stopPropagation()">
        <span class="black">Click here to reveal your seed words</span>
      </div>
      <p class="description red" style="justify-content: center">Make sure to back it up, write it down, and keep it incredibly safe.</p>
      <div class="buttons"><a routerLink="/"><button class="button back">Back</button></a><button class="button next" (click)="verifyView()">Next</button></div>
    </div>
  </div>
  <div *ngIf="activePanel==2">
    <H1>Verify your seed</H1>
    <div class="grey-card">
      <p class="description">{{ formatVerifyDescription(MNEMONIC.verify[0] + 1) }}</p>
      <progress max="{{ MNEMONIC.wordsToVerify }}" value="{{ MNEMONIC.wordsToVerify - MNEMONIC.verify.length }}"></progress>
      <div *ngIf="MNEMONIC.verify.length" class="word-verify">
        <div class="word-hint">
          <span class="word-index">{{ indexFormat(MNEMONIC.verify[0] - 1) }}</span>
          <span class="word-value">{{ valueFormat(MNEMONIC.verify[0] - 1) }}</span>
        </div>
        <div class="word-input">
          <span class="word-index"><ng-container *ngIf="MNEMONIC.verify.length">Word {{ MNEMONIC.verify[0] + 1 }}</ng-container></span>
          <input id="wordInput" class="text" type="text" (input)="checkWord()" (change)="checkWord()" [(ngModel)]="wordInput" [disabled]="!MNEMONIC.verify.length" autofocus>
        </div>
        <div class="word-hint">
          <span class="word-index">{{ indexFormat(MNEMONIC.verify[0] + 1) }}</span>
          <span class="word-value">{{ valueFormat(MNEMONIC.verify[0] + 1) }}</span>
        </div>
      </div>
      <div class="buttons"><a routerLink="/"><button class="button back">Cancel</button></a><button class="button next" [class.disabled-button]="MNEMONIC.verify.length" (click)="pwdView()">Next</button></div>
    </div>
  </div>
  <div *ngIf="activePanel==3">
    <H1>Set a password</H1>
    <div class="grey-card">
      <p class="description bold blue">This password will be used to create an encrypted keystore file.</p>
      <p class="description" style="margin-top: 1.25rem">When performing operations that need to be signed with your secret key, this password will be required</p>
      <input type="password" style="margin-top: 2.5rem" placeholder="{{ 'NEWWALLETCOMPONENT.PASSWORD' | translate }}" class="text" autocomplete="new-password" [(ngModel)]="pwd1" (keyup)="calcStrength()">
      <small class="grey" style="margin-top: 0.5rem"> {{ 'NEWWALLETCOMPONENT.PASSWORDSTRENGTH' | translate }} — {{ pwdStrength }}</small><BR>
      <input type="password" style="margin-top: 1.5rem" placeholder="{{ 'NEWWALLETCOMPONENT.CONFIRMPASSWORD' | translate }}" class="text" autocomplete="new-password" [(ngModel)]="pwd2">
      <div class="buttons"><a routerLink="/"><button class="button back">Cancel</button></a><button class="button next" [class.disabled-button]="!pwd1" (click)="encryptWallet()">Next</button></div>
    </div>
  </div>
  <div *ngIf="activePanel==4">
    <H1 style="background-color: #5963FF">Wallet created!</H1>
    <div class="grey-card">
      <p class="description bold">Your wallet is now set up and ready to be used.</p>
      <p class="description">Download your encrypted keystore file and import it when you want to access your wallet.</p>
      <div class="whitebox final">
        <p class="description bold pkh">Your public account address:&#10;&#13;{{ getPkh() }}</p>
      </div>
      <div class="buttons">
        <button class="button next" (click)="download()">Download</button>
        <button class="button next" [class.disabled-button]="!ekfDownloaded" (click)="done()">Open Wallet</button>
      </div>
    </div>
  </div>
</div>