<app-buy-tez (onDismiss)="handleDismiss()"></app-buy-tez>
<app-signin *ngIf="login" [dismiss]="dismiss" [loginConfig]="loginConfig" (loginResponse)="loginResponse($event)"></app-signin>
<app-send [embedded]="true" *ngIf="externalRequest" (operationResponse)="operationResponse($event)" [headless]=true [externalRequest]=externalRequest
    [template]="template" [activeAccount]=activeAccount></app-send>
<app-sign-expr-embed *ngIf="signRequest && activeAccount" [signRequest]="signRequest" [activeAccount]=activeAccount (signResponse)="signResponse($event)"></app-sign-expr-embed>
<app-card *ngIf="activeAccount && !blockCard && (!externalRequest && !login && !signRequest)" [activeAccount]=activeAccount></app-card>