@use "../../../../../scss/abstracts/mixins" as m;

@import "https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Sans+Pro:wght@400;600&display=swap";

// generic color constants
$base-color: #000 !default;
$color-lightened-1: #4a5d75 !default;
$color-lightened-2: #98a0ab !default;
$color-lightened-3: #b9bfc7 !default;
$color-lightened-4: #c1cdd5 !default;
$color-lightened-5: #dde3e8 !default;
$color-lightened-6: #e6e9ed !default;
$color-lightened-7: #f2f4f6 !default;
$base-end-color: #fff !default;
$base-background-color: #eceff1 !default;
$base-blue-color: #5963ff !default;
$base-blue-color-lightened: #7178e3 !default;
$base-blue-color-alt: #37a9fa !default;
$base-red-color: #eb4e39 !default;
$base-green-color: #c4ec7d !default;
$base-font-color: #3e4855 !default;
$base-font-color-secondary: #98a0ab !default;

$advanced-color: #e6eaef !important;

// box shadow constants
$box-shadow: 0px 12px 24px #3331 !default;
$box-shadow-dark: 0px 6px 12px #3333 !default;

// border constant
$border-radius: 1rem !default;
$border-radius-hard: calc(#{$border-radius} * 2) !default;
$border-radius-hardest: calc(#{$border-radius} * 10) !default;
$border-color: #cfcfcf;

// @media constants
$lower-break: 75rem;
$middle-break: 130rem;
$upper-break: 260rem;

%base-button {
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: #2639bf;
  color: $base-end-color;
  padding: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 500;

  img {
    height: 1rem;
  }
}

%flex {
  display: flex;
}

%row {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

%column {
  flex-direction: column;
}

%wrap {
  flex-wrap: wrap;
}

%nowrap {
  flex-wrap: nowrap;
}

.flex {
  @extend %flex;

  &-row {
    @extend %flex;
    @extend %row;

    &-wrap {
      @extend %flex;
      @extend %row;
      @extend %wrap;
    }
  }

  &-column {
    @extend %flex;
    @extend %column;

    &-wrap {
      @extend %flex;
      @extend %column;
      @extend %wrap;
    }
  }
}

p,
span,
H1,
H2,
H3,
H5,
H6,
h1,
h2,
h3,
h4,
h5,
h6,
small,
button,
div,
th,
td,
label,
input,
textarea {
  margin: 0;
  outline: none;
  resize: none;
  font-weight: 400;
  color: $base-font-color;
}

textarea {
  border: 2px solid;
  border-color: $border-color;
  border-radius: $border-radius;
  font-size: 1rem;
  box-sizing: border-box;
}

button {
  @extend %base-button;

  &--invert {
    @extend %base-button;
    border: "2px solid";
    border-color: $base-blue-color;
    background-color: #fff;
    color: $base-blue-color;
  }

  &.selected {
    font-weight: 600 !important;
    color: $base-blue-color;
    border-color: $base-blue-color !important;
  }

  &:hover {
    filter: invert(0.05);
  }
}

:host {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}

:host {
  & .direct-auth-login-alt {
    padding: 0.5em;
    width: calc(554px - 1em);
    background: #ffffff;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.24), 0px 4px 12px rgba(0, 0, 0, 0.24), 0px 32px 48px rgba(0, 0, 0, 0.36);
    border-radius: 20px;
    & .header {
      height: 2em;
      padding: 0.75em 0 0 0;
      flex-direction: row-reverse;
      & .back,
      & .abort {
        border: 1px solid #ccced5;
        border-radius: 100px;
        padding: 0.25em;
        cursor: pointer;
        z-index: 1;
        width: 1em;
        height: 1em;
        padding: 0.5em;
      }
    }
    & > h1,
    & > h2 {
      width: 100%;
      text-align: center;
    }
    & > h1 {
      font-size: 1.875em;
      font-weight: 600;
      font-family: "Roboto Condensed";
      margin: -1.125em 0 0.75em 0;
      color: #353535;
    }
    & > h2 {
      margin: 0.75em 0 0.25em 0;
      font-size: 1.375em;
      color: #a3a8b9;
      font-family: "Roboto Condensed";
    }
    &.manutd {
      width: calc(570px - 4.5em);
      padding: 2.25em 2.25em 0 2.25em;
      & .header {
        padding: 1em 0 0 0;
      }
      & > h1 {
        font-size: 2.25em;
        font-weight: 400;
        font-family: "Bebas Neue", "Roboto";
        margin: -0.95em 0 0.875em 0;
      }
      & .login-options {
        gap: 0.75em;
        width: 100%;
        padding: 0.5em 0 0 0;
        & .option {
          width: auto;
          &.facebook {
            background-color: #1977f2;
          }
          &.twitter {
            background-color: #1da1f2;
            & img {
              filter: invert(1) brightness(100);
            }
          }
          &.reddit {
            background-color: #ff4500;
          }
          &.wide {
            border-radius: 100px;
            border-color: #b8b7b9;
            border-width: 1px;
            width: 100%;
            &.facebook,
            &.twitter,
            &.reddit {
              border: none;
              & span {
                color: $base-end-color;
              }
            }
            & img {
              margin: 0 0 0 1em;
              width: 1.5em;
              height: 1.5em;
            }
            height: 3.125em;
          }
          &.narrow {
            height: 2.875em;
            width: calc(33.3333333333% - 0.75em);
          }
          & span {
            font-size: 0.875em;
            font-weight: 600;
            font-family: "Source Sans Pro", "Roboto";
          }
        }
      }
      & .footer {
        margin: 2.375em 0;
        height: 1.125em;
        align-items: center;
        white-space: pre;
        & span {
          font-size: 0.875em;
          font-weight: 400;
          font-family: "Source Sans Pro", "Roboto";
        }

        & img {
          height: 1em;
          margin: 0 0 0 0.5em;
        }
      }
    }
    & .login-options {
      padding: 0.5em 1.25em;
      justify-content: flex-start;
      gap: 1.25em;
      width: 31.125em;
      & .option {
        position: relative;
        height: 2.5em;
        cursor: pointer;
        &.wide {
          border: 2px solid #cfcfcf;
          border-radius: 20px;
          width: 31.125em;
          height: 4.125em;
          & img {
            margin: 0 0 0 3.725em;
          }
        }
        &.narrow {
          width: calc(33.3333333333% - 1.0833333333em);
          border: 2px solid #cfcfcf;
          border-radius: 20px;
          justify-content: center;
          height: 4.375em;
        }
        & img {
          width: 1.875em;
          height: 1.875em;
        }
        & span {
          text-transform: uppercase;
          width: 100%;
          font-size: 1.25em;
          position: absolute;
          text-align: center;
          font-weight: 500;
          color: #353535;
        }
      }
    }
    & .footer {
      margin: 2.25em 0;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      opacity: 0.5;

      & span {
        font-size: 1.125em;
        line-height: 1.125em;
        font-weight: 500;
      }

      & img {
        height: 1.5em;
        margin: 0 0 0 0.5em;
      }
    }
  }
}

@keyframes transition-up {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0px;
  }
}

@keyframes transition-down {
  from {
    bottom: 0px;
  }
  to {
    bottom: -100%;
  }
}

@mixin mobile-0 {
  font-size: 4vw;
  & .direct-auth-login-alt,
  & .direct-auth-login-alt.manutd {
    transform: unset;
    position: absolute;
    bottom: 0;
    width: calc(100% - 1em);
    border-radius: 0;
    border-top-left-radius: 8vw;
    border-top-right-radius: 8vw;

    & h1 {
      margin: 0.5em 0 0.75em 0;
    }

    & .header {
      padding: 0.5em 0.25em 0 0.25em;
      & .back,
      & .abort {
        width: 1.25em;
        height: 1.25em;
        padding: 0.5em;
      }
    }

    & .login-options {
      width: calc(100% - 2.5em);

      & .option {
        & span {
          width: calc(100% - 3.5em);
          text-align: left;
          margin: 0 0 0 3.5em;
        }
        &.wide {
          width: 100%;
          & img {
            margin: 0 0 0 1em;
          }
        }
      }
    }

    & .footer {
      flex-grow: 1;
    }
  }
  & .direct-auth-login-alt.manutd {
    width: 100% !important;
    padding: 0;
    align-items: center;
    animation: transition-up 0.25s;
    & .header {
      padding: 1.25em 1.25em 0 1.25em;
      width: 100%;
      height: auto;
      box-sizing: border-box;
    }
    & h1 {
      margin: 1em 0;
      font-size: 2.25em;
    }
    & .login-options {
      & .option {
        & span {
          width: inherit;
          text-align: center;
          margin: auto;
        }
      }
    }
  }
}

@mixin mobile-1 {
  font-size: 4vw;
  min-height: 100%;
}

:host.viewport-override-0 {
  @include mobile-0;
}

:host.viewport-override-1 {
  @include mobile-0;
  @include mobile-1;
}

@media (max-width: 649px) {
  :host {
    @include mobile-0;
  }
}

@media (max-width: 480px) {
  :host {
    @include mobile-0;
    @include mobile-1;
  }
}
