<div [class]="getType(activity).replace('undelegated', 'delegated')" [class.new]="fresh" [class.unconfirmed]="activity.status === 0" [class.confirmed]="!fresh && activity.status === 1"
  [class.failed]="activity.status === -1">
  <div class="flex-column">
    <div class="flex-row title">
      <ng-container *ngIf="!activity.entrypoint; else callEntrypoint">
        {{ printAmount(activity) }}</ng-container>
      <ng-template #callEntrypoint>{{ sentKind(activity) }}</ng-template>
      <span class="failed" *ngIf="activity.status === -1">Error</span>
    </div>
    <div class="flex-row"><div class="flex-row address"><span class="prefix">{{ getAddressPrefix(getType(activity)) }}&nbsp;</span><span class="flex-row value"><img
          *ngIf="!!getCounterparty(activity)?.lookupType" [src]="getEventIcon()" />{{
        getCounterparty(activity)?.name || getCounterparty(activity)?.address || ''
        }}<img class="copy" src="../../../../assets/img/copy-icon.svg"
          (click)="copy(getCounterparty(activity)?.address)" /></span></div>
      <span *ngIf="activity.status !== 0" class="time">
        <a href="{{ explorerURL(activity.hash) }}" target="_blank">
          {{ activity.timestamp | timeAgo:trigger }}
        </a>
      </span>
      <ng-container *ngIf="activity.status === 0">Unconfirmed</ng-container>
    </div>
  </div>
</div>