<div [class]="getType(activity).replace('undelegated', 'delegated')" [class.unconfirmed]="activity.status === 0" [class.confirmed]="activity.status === 1" [class.new]="fresh && activity.status === 1"
  [class.failed]="activity.status === -1">
  <div class="flex-column">
    <div class="flex-row title">
      <ng-container *ngIf="!activity.entrypoint; else callEntrypoint"><img *ngIf="type === 'sent'" src="../../../../assets/img/up-arrow-black.svg" /><img *ngIf="type === 'received'" src="../../../../assets/img/up-arrow.svg" style="transform: rotate(45deg)" />&nbsp;
        {{ printAmount() }}</ng-container>
      <ng-template #callEntrypoint>{{ sentKind(activity) }}</ng-template>
      <span class="failed" *ngIf="activity.status === -1">Error</span>
    </div>
    <div class="flex-row"><div class="flex-row-wrap address"><span class="prefix">{{ getAddressPrefix(getType(activity)) }}&nbsp;</span><span class="flex-row value"><img
          *ngIf="!!getCounterparty(activity)?.lookupType && getCounterparty(activity)?.lookupType !== 5" [src]="getEventIcon()" />{{
        getCounterparty(activity)?.name || getCounterparty(activity)?.address || ''
        }}<img class="copy" src="../../../../assets/img/copy-icon.svg"
          (click)="copy(getCounterparty(activity)?.address)" /></span></div>
      <span class="flex-row time">
        <img [src]="fresh && activity.status === 1 ? '../../../../assets/img/event-new.png' : activity.status === 1 ? '../../../../assets/img/event-confirmed.png' : activity.status === 0 ? '../../../../assets/img/event-unconfirmed.png' : activity.status === -1 ? '../../../../assets/img/event-error.png' : '../../../../assets/img/event-unconfirmed.png'"/>
        <a *ngIf="activity.status !== 0" href="{{ explorerURL(activity.hash) }}" target="_blank">
          {{ activity.timestamp | timeAgo:trigger }}
        </a>
      </span>
      <ng-container *ngIf="activity.status === 0">Unconfirmed</ng-container>
    </div>
  </div>
</div>