<div *ngIf="permissionRequest" class="flex-column kukai-modal">
  <div class="content">
    <div class="flex-column top">
      <div class="flex-row button close" (click)="rejectPermissions()"><img class="x" src="../../../assets/img/close-btn-x.png" /></div>
      <h1 class="title">Permission Request</h1>
    </div>
    <div class="seperator"></div>
    <div class="flex-column permission-request">
      <p>{{ permissionRequest.appMetadata.name }} wants the following permissions:</p>
      <ul>
        <li *ngFor="let scope of permissionRequest.scopes">{{ scopeToText(scope) }}</li>
      </ul>
      <p style="font-size: 1.25rem">Select an account the permissions should be applied to:</p>
      <select class="select-css" [(ngModel)]="selectedAccount">
        <ng-container *ngFor="let acc of walletService.wallet.implicitAccounts">
          <option value="{{ acc.address }}">{{ acc.pkh }}</option>
        </ng-container>
      </select>
      <div class="seperator"></div>
      <div class="flex-column bottom">
        <button class="blue confirm" (click)="grantPermissions()">Approve</button>
      </div>
    </div>
  </div>
</div>