<div *ngIf="active" class="kukai-template">
  <div *ngIf="templateRequest.template" class="card">
    <H1>You are about to <b *ngIf="templateRequest.template.action; else defaultAction">{{templateRequest.template.action}}:</b>
      <ng-template #defaultAction><b>send:</b></ng-template>
    </H1>
    <img *ngIf="templateRequest.template.description[0] && templateRequest.template.description[0].imgUrl" src="{{templateRequest.template.description[0].imgUrl}}" height="150">
    <p *ngIf="templateRequest.template.description[0]" class="blue">{{templateRequest.template.description[0].text}}</p>
    <p *ngIf="templateRequest.template.description[1]">{{templateRequest.template.description[1]}}</p>
    <p *ngIf="templateRequest.template.description[2]" class="blue">{{templateRequest.template.description[2].text}}</p>
    <img *ngIf="templateRequest.template.description[2] && templateRequest.template.description[2].imgUrl" src="{{templateRequest.template.description[2].imgUrl}}" height="150">
    <p *ngIf="templateRequest.fee" class="fee">Estimated Fee: <b>{{templateRequest.fee.total}} tez</b><img
        src="../../../../assets/img/coolicon.svg"></p>
    <div class="buttons">
      <button class="secondary" (click)="cancel()">Cancel</button>
      <button (click)="approve()">
        <ng-container *ngIf="templateRequest.template.button; else defaultButtonText">{{templateRequest.template.button}}</ng-container>
        <ng-template #defaultButtonText>Send</ng-template>
      </button>
    </div>
  </div>
</div>