:host {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: #FCFCFC;
}
:host div.settings {
  min-height: calc(100% - 8rem);
  padding-bottom: 8rem;
  max-width: 50rem;
}
:host div.settings > H3,
:host div.settings > H4 {
  font-style: normal;
  display: flex;
  align-items: center;
  color: #2C323A;
}
:host div.settings > H3 {
  margin: 2.5rem 0 1rem 1rem;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.5rem;
}
:host div.settings > H3:first-child {
  margin-top: 1.5rem;
}
:host div.settings H4 {
  margin: 1.5rem 0 0;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
}
:host div.handler {
  display: flex;
  margin: 0 1rem;
}
:host div.handler > div:first-child {
  flex-grow: 1;
}
:host div.handler > div:first-child p {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1rem;
  align-items: center;
  color: #2C323A;
  opacity: 0.8;
}
:host div.settings > div.seperator {
  height: 1px;
  background: rgba(0, 0, 0, 0.08);
  width: 100%;
}
:host button {
  display: flex;
  white-space: nowrap;
  flex-direction: row;
  margin: 1.5rem 0rem 1.5rem 1rem;
  padding: 0.75rem 1.5rem;
  border: 1px solid #5963FF;
  color: #5963FF;
  background: #FCFCFC;
  font-weight: 500;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
:host table,
:host thead,
:host tbody {
  width: 100%;
}
:host thead > tr {
  border-bottom: 1px solid rgba(0, 0, 0, .08);
  border-top: 1px solid rgba(0, 0, 0, .08);
  width: 100%;
}
:host thead > tr > th {
  color: #2C323A;
  opacity: 0.4;
}
:host thead > tr > th:last-child {
  color:#FF5959;
  opacity: 1;
}
:host thead > tr > th:last-child > span:hover {
  text-decoration: underline;
  cursor: pointer;
}
:host table th,
:host table td  {
  font-size: 0.875rem;
  line-height: 1rem;
  padding: 1rem 0.25rem;
}
:host table th:first-child,
:host table td:first-child {
  padding-left: 1rem;
}
:host table th:last-child,
:host table td:last-child {
  padding-right: 1rem;
}
:host table > tbody > tr > td {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
:host table > tbody > tr > td:last-child {
  text-align: right;
  width: 1rem;
}
:host table > tbody > tr > td:last-child img {
  cursor: pointer;
}
:host table > tbody > tr:first-child > td {
  padding-top: 1rem;
}
:host .inactive {
  opacity: 0.5;
}
@media screen and (max-width: 37.5rem) {
  :host div.settings > table > tbody > tr > th:last-child,
  :host div.settings > table > tbody > tr > td:last-child {
    padding-left: 0rem;
  }
  :host button {
    white-space: normal;
  }
}