:host {
    height: 8rem;
    margin-top: -8rem;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
:host.hide {
  visibility: hidden;
}
:host div.foot-container {
  display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
#follow {
    height: 3rem;
    width: 8rem;
    text-align: center;
    margin-top: 2.5rem;
}
#follow span {
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    opacity: 0.8;
    -webkit-opacity: 0.8;
    -khtml-opacity: 0.8;
    vertical-align: top;
}
.dark #follow span,
div.foot-container.dark > div.links > div.low > a {
  color: rgba(0, 0, 0, 0.4) !important;
}
.dark img {
  filter: invert(40%);
}
#follow a {
    position: relative;
    top: 0.24rem;
    opacity: 0.8;
    -webkit-opacity: 0.8;
    -khtml-opacity: 0.8;
    font-size: 0.75rem;

}
div.foot-container > div.links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 2.625rem;
  z-index: 0;
}
div.foot-container > div.links a {
  font-size: 0.5rem;
  color: rgba(256, 256, 256, 0.6);
  margin-left: 1rem;
}
div.foot-container > div.links a:hover {
  color: white;
  background-color: #5963FF;
}
div.foot-container.dark > div.links a:hover {
  color: rgba(0, 0, 0, 0.8) !important;
  background-color: inherit;
}
div.foot-container > div.links > div {
  width: 11.25rem;
}
div.foot-container > div.links > div.since {
  width: auto;
}
div.foot-container > div.links > div.since > a {
  margin: 0;
  padding: 0;
}
div.foot-container > div.links > div:last-child > a.docs {
  margin: 0 1rem 1rem auto;
  float: right;
  font-size: 0.75rem;
}
div.foot-container > div.links > div.low {
  padding-top: 0.625rem;
}
#tg {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
#follow img:hover,
div.foot-container > div.links a.docs img:hover {
    filter: invert(25%) sepia(800%) saturate(2878%) hue-rotate(180deg);
}