:host {
    height: 8rem;
    margin-top: -8rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
:host div.container {
  display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    flex-direction: column;
}
#follow {
    height: 3rem;
    width: 8rem;
    text-align: center;
    margin-top: 2.5rem;
}
#follow span {
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #2C323A;
    opacity: 0.4;
    -webkit-opacity: 0.4;
    -khtml-opacity: 0.4;
    vertical-align: top;
}
#follow a {
    position: relative;
    top: 0.24rem;
    opacity: 0.4;
    -webkit-opacity: 0.4;
    -khtml-opacity: 0.4;
    font-size: 0.75rem;

}
div.container > div.links > a {
  font-size: 0.5rem;
  color: #898989;
}
div.container > div.links > a:last-child {
  margin-left: 1rem;
}
#tg {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
#follow img:hover {
    filter: invert(25%) sepia(800%) saturate(2878%) hue-rotate(180deg);
}