<div class="foot-container">
<div id="follow">
    <span>follow kukai on</span>
    <a href="https://github.com/kukai-wallet/kukai" target="_blank"><img src="../../../assets/img/logo-github.svg"></a>
    <a id="tg" href="https://t.me/KukaiWallet" target="_blank"><img src="../../../assets/img/logo-telegram.svg"></a>
    <a href="https://twitter.com/KukaiWallet/" target="_blank"><img src="../../../assets/img/logo-twitter.svg"></a>
</div>
<div class="links">
<a href="./terms-of-use" target="_blank">Terms of Use</a>
<a href="./privacy-policy" target="_blank">Privacy Policy</a>
<a href="mailto:contact@kukai.app" target="_blank">Contact</a>
<a style="margin: 0 1rem 1rem auto;" href="https://docs.kukai.app" target="_blank"><img src="../../../assets/img/docs.svg"></a>
</div>
</div>