@use '../../../../abstracts/variables'as v;
@use '../../../../abstracts/mixins'as m;
@import "../mixins";

$base-font-color: v.$base-font-color;
$base-end-color: v.$base-end-color;
$base-blue-color-lightened: v.$base-blue-color-lightened;
$base-color-lightened-1: v.$base-color-lightened-1;
$base-color-lightened-2: v.$base-color-lightened-2;
$base-color-lightened-5: v.$base-color-lightened-5;
$base-color-lightened-7: v.$base-color-lightened-7;
$border-color-dark-only: v.$border-color-dark-only;
$border-width: v.$border-width;
$border-color: v.$border-color;
$box-shadow: 0px 4px 6px #3332;

@include base;

.top-container {
  @include top-container;

  &-nfts {
    @include top-container;
    margin-bottom: 0;
    & .toggle {
      width: 50rem;
      max-width: 64%;
      height: 100%;
      background: linear-gradient(180deg, transparent 0% 50%, #e6eaef 50% 100%);

      & h1 {
        width: 100%;
        text-align: center;
        height: 100%;
        justify-content: center;
        align-items: center;
        font-size: 1.875rem;
        cursor: pointer;

        &:first-of-type {
          border-top-left-radius: 2rem;
          border-top-right-radius: 2rem;
          border-bottom-right-radius: 0;
          background-color: #e6eaef;
        }
        &.selected:first-of-type {
          border-top-left-radius: 2rem;
          border-top-right-radius: 2rem;
          border-bottom-right-radius: 2rem;
          background-color: $base-color-lightened-7;
        }
        &:last-of-type {
          border-top-left-radius: 2rem;
          border-top-right-radius: 2rem;
          border-bottom-left-radius: 0rem;
          background-color: #e6eaef;
        }
        &.selected:last-of-type {
          border-top-left-radius: 2rem;
          border-top-right-radius: 2rem;
          border-bottom-left-radius: 2rem;
          background-color: $base-color-lightened-7;
        }
      }
    }

    & .icon {
      margin-left: 1.5rem;
      width: 2.15rem;
      height: 1.15rem;
      padding: 0.5rem 0rem;
      border-radius: v.$border-radius-hard;
      border: $border-width solid $base-color-lightened-5;
    }

    & .icon-grey {
      margin-left: 1.5rem;
      width: auto;
      padding: 0.5rem 1.5rem;
      background-color: $base-color-lightened-7;
      border-radius: v.$border-radius-hard;
      border: $border-width solid $base-color-lightened-5;
      justify-content: center;
      @include m.multiply("font-size", 1.15);
    }

    & span.discover {
      box-shadow: $box-shadow;
      color: $base-blue-color-lightened;
      background-color: $base-end-color;
      border: none;
      @include m.multiply("font-size", 1);
      padding: 0.5rem 1.25rem;
      letter-spacing: 0.02em;
      font-weight: 500;
    }

    & .right {
      @include top-container-right;
    }
  }
}

:host {
  grid-area: nft;
  grid-row: 1 / 10;
}

.pending,
.nfts {
  & .head {
    padding: 1.5rem 2.5rem 1.5rem 1.875rem;
    border-radius: v.$border-radius;
    background-color: $base-end-color;

    & .left {
      justify-content: flex-start;

      & .title {
        @include m.multiply("font-size", 1.75);
        margin-right: 1rem;

        & a {
          color: black;
        }

        & a:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.nfts {
  width: calc(100% - 3rem);
  padding: 1.5rem 1.5rem 0 1.5rem;
  background-color: #e6eaef;
  border-radius: 2rem;
  border-top-left-radius: 0;
  & > span {
    margin-bottom: 1.5rem;
  }
  &.d {
    border-top-left-radius: 2rem;
  }

  & > .discover {
    width: calc(50% - 1rem);
    margin: 0rem 0rem 2rem 0rem;
    background-color: #fff;
    border-radius: v.$border-radius;
    box-shadow: v.$box-shadow;
    position: relative;

    & .top {
      padding: 1.5rem;
      width: calc(100% - 3rem);
      @include m.multiply("font-size", 1);
      text-transform: uppercase;
      color: v.$base-font-color-secondary;
      font-size: 500;
      letter-spacing: 0.02rem;
    }

    & .middle {
      width: 100%;
      height: 10rem;
      padding: 1rem 0;
    }

    & .bottom {
      padding: 1.5rem;
      width: calc(100% - 3rem);
      align-items: flex-end;

      & .left {
        width: max-content;

        & .title {
          font-size: 1.875rem;
          letter-spacing: 0.02rem;
          font-weight: 500;
        }

        & .description {
          margin: 0.5rem 0 0 0;
          color: #8498b1;
          @include m.multiply("font-size", 1);
          font-weight: 500;
          letter-spacing: 0.02rem;
        }
      }

      & .right {
        width: min-content;
        align-self: center;
        & a.link-to-app {
          width: fit-content;
          & button {
            width: 100%;
            padding: 0;
            border-radius: calc(1rem * 2);
            @include m.multiply("font-size", 1.25);
            font-weight: 600;
            color: v.$base-blue-color-lightened !important;
            background-color: transparent;

            & img {
              margin: 0 1rem;
            }
          }
        }
      }
    }
  }

  & .collection {
    width: 100%;
    min-height: 7rem;
    height: 0;
    transition: 0.15s height;
    margin: 0 0 2rem 0;
    border-radius: v.$border-radius;
    border: $border-width solid $border-color-dark-only;

    &.expanded {
      height: auto;
      box-shadow: v.$box-shadow;

      & .head {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        box-shadow: unset;
        border-bottom: $border-width solid $border-color;

        & .right {
          & .toggle img {
            transform: rotate(180deg);
          }
        }
      }

      & > .scroll {
        top: 0rem;
        display: flex;
      }

      & .body {
        overflow-y: auto;
      }
    }

    & .head {
      transition: 0.15s top;
      z-index: 1;
      box-shadow: v.$box-shadow;
      min-height: 4rem;
      cursor: pointer;

      & .left {
        justify-content: flex-start;
        width: 88%;

        & .title {
          @include m.ellipsis;
          max-width: 100%;
          cursor: pointer;
        }

        & .icon {
          width: 3.5rem;
          height: 3.5rem;
          border-radius: 0.5rem;
          margin-right: 1rem;
          object-fit: contain;
        }
      }

      & .right {
        & .count {
          @include m.multiply("font-size", 1);
          padding: 0.375rem 0.75rem;
          margin: 0 1rem 0 0;
          width: auto;
          height: auto;
          background-color: $base-color-lightened-5;
          border-radius: v.$border-radius-hard;
          text-align: center;
          color: $base-color-lightened-1;
          font-weight: 500;
        }
        & .toggle img {
          transition: 0.25s transform;
          width: 1rem;
          transform: rotate(0deg);
        }
      }
    }

    &.scroll {
      height: 100%;
      max-height: 114.5rem;
      padding: 0 0.75rem 0 0;
      background-color: $base-end-color;
      width: calc(100% - 0.75rem);
      &.all .body {
        overflow-y: auto;
        padding: 1rem 1.875rem;
      }
    }

    & > .scroll {
      max-height: 52rem;
      flex-wrap: wrap;
      padding: 0.5rem;
      border-radius: 1rem;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      background-color: $base-end-color;
      z-index: 0;
      position: relative;
      top: -1rem;
      display: none;
    }
  }

  & #unknown .body .token .img-wrapper .icon {
    box-shadow: none;
    width: 6rem;
    height: 6rem;
    padding: 1rem;
  }
}

@media (max-width: calc(#{v.$layout-break-4} + 5em)) {
  .nfts {
    & > .discover {
      width: 100%;
    }
  }
}

@media (max-width: v.$layout-break-4) {
  :host {
    grid-row: unset;
  }

  .nfts {
    flex-direction: row;

    & > .discover {
      width: calc(50% - 1rem);
    }
  }
}

@media (max-width: v.$layout-break-5) {
  .link-to-app {
    display: none;
  }
}

@media (max-width: calc(#{v.$layout-break-6} - 5em)) {
  .nfts {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: initial;

    & > .discover {
      width: 100%;
    }
  }
}
