@use '../../../../abstracts/variables'as v;
@use '../../../../abstracts/mixins'as m;

$theme: v.$theme;
$base-font-color: v.$base-font-color;
$base-color-lightened-4: v.$base-color-lightened-4;
$border-width: v.$border-width;
$border-color: v.$border-color;
$border-color-dark-only: v.$border-color-dark-only;
$base-background-color: v.$base-background-color;
$base-filter-contrast-invert-11: v.$base-filter-contrast-invert-11;

:host {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 20.5rem);

  & a {
    text-decoration: none;
    & .back {
      @include m.multiply("font-size", 1.25);
      background-color: $base-background-color;
      border: v.$border-width solid $border-color;
      border-radius: v.$border-radius-hardest;
      color: v.$base-font-color;
      font-weight: 500;
      padding: 0.75rem 1.25rem;

      & img {
        height: 1rem;
        margin: 0 1rem 0 0;
      }
    }
  }

  & div.settings {
    min-height: calc(100% - 8rem);
    padding: 4rem 0 8rem 0;
    max-width: 100em;
    width: 85%;

    & .rescan {
      margin: 2rem 0 0 0;
      max-width: 65%;
      align-self: flex-end;
    }
    button#all {
      background-color: #eb4e39;
    }

    & > h3,
    & > h4 {
      font-style: normal;
      display: flex;
      align-items: center;
      color: $base-font-color;
    }

    & > h3 {
      @include m.multiply("font-size", 2.25);
      margin: 2.5rem 0 1rem 1rem;
      font-weight: bold;
      line-height: 1.5rem;

      &:first-child {
        margin-top: 1.5rem;
      }
    }

    & h4 {
      @include m.multiply("font-size", 1.5);
      margin: 2.5rem 0 0;
      font-weight: 400;
      line-height: 1.5rem;
    }

    & > div.seperator {
      height: $border-width;
      background: $border-color;
      width: 100%;
    }
  }

  & div.handler {
    display: flex;
    margin: 0 1rem;
    flex-direction: row;

    & > div:first-child {
      flex-grow: 1;

      & p {
        @include m.multiply("font-size", 1.5);
        margin-top: 0.25rem;
        line-height: 1rem;
        align-items: center;
        color: $base-font-color;
        opacity: 0.8;
      }
    }
  }

  & .scan-button {
    max-width: 50%;
    margin: 1.5rem 0 0 0;
  }

  & table,
  & thead,
  & tbody {
    width: 100%;
  }

  & table {
    table-layout: fixed;
  }

  & thead > tr {
    border-bottom: 1px solid $border-color;
    border-top: 1px solid $border-color;
    width: 100%;

    & > th {
      color: $base-font-color;
      text-align: left;

      &:last-child {
        text-align: right;

        & > span:hover {
          text-decoration: underline;
          cursor: pointer;
          color: v.$base-red-color;
          font-weight: 500;
        }
      }
    }
  }

  & table th,
  & table td {
    @include m.multiply("font-size", 1.5);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1rem 0.25rem;
  }

  & table td {
    & img {
      filter: $base-filter-contrast-invert-11;
    }
  }

  & table th:first-child,
  & table td:first-child {
    padding-left: 1rem;
  }

  & table th:last-child,
  & table td:last-child {
    padding-right: 1rem;
  }

  & table > tbody > tr > td {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    &:last-child {
      text-align: right;
      width: 1rem;

      & img {
        cursor: pointer;
      }
    }
  }

  & table > tbody > tr:first-child > td {
    padding-top: 1rem;
  }

  & .inactive {
    opacity: 0.5;
  }
}

@media screen and (max-width: v.$layout-break-6) {
  :host {
    & div.settings > table > tbody > tr > th:last-child,
    & div.settings > table > tbody > tr > td:last-child {
      padding-left: 0rem;
    }

    & button {
      white-space: normal;
    }
  }
}

@media (max-width: v.$layout-break-6) {
  :host {
    div.settings {
      padding: 4rem 2rem 8rem 2rem;

      & div.handler {
        flex-direction: column;
        align-items: flex-start;

        & h4 {
          line-height: inherit;
        }
      }

      & .rescan {
        align-self: flex-start;
      }
    }
  }
}
