@use '../../../abstracts/variables'as v;
@use '../../../abstracts/mixins' as m;
@import "./mixins";

$base-font-color: v.$base-font-color;
$base-end-color: v.$base-end-color;
$base-blue-color-lightened: v.$base-blue-color-lightened;
$base-color-lightened-1: v.$base-color-lightened-1;
$base-color-lightened-2: v.$base-color-lightened-2;
$base-color-lightened-5: v.$base-color-lightened-5;
$base-color-lightened-7: v.$base-color-lightened-7;
$border-color-dark-only: v.$border-color-dark-only;
$border-width: v.$border-width;
$border-color: v.$border-color;
$box-shadow: 0px 4px 6px #3332;

@include base;

.top-container {
  @include top-container;

  &-nfts {
    @include top-container;

    & .icon {
      margin-left: 1.5rem;
      width: 2.15rem;
      height: 1.15rem;
      padding: 0.5rem 0rem;
      border-radius: v.$border-radius-hard;
      border: $border-width solid $base-color-lightened-5;
    }

    & .icon-grey {
      margin-left: 1.5rem;
      width: auto;
      padding: 0.5rem 1.5rem;
      background-color: $base-color-lightened-7;
      border-radius: v.$border-radius-hard;
      border: $border-width solid $base-color-lightened-5;
      justify-content: center;
      @include m.multiply("font-size", 1.15);
    }

    & .discover {
      box-shadow: $box-shadow;
      color: $base-blue-color-lightened;
      background-color: $base-end-color;
      border: none;
      @include m.multiply("font-size", 1);
      padding: 0.5rem 1.25rem;
      letter-spacing: 0.02em;
      font-weight: 500;
    }

    & .right {
      @include top-container-right;
    }
  }
}

:host {
  grid-area: nft;
  grid-row: 1 / 10;
}

.pending,
.nfts {
  & .head {
    padding: 1.5rem 2.5rem 1.5rem 1.875rem;
    border-radius: v.$border-radius;
    background-color: $base-end-color;

    & .left {
      justify-content: flex-start;

      & .title {
        @include m.multiply("font-size", 1.75);
        margin-right: 1rem;
        & a {
          color: black;
        }
        & a:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.nfts {
  width: 100%;

  & .discover {
    width: calc(50% - 5rem);
    padding: 2rem;
    margin: 0rem 0rem 2rem 0rem;
    background-color: #fff;
    border-radius: v.$border-radius;
    box-shadow: v.$box-shadow;
    position: relative;

    & .category {
      border: none;
      padding: 0.5rem 1rem;
      border-radius: v.$border-radius-hard;
      letter-spacing: 0.02em;
      background-color: v.$base-color-lightened-5;
      color: v.$base-color-lightened-1;
      width: fit-content;
      align-self: flex-end;
      position: absolute;
      top: 2rem;
      right: 2rem;
      z-index: 10;
    }

    & img.cover {
      object-fit: scale-down;
      width: calc(100% - 4rem);
      height: 12rem;
      padding: 2rem;
    }

    & .bottom {
      & .title {
        font-size: 2rem;
        letter-spacing: 0.06em;
        white-space: pre;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 50%;
      }
      & a.link-to-app {
        & button {
          width: auto;;
          padding: 1rem 2rem;
          border-radius: calc(1rem * 2);
          @include m.multiply("font-size", 1);
          font-weight: 600;
          justify-content: center;
          border: v.$border-width solid;
          color: v.$base-blue-color-lightened !important;
          border-color: v.$base-blue-color-lightened !important;
          background-color: transparent;
        }
      }
    }
  }

  & .collection {
    width: 100%;
    min-height: 7rem;
    height: 0;
    transition: 0.15s height;
    margin: 0 0 2rem 0;
    border-radius: v.$border-radius;
    border: $border-width solid $border-color-dark-only;

    &.expanded {
      height: auto;
      box-shadow: v.$box-shadow;

      & .head {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        box-shadow: unset;
        border-bottom: $border-width solid $border-color;

        & .right {
          & .toggle img {
            transform: rotate(180deg);
          }
        }
      }

      & > .scroll {
        top: 0rem;
        display: flex;
      }
    }

    & .head {
      transition: 0.15s top;
      z-index: 1;
      box-shadow: v.$box-shadow;
      min-height: 4rem;
      cursor: pointer;

      & .left {
        justify-content: flex-start;
        width: 90%;

        & .title {
          @include m.ellipsis;
          max-width: calc(100% - 8.75rem);
          cursor: pointer;
        }

        & .icon {
          width: 3.5rem;
          height: 3.5rem;
          border-radius: 0.5rem;
          margin-right: 1rem;
          object-fit: contain;
        }

        & .count {
          @include m.multiply("font-size", 1);
          padding: 0.25rem;
          width: 2rem;
          background-color: $base-color-lightened-5;
          border-radius: v.$border-radius-hard;
          text-align: center;
          color: $base-color-lightened-1;
          font-weight: 500;
        }
      }

      & .right {
        & .toggle img {
          transition: 0.25s transform;
          width: 1rem;
          transform: rotate(0deg);
        }
      }
    }

    & .body {
      overflow-x: hidden;
      overflow-y: auto;
      flex-wrap: wrap;
      height: 100%;
      padding: 0 2rem;
      border-radius: v.$border-radius;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      background-color: $base-end-color;
      justify-content: flex-start;
      width: calc(100% - 4rem);

      &.expanded {
        overflow-y: auto;
      }

      & .token {
        width: calc(32% - 2rem);
        justify-content: flex-start;
        padding: 1rem;
        cursor: pointer;

        & .img-wrapper {
          position: relative;
          & .icon {
            width: 8rem;
            height: 8rem;
            margin-right: 1.25rem;
            overflow: hidden;
            object-fit: cover;
            display: block;
            box-shadow: v.$box-shadow-dark;
            border-radius: v.$border-radius;
          }

          & .balance {
            position: absolute;
            bottom: 0.675rem;
            left: 0.5rem;
            padding: 0.5rem;
            width: auto;
            height: 0.5rem;
            border-radius: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            background-color: $base-color-lightened-5;
            color: $base-font-color;
          }
        }

        & .right {
          width: calc(100% - 9.25rem);

          & .title {
            @include m.multiply("font-size", 1.75);
            margin-right: 1rem;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          & .series {
            color: rgb(132, 152, 177);
            @include m.multiply("font-size", 1);
            margin: 0.3125rem 0 0 0;
          }
        }
      }
    }

    &.scroll {
      height: 100%;
      max-height: 114.5rem;
      padding: 0 0.75rem 0 0;
      background-color: $base-end-color;
      width: calc(100% - 0.75rem);
    }

    & > .scroll {
      max-height: 52rem;
      flex-wrap: wrap;
      padding: 0.5rem;
      border-radius: 1rem;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      background-color: $base-end-color;
      z-index: 0;
      position: relative;
      top: -1rem;
      display: none;
    }

    &.scroll .body {
      overflow-x: hidden;
      padding: 1rem 1rem 1rem 2rem;
      border-radius: v.$border-radius;
    }
  }

  & #unknown .body .token .img-wrapper .icon {
    box-shadow: none;
    width: 6rem;
    height: 6rem;
    padding: 1rem;
  }
}

@media (max-width: v.$layout-break-1) {
  .nfts {
    & .collection {
      & .body .token {
        width: calc(50% - 2rem);
      }
    }
  }
}


@media (max-width: v.$layout-break-2) {
  .nfts {
    & .discover {
      width: calc(100% - 4rem);
    }
  }
}

@media (max-width: v.$layout-break-4) {
  :host {
    grid-row: unset;
  }
}

@media (max-width: v.$layout-break-4) {
  .nfts {
    flex-direction: row;
    & .discover {
      width: calc(50% - 6rem);
    }
  }
}

@media (max-width: v.$layout-break-6) {
  .nfts {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: initial;
    & .discover {
      width: calc(100% - 4rem);
    }
    & .collection {
      & .body .token {
        width: 100%;
        padding: 1rem 0;
        border-bottom: 2px solid $border-color;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
