@use '../../../../abstracts/variables' as v;

:host {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-flow: column nowrap;
  min-height: calc(100vh - 10rem);
}

.wrapper {
  width: 100%;
  margin-bottom: 2rem;
  align-items: center;

  & .desktop,
  & .mobile {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: calc(100% - 4rem);
    padding: 0 2rem;
  }

  & .mobile {
    display: none;
  }

  & > div {
    display: grid;
    grid-template-columns: minmax(400px, 768px) minmax(calc(73em - 8%), 1792px);
    grid-template-rows: auto;
    grid-column-gap: 4%;
    grid-template-areas:
      "balance nft"
      "activity .";
    max-width: 92%;
  }
}

@media (max-width: v.$layout-break-2) {
  .wrapper > div {
    grid-template-columns: minmax(400px, 35%) minmax(calc(63em - 400px), 1792px);
  }
}

@media (max-width: v.$layout-break-5) {
  .wrapper {
    & > div {
      display: grid;
      grid-template-columns: 100%;
      grid-column-gap: 0;
      grid-template-areas: "balance" "nft" "activity";
      width: 100%;
    }
    & > div.more-than-15 {
      grid-template-areas:
        "balance ."
        "activity ."
        "nft .";
    }
  }
}