<div>
  <app-send (operationResponse)="operationResponse($event)" [headless]=true [activeAccount]=activeAccount [operationRequest]="operationRequest"></app-send>
  <app-delegate (operationResponse)="operationResponse($event)" [beaconMode]=true [operationRequest]=operationRequest
    [activeAccount]=activeAccount></app-delegate>
  <app-permission-request (permissionResponse)="permissionResponse($event)" [permissionRequest]="permissionRequest">
  </app-permission-request>
  <app-sign-expr (signResponse)="signResponse($event)" [signRequest]="signRequest" [activeAccount]=activeAccount></app-sign-expr>
</div>