<app-send (operationResponse)="operationResponse($event)" [activeAccount]=activeAccount
  [operationRequest]="operationRequest"></app-send>
<app-delegate (operationResponse)="operationResponse($event)" [beaconMode]=true [operationRequest]=operationRequest>
</app-delegate>
<app-originate (operationResponse)="operationResponse($event)" [operationRequest]=operationRequest
  [activeAccount]=activeAccount></app-originate>
<app-permission-request (permissionResponse)="permissionResponse($event)" [permissionRequest]="permissionRequest"
  [activeAccount]=activeAccount>
</app-permission-request>
<app-sign-expr (signResponse)="signResponse($event)" [signRequest]="signRequest" [activeAccount]=activeAccount>
</app-sign-expr>
<app-new-implicit *ngIf="true"></app-new-implicit> <!-- Restore Embedded
? -->
<app-receive></app-receive>