<!--
<div class="container" *ngIf="this.walletService.wallet">
-->
<div class="container">
    <!-- Title -->
    <div class="row bottom-separator">
        <div class="col-lg-12">
            <h1 class="page-header">Building Kukai</h1>
        </div>
    </div>

    <!-- Subheading -->
    <div class="row row-subheading">
        <div class="col-lg-12">
            <h4>
                <p>Thank you for using and contributing to Kukai. Check out what we're working on here and share your thoughts on upcoming features with us and the wider community.</p>
            </h4>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-lg-12">
            <h3> ... </h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                ... to be continued ...
            </p>
        </div>
    </div>

</div>

<!-- Default message - No account created --
<div class="container" *ngIf="!this.walletService.wallet">
    <div class="row bottom-separator-no-account">
        <div class="col-lg-12">
            <h1 class="page-header-no-account"> Thank you! </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p>
                NA 
            </p>
        </div>
    </div>
</div>
-->