<div class="flex-row top-container desktop" [class]="router.url.indexOf('/account') === 0 ? 'default' : ''">
  <a routerLink="/" class="flex-row brand-logo">
    <div class="icon">Ku</div>
    <div class="title">Kukai</div>
  </a>
  <div *ngIf="router.url.indexOf('/account/') === 0" class="flex-row right">
    <div class="flex-column left">
      <app-ui-dropdown-account [list]="accounts" [current]="activeAccount"></app-ui-dropdown-account>
      <div class="delegation">
        <div class="flex-row outside-container" *ngIf="!beaconMode">
          <div class="flex-row button" routerLink="/account/{{activeAccount?.address}}/stakers">
            <span *ngIf="!activeAccount?.delegate">STAKING: <span class="choose">NOT
                STAKED</span></span>
            <span *ngIf="activeAccount?.delegate" class="address">STAKING: <span>{{ delegateName }}</span></span>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-row right">
      <div class="icon" (click)="copy()">
        <img class="button" src="../../../assets/img/copy.svg" />
        <div class="tooltip">
          <div class="description">COPY ADDRESS</div>
        </div>
      </div>
      <div class="icon" (click)="newAccount()">
        <img class="button" src="../../../assets/img/add.svg" />
        <div class="tooltip">
          <div class="description">ADD ACCOUNT</div>
        </div>
      </div>
      <div class="icon" [routerLink]="'/account/' + activeAccount?.address + '/settings'">
        <img class="button" src="../../../assets/img/settings.svg" />
        <div class="tooltip">
          <div class="description">SETTINGS</div>
        </div>
      </div>
      <div class="icon" (click)="logout()">
        <img class="button" src="../../../assets/img/logout.svg" />
        <div class="tooltip">
          <div class="description">SIGN OUT</div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="router.url.indexOf('/account/') !== 0" class="flex-row right">
    <div class="right">
      <span *ngIf="router.url.indexOf('/import') === 0 || router.url === '/'" routerLink="/import/" class="button"
        [class.selected]="router.url.indexOf('/import') === 0">Import Wallet</span>
      <span *ngIf="router.url.indexOf('/new-wallet') === 0 || router.url === '/'" routerLink="/new-wallet/"
        class="button" [class.selected]="router.url.indexOf('/new-wallet') === 0">Create New Wallet</span>
      <span *ngIf="router.url.indexOf('/connect-ledger') === 0 || router.url === '/'" routerLink="/connect-ledger/"
        class="button" [class.selected]="router.url.indexOf('/connect-ledger') === 0">Connect Ledger</span>
      <span *ngIf="router.url.indexOf('/activate') === 0" routerLink="/activate/" class="button"
        [class.selected]="router.url.indexOf('/activate') === 0">Activate</span>
    </div>
  </div>
</div>
<div class="flex-row top-container mobile" [class]="router.url === '/account/' ? 'default' : ''">
  <a routerLink="/" class="flex-row brand-logo">
    <div class="icon">Ku</div>
    <div class="title">Kukai</div>
  </a>
  <div class="flex-row" style="width: 55%;">
    <ng-container *ngIf="router.url.indexOf('/account/') > -1">
      <app-ui-dropdown-account [list]="accounts" [current]="activeAccount" style="width: calc(100% - 4rem);">
      </app-ui-dropdown-account>
    </ng-container>
    <div *ngIf="router.url.indexOf('/account/') === 0" class="copy">
      <img class="button" src="../../../assets/img/copy.svg" (click)="copy()" />
    </div>
  </div>
  <div class="hamburger-dropdown" (click)="toggleDropdown('.mobile .hamburger-dropdown .hamburger-dropdown-content')">
    <div class="button icon-db"></div>
    <div *ngIf="router.url.indexOf('/account/') === 0" class="flex-column mobile hamburger-dropdown-content">
      <div class="flex-row button delegation" routerLink="/account/{{activeAccount?.address}}/stakers">
        <div *ngIf="!activeAccount?.delegate" class="flex-row">
          <span class="flex-row">STAKING:</span><span class="choose">NOT
            STAKING</span>
        </div>
        <div *ngIf="activeAccount?.delegate" class="flex-row">
          <span class="flex-row address">STAKING: <span>{{ delegateName
              }}</span></span>
        </div>
      </div>
      <div class="flex-row button" (click)="newAccount()">
        <img class="icon" src="../../../assets/img/add.svg" /><span>Add Account</span>
      </div>
      <div class="flex-row button" (click)="this.router.url = '/account/' + activeAccount?.address + '/settings'">
        <img class="icon" src="../../../assets/img/cog.svg" /><span>Settings</span>
      </div>
      <div class="flex-row button" (click)="logout()">
        <img class="icon" src="../../../assets/img/sign-out-alt.svg" /><span>Logout</span>
      </div>
    </div>
    <div *ngIf="router.url.indexOf('/account/') !== 0" class="flex-column mobile hamburger-dropdown-content">
      <div routerLink="/import/" class="flex-row button">
        <span>Import Wallet</span>
      </div>
      <div routerLink="/new-wallet/" class="flex-row button">
        <span>Create New Wallet</span>
      </div>
      <div routerLink="/connect-ledger/" class="flex-row button">
        <span>Connect Ledger</span>
      </div>
    </div>
  </div>
</div>