:host {
    height: 6rem;
    margin-bottom: 1.5rem;
    width: 100%;
    ;
}
div.middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
div.middle span {
  color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1rem;
}
div.middle .accounts {
    font-weight: normal;
    font-style: normal;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(255, 255, 255, 0.8);
}
div.middle > span.accounts {
  color: white;
}
div.middle img {
    padding-top: 0rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}
#top-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
a.logo {
    margin: 2.25rem 2rem;
    width: 5.6875rem;
    height: 1.4375rem;
}
#menu {
    cursor: pointer;
    width: 6rem;
    height: 3rem;
    background-color: #FCFCFC;
    border: 0.0625rem solid #FFFFFF;
    box-shadow: 0rem 0rem 0.0625rem rgba(0, 0, 0, 0.04), 0rem 0.125rem 0.375rem rgba(0, 0, 0, 0.04), 0rem 1rem 1.5rem rgba(0, 0, 0, 0.06);
    border-radius: 0.75rem;
    margin: 1.5rem 2rem 1.5rem 0.25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#menu:hover {
    background-color: #EAEBF9 !important;
    border: 0.0625rem solid #EAEBF9 !important;

}
#menu > span {
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
    color: #2C323A;
    display: flex;
    align-items: center;
}

// Dropdown
.dropbtn {
    height: 2rem;
    cursor: pointer;
    display: flex;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }
  .dropbtn > span {
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
    color: white;
    display: flex;
    align-items: center;
}
  .dropdown-content {
    background: #FCFCFC;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
    display: none;
    position: absolute;
    margin-left: -1rem;
    z-index: 1;
    /*
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;*/
  }
  .dropdown-content .sep {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.04);
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  }
  .dropdown-content a {
    color: #2C323A;
    padding: 0.75rem 1rem;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a.selected {
    text-decoration: underline;
  }
  
  .dropdown-content a:hover {
    background: rgba(107, 115, 222, 0.08);
    }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  @media screen and (max-width: 28rem) {
    div.dropdown {
        display: none;
    }
    .middle > img {
        display: none;
    }
    a.logo {
      margin: 2.25rem 0 2.25rem 1.25rem;
    }
    div#menu {
      margin-right: 1.25rem;
    }
}