:host {
    height: 6rem;
    margin-bottom: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}
div.middle {
  margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
div.middle span {
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
}
div.middle .accounts {
  font-weight: normal;
  font-style: normal;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(255, 255, 255, 0.8);
}
div.middle > span {
  color: black;
}
div.middle .accounts.light {
  color: rgba(0, 0, 0, 0.4);
}
div.middle > .accounts.solo {
  color: white;
  font-weight: 500;
}
div.middle img {
  padding-top: 0rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
#top-container {
    height: 5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
a.logo {
    margin: 2.25rem 2rem 1rem;
    width: 5.6875rem;
    height: 1.75rem;
}
#menu {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  background-color: #fcfcfc;
  border: 0.0625rem solid #ffffff;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.14),
    0px 16px 24px rgba(0, 0, 0, 0.16);
  border-radius: 0.75rem;
  margin: 1rem 2rem 1.5rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#menu:hover {
  background-color: #eaebf9 !important;
  border: 0.0625rem solid #eaebf9 !important;
}
:host .verifier-logo {
  height: 0.75rem;
  margin-bottom: 0.125rem;
}
#header-list {
  display: flex;
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.8);
  vertical-align: bottom;
  text-align: right;
  line-height: 1rem;
  padding: 0 2rem;
}
#header-list > .left {
  padding: 0 0.125rem;
  text-align: left;
  color: white;
  background-color: #CC0000;
  font-weight: 600;
}
#header-list > .main {
  flex-grow: 1;
}
#header-list.invert {
  color: rgba(0, 0, 0, 0.8);
}
#menu > span {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
  color: #2c323a;
  display: flex;
  align-items: center;
}

// Dropdown
.dropbtn {
  height: 2rem;
  cursor: pointer;
  display: flex;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.dropbtn > span {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
  color: white;
  display: flex;
  align-items: center;
}
.dropdown-content {
  background: #fcfcfc;
  border: 1px solid #ffffff;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  display: none;
  position: absolute;
  margin-left: -1rem;
  z-index: 1;
  /*
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;*/
}
.dropdown-content.right {
  //margin-left: -2.75rem;
  margin-top: -1rem;
}
.dropdown-content .sep {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.04);
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}
.dropdown-content a {
  color: #2c323a;
  padding: 0.75rem 1rem;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
.dropdown-content a.selected {
  text-decoration: underline;
}

.dropdown-content a:hover {
  background: #eaebf9;
}
.dropdown-content a:first-child:hover {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}
.dropdown-content a:last-child:hover {
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}
@media screen and (max-width: 28rem) {
  div.dropdown {
    display: none;
  }
  div.dropdown.right {
    display: block;
  }
  .middle > img,
  .middle > span {
    display: none;
  }
  a.logo {
    margin: 2.25rem 0 2.25rem 1.25rem;
  }
  div#menu {
    margin-right: 1.25rem;
  }
}
