@mixin confirm-send-batch {
  &.batch {
    & .top {
      & .left {
        width: 25%;
      }

      & .right {
        width: calc(75% - 1em);
      }
    }

    & .from {
      & .left {
        width: 25%;
      }

      & .right {
        width: calc(75% - 1em);
      }
    }

    & .to {
      & .left {
        width: 25%;
        & span {
          margin: 0;
        }
      }

      & .right {
        width: calc(75% - 1em);
      }
    }
  }
}