@use "../../../../abstracts/mixins" as m;
@use "../../../../abstracts/variables" as v;
@use "./batch" as b;

$base-font-color: v.$base-font-color;
$base-font-color-secondary: v.$base-font-color-secondary;
$base-font-color-secondary-half: v.$base-font-color-secondary-half;
$base-end-color: v.$base-end-color;
$base-red-color: v.$base-red-color;
$base-blue-color-lightened: v.$base-blue-color-lightened;
$color-lightened-5: v.$color-lightened-5;
$color-lightened-7: v.$color-lightened-7;
$border-width: v.$border-width;
$border-color: #e6eaef;

@mixin confirm-send-default {
  .confirm-send {
    margin: 2em 0 0 0;
    width: 38em;
    height: auto;

    &.image .top .left {
      min-height: 10em;
    }

    @include b.confirm-send-batch;

    & .amount-fee {
      &.key {
        @include m.multiply("font-size", 1.25, "em");
      }

      & .value {
        @include m.multiply("font-size", 1.25, "em");
      }
    }

    & .amount-quantity {
      &.key {
        @include m.multiply("font-size", 1.25, "em");
      }

      & .value {
        @include m.multiply("font-size", 1.625, "em");
      }
    }

    & .transfer-amount {
      margin: 0 1em 1em 1em;
    }

    & .contract-call {
      margin: 0 1em 2em 1em;
    }

    & .top,
    & .to {
      height: auto;
      border-radius: v.$border-radius;
      padding: 2em;
    }

    & .top {
      align-items: flex-start;
      flex-wrap: wrap;
      background-color: v.$modal-container-background-color;
      border-radius: v.$border-radius;
      height: auto;
      padding: 2em;

      & .key {
        width: 100%;
        text-align: left;
        margin: 0 0 0.5em 0;
      }

      & table {
        width: 100%;
        color: $base-font-color-secondary;
        margin: 0 0 4em 0;
      }

      & .token-image {
        width: 10em;
        height: 10em;
        overflow: hidden;
        background-color: $base-end-color;
        border-radius: v.$border-radius;
        box-shadow: v.$box-shadow-dark;
        position: absolute;
        top: 0;
        left: 0;

        &.balance {
          width: 3em;
          height: 3em;
          position: initial;
          box-shadow: unset;
          border-radius: v.$border-radius-hardest;
          border: v.$border-width solid $color-lightened-5;
        }
      }

      & .bottom {
        height: 100%;
        justify-content: space-evenly;

        & span {
          padding: 0.75em 0 0 0;
        }
      }

      & .left {
        width: 30%;
        height: auto;
        justify-content: space-between;
        align-items: center;
        position: relative;

        & .key {
          text-align: center;
          color: $base-font-color;
          margin: 0.35em 0 1em 0;
          font-weight: 500;
        }
      }

      & .right {
        width: 64%;
        height: 100%;
        justify-content: flex-start;

        & .amount {
          margin: 0 0 1em 0;
          padding: 0 0 0.5em 0;
          border-bottom: $border-width solid #dde2e9;
          & .tez {
            font-size: 1.5em;
            font-weight: 600;
          }

          & .fiat {
            width: auto;
            margin: 0;

            & .value {
              color: $base-font-color-secondary;
            }
          }
        }

        & .items {
          & .key {
            @include m.multiply("font-size", 1, "em");
            text-transform: unset;

            &:last-of-type {
              margin: 0;
            }

            & .value {
              @include m.multiply("font-size", 1, "em");
              font-weight: 500;
              color: $base-font-color-secondary-half;
            }
          }

          & .key.amount-quantity {
            font-weight: 500;
            color: v.$base-font-color;

            & .value {
              font-weight: 500;
              font-size: 1.5em;
            }
          }
        }
      }
    }

    & .from {
      margin-top: 1em;
      padding: 1em 2em;

      & .left {
        width: 30%;
        height: auto;
        align-items: center;

        & .key {
          font-weight: 500;
        }
      }

      & .right {
        width: 64%;
        height: auto;
        justify-content: space-between;
        font-size: 1rem;
      }

      & .domain {
        @include m.multiply("font-size", 1.5, "em");
        font-weight: 500;
        color: $base-font-color;
      }

      & .address {
        font-size: 1em;
        font-family: "Roboto Mono", "Roboto";
        color: $base-font-color-secondary;
      }

      & .torus-name {
        @include m.multiply("font-size", 1.5, "em");
        justify-content: flex-start;
        font-weight: 500;
        position: relative;
        left: -2.55em;
        top: 0;

        & .verifier-logo {
          object-fit: unset;
          width: 2em;
          height: 2em;
          margin: 0 0.5em 0 0;
        }
      }
    }

    & .divider {
      & span {
        border-bottom: 3px solid $border-color;

        &:first-child {
          width: 12%;
        }

        &:last-child {
          width: 75%;
        }
      }

      & img {
        width: 2em;
        height: auto;
        border: none;
        object-fit: scale-down;
      }
    }

    & .to {
      padding: 2em;
      margin: 1em 0 0 0;
      align-items: flex-start;
      background-color: #7178e333;

      & .left {
        width: 30%;
        height: auto;
        align-items: center;

        & span {
          margin: 0.25em 0 0 0;
          color: $base-blue-color-lightened;
          font-weight: 500;
        }
      }

      & .right {
        width: 64%;
        height: auto;
        justify-content: space-between;

        & .scroll {
          max-height: 5em;
          overflow-x: hidden;
          overflow-y: auto;
          padding: 0 1em 0 0;

          &::-webkit-scrollbar-track {
            margin: 0;
            background-color: $base-end-color;
          }
        }

        & .torus-to {
          justify-content: flex-start;
          @include m.multiply("font-size", 1.5, "em");
          font-weight: 500;
          position: relative;
          left: -2em;
          top: 0;

          & .icon {
            object-fit: unset;
            width: 1.5em;
            height: 1.5em;
            margin: 0 0.5em 0 0;
          }
        }

        & .transaction {
          width: 100%;
          justify-content: center;

          & .single-to {
            color: $base-font-color-secondary;
            font-weight: 400;
            cursor: pointer;
            width: 100%;
            margin: 0 0 1.25em 0;
            font-size: 1rem;

            & span {
              font-size: 1em;
              color: $base-font-color-secondary;
            }

            &:not(.scroll) {
              font-weight: 400;
            }

            &.active span {
              font-weight: 500;
              color: v.$base-font-color;
            }

            &.default {
              font-weight: 400;
              cursor: unset;
              margin: 0;

              & span {
                color: $base-blue-color-lightened;
                font-family: "Roboto Mono", "Roboto";
              }
            }
          }

          & .previewAttention {
            color: v.$base-red-color;
            font-weight: 500;
          }
        }

        & .show-all {
          margin: 1em 0 0 0;
          text-transform: uppercase;
          font-weight: 500;
          color: #6c7a8d;
        }
      }
    }

    & .advanced-form {
      & .parms-container {
        margin: 0 0 1em 0;
        & .tabs-container {
          width: 100%;
        }
      }
      & li {
        list-style-type: none;
        & span {
          color: v.$base-font-color;
          text-transform: unset;
          white-space: pre;
        }
        & .key {
          cursor: pointer;
        }
        & svg {
          transform: rotate(-90deg);
          width: 0.75em;
          height: 0.75em;
          margin: 0 0 0 0.25rem;
          cursor: pointer;
          & path {
            fill: v.$base-font-color;
          }
        }
        & ul {
          display: none;
        }
        &.expanded {
          & svg {
            transform: unset;
          }
          & > ul {
            display: initial;
          }
        }
      }
      & ul.encoded-parms {
        list-style-type: none;
        padding: 1em;
        height: 12em;
        overflow: auto;
        border: 2px solid v.$border-color;
        border-radius: v.$border-radius;
        margin: 0;
        font-size: 1.25em;

        &::-webkit-scrollbar {
          width: 0.5rem;
          height: 0.5rem;
        }
      }
      & > div {
        width: 100%;

        & > div {
          width: 50%;
        }
      }

      & .label {
        width: calc(100% - 1em);
        align-self: center;
      }

      & input {
        margin: 0 0 1em 0;
        width: calc(100% - 1em);
        height: 3.5em;
        align-self: center;
      }

      & li.tab {
        @include m.multiply("font-size", 1.25, "em");
        appearance: auto;
        cursor: pointer;
        font-weight: 400;
        color: $base-font-color-secondary;

        &.active {
          color: $base-blue-color-lightened;
          font-weight: 600;
          text-decoration: underline;
        }
      }

      & ul.tabs {
        width: calc(100% - 2em);
        padding: 0;
        margin: 0 0 0.5em 1em;
        list-style-type: none;
      }

      & td.txAmount {
        text-align: right;
      }

      & textarea {
        padding: 1em;
        width: calc(100% - 2em - 4px);
        margin: 0;
        height: 12em;
        outline: none;
        border: 2px solid v.$border-color;
        border-radius: v.$border-radius;
        font-size: 1.25em;
      }
    }

    & .bottom {
      border-top: 2px solid $border-color;

      & .label {
        height: 1.25em;
        margin: 1em;
        align-self: flex-start;
      }

      & .danger {
        height: auto;
        color: $base-red-color;
        margin: 1em 1em 0em 1em;
        align-self: flex-start;
      }
    }
  }
}
