<span>&#x21;</span>
<!-- Modal -->
<div *ngIf="modalOpen" id="myModal" class="kukai-modal">
  <div class="km-content">
    <div class="km-header">
      <H1>Approve Token</H1>
    </div>
    <div class="km-body">
      <div class="group">
        <p>You have received this token<b>&nbsp;{{token.name}}</b></p>
        <p>Enable only if you trust its source</p>
      </div>
      <div class="row-group" style="margin: 1.25rem 0 0.5rem 0;">
        <button class="purple confirm" (click)="onTrust()">Enable Token</button>
      </div>
    </div>
  </div>
</div>