@use '../abstracts/variables'as v;

@-moz-document url-prefix() {
  .kukai-card div.seed-blur {
    position: relative;
    background-color: rgb(238, 238, 238) !important;
  }
}

.kukai-card {

  & h1,
  & span,
  & p,
  & div.whitebox {
    font-style: normal;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    margin-bottom: 0;
    max-width: 34rem;
    padding: 0 0.5rem;
  }

  & div.whitebox {
    font-size: 1rem;
    line-height: 1.5rem;
    width: calc(100% - 2.5rem);
    height: 8.5rem;
    z-index: 1;
    color: black;
    padding: 1.25rem;
    border: 0;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    font-weight: bold;

    &.final {
      padding-bottom: 0;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: auto;
    }

    & .buttons {
      margin-top: 1rem;
    }
  }

  & small {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1rem;
    letter-spacing: 0.32px;
    color: #393939;
    margin-top: 1.5rem;
    margin-left: 2rem;
    margin-bottom: 0.5rem;
    width: 28rem;

    &.grey {
      margin-top: 0.25rem;
      margin-bottom: -1.25rem;
      color: #393939;
      opacity: 0.4;
      -webkit-opacity: 0.4;
      -khtml-opacity: 0.4;
    }
  }

  & input.text,
  & textarea.text {
    width: calc(100% - 6rem);
    background: #d9d9d9;
    border-radius: 0.75rem;
    border: 0px solid;
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.125rem;
    letter-spacing: 0.16px;
    color: #393939;
  }

  & input.text[disabled] {
    color: #808080;
  }

  & textarea.text {
    height: 7rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    resize: none;
  }

  & ::-webkit-input-placeholder,
  & ::-moz-input-placeholder,
  & :-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
  }

  /* Step 4 */
  & p.description.bold.pkh {
    margin-top: 2rem;
  }

  & div.seed-blur {
    margin-top: -8.5rem;
    margin-bottom: 0.0625rem;
    height: 8.5rem;
    width: 100%;
    z-index: 2;
    backdrop-filter: blur(8px);
    border-radius: 0.75rem;
    background-color: rgb(238, 238, 238);
    background-color: rgba(238, 238, 238, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
  }

  & div.buttons {
    margin: 3rem 2rem 1.5rem;
    width: 90%;
    display: flex;
    justify-content: space-between;
  }

  & div.whitebox div.buttons.single,
  & div.buttons.single {
    margin-top: 2rem;
    justify-content: center;
    width: auto;
  }

  & div.buttons.single.finish {
    margin-top: 2.5rem;
  }

  & div.buttons.single button:hover {
    margin-bottom: 0.125rem;
  }

  & a {
    color: inherit;
    text-decoration: inherit;
  }

  & input:focus,
  & textarea:focus {
    outline: none;
  }

  & div.word-verify {
    margin-top: 2.75rem;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row;
  }

  & div.word-input>input {
    margin-top: 0.5rem;
    height: 2.5rem;
    width: 17.5rem;
    border-radius: 0.75rem;
    text-align: center;
    border-width: 0;
    background: rgba(0, 0, 0, 0.08);
  }

  & span.word-index {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 1rem;
    text-align: center;
    letter-spacing: 0.32px;
    color: black;
  }

  & div.word-hint {
    width: 9.5rem;

    &>span.word-value {
      display: block;
      margin-top: 1.25rem;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.125rem;
      text-align: center;
      letter-spacing: 0.16px;
      color: black;
      opacity: 0.6;
    }
  }

  & progress[value] {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    width: 28rem;
    height: 0.5rem;
    margin-top: 2.5rem;
    margin-left: 2rem;
    border-radius: 4px;
  }

  & progress::-webkit-progress-bar,
  & progress {
    background-color: #e1e1e1;
    border-radius: 4px;
    width: 100%;
  }

  & progress {
    color: #5963FF;
    border-radius: 20px;

    &::-moz-progress-bar {
      background-color: #5963FF !important;
      border-radius: 20px;
    }

    &::-webkit-progress-value {
      background-color: #5963FF !important;
      border-radius: 20px;
    }
  }

  & button {
    border-radius: 0.75rem;
    width: 8rem;
    height: 3rem;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1rem;
    border: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: margin-top 0.1s ease-in, margin-bottom 0.1s ease-in;

    &:hover {
      margin-top: -0.125rem;
    }

    &.next {
      color: white;
      background: #5963FF;
      box-shadow: 0px 0px 1px rgba(89, 99, 255, 0.04), 0px 2px 6px rgba(89, 99, 255, 0.04), 0px 16px 24px rgba(89, 99, 255, 0.24);
    }

    &.back {
      color: #727AFD;
      background: rgba(114, 122, 253, 0.16)
    }

    &.disabled-button {
      pointer-events: none;
      opacity: 0.4;
      -webkit-opacity: 0.4;
      -khtml-opacity: 0.4;
    }
  }

  & span,
  & p {
    font-weight: normal;
    justify-content: center;
    font-size: 1.25rem;
    line-height: 2rem;
  }

  & span.black {
    color: black;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  & span.step-counter {
    font-size: 1rem;
    line-height: 1.5rem;
    display: block;
    margin-top: 2.5rem;
    width: 100%;
    text-align: center;
    max-width: 100%;
  }

  & h1 {
    margin-block-end: 0;
    font-weight: 500;
    font-size: 2.0rem;
    line-height: 2.5rem;
  }

  & p.description {
    margin-top: 1.5rem;

    &.bold {
      font-weight: bold;
      font-size: 1rem;
    }
  }

  & .grey-card p {
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin-top: 2.5rem 1.5rem 0;
  }

  & div.grey-card {

    margin-top: 3rem;
    width: 32rem;
    background: white;
    background: #F4F4F4;
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    box-shadow: v.$box-shadow;
    border-radius: 0.75rem;

    & div.switch-container {
      margin-left: 2rem;
    }

    & p,
    & span {
      color: #303030;
    }

    & p.description {
      &.blue {
        color: #5963FF;
      }

      &.red {
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: #C83532;
      }
    }
  }
}

/*
@media screen and (max-width: 30rem) {
  .kukai-card div.whitebox {
    margin-top: 4rem;
    width: 22rem;
    height: 11.5rem;
  }
  .kukai-card div.seed-blur {
    width: 22rem;
    height: 11.5rem;
    margin-top: -11.5625rem;
  }
}*/
/* Step 2 */

/*
@media screen and (max-width: 36rem) {
  .kukai-card div.word-input {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media screen and (max-width: 32rem) {
  .kukai-card div.word-input {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .kukai-card div.word-input > input {
    width: 10rem;
  }
  .kukai-card progress[value] {
    width: 20rem;
  }
}*/
/* Step 3 */


@media screen and (max-width: 32.5rem) {
  .kukai-card {
    & div.grey-card {
      width: 21.875rem;
      /*width: 22.5rem;*/
    }

    & progress[value],
    & small,
    & input.text,
    & textarea.text {
      width: calc(100% - 4rem);
      margin-left: 1rem;
      margin-right: 1rem;
    }
  
    & div.seed-blur,
    & div.whitebox {
      height: 9.5rem;
    }
  
    & div.seed-blur {
      margin-top: -9.5rem;
    }
  
    & p.description.bold.pkh {
      margin-top: 0.75rem;
      font-size: 0.9375rem;
    }
  
    & div.grey-card div.switch-container {
      margin-left: 1rem;
    }
  
    & div.buttons {
      margin-left: 1rem;
      margin-right: 1rem;
      margin-bottom: 1rem;
    }
  }
}