@use '../../abstracts/mixins' as m;
@use '../../abstracts/variables'as v;

& .confirm-send {
  margin: 2rem 0 0 0;
  width: 38rem;
  height: auto;

  &.batch {
    & .top {
      & .left {
        width: 23%;
      }

      & .right {
        width: calc(77% - 1rem);
      }
    }

    & .from {
      & .left {
        width: 23%;
      }

      & .right {
        width: calc(77% - 1rem);
      }
    }

    & .to {
      & .left {
        width: 23%;
      }

      & .right {
        width: calc(77% - 1rem);
      }
    }
  }

  & .amount-fee {
    &.key {
      @include m.multiply("font-size", 1.25);
    }

    .value {
      @include m.multiply("font-size", 1.25);
    }
  }

  & .amount-quantity {
    &.key {
      @include m.multiply("font-size", 1.25);
    }

    .value {
      @include m.multiply("font-size", 1.625);
    }
  }

  & .top,
  & .to {
    height: auto;
    border-radius: v.$border-radius;
    padding: 2rem;
  }

  & .top {
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: v.$base-color-lightened-7;
    border-radius: v.$border-radius;
    height: auto;
    padding: 2rem;

    & .key {
      width: 100%;
      text-align: left;
      margin: 0 0 0.5rem 0;
    }

    & table {
      width: 100%;
      color: v.$base-font-color-secondary;
      margin: 0 0 4rem 0;
    }

    & .token-image {
      width: 10rem;
      height: 10rem;
      object-fit: cover;
      background-color: v.$base-end-color;
      border-radius: v.$border-radius;
      box-shadow: v.$box-shadow-dark;

      &.balance {
        width: 3rem;
        height: 3rem;
        box-shadow: unset;
        border-radius: v.$border-radius-hard;
        border: v.$border-width-thin solid v.$base-color-lightened-5;
      }
    }

    & .bottom {
      height: 100%;
      justify-content: space-evenly;

      & span {
        padding: 0.75rem 0 0 0;
      }
    }

    & .left {
      width: 30%;
      height: auto;
      justify-content: space-between;
      align-items: center;

      & .key {
        text-align: center;
        color: v.$base-font-color;
        margin: 0.35rem 0 1rem 0;
        font-weight: 500;
      }
    }

    & .right {
      width: 64%;
      height: 100%;
      justify-content: flex-start;

      & .amount-tez {
        margin: 0 0 1rem 0;
        padding: 0 0 0.5rem 0;
        @include m.multiply("font-size", 1.5);
        font-weight: 600;
        border-bottom: 3px solid v.$border-color;
      }

      & .items {
        & .key.amount-quantity {
          font-weight: 500;
          color: v.$base-font-color;

          & .value {
            font-weight: 500;
            font-size: 1.5rem;
          }
        }

        & .key {
          @include m.multiply("font-size", 1);
          text-transform: unset;

          & .value {
            font-size: 1rem;
          }
        }
      }
    }

    &.image {
      align-items: center;
      padding: 1rem;
      width: calc(100% - 2rem);
      & .left {
        width: auto;
        height: auto;
        justify-content: space-between;
        align-items: center;
      }

      & .right {
        height: 100%;
        justify-content: center;
        width: calc(67% - 0.5rem);
        margin: 0 1rem 0 0;
      }

      & .token-image {
        width: 7.5rem;
        height: 7.5rem;
        margin: 0;
      }
    }
  }

  & .from {
    margin-top: 1rem;
    padding: 1rem 2rem;

    & .left {
      width: 30%;
      height: auto;
      align-items: center;

      & .key {
        font-weight: 500;
      }
    }

    & .right {
      width: 64%;
      height: auto;
      justify-content: space-between;
    }

    & .domain {
      @include m.multiply("font-size", 1.5);
      font-weight: 500;
      color: v.$base-font-color;
    }

    & .address {
      @include m.multiply("font-size", 1);
      color: v.$base-font-color-secondary;
    }
  }

  & .divider {
    & span {
      border-bottom: 3px solid v.$border-color;

      &:first-child {
        width: 12%;
      }

      &:last-child {
        width: 75%;
      }
    }

    & img {
      width: 2rem;
      height: auto;
      border: none;
      object-fit: scale-down;
    }
  }

  & .to {
    padding: 2rem;
    margin: 1rem 0 0 0;
    align-items: flex-start;
    background-color: #7178e333;

    & .left {
      width: 30%;
      height: auto;
      align-items: center;

      & span {
        margin: 0.5rem 0 0 0;
        color: v.$base-blue-color-lightened;
        font-weight: 500;
      }
    }

    & .right {
      width: 64%;
      height: auto;
      justify-content: space-between;

      & .scroll {
        max-height: 5rem;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 0 1rem 0 0;

        &::-webkit-scrollbar-track {
          margin: 0;
          background-color: v.$base-end-color;
        }
      }

      & .torus-to {
        justify-content: flex-start;
        @include m.multiply("font-size", 1.5);
        font-weight: 500;
        position: relative;
        left: -2.55rem;
        top: 0;

        & .icon {
          object-fit: unset;
          width: 2rem;
          height: 2rem;
          margin: 0 0.5rem 0 0;
        }
      }

      & .transaction {
        width: 100%;
        justify-content: center;

        & .single-to {
          color: v.$base-font-color-secondary;
          @include m.multiply("font-size", 1.125);
          font-weight: 400;
          cursor: pointer;
          width: 100%;
          margin: 0 0 1.25rem 0;

          & span {
            font-size: 1rem;
          }

          &:not(.scroll) {
            font-weight: 400;
          }

          &.active {
            font-weight: 500;
            color: v.$base-font-color;
          }

          &.default {
            font-weight: 400;
            font-size: 1rem;
            cursor: unset;
            margin: 0;

            & span {
              color: v.$base-blue-color-lightened;
            }
          }

          & input[type="radio"] {
            width: 1rem;
            height: 1rem;
            transform: scale(2);
          }
        }

        & .previewAttention {
          color: v.$base-red-color;
          font-weight: 500;
        }
      }

      & .show-all {
        margin: 1rem 0 0 0;
        text-transform: uppercase;
        font-weight: 500;
        color: #6c7a8d;
      }
    }
  }

  & .advanced-form {
    margin: 1rem 0 0 0;

    & > div {
      width: 100%;

      & > div {
        width: 50%;
      }
    }

    & input {
      margin: 0 0 1rem 0;
      width: calc(100% - 3rem);
      height: 3.5rem;
      align-self: center;
    }

    & li.tab {
      appearance: auto;
      cursor: pointer;
      @include m.multiply("font-size", 1.25);
      font-weight: 400;
      color: v.$base-font-color-secondary;

      &.active {
        color: v.$base-blue-color-lightened;
        font-weight: 600;
        text-decoration: underline;
      }
    }

    & ul.tabs {
      width: calc(100% - 2rem);
      padding: 0;
      margin: 1rem 0 0.5rem 1rem;
      list-style-type: none;
    }

    & td.txAmount {
      text-align: right;
    }

    & textarea {
      padding: 1rem;
      width: calc(100% - 2rem);
    }
  }

  & .bottom {
    border-top: 2px solid v.$border-color;
    margin: 0;

    & .label {
      height: 1.25rem;
      margin: 1rem;
      align-self: flex-start;
    }

    & .danger {
      color: v.$base-red-color;
      margin: 1rem 1rem 0rem 1rem;
    }
  }
}

@media (max-width: calc(#{v.$lower-limit} - 50rem)) {
  & .confirm-send {
    width: 33rem;
    & .divider {
      & span {
        border-bottom: 3px solid v.$border-color;

        &:first-child {
          width: 12%;
        }

        &:last-child {
          width: 45%;
        }
      }
    }

    & .top {
      width: calc(100% - 4rem);

      & .left {
        width: 33%;
        align-items: flex-start;

        & .key {
          text-align: left;
        }
      }

      & .right {
        width: calc(69% - 2rem);
      }
    }

    & .from {
      padding: 1rem 2rem;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      & .left {
        width: 31%;
        align-items: flex-start;
      }

      & .right {
        width: 100%;

        & .address {
          font-size: 1.5rem;
          font-family: "Roboto Mono";
          margin: 0.5rem 0 0 0;
        }
      }
    }

    & .to {
      padding: 2rem;
      width: calc(100% - 4rem);
      flex-direction: column;

      & .left {
        width: 31%;
        height: auto;
        align-items: flex-start;
      }

      & .right {
        width: 100%;

        & .transaction {
          & .torus-to {
            left: 0;
            margin: 0.5rem 0 0 0;
          }

          & .single-to {
            margin: 0.5rem 0 0 0;

            & span {
              font-family: "Roboto Mono";
              font-size: 1.5rem;
            }
          }
        }
      }
    }

    & .bottom {
      width: 100%;
    }
  }

  & .confirm-send.image {
  }

  & .confirm-send.batch {
    width: 32rem;

    & .divider {
      display: none;
    }

    & .top,
    & .to,
    & .from {
      padding: 2rem 0;
      margin: 0 0 0 -2rem;
      border-radius: 0;
      width: calc(100% + 4rem);
    }

    & .top {
      & .left {
        width: 40%;
      }

      & .right {
        width: calc(60% - 2rem);
        margin: 0 2rem 0 0;
      }

      &.image {
        align-items: center;
        padding: 1rem;
        width: calc(100% + 2rem);
        & .left {
          width: auto;
          height: auto;
          justify-content: space-between;
          align-items: center;
        }

        & .right {
          height: 100%;
          justify-content: center;
          width: calc(67% - 2rem);
          margin: 0 2rem 0 0;
        }

        & .token-image {
          width: 8rem;
          height: 8rem;
          margin: 0 0 0 1.5rem;
        }
      }
    }

    & .from {
      & .left {
        width: auto;
        margin: 0 0 0 3rem;
      }

      & .right {
        width: 67%;

        & .address {
          margin: 0.5rem 0 0 3rem;
        }
      }
    }

    & .to {
      flex-direction: column;
      align-items: center;
      & .left,
      .right {
        width: calc(100% - 2rem);
        & .torus-to {
          left: 0;
        }
      }

      & .left {
        align-items: flex-start;
        width: 28%;
        align-self: flex-start;
        margin: 0 0 1rem 0;

        & .key {
          text-align: center;
          margin: 0.5rem 0 0 3rem;
        }
      }

      & .right {
        width: calc(100% - 6rem);
        & .transaction {
          width: 100%;
          & .single-to {
            margin: 0.5rem 0;
            width: 100%;
            & span {
              font-size: 1.375rem;
            }
          }
        }
      }
    }
  }
}
