@use '../../abstracts/variables'as v;
@use '../../abstracts/mixins' as m;
@use './confirm-send/mixins' as cs;

.kukai-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: #0006;
  justify-content: flex-start;
  align-items: center;
  z-index: 1000;

  & .content {
    justify-content: center;
    align-items: center;
    background-color: v.$base-end-color;
    width: auto;
    height: auto;
    max-width: 85vw;
    border-radius: v.$border-radius-hard;
    padding: 2rem;
    min-width: 32rem;
    @include m.base-relative;
    margin: 5rem 0 0 0;
    overflow-x: hidden;

    & .close {
      display: flex;
      justify-content: center;
      top: -0.375rem;
      right: 0;
      position: absolute;
      width: calc(3rem - 6px);
      height: calc(3rem - 6px);
      border: v.$border-width solid v.$border-color;
      border-radius: v.$border-radius-hardest;

      & .x {
        object-fit: scale-down;
        width: 0.875rem;
        height: 0.875rem;
      }
    }

    &>.top {
      position: relative;
      top: 0;
      left: 0;
      margin: 0 0 1rem 0;
      align-items: center;

      .title {
        @include m.multiply('font-size',1.875);
        @include m.ellipsis;
        width: 70%;
        font-weight: 500;
        text-align: center;
      }
    }

    & .label {
      @include m.multiply('font-size',1);
      margin: 1rem;
      letter-spacing: 0.02em;
      font-weight: 500;
      color: #3e4855;
      text-transform: uppercase;
    }

    & .seperator {
      @include m.base-relative;
      height: 1px;
      background-color: v.$border-color;
      left: -2rem;
      width: calc(100% + 4rem);
    }

    & input:not([type=checkbox]) {
      height: 4rem;
      width: calc(100% - 2rem);
      background-color: v.$base-end-color;
      border: v.$border-width-thin solid v.$border-color;
      border-radius: v.$border-radius-hardest;
      @include m.multiply('font-size',1.25);

      &.password,
      &.text {
        width: calc(100% - 2rem);
        margin: 0 0 2rem 0;
      }
    }

    & .key-value {
      margin: 0 0 1rem 0;
    }

    & .key {
      color: v.$base-font-color-secondary;
      text-transform: uppercase;
      letter-spacing: 0.02em;

      & .value {
        text-transform: unset;
      }
    }

    & .value {
      color: v.$base-font-color;
      @include m.multiply('font-size',1.25);
    }

    & .more-info {
      height: 2rem;
      justify-content: flex-end;
      margin: 1rem 0;

      span {
        color: v.$base-font-color-secondary;
        text-transform: uppercase;
        @include m.multiply('font-size',1);
      }

      img {
        height: 1.75rem;
        width: auto;
        filter: invert(1);
      }

      &.open {
        img {
          transform: rotate(180deg);
        }
      }
    }

    & .meta-more {
      width: 100%;
      height: auto;
      max-height: 0;
      transition: 0.15s max-height;
      overflow: hidden;
    }

    & .prepare-send,
    & .confirm-send {
      & input::placeholder {
        text-transform: uppercase;
      }
    }

    @import './token-detail.scss';

    @import './confirm-staking.scss';

    @import './new-account.scss';

    @import './originate.scss';

    @import './receive.scss';

    @import './qr-scanner.scss';

    @import './sign-expr.scss';

    @import './prepare-send.scss';

    @include cs.confirm-send;

    @import './permission-request.scss';

    & .advanced-form {
      margin: 1rem 0 0 0;

      &>div {
        width: 100%;

        &>div {
          width: 50%;
        }
      }

      & input {
        margin: 0 0 1rem 0;
        width: calc(100% - 2rem);
        align-self: center;
      }
    }

    & .bottom {
      margin: 2rem 0 0 0;
      align-items: center;
    }
  }

  & button.confirm {
    width: 50%;
    height: 4.5rem;
    border-radius: v.$border-radius-hardest;
    padding: 0 2rem;
    font-size: 1.125rem;
  }
}