@use '../../abstracts/variables'as v;

.kukai-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: #0006;
  justify-content: flex-start;
  align-items: center;
  z-index: 1000;

  & .content {
    justify-content: center;
    align-items: center;
    background-color: v.$base-end-color;
    width: auto;
    height: auto;
    max-width: 85vw;
    border-radius: v.$border-radius-hard;
    padding: 2rem;
    min-width: 38rem;
    position: relative;
    top: 0;
    left: 0;
    margin: 5rem 0 0 0;
    overflow-x: hidden;

    & .close {
      top: -0.65rem;
      right: 0;
      position: absolute;
      width: 2rem;
      height: 1.5rem;
      padding: 1.25rem 1rem;
      border: 4px solid v.$border-color;
      border-radius: v.$border-radius-hardest;
      object-fit: scale-down;
    }

    &>.top {
      position: relative;
      top: 0;
      left: 0;
      margin: 0 0 2rem 0;
      align-items: center;

      .title {
        font-size: 2.5rem;
        width: 70%;
        font-weight: 500;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    & .label {
      margin: 1rem;
    }

    & .seperator {
      position: relative;
      top: 0;
      left: 0;
      height: 1px;
      background-color: v.$border-color;
      left: -2rem;
      width: calc(100% + 4rem);
    }

    & input:not([type=checkbox]) {
      height: 4rem;
      width: calc(100% - 2rem);
      background-color: v.$base-end-color;
      border: 2px solid v.$border-color;
      border-radius: v.$border-radius-hardest;
      font-size: 1.25rem;

      &.password,
      &.text {
        width: calc(100% - 2rem);
        margin: 0 0 2rem 0;
      }
    }

    & .key-value {
      margin: 0 0 1rem 0;
    }

    & .key {
      color: v.$base-font-color-secondary;
      text-transform: uppercase;

      & .value {
        text-transform: unset;
      }
    }

    & .value {
      color: v.$base-font-color;
      font-size: 1.25rem;
    }

    & .more-info {
      height: 2rem;
      justify-content: flex-end;
      margin: 1rem 0;

      span {
        color: v.$base-font-color-secondary;
        text-transform: uppercase;
        font-size: 1rem;
      }

      img {
        height: 1.75rem;
        width: auto;
        filter: invert(1);
      }

      &.open {
        img {
          transform: rotate(180deg);
        }
      }
    }

    & .meta-more {
      width: 100%;
      height: auto;
      max-height: 0;
      transition: 0.15s max-height;
      overflow: hidden;
    }

    & .prepare-send,
    & .confirm-send {
      & input::placeholder {
        text-transform: uppercase;
      }
    }

    @import './token-detail.scss';

    @import './confirm-staking.scss';

    @import './new-account.scss';

    @import './originate.scss';

    @import './receive.scss';

    @import './qr-scanner.scss';

    @import './sign-expr.scss';

    @import './prepare-send.scss';

    @import './confirm-send.scss';

    @import './permission-request.scss';

    & .advanced-form {
      margin: 1rem 0 0 0;

      &>div {
        width: 100%;

        &>div {
          width: 50%;
        }
      }

      & input {
        margin: 0 0 1rem 0;
        width: calc(100% - 2rem);
        align-self: center;
      }
    }

    & .bottom {
      margin: 2rem 0 0 0;
    }

    & button.confirm {
      width: 100%;
      height: 4rem;
      border-radius: v.$border-radius-hard;
    }
  }
}