@use '../../abstracts/mixins' as m;

& .new-account {
  margin: 2rem 0 0 0;

  & .value {
    margin: 0 0 2rem 0;
  }

  & .label {
    margin: 0 0 1rem 0;
    text-align: center;
  }

  & input {
    width: calc(100% - 2rem);
    @include m.multiply('font-size',1.25);
  }
}