@use '../../abstracts/mixins' as m;
@use '../../abstracts/variables'as v;

& .originate {

  margin: 2rem 0 0 0;
  height: auto;

  & .seperator, span {
    margin: 0.5rem 0;
  }

  & .danger {
    margin-top: 1rem;
  }

  & .advanced-form {
    margin: 1rem 0 0 0;

    &>div:not(.tabs-container) {
      width: 100%;

      &>div {
        width: 50%;
      }
    }

    & input {
      margin: 0 0 1rem 0;
      width: calc(100% - 3rem);
      height: 3.5rem;
      align-self: center;
    }

    & textarea {
      width: 100%;
    }

    & .tabs-container {
      margin-top: 0.5rem;
      width: 100%;

      & .tabs {
        width: 100%;
        margin: 0 0 0.5rem 0;

        & .tab {
          @include m.multiply('font-size',1.25);
          color: v.$base-font-color;
          cursor: pointer;

          &.active {
            color: v.$base-blue-color;
          }
        }
      }
    }
  }
}