& .receive {
  justify-content: center;
  align-items: center;
  margin: 1rem 0 0 0;

  & .label {
    @include m.multiply("font-size", 1.125);
  }

  & img.qr-icon {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    vertical-align: baseline;
  }

  & img.copy {
    cursor: pointer;
    margin: 0 0 0 0.5rem;
  }
}
