@use '../../abstracts/mixins' as m;
@use '../../abstracts/variables'as v;

& .sign-expr {
  margin: 2rem 0 0 0;
  align-items: center;

  & label,
  & p {
    margin: 0.25rem 0 0.25rem 0;
    @include m.multiply('font-size',1.25);
    font-weight: 500;
  }

  & .previewAttention {
    margin: 0 0 1rem 0;
    text-align: center;

    &:first-of-type {
      margin: 0;
    }

    &.warning {
      color: v.$base-red-color;
    }
  }

  & textarea {
    margin: 1rem 0 2rem 0;
    padding: 1rem;
    width: calc(75% - 2rem);
  }

  & .bottom {
    align-items: center;
    width: 100%;

    & input {
      width: calc(75% - 2.25rem);
    }
  }
}