@use '../../abstracts/variables'as v;
@use '../../abstracts/mixins' as m;

$base-font-color: v.$base-font-color;
$base-end-color: v.$base-end-color;
$base-color-lightened-6: v.$base-color-lightened-6;
$base-color-lightened-7: v.$base-color-lightened-7;
$border-width: v.$border-width;
$border-color: v.$border-color;


.dropdown {
  display: block;
  position: relative;

  & * {
    -webkit-tap-highlight-color: #fff0;
  }

  & .currentAddress {
    @include m.multiply("font-size", 1.15);
    width: calc(100% - 2rem);
    padding: 0 0 0 1rem;
    background-color: $base-color-lightened-7;
    border-radius: v.$border-radius-hard;
    border: none;
    transition: 0.25s border-radius;
    height: 3.375rem;
    cursor: pointer;
    font-weight: 500;
    justify-content: flex-start;

    & .logo {
      height: 1.5rem;
      margin: 0 1rem 0 0;
    }

    & .address {
      @include m.ellipsis;
      width: calc(100% - 4rem);
      font-weight: 500;
    }

    &::placeholder {
      color: $base-font-color;
    }
  }

  & .icon-db {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0.685rem;
    right: 1.75rem;
    background-color: $base-color-lightened-7;
    border-radius: v.$border-radius-hard;
    transform: rotate(0deg);
    transition: 0.25s transform, 0.25s border-radius;
    cursor: pointer;
  }

  & .dropdown-content {
    background: $base-end-color;
    position: absolute;
    display: none;
    z-index: 100;
    overflow: hidden;
    width: calc(100% - 1rem);
    top: 3.78rem;

    &.right {
      margin-top: -1.1rem;
    }

    & .sep {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      border-top: 1px solid #0004;
      border-bottom: 1px solid #0004;
    }

    & a {
      color: v.$base-font-color;
      padding: 0.75rem 1.875rem;
      text-decoration: none;
      display: block;
      cursor: pointer;

      &:hover {
        background: $base-color-lightened-7;
      }

      &.selected {
        background: $base-color-lightened-6;
      }

      & .alias {
        width: 100%;
        justify-content: flex-start;

        & img {
          height: 1rem;
          margin: 0 0.5rem 0 0;
        }

        & span {
          color: $base-font-color;
          font-weight: 500;
        }
      }

      & > span {
        margin: 0 0 0 1.5rem;
        width: calc(100% - 1.5rem);
      }
    }
  }

  &.expanded {
    & .currentAddress,
    & .icon-db {
      border-top-right-radius: v.$border-radius-hard;
    }

    & .currentAddress {
      border-top-left-radius: v.$border-radius-hard;
    }

    & .icon-db {
      transform: rotate(180deg);
    }

    & .dropdown-content {
      display: flex !important;
    }
  }
}

@media (max-width: v.$layout-break-5) {
  :host {
    width: 50%;

    & .dropdown .dropdown-content {
      width: calc(100% + 10rem);
      top: 4.78rem;
      left: -6rem;

      & a {
        font-size: 1.5rem;
      }
    }
  }
}
