@use '../../abstracts/variables'as v;

.dropdown {

  display: block;
  position: relative;

  & input {
    font-size: 1.15rem;
    width: calc(100% - 3rem);
    padding: 0 0 0 2rem;
    background-color: v.$base-color-lightened-7;
    border-top-left-radius: v.$border-radius-hard;
    border-bottom-left-radius: v.$border-radius-hard;
    border: none;
    transition: 0.25s border-radius;
    height: 3.375rem;
    cursor: pointer;
    font-weight: 500;

    &::placeholder {
      color: v.$base-font-color;
    }
  }

  & .icon-db {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0.75rem;
    right: 1.75rem;
    background-color: v.$base-color-lightened-7;
    border-radius: v.$border-radius-hard;
    transform: rotate(0deg);
    transition: 0.25s transform, 0.25s border-radius;
    cursor: pointer;
  }

  & .dropdown-content {
    background: v.$base-end-color;
    position: absolute;
    display: none;
    z-index: 1;
    overflow: hidden;
    width: calc(100% - 1rem);
    top: 3.78rem;

    &.right {
      margin-top: -1.1rem;
    }

    & .sep {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      border-top: 1px solid rgba(0, 0, 0, 0.04);
      border-bottom: 1px solid rgba(0, 0, 0, 0.04);
    }

    & a {
      color: #2c323a;
      padding: 0.75rem 1.875rem;
      text-decoration: none;
      display: block;
      cursor: pointer;

      &:hover {
        background: v.$base-color-lightened-7;
      }

      &.selected {
        background: v.$base-color-lightened-6;
      }
    }
  }

  &.expanded {

    & input,
    & .icon-db {
      border-top-right-radius: v.$border-radius-hard;
    }

    & input {
      border-top-left-radius: v.$border-radius-hard;
    }

    & .icon-db {
      transform: rotate(180deg);
    }

    & .dropdown-content {
      display: flex;
    }
  }
}

@media (max-width: v.$lower-limit) {
  :host {
    width: 50%;
  }
}