@use '../../abstracts/variables'as v;
@use '../../abstracts/mixins' as m;

:host {
  & img,
  & video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.sd {
    & video,
    & img {
      object-fit: scale-down;
    }
  }
}
