@use '../../abstracts/variables'as v;
@use '../../abstracts/mixins' as m;

:host {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

button {
  &.with-image {
    width: auto;
    padding: 1rem;

    &:not(.tez) {
      background-color: transparent;
      border: 3px solid v.$base-color-lightened-5;
      border-radius: v.$border-radius-hardest;
    }

    & span {
      @include m.multiply('font-size',1.25);
      margin: 0 1rem 0 0.25rem;
      font-weight: 500;
    }

    & img {
      height: 100%;
      padding: 0 0.0625rem;
    }

    &.tez {
      padding: 1rem 1.15rem 1rem 1rem
    }
  }

  &.detail {
    max-width: 32rem;
    width: 100%;
    height: 4rem;
  }
}