@use '../../abstracts/variables' as v;
@use '../../abstracts/mixins' as m;

.advanced {
  min-width: 12rem;
  justify-content: center;
  margin: 0 0 0 1rem;

  & .switch-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 1rem;

    & .switch {

      & input {
        width: 0;
        height: 0;
        padding: 0 0 0 0.5rem;
      }

      & .slider {
        position: relative;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: v.$base-end-color;
        border: 2px solid v.$advanced-color;
        border-radius: v.$border-radius-hardest;
        transition: 0.4s;
        width: 3.5rem;
        height: 2rem;

        &.active {
          & .round {
            -webkit-transform: translateX(1.5rem);
            -ms-transform: translateX(1.5rem);
            transform: translateX(1.5rem);
            background-color: v.$base-blue-color-lightened;
          }
        }

        & .round {
          position: absolute;
          content: "";
          height: 1.25rem;
          width: 1.25rem;
          left: 0.375rem;
          bottom: 0.375rem;
          background-color: v.$border-color;
          transition: 0.25s all;
          border-radius: v.$border-radius-hardest;
        }
      }
    }

    & span {
      margin: 0;
      @include m.multiply('font-size',1.125, 'em !important');
      font-weight: 500;
      &.key {
        color: #b9bfc7 !important;
        &.active {
          color: #b9bfc7 !important;

          & .round {
            -webkit-transform: translateX(1.5rem);
            -ms-transform: translateX(1.5rem);
            transform: translateX(1.5rem);
            background-color: v.$base-blue-color-lightened;
          }
        }
      }

      &.value {
        color: #6c7a8d !important;
        @include m.multiply('font-size',1.125, 'em !important');
      }
    }
  }
}

@media not all and (min-resolution:.001dpcm) { 
  @supports (-webkit-appearance:none) {
    .advanced .switch-container .switch .slider:before {
      left: 0.3rem;
      bottom: 0.3rem;
    }
  }
}