<div class="direct-auth-login">
  <div class="body">
    <H2>Please log in with one of the following providers:</H2>
    <div class="login-options" *ngIf="torusService && torusService.verifierMapKeys">
      <ng-container *ngFor="let key of torusService.verifierMapKeys">
        <div class="login-option" (click)="login(key)">
          <img src="../../../../assets/img/torus-login/{{ key }}-color.svg" width="24">
        </div>
      </ng-container>
    </div>
  </div>
  <div class="footer">
    <span>Powered by</span><img class="logo" src="../../../../assets/img/kukai-logo-black.svg">
  </div>
</div>