@import '../../../../assets/fonts/Poppins/stylesheet.css';
:host {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.6);
}
div.direct-auth-login {
  width: 21.875rem;
  background: #f3f3f3;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.24), 0px 4px 12px rgba(0, 0, 0, 0.24),
    0px 32px 48px rgba(0, 0, 0, 0.36);
  border-radius: 0.625rem;
}
:host > div.direct-auth-login H2,
:host > div.direct-auth-login span {
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 300 !important;
}
div.direct-auth-login > div.header {
  height: 4.375rem;
  background: white;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.direct-auth-login > div.header img {
  height: 3.125rem;
  width: 3.125rem;
}
div.direct-auth-login H2 {
  margin: 0.5rem 2rem;
  font-size: 1.25rem;
  line-height: 1.875rem;
  text-align: center;
  vertical-align: top;
}
div.direct-auth-login > div.body div.login-options {
  margin: 1rem 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
div.direct-auth-login > div.body div.login-option {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 0.625rem;
  width: 90px;
  height: 60px
}
div.direct-auth-login > div.body div.login-option:hover {
  cursor: pointer;
  background: #eaebf9;
}
div.direct-auth-login > div.body div.login-option > img {
  width: 2.5rem;
}
div.direct-auth-login > div.footer {
  margin: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.direct-auth-login > div.footer > span {
  font-size: 0.625rem;
  line-height: 0.9375rem;
}
div.direct-auth-login > div.footer img {
  width: 2.5rem;
  margin-left: 0.25rem;
}