@use "../../../../abstracts/mixins" as m;
@use "../../../../abstracts/variables" as v;

/* Add Animation */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

div.agreement-wrapper {
  position: fixed;
  width: 100%;
  height: 120%;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: #0003;
  z-index: 5000;
}

div.agreement-body {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
}

.agreement-footer {
  background: white;
  color: white;
  display: flex;
  flex-direction: column;
  width: 32rem;
  border-radius: v.$border-radius;
  box-shadow: v.$box-shadow-dark;
  overflow: hidden;
  padding: 2rem;

  & p {
    text-align: center;
    margin: 0.5rem;
    color: v.$base-font-color;
    line-height: 1.5;
    font-size: 1.75rem;
  }

  & a {
    color: v.$base-blue-color-lightened;
    text-decoration: none;
    background-color: transparent;
  }

  & button {
    width: calc(100% - 2rem);
    margin: 1rem;
  }

  & > div p {
    font-size: 1rem;
  }

  & > div {
    background: v.$base-end-color-static;
    color: v.$base-font-color;
    display: flex;
    flex-direction: row;

    & > div {
      background: v.$base-end-color-static;
      color: v.$base-font-color;
      display: flex;
      flex-direction: column;
      width: 50%;
      padding: 0rem;
      align-items: center;
    }

    & .accept button {
      border: v.$border-width solid v.$base-blue-color;
    }

    & .decline button {
      border: v.$border-width solid v.$base-blue-color;
      background-color: v.$base-end-color-static;
      color: v.$base-blue-color;
    }
  }

  & div div a {
    text-decoration: none;
    width: 100%;
    align-items: center;
  }
}

.fade-in {
  animation-name: fadein;
  -webkit-animation-name: fadein;
  animation-fill-mode: backwards;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
}
button.fade-in {
  animation-name: fadein;
  -webkit-animation-name: fadein;
  animation-fill-mode: backwards;
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
  animation-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
}
