<div *ngIf="displayAgreement" class="agreement-wrapper fade-in">
  <div class="agreement-footer fade-in">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac pulvinar ante. Sed sed ultrices sapien, vel fringilla sapien. Nulla malesuada ligula erat, vel dignissim ligula pharetra congue. Nam sed bibendum arcu. Vestibulum in cursus mi, in vestibulum mauris. Aliquam consectetur sapien ac velit ornare, nec pulvinar leo fermentum. Curabitur interdum eros sapien, a volutpat nisl mattis eu. Proin sagittis.</p>
    <button (click)="accept()">I accept</button>
  </div>
</div>