
<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h1 class="title" align="center">Kukai</h1>
            <p class="sub-heading" align="center">on a path of self-discovery</p>
        </div>

        <br>

        <ul class="list-unstyled components top">
            <li class="active">
                <a routerLink="/" align="center">Wallet</a>
            </li>
            <li>
                <a routerLink="/activity" align="center">Activity</a>
            </li>
            <li>
                <a routerLink="/" align="center">Backup</a>
            </li>
        </ul>


        <ul class="list-unstyled components bottom-CTAs" align="center">
            <li class="bottom-category">
                <a routerLink="/" align="center">Settings</a>
            </li>
            <li class="bottom-category">
                <a routerLink="/" align="center">Logout</a>
            </li>
            <i class="fa fa-github"></i>
            <i class="fa fa-comments"></i>
            <i class="fa fa-twitter"></i>
        </ul>

        <!--
        <ul class="list-unstyled CTAs">
            <li><a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a></li>
            <li><a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a></li>
        </ul>
        -->
        <!--
        <ul class="list-unstyled bottom-CTAs" align="center">
            <i class="fa fa-github"></i>
            <i class="fa fa-comments"></i>
            <i class="fa fa-twitter"></i>
        </ul>
        -->
    </nav>

    <!-- Page Content Holder -->
    <div id="content">

        <!-- Top Navigation Bar
        <nav class="navbar navbar-default">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                        <i class="glyphicon glyphicon-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Page</a></li>
                        <li><a href="#">Page</a></li>
                        <li><a href="#">Page</a></li>
                        <li><a href="#">Page</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        -->
        
        <div class="center-content">
            <router-outlet></router-outlet>
            <!-- <app-new-wallet></app-new-wallet> -->
            <app-messages></app-messages>
        </div>
        <!--
        <h2>Collapsible Sidebar Using Bootstrap 3</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <div class="line"></div>

        <h2>Lorem Ipsum Dolor</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <div class="line"></div>

        <h3>Lorem Ipsum Dolor</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        -->
    </div>
</div>
<!--
    <app-new-wallet></app-new-wallet>
-->