
<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h1 class="title" align="center">Kukai</h1>
            <p class="sub-heading" align="center">on a path of self-discovery</p>
        </div>

        <br>

        <ul class="list-unstyled components top">
            <li routerLinkActive="active">
                <a routerLink="/accounts" align="center">Overview</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/account" align="center">Account</a>
            </li>
            <!--
            <li routerLinkActive="active">
                <a routerLink="/send" align="center">Send</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/receive" align="center">Receive</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/delegate" align="center">Delegate</a>
            </li>-->
        </ul>


        <ul class="list-unstyled components bottom-CTAs" align="center">
            <li routerLinkActive="active" class="bottom-category">
                <a routerLink="/settings" align="center">Settings</a>
            </li>
            <li routerLinkActive="active">
                    <a routerLink="/backup" align="center">Backup</a>
            </li>
            <li class="bottom-category">
                <a (click)="logout();" align="center" data-toggle="tooltip" title="Clear wallet data">Logout</a>
            </li>
            <a href="https://github.com/tezwallet/wallet" target="_blank"><i class="fa fa-github"></i></a>
            <a href="https://riot.im/app/#/room/!fAygufidcqAVLeKCYU:matrix.org" target="_blank"><i class="fa fa-comments"></i></a>
            <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
        </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content">
        
        <div class="center-content">
            <router-outlet></router-outlet>
            <app-messages></app-messages>
        </div>
    </div>
</div>