/*
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
*/
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}
.testnet {
    color: rgb(230, 0, 0);
    font-weight: bold;
}

.mainnet {
    color: rgb(0, 110, 9);
    font-weight: bold;
}


.white {
    color: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
    cursor:pointer;
}

//Sidebar buttons are centered in FF and Chrome, align="center" not working in FF
.btn-main-action {
    display: flex !important;
    justify-content: center !important;
    text-align: center;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    TOPBAR STYLE
----------------------------------------------------- */
.dropdown-padding {
    padding-top: 5px;
    padding-bottom: 5px;
}

.bars-margin-top {
    font-size: 1.5rem;
    margin-top: 4px !important;
    color: #fff;
}

.row-mobile {
    //background-color: #191919 ;  // Only when sidebar is collapse

    //fallback for old browsers
    background: #191919;
    //Chrome 10-25, Safari 5.1-6
    background: -webkit-linear-gradient(90deg,#e1a205 20%, #191919);
    //W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari
    background: linear-gradient(90deg,#e1a205 20%, #191919);
}
.topmenu {
    width: 100%;
    height: 5vh;
}

.topbar-btn {
    display: flex;
    align-items: center;
    // justify-content: flex-end;  // btn are pushed to far-right
}

.language-btn {
    padding-right: 1.5em;
    min-width: 90px;
}

.topbar-links {
    // padding-right: 1.5em;
}

#topbar .topbar-links {
    color: #fff;
    font-size: 0.9em;
    // margin-left: 0.2rem;
}

#topbar .topbar-links a:hover {
    font-weight: bold;
}

#topbar .topbar-links .btn-topbar-alphanet a:hover {
    color: rgb(255, 238, 0);
}

#topbar .topbar-links .btn-topbar-mainnet a:hover {
    color: rgb(88,160,94);
}

#topbar .btn-topbar {
    min-width: 90px;
    text-align: center;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
    min-height: 95vh;
    width: 100%;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #191919; /*#7386D5;*/
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #e1a205;
}

#sidebar .title {
    font-size: 4em;
}

#sidebar .sub-heading {
    margin-top:0.5rem;
    margin-bottom:0rem;
    
    font-size: 0.9em;
    color: #000 !important;
    margin-bottom: 0px;
}

#sidebar ul.components {
    /*padding: 20px 0;*/
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 7x;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.5em;
    display: block;
}
#sidebar ul li a:hover {
    color: #fff;
    background: #FAB915;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #FAB915;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}


/*---------------------------------------------------
    SIDEBAR FOOTER STYLE
----------------------------------------------------- */

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

.bottom-category {
    font-size: 1.1em;
}

.bottom-CTAs {
    padding-top: 9vh !important; // 22vh !important;  //This needs to change - creates vertical scroll bar
}
.donation {
    font-size: 0.8em;
    text-align: center;
    //padding-left: 10px;
    //margin: 0 0 0 0;

    //Center
    //display: flex !important;
    //justify-content: center !important;
}

.donation-address {
    padding-left: 10px;
    font-size: 0.94em;
}

.donation:hover {
    color: rgb(255, 0, 64) !important;
}

.bottom-CTAs .fa {
    font-size: 2em;
    left: 40px;
    padding: 15px;
    color: white;
}

.fa-github:hover {
    color: #FAB915 !important;
}

.fa-comments:hover {
	color: #77CFA7 !important;
}

.fa-twitter:hover {
	color: #1DA1F3 !important;
}
.fa-gratipay {
    font-size: 16px !important;
    color: rgb(187, 91, 115) !important;
    padding: 5px !important;
    padding-left: 15px !important;
}


