<app-header
  [navbarBrandRouterLink]="['/']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brush_logo.jpg', width: 120, height: 50, alt: 'Kukai Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brush_logo.jpg', width: 60, height: 30, alt: 'Kukai Logo'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="false"
  [mobileAsideMenuToggler]="false">
  <ul class="nav navbar-nav ml-auto">
    <!-- Language Button -->
    <li class="btn-group dropdown-padding language-btn" dropdown>
      <button id="button-language" dropdownToggle type="button" class="btn btn-light dropdown-toggle btn-sm" aria-controls="dropdown-basic">
        {{ returnLanguage (translate.currentLang) }} <span class="caret"></span>
      </button>

      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-language">
        <li role="menuitem" *ngFor="let lang of translate.getLangs()" [value]="lang" (click)="setLanguage(lang)"> 
          <span class="dropdown-item"> {{ returnLanguage (lang) }} </span>
        </li>
      </ul>
    </li>
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <img src="assets/img/default-profile-pic.png" class="img-avatar" alt="Default Profile Pic"/>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <a *ngIf="this.walletService.wallet" (click)="logout();" class="dropdown-item" [title]="'HOMEPAGECOMPONENT.CLEARDATA' | translate"><i class="fa fa-lock"></i>{{ 'HOMEPAGECOMPONENT.LOGOUT' | translate }}</a>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized" (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized" ng-change="translateNavItems()"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <div class="container-fluid">
        <router-outlet></router-outlet>
        <app-messages></app-messages>
    </div>
  </main>
</div>
