@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "../themes/abstracts/variables" as t;
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import "../assets/fonts/Roboto/Flex.css";

%noselection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

%base-button {
  outline: none;
  border: v.$border-width solid v.$button-border-color;
  border-radius: v.$border-radius-hard;
  background-color: v.$button-background-color;
  color: v.$button-color;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  cursor: pointer;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  @extend %noselection;

  img {
    height: 1rem;
  }
}

%base-button-selected {
  font-weight: 600 !important;
  color: v.$base-blue-color-lightened;
  border-color: v.$base-blue-color-lightened !important;
}

%flex {
  display: flex;
}

%row {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

%column {
  flex-direction: column;
}

%wrap {
  flex-wrap: wrap;
}

%nowrap {
  flex-wrap: nowrap;
}

%grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

* {
  scrollbar-width: thin;
  scrollbar-color: v.$color-lightened-3;
  font-family: "Roboto", serif;
  -webkit-tap-highlight-color: #fff0 !important;
}

body * {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

*::-webkit-scrollbar {
  width: 0.5rem;
}

*::-webkit-scrollbar-track {
  background: v.$color-lightened-6;
  margin: 1.5rem 0;
  border-radius: v.$border-radius;
}

*::-webkit-scrollbar-thumb {
  background-color: v.$color-lightened-3;
  border-radius: v.$border-radius;
  border: v.$border-width solid v.$color-lightened-3;
}

*::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  appearance: none;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: none;
}

@include t.themes;

html,
body {
  background-color: v.$base-background-color;
  overflow: scroll;
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

form {
  width: 100%;
  display: contents;
}

input {
  text-align: left;
  height: 4.5rem;
  padding: 1px 1px 1px 2em;
  box-sizing: border-box;
  border-radius: v.$border-radius-hard;
  background-color: $base-end-color;
  &:focus {
    border-color: v.$base-blue-color !important;
  }
  &:disabled {
    filter: opacity(0.85);
  }
  &::placeholder {
    color: $base-font-color;
  }
  &:autofill, &:autofill:hover, &:autofill:focus {
    box-shadow: 0 0 0 1000px $base-end-color inset !important;
    color: $base-font-color !important;
    -webkit-text-fill-color: $base-font-color !important;
    background-clip: content-box !important;
    padding: 1px 1px 1px 2em !important;
    -webkit-appearance: none !important;
  }
}

form {
  width: 100%;
  display: contents;
}

h1 {
  font-weight: 500;
}

textarea {
  border: v.$border-width solid v.$border-color;
  border-radius: v.$border-radius;
  background-color: v.$base-end-color;
}

br {
  height: 0;
  margin: 0.625rem 0;
}

.noselection {
  @extend %noselection;
}

.button {
  cursor: pointer;
  &.selected {
    @extend %base-button-selected;
  }
}

button {
  @extend %base-button;
  &.selected {
    @extend %base-button-selected;
  }
  &:hover {
    filter: saturate(1.5);
  }
}

.block {
  display: block;
}

.inline {
  display: inline-block;
}

.flex {
  @extend %flex;

  &-row {
    @extend %flex;
    @extend %row;

    &-wrap {
      @extend %flex;
      @extend %row;
      @extend %wrap;
    }
  }

  &-column {
    @extend %flex;
    @extend %column;

    &-wrap {
      @extend %flex;
      @extend %column;
      @extend %wrap;
    }
  }
}

.grid {
  @extend %grid;
}

#cbpay-embedded-onramp {
  z-index: 1000;
}

@media (max-width: 575px) {
  #cbpay-embedded-onramp {
    top: 45px;
    height: calc(100% - 45px);
  }
}

@media (max-width: v.$font-break-0) {
  html {
    font-size: 100%;
  }
}

@media (max-width: v.$font-break-1) {
  html {
    font-size: 90%;
  }
}

@media (max-width: v.$font-break-2) {
  html {
    font-size: 80%;
  }
}

@media (max-width: v.$font-break-3) {
  html {
    font-size: 70%;
  }
}

@media (max-width: v.$font-break-4) {
  html {
    font-size: 60%;
  }
}

@media (max-width: v.$font-break-5) {
  html {
    font-size: 50%;
  }
}