<div class="container" *ngIf="this.walletService.wallet">
    <!-- Title -->
    <div class="row bottom-separator">
        <div class="col-lg-12">
            <h1 class="page-header">Bakery</h1>
        </div>
    </div>

    <!-- Subheading -->
    <div class="row">
        <div class="col-lg-12">
            <h4>
                <p>In the bakery, you can easily set different delegates for your accounts.</p>
                <p *ngIf="!walletService.wallet.accounts[1]">Please note that you can't bake with your identity. You need to create new accounts.</p>
            </h4>
        </div>
    </div>
    <br>

    <span *ngIf="walletService.wallet.accounts[1]">

        <!-- Accounts -->
        <div class="row row-header">
            <div class="col-sm-auto col-header col-border border border-warning min-size-address-cell">
                Accounts
            </div>
            <div class="col-sm-auto col-header col-border border border-warning min-size-other-cell">
                Balance (ꜩ)
            </div>

            <div class="col-sm-auto col-header col-border border border-warning min-size-other-cell">
                Baking
            </div>

            <div class="col-sm-auto col-header col-border border border-warning min-size-address-cell">
                Delegated to
            </div>
        </div>

        <div class="row" *ngFor="let account of accounts | slice:1">
            <div class="col-sm-auto col-border border border-warning text-truncate min-size-address-cell">
                {{ account.pkh }}
            </div>
            <div class="col-sm-auto col-border border border-warning text-truncate min-size-other-cell">
                {{ account.balance.balanceXTZ / 1000000 | number:'1.00' }} ꜩ
            </div>
            <div class="col-sm-auto col-border border border-warning text-truncate min-size-other-cell">
                <span *ngIf="account.delegate">Yes</span>
                <span *ngIf="!account.delegate">No</span>
            </div>
            <div class="col-sm-auto col-border border border-warning text-truncate min-size-address-cell">
                <span *ngIf="!account.showDelegateInput">{{ account.alias }}</span>
                <span *ngIf="account.showDelegateInput">
                    <div class="form-group no-margin">
                        <select [(ngModel)]="delegateInput"  id="setDelegate" class="form-control" (ngModelChange)="showPassword(account)">
                            <option *ngFor="let delegate of delegateList" [value]="delegate.pkh">{{ delegate.alias }}</option>
                        </select>
                    </div>
                </span>
            </div>
            <div class="col-sm-auto col-border">
                <button type="button" class="btn btn-sm btn-clear btn-second" (click)='delegateAccount(account)'>Delegate</button>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-lg-12"> 
                <span *ngIf='showPasswordInput'>
                    <!--
                    <div class="form-group">
                        <input [(ngModel)]="password" type="Password" id="pwd" class="form-control">
                    </div>
                    -->
                    <form class="form-inline">
                        <div class="form-group mx-sm-3 mb-2">
                            <label for="inputFee" class="sr-only">Fee</label>
                            <input type="text" class="form-control" id="inputFee" [(ngModel)]="fee" placeholder="Fee" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            <label for="inputPassword" class="sr-only">Password</label>
                            <input type="password" class="form-control" id="inputPassword" [(ngModel)]="password" placeholder="Password" [ngModelOptions]="{standalone: true}">
                        </div>
                        <button type="submit" class="btn btn-primary mb-2" (click)='setDelegate()'>Confirm Delegate</button>
                    </form>
                </span>
            </div>
        </div>


        <br><br>

        <div class="row">
            <div class="col-lg-12">
                <button type="button" class="btn btn-link" *ngIf="!isSettingActive" (click)='toggleSettings()'>Bakery Settings</button>
                <button type="button" class="btn btn-success" *ngIf="isSettingActive" (click)='toggleSettings()'>Bakery Settings</button>
                <button type="button" class="btn btn-clear btn-second margin-left" *ngIf="isSettingActive" (click)='addDelegate()'>Add Delegate</button>
                <small class="text-danger margin-left" *ngIf="isSettingActive&&isDelegateInputIncorrect.all">
                    Both Delegate and Address fields need to be filled up correctly. Note that Address field should start with 'TZ1...'
                </small>
            </div>
        </div>

        <br>

        <span *ngIf="isSettingActive">

            <div class="row">
                <div class="col-sm-8">
                    <form>
                        <div class="form-group row">
                            <label for="inputName" class="col-sm-2 col-form-label">Delegate</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputName" placeholder="Name" [(ngModel)]="delegate.alias" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPkh" class="col-sm-2 col-form-label">Address</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputPkh" placeholder="Address" [(ngModel)]="delegate.pkh" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputInfo" class="col-sm-2 col-form-label">More info (optional)</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputInfo" placeholder="http:// full link or comments" [(ngModel)]="delegate.link" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <span *ngIf="delegateList[1]">
                <div class="row row-header">
                    <div class="col-sm-auto col-header col-border border border-warning min-size-other-cell">
                        Delegate Name
                    </div>
                    <div class="col-sm-auto col-header col-border border border-warning min-size-address-cell">
                        Address
                    </div>
                    <div class="col-sm-auto col-header col-border border border-warning min-size-address-cell">
                        More info
                    </div>
                </div>
                <div class="row" *ngFor="let delegate of delegateList | slice:1; let i = index">
                    <div class="col-sm-auto col-border border border-warning text-truncate min-size-other-cell">
                        {{ delegate.alias }}
                    </div>
                    <div class="col-sm-auto col-border border border-warning text-truncate min-size-address-cell">
                        {{ delegate.pkh }}
                    </div>
                    <div class="col-sm-auto col-border border border-warning text-truncate min-size-address-cell">
                        <a [href]="delegate.link" target="_blank" *ngIf="delegate.link.slice(0, 5) === 'http:'">{{ delegate.link }}</a>
                        <span *ngIf="!(delegate.link.slice(0, 5) === 'http:')">{{ delegate.link }}</span>
                    </div>
                    <div class="col-sm-auto col-border">
                        <button type="button" class="btn btn-sm btn-clear btn-second" (click)="deleteDelegate(i)">Delete</button>
                    </div>
                </div>
            </span> <!-- Shown if there is a delegate -->

        </span> <!-- Shown if setting is active -->

    </span>  <!-- Shown if identity has an account -->

</div>

<!-- Default message - No account created -->
<div class="container" *ngIf="!this.walletService.wallet">
    <!-- Title -->
    <div class="row bottom-separator-no-account">
        <div class="col-lg-12">
            <h1 class="page-header-no-account">Bakery</h1>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <p>If you want to set delegates for your tezzies, you will need to <a routerLink="">create or import</a> a wallet.</p>
        </div>
    </div>
</div>