.mono {
    font-family: "Courier New", Courier, monospace;  
}
.page-header {
    margin: 40px 0px 10px 0px; //top right bottom left
}

.bottom-separator {
    padding-bottom: 27px;
    border-bottom: 1px solid #eee; //Alignment  with sidebar
    margin-bottom: 0.5rem; //space between border and next content
}

.page-header-no-account {
    margin: 40px 0px 10px 0px; //top right bottom left
}

.bottom-separator-no-account {
    padding-bottom: 27px;
    border-bottom: 1px solid #eee; //Alignment  with sidebar
    margin-bottom: 0.5rem; //space between border and next content
}

h4 {
    font-weight: 400;
}

//btn-second
.btn-second {
    min-width: 96px;
    color: #333333;
}

.btn-second:hover {
    background-color: #cccccc;
}

.btn-second:active {
    background-color: #b3b3b3;
}

//Accounts table
.row-header {
    font-weight: bold;
}

.col-header {
    background-color: #fde19b;
}

.row-buttons {
    padding-top: 5px;
}

.col-border {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

.min-size-address-cell {
    min-width: 380px;  // 388px;
}

.min-size-other-cell {
    min-width: 180px;  // 188px;
}

.margin-left {
    margin-left: 1rem;
}

.no-margin {
    margin-bottom: 0rem //default at 1rem
}

table { 
    width : 100%; 
    table-layout: fixed; 
}
