<div class="container" *ngIf="this.walletService.wallet">
    <!-- Title -->
    <div class="row bottom-separator">
        <div class="col-lg-12">
            <h1 class="page-header">{{ 'BAKERYCOMPONENT.TITLE' | translate }}</h1>
        </div>
    </div>

    <!-- Subheading -->
    <div class="row">
        <div class="col-lg-12">
            <h4>
                <p>{{ 'BAKERYCOMPONENT.HEADING' | translate }}</p>
            </h4>
        </div>
    </div>
    <br>
    <span>

        <!-- Accounts -->
        <div class="row row-header">
            <div class="col-sm-auto col-header col-border border border-warning min-size-address-cell">
                {{ 'BAKERYCOMPONENT.ACCOUNTS' | translate }}
            </div>
            <div class="col-sm-auto col-header col-border border border-warning min-size-other-cell">
                {{ 'BAKERYCOMPONENT.BALANCE' | translate }} (&#42793;)
            </div>
            <div class="col-sm-auto col-header col-border border border-warning min-size-address-cell">
                {{ 'BAKERYCOMPONENT.DELEGATEDTO' | translate }}
            </div>
        </div>
        <div class="row" *ngFor="let account of walletService.wallet.accounts">
            <div class="col-sm-auto col-border border border-warning text-truncate min-size-address-cell mono">
                {{ account.pkh }}
            </div>
            <div class="col-sm-auto col-border border border-warning text-truncate min-size-other-cell">
                {{ account.balance.balanceXTZ / 1000000 | number:'1.00' }} &#42793;
            </div>
            <div class="col-sm-auto col-border border border-warning text-truncate min-size-address-cell mono">
                <span *ngIf="account.delegate">{{ account.delegate | delegatorName }}</span>
            </div>
            <div class="col-sm-auto col-border" *ngIf="!this.walletService.isObserverWallet()">
                <app-delegate [activePkh]="account.pkh"></app-delegate>
            </div>
        </div>
    </span>
</div>

<!-- Default message - No account created -->
<div class="container" *ngIf="!this.walletService.wallet">
    <div class="row bottom-separator-no-account">
        <div class="col-lg-12">
            <h1 class="page-header-no-account">{{ 'BAKERYCOMPONENT.TITLE' | translate }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <!--
            <p>If you want to set delegates for your tez, you will need to
                <a routerLink="">create or import</a> a wallet.
            </p>
            -->
            <p>
                {{ 'BAKERYCOMPONENT.EMPTY' | translate }}
            </p>
        </div>
    </div>
</div>