<div class="container pt-5" *ngIf="this.walletService.wallet">
    <div class="animated fadeIn">
      <div class="row">
        <div class="col-lg-12">
          <div class="card bg-gray-700 text-white">
            <div class="card-header bg-dark">
              <i class="fa fa-align-justify"></i> {{ 'BAKERYCOMPONENT.TITLE' | translate }}
              <div class="row pl-3 pt-2">
                {{ 'BAKERYCOMPONENT.HEADING' | translate }}
              </div>
            </div>
            <div class="card-body">
              <table class="table text-white">
                <thead>
                  <tr>
                    <th colspan="2">{{ 'BAKERYCOMPONENT.ACCOUNTS' | translate }}</th>
                    <th colspan="1">{{ 'BAKERYCOMPONENT.BALANCE' | translate }} (&#42793;)</th>
                    <th colspan="2">{{ 'BAKERYCOMPONENT.DELEGATEDTO' | translate }}</th>
                    <th colspan="2">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let account of walletService.wallet.accounts">
                    <tr>
                      <td colspan="2">{{ account.pkh }}</td>
                      <td colspan="1">{{ account.balance.balanceXTZ / 1000000 | number:'1.00' }} &#42793;</td>
                      <td colspan="2">{{ account.delegate | delegatorName }}</td>
                      <td colspan="2">
                        <div class="row">
                        <div class="col-sm-6 col-border" *ngIf="!this.walletService.isObserverWallet()">
                          <app-delegate [activePkh]="account.pkh"></app-delegate>
                        </div>
                        <div class="col-sm-6 col-border" *ngIf="!this.walletService.isObserverWallet()">
                          <a href="{{ 'https://baking-bad.org/' + account.pkh }}" target="_blank"><button class="btn btn-sm btn-block btn-primary">Audit</button></a>
                        </div>
                      </div>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Default message - No account created -->
<div class="container" *ngIf="!this.walletService.wallet">
    <div class="row bottom-separator-no-account">
        <div class="col-lg-12">
            <h1 class="page-header-no-account">{{ 'BAKERYCOMPONENT.TITLE' | translate }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <!--
            <p>If you want to set delegates for your tez, you will need to
                <a routerLink="">create or import</a> a wallet.
            </p>
            -->
            <p>
                {{ 'BAKERYCOMPONENT.EMPTY' | translate }}
            </p>
        </div>
    </div>
</div>