@use '../../../abstracts/variables' as v;
@use '../../../abstracts/mixins' as m;

:host {

  span {
    font-style: normal;
    font-weight: 400;
    @include m.multiply('font-size',1.5);
    color: inherit;
  }

  button {
    width: auto;
    height: auto;
    margin-left: 1rem;

    &.close>span {
      @include m.multiply('font-size',2.5);
      font-weight: bold;
    }
  }

  img.loader {
    width: 1.25rem;
    height: 1.25rem;
    margin: 0rem 0rem 0rem 0.5rem;
    padding: 1rem 0.5rem;
  }

  &.alert {
    position: relative;
    padding: 0.5rem 1.25rem 0.5rem 1.75rem;
    min-height: 3rem;
    border: 1px solid transparent;
    border-radius: v.$border-radius;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 0 0;

    & .close {
      width: 1rem;
      height: 1rem;
      margin: 0.5rem 0rem 0.5rem 1rem;
      padding: 0.5rem;
      border-radius: v.$border-radius-hardest;
      fill: v.$base-font-color;
      background-color: v.$base-end-color;
    }
  }

  &.alert-info {
    color: v.$base-font-color;
    background-color: #e2e4ff;
    border-color: #e2e4ff;
  }


  &.alert-heading {
    color: inherit
  }

  &.alert-link {
    font-weight: 700
  }

  &.alert-dismissible {
    padding-right: 4rem
  } 

  &.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: .75rem 1.25rem;
    color: inherit
  }

  &.alert-primary {
    color: v.$base-font-color;
    background-color: #e2e4ff;
    border-color: #e2e4ff
  }

  &.alert-primary hr {
    border-top-color: #e2e4ff
  }

  &.alert-primary &.alert-link {
    color: v.$base-font-color
  }

  &.alert-secondary {
    color: v.$base-font-color;
    background-color: #e2e4ff;
    border-color: #e2e4ff
  }

  &.alert-secondary hr {
    border-top-color: #e2e4ff
  }

  &.alert-secondary &.alert-link {
    color: v.$base-font-color
  }

  &.alert-success {
    color: v.$base-font-color;
    background-color: #e2e4ff;
    border-color: #e2e4ff;
    & .close {
      fill: #e2e4ff;
    }
  }

  &.alert-success hr {
    border-top-color: #e2e4ff;
  }

  &.alert-success &.alert-link {
    color: v.$base-font-color
  }

  &.alert-info hr {
    border-top-color: #e2e4ff
  }

  &.alert-info &.alert-link {
    color: v.$base-font-color
  }

  &.alert-warning {
    color: v.$base-end-color;
    background-color: v.$base-red-color;
    border-color: v.$base-red-color;

    & .close {
      fill: v.$base-red-color;
    }
  }

  &.alert-warning hr {
    border-top-color: v.$base-red-color
  }

  &.alert-warning &.alert-link {
    color: v.$base-end-color
  }

  &.alert-danger {
    color: v.$base-end-color;
    background-color: v.$base-red-color;
    border-color: v.$base-red-color;
    flex-flow: row;

    & .close {
      fill: v.$base-red-color;
    }
  }

  &.alert-danger hr {
    border-top-color: v.$base-red-color
  }

  &.alert-danger &.alert-link {
    color: v.$base-end-color;
  }

  &.alert-light {
    color: v.$base-font-color;
    background-color: #e2e4ff;
    border-color: #e2e4ff;
  }

  &.alert-light hr {
    border-top-color: #e2e4ff;
  }

  &.alert-light &.alert-link {
    color: v.$base-font-color-secondary;
  }

  &.alert-dark {
    color: v.$base-font-color;
    background-color: #e2e4ff;
    border-color: #e2e4ff;

    & .close {
      fill: #e2e4ff;
    }
  }

  &.alert-dark hr {
    border-top-color: #e2e4ff;
  }

  &.alert-dark .alert-link {
    color: v.$base-font-color;
  }
}