<div class="main-container">
  <div class="flex-row top-container-balances">
    <h1>Balances</h1>
    <div class="flex-row button right">
      <!-- <div class="icon-text">FUND YOUR ACCOUNT</div><img class="icon-grey" src="../../../assets/img/add.svg" /> -->
    </div>
  </div>
  <div class="scroll-wrapper">
    <div class="flex-column balances">
      <app-balance-token [account]="account" [token]="tokenTezos"></app-balance-token>
      <ng-container *ngFor="let tokenBalance of this.tokenBalancesService.balances; trackBy: trackToken">
        <app-balance-token [account]="account" [token]="tokenBalance"></app-balance-token>
      </ng-container>
    </div>
  </div>
</div>