<div class="main-container">
  <div class="flex-row top-container-balances">
    <h1>Balances</h1>
    <div class="flex-row button right">
      <!-- <div class="icon-text">FUND YOUR ACCOUNT</div><img class="icon-grey" src="../../../assets/img/add.svg" /> -->
    </div>
  </div>
  <div class="scroll-wrapper">
    <div class="flex-column balances">
      <div class="flex-row balance">
        <div class="flex-row left">
          <img class="icon" src="../../../../assets/img/tezos-xtz-logo.svg" />
          <div class="flex-row title">Tezos</div>
          <div class="flex-column prices">
            <div *ngIf="account" class="price">{{this.account?.balanceXTZ / 1000000 | number: "1.0-6"}}</div>
            <div class="price-usd">{{'$' + (this.account?.balanceUSD || '0.00') }}</div>
          </div>
        </div>
        <div class="flex-row right">
          <app-send-button [activeAccount]="account" symbol="tez"></app-send-button>
        </div>
      </div>
      <ng-container *ngFor="let tokenBalance of this.tokenBalancesService.balances; trackBy: trackToken">
        <div class="flex-row balance">
          <div class="flex-row left">
            <img class="icon" [src]="tokenBalance?.thumbnailUrl || tokenBalance?.displayUrl || ''" />
            <div class="flex-row title">{{tokenBalance?.symbol}}</div>
            <div class="flex-column prices">
              <div class="price">{{tokenBalance?.balance}}</div>
              <div class="price-usd">{{'$' + (tokenBalance?.priceUSD || '0.00') }}</div>
            </div>
          </div>
          <div class="flex-row right">
            <app-send-button [activeAccount]="account" [tokenTransfer]="tokenBalance?.contractAddress + ':' + tokenBalance?.id" [symbol]="tokenBalance?.symbol"></app-send-button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>