<div class="spinner-wrapper">
  <div class="container">
      <div class="row">
          <div id="loader">
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="loading">{{ messageService.spinnerText }}</div>
          </div>
      </div>
  </div>
</div>