.mono {
    font-family: "Courier New", Courier, monospace;  
}
.balance {
    text-shadow: 0.2px 0.2px #000000;
}
.btn-op {
    width: 120px;
    //margin-right: 5px;
    border-radius: 0rem;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
}

.padding-top-row {
    padding-top: 0.8rem !important; //default at 5px;
}

.page-header {
    margin: 40px 0px 10px 0px; //top right bottom left
}

.bottom-separator {
    //padding-top: 10px;
    padding-bottom: 27px;
    border-bottom: 1px solid #eee; //Alignment  with sidebar
    margin-bottom: 0.5rem; //space between border and next content
}

.page-header-no-account {
    margin: 40px 0px 10px 0px; //top right bottom left
}

.bottom-separator-no-account {
    padding-bottom: 27px;
    border-bottom: 1px solid #eee; //Alignment  with sidebar
    margin-bottom: 0.5rem; //space between border and next content
}

.row-header {
    font-weight: bold;
}

.col-header {
    background-color: #fde19b;
}

.row-buttons {
    padding-top: 10px;
}

.col-border {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

.min-size-address-cell {
    min-width: 392px;
}

.min-size-balance-cell {
    min-width: 209px;
}

.min-size-value-cell {
    min-width: 250px;
}

.min-size-other-cell {
    min-width: 188px;
}
.selectedPkh {
    background-color: #b3ffb3 !important;
}
.pkh-row:hover { //#e6ffe6
    background-color: #c8ced3;
    cursor: pointer !important;
}

/* Taking out underline link in router link (New Account btn) */
a.active-link {
    text-decoration: none;

    color: #fff !important; //Not working
    background-color: #09698D !important; //Not working
    border-color: #09698D !important; //Not working
 }

//For "New account" Button - Not working but working for dropdown-item (Send and Receive buttons)
a:hover {
    color: #fff !important;
    background-color: #09698D !important;
    border-color: #09698D !important;
    text-decoration: none !important;
}

td { 
    width: 50px; 
    overflow: hidden; 
}

table { 
    width : 100%; 
    table-layout: fixed; 
    color: white !important;
}


.overview-card {
  height: 160px;
}

/* Responsive breakpoints */
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    .container {
        padding-left: 2em;
        min-width: 0vw
    }
 }

// Medium devices (tablets, 768px and up)
//@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .container {
        min-width: 0vw
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .container {
        padding-left: 2em;
        min-width: 0vw
    } 
}
