
<div class="container">
        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Your Wallet</h1>
            </div>
        </div>

        <!-- Identity -->
        <div class="row row-header">
            <div class="col-sm-auto col-header col-border border border-warning min-size-address-cell">
                Identity
            </div>
            <div class="col-sm-auto col-header col-border border border-warning min-size-other-cell">
                Balance (ꜩ)
            </div>

            <div class="col-sm-auto col-header col-border border border-warning min-size-other-cell">
                Value (USD)
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-auto col-border border border-warning text-truncate min-size-address-cell">
                {{ walletService.wallet.accounts[0].pkh }}
            </div>
            <div class="col-sm-auto col-border border border-warning text-truncate min-size-other-cell">
                {{ walletService.wallet.accounts[0].balance.balanceXTZ / 100 | number:'1.00' }} ꜩ
            </div>
            <div class="col-sm-auto col-border border border-warning text-truncate min-size-other-cell">
                USD {{ walletService.wallet.accounts[0].balance.balanceXTZ * XTZrate / 100 | number:'1.00' }}
            </div>
        </div>

        <!-- Identity Action buttons -->
        <div class="row row-buttons">
            <div class="col-12"> 
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-outline-primary"><app-new-account></app-new-account></button>
                    <button type="button" class="btn btn-outline-primary">Details</button>
                    <app-send [activePkh]="walletService.wallet.accounts[0].pkh"></app-send>
                    <!--<button type="button" class="btn btn-outline-primary" (click)="openSend(walletService.wallet.accounts[0].pkh)">Send</button>-->
                </div>
                <a onclick="return false;" href (click)='freeTezzies(identity.pkh)'>Free tezzies</a>
            </div>
        </div>

        <br><br>

        <!-- Accounts + Total sections shown only if there are accounts -->
        <span *ngIf="walletService.wallet.accounts[1]">

            <!-- Accounts -->
            <div class="row row-header">
                <div class="col-sm-5 col-border">
                    Accounts
                </div>
                <div class="col-sm-3 col-border">
                    Balance (ꜩ)
                </div>

                <div class="col-sm-4 col-border">
                    Value (USD)
                </div>
            </div>

            <div class="row" *ngFor="let account of walletService.wallet.accounts | slice:1">
                <div class="col-sm-5 col-border text-truncate">
                    {{ account.pkh }}
                </div>
                <div class="col-sm-3 col-border text-truncate">
                    {{ account.balance.balanceXTZ / 100 | number:'1.00' }} ꜩ
                </div>
                <div class="col-sm-4 col-border text-truncate">
                    USD {{ account.balance.balanceXTZ * XTZrate / 100 | number:'1.00' }}
                </div>
            </div>

            <!-- Accounts Action buttons -->
            <div class="row row-buttons">
                <div class="col-12"> 
                    <div class="btn-group btn-group-sm">
                        <div class="btn-group btn-group-sm" dropdown>
                        <!-- <div class="btn-group btn-group-sm" dropdown triggers="hover">  Remains active after mouseover -->

                            <button dropdownToggle type="button" class="btn btn-outline-primary dropdown-toggle">
                                Send <span class="caret"></span>
                            </button>
                            <ul *dropdownMenu class="dropdown-menu" role="menu">
                                <li role="menuitem"><a class="dropdown-item" href="#" *ngFor="let account of walletService.wallet.accounts | slice:1" (click)="openSend(account.pkh)">{{ account.pkh }}</a></li>
                            </ul>
                        </div>
                        <div class="btn-group btn-group-sm" dropdown>
                            <button dropdownToggle type="button" class="btn btn-outline-primary dropdown-toggle">
                                Receive <span class="caret"></span>
                            </button>
                            <ul *dropdownMenu class="dropdown-menu" role="menu">
                                <li role="menuitem"><a class="dropdown-item" href="#" *ngFor="let account of walletService.wallet.accounts | slice:1" (click)="openReceive(account.pkh)">{{ account.pkh }}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
        
            <!-- Total - Last row -->
            <div class="row row-header">
                <div class="col-sm-5">
                    Total
                </div>
                <div class="col-sm-3">
                    {{ walletService.wallet.balance.balanceXTZ / 100 | number:'1.0' }} ꜩ 
                </div>

                <div class="col-sm-4">
                    $ {{ walletService.wallet.balance.balanceXTZ * XTZrate / 100 | number:'1.0' }} USD 
                </div>
            </div>
        </span>
</div>

<!--
<div id="content">

    <div class="center-content">
        <div class="card text-center fix-size" *ngIf="identity">
        <div class="card-body">
            <h1 class="card-title">Overview</h1>
            <div class="card-text">
                    <table>
                        <tr *ngIf='identity'>
                            <td class='mono'></td>
                            <td></td>
                            <td><a onclick="return false;" href (click)='freeTezzies(identity.pkh)'>Free tezzies</a></td>
                        </tr>
                        
                        <tr  *ngFor="let account of walletService.wallet.accounts">
                            <td class='mono'>{{ account.pkh }}</td><td>{{ account.balance.balanceXTZ / 100 | number:'1.0' }} ꜩ</td><td></td>
                        </tr>
                        <tr>
                            <td *ngIf="walletService.wallet.accounts.length === 0" colspan="2"></td>
    
                            <ng-container *ngIf="walletService.wallet.accounts.length !== 0">
                                <td>Total:</td>
                                <td>{{ walletService.wallet.balance.balanceXTZ / 100 | number:'1.0' }} ꜩ</td>
                            </ng-container>
    
                            <td><app-new-account></app-new-account></td>
                        </tr>
                    </table>
                </div>
        </div>
        </div>
    </div>

</div>
-->
