a:hover {
    cursor:pointer;
   }
th, td {
    padding: 5px 15px;
}
.mono {
    font-family: "Courier New", Courier, monospace;
}
#content {
    display: flex; 
    min-height: 100vh;
    min-width: 85vw;
}
.center-content {
    margin: 10vh auto 0px auto;
}
.card-title {
    padding-bottom: 0.75rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.125);
}

.card-text{
    padding-top: 2rem;
}