<div id="content">
  <div class="center-content">
    <div class="card text-center fix-size" *ngIf="identity">
      <div class="card-body">
        <h1 class="card-title">Overview</h1>
        <div class="card-text">
          <table>
            <tr *ngIf='identity'><td class='mono'>{{ walletService.wallet.identity.pkh }}</td>
              <td>{{ walletService.wallet.identity.balance / 100 | number:'1.0' }}ꜩ</td><td><a onclick="return false;" href (click)='freeTezzies(identity.pkh)'>Free tezzies</a></td></tr>
            <tr  *ngFor="let account of walletService.wallet.accounts">
              <td class='mono'>{{ account.pkh }}</td><td>{{ account.balance / 100 | number:'1.0' }}ꜩ</td><td></td>
            </tr><tr>
              <td *ngIf="walletService.wallet.accounts.length === 0" colspan="2"></td>
              <ng-container *ngIf="walletService.wallet.accounts.length !== 0">
                <td>Total:</td><td>{{ walletService.wallet.balance / 100 | number:'1.0' }}ꜩ</td>
                </ng-container>
              <td><app-new-account></app-new-account></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
