.page-header {
    margin: 40px 0px 10px 0px; //top right bottom left

    //Vertical Alignment 
    //display: flex;
    //align-items: center; //flex-end; 
}

.bottom-separator {
    //padding-top: 10px;
    padding-bottom: 27px;
    border-bottom: 1px solid #eee; //Alignment  with sidebar
    margin-bottom: 0.5rem; //space between border and next content
}

.page-header-no-account {
    margin: 40px 0px 10px 0px; //top right bottom left
}

.bottom-separator-no-account {
    padding-bottom: 27px;
    border-bottom: 1px solid #eee; //Alignment  with sidebar
    margin-bottom: 0.5rem; //space between border and next content
}

.row-header {
    font-weight: bold;
}

.col-header {
    background-color: #fde19b;
}

.row-buttons {
    padding-top: 5px;
}

.col-border {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

.min-size-address-cell {
    min-width: 388px;
}

.min-size-other-cell {
    min-width: 188px;
}
.selectedPkh {
    background-color: #ccffcc;
}
.pkh-cell:hover {
    background-color: #ccffcc !important;
    cursor: pointer !important;
}

/* Taking out underline link in router link (New Account btn) */
a.active-link {
    text-decoration: none;

    color: #fff !important; //Not working
    background-color: #09698D !important; //Not working
    border-color: #09698D !important; //Not working
 }

//For "New account" Button - Not working but working for dropdown-item (Send and Receive buttons)
a:hover {
    color: #fff !important;
    background-color: #09698D !important;
    border-color: #09698D !important;
    text-decoration: none !important;
}


/* Responsive breakpoints */
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    .container {
        padding-left: 2em;
        min-width: 85vw
    }
 }

// Medium devices (tablets, 768px and up)
//@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    //.container {
    //    min-width: 70vw
    //} 
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .container {
        padding-left: 2em;
        min-width: 65vw
    } 
}

/* Commented code 
a:hover {
    cursor:pointer;
   }
th, td {
    padding: 5px 15px;
}
.mono {
    font-family: "Courier New", Courier, monospace;
}
#content {
    display: flex; 
    min-height: 100vh;
    min-width: 85vw;
}
.center-content {
    margin: 10vh auto 0px auto;
}
.card-title {
    padding-bottom: 0.75rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.125);
}

.card-text{
    padding-top: 2rem;
}
*/