@import "~@coreui/coreui/scss/coreui";
.page-header {
    margin: 40px 0px 10px 0px; //top right bottom left

}

.bottom-separator {
    //padding-top: 10px;
    padding-bottom: 27px;
    border-bottom: 1px solid #eee; //Alignment  with sidebar
    margin-bottom: 0.5rem; //space between border and next content
}

h4 {
    font-weight: 400;
}

//btn-second
.btn-second {
    min-width: 96px;
    color: #333333;
}

.btn-second:hover {
    background-color: #cccccc;
}

.btn-second:active {
    background-color: #b3b3b3;
}