<!--<div *ngIf="activePanel==0">
    <p></p>
</div>
<div *ngIf="activePanel==1">
   <p>This is your private seed. Please write it down and store somewhere safe.</p>
   <p><b>{{ data.seed }}</b></p>
   <button class="btn btn-primary" (click)="pwdView()">Next</button>
</div>
<div *ngIf="activePanel==2">
  <p>Encrypt your wallet<BR>
    <input type="password" [(ngModel)]="pwd1" placeholder="Password"><BR>
    <input type="password" [(ngModel)]="pwd2" placeholder="Confirm password"></p>
  <button class="btn btn-primary" (click)="encryptWallet()">Encrypt</button>
</div>
<div *ngIf="activePanel==3">
  <p>Encrypted wallet data:<BR>
  &#123;"encryptedMnemonic": "{{ data.seed }}", "salt": "{{ data.salt }}"&#125;</p>
  <a routerLink="/"><button class="btn btn-primary">Finish</button></a>
</div>-->


<div class="container">
    <!-- Title -->
    <div class="row bottom-separator">
        <div class="col-lg-12">
            <h1 class="page-header">Import Your Wallet</h1>
        </div>
    </div>

    <!-- Subheading -->
    <div class="row">
        <div class="col-lg-12">
            <h4>You can import your previous wallet through your seed or your encrypted file or you can create a new wallet and retrieve your funds from the genesis block with your ICO credentials</h4>
        </div>
    </div>
    <br>

        <!-- Import from File -->
        <div class="row">
            <div class="col-lg-12">
                <h3>1. Import wallet from File</h3>
            </div>
        </div>
        <form>
            <div class="form-group row">
                <div class="col-sm-8">
                    <label for="fileFormControl">Import your wallet from file (.tez). Both encrypted keystore files and view-only wallets can be imported here.</label>
                    <input type="file" (change)="handleFileInput($event.target.files)" accept=".tez" class="form-control-file btn btn-clear btn-second" id="fileFormControl">
                </div>
            </div>
        </form>
        <br>

    <!-- Retrieve ICO funds -->
    <div class="row">
        <div class="col-lg-12">
            <h3>2. Retrieve wallet from backup</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <a routerLink="/mnemonic-import/">Retrieve</a> wallet from your mnemonic words
        </div>
    </div>
    <BR>

        <!-- Retrieve PKH wallet -->
    <div class="row">
        <div class="col-lg-12">
            <h3>3. Observer wallet</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <input type="text" [(ngModel)]="pkh" placeholder="tz1..."/>
            <button (click)='importFromPkh()'>Import</button>
        </div>
    </div>
</div>
<!-- To delete --
<div>
    <p>Import your encrypted wallet here:</p>
    <textarea rows="8" cols=60 [(ngModel)]="encryptedWallet" placeholder=""></textarea>
    <BR>
</div>
<a routerLink="/"><button class="btn btn-clear btn-second pull-left">Back</button></a>
<a (click)='import()' routerLink="/"><button class="btn btn-clear btn-second pull-right">Load</button></a>
-->

