@import "~@coreui/coreui/scss/coreui";
:host {
    width: 100%;
    min-height: 100%;
    padding-bottom: 8rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.row {
    padding-bottom: 0.7vh;
    min-width: 175px; //20vw;
    margin-left: 0;
    margin-right: 0;
}
.btn-second {
    color: #333333;
}
.btn-top {
    width: 250px;
    min-width: 250px;
}
.btn-second:hover {
    background-color: #cccccc;
}
.btn-left {
    margin-right: 5px !important; 
}
/* Taking out underline link in router link */
a.active-link {
    text-decoration: none;
    min-width: 175px; //20vw;
 }
.btn-import:hover {
    text-decoration: none;
}

.ico-wallet-link {
    text-align: center
}

.start-card {
    height: 220px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
//Horizontal and Vertical Aligment of child div
#content {
    display: flex; 
    //height: calc(100vh - 20rem);
}
.center-content {
    margin: auto; 
}
a:hover {
    text-decoration: none;
}

//Different screens sizes
//List of devices: https://css-tricks.com/snippets/css/media-queries-for-standard-devices/
/*
@media (max-width: 575.98px) 
@media (max-width: 767.98px) - mobile phones
@media (max-width: 991.98px)
@media (max-width: 1199.98px)
*/
