<div id="content">
    <div class="center-content">
        <div class="row justify-content-between">
            <a routerLink="/import/" class="btn-import">
                <button type="button" class="btn btn-primary btn-lg btn-block btn-generate">{{ 'STARTCOMPONENT.IMPORTWALLET' | translate }}</button>
            </a>
            <a routerLink="/connect-ledger/">
                <button type="button" title="Connect Ledger" class="btn btn-primary btn-lg btn-block btn-generate btn-ledger"></button>
            </a>
        </div>
        <div class="row justify-content-between">
            <a routerLink="/new-wallet/">
                <button type="button" class="btn btn-clear btn-second">{{ 'STARTCOMPONENT.NEWWALLET' | translate }}</button>
            </a>
            <a routerLink="/activate/">
                <button type="button" class="btn btn-clear btn-second">{{ 'STARTCOMPONENT.ACTIVATE' | translate }}</button>
            </a>
        </div>
    </div>
</div>