:host {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-bottom: 8rem;
}
#wrapper {
  min-height: calc(100vh - 8rem);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1
}
#wrapper > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 8rem);
}
#wrapper > div > div.top-container {
  display: flex;
  height: 50%;
  width: auto;
  flex-grow: 0.75;
  width: 100%;
  align-items: space-between;
  justify-content: space-between;
}
#wrapper > div > div.top-container > div.logo-holder {
  display: flex;
  max-width: 32rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#wrapper > div > div.top-container > div.monk-holder {
  margin-top: 2.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#wrapper > div > div.top-container > div.logo-holder > object.logo {
  margin-left: -1.5rem;
  margin-top: -1rem;
  width: 28.125rem;
  height: 10rem;
}
#wrapper > div > div.top-container > div.monk-holder > object.monk {
  width: 18rem;
  height: 23rem;
}
/* Animation */
#wrapper > div > div.top-container > div.animationActive > object.monk {
  will-change: transform;
  animation: MoveUpDown 5s ease-in-out infinite;
}
#wrapper > div > div.top-container > div.animationActive > object.monk-shadow {
  will-change: transform;
  animation: MoveUpDown2 5s ease-in-out infinite;
}
@keyframes MoveUpDown {
  0%, 100% {
    will-change: transform;
    -webkit-transform: translateY(-1.5rem);
            transform: translateY(-1.5rem);
  }
  50% {
    will-change: transform;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes MoveUpDown2 {
  0%, 100% {
    will-change: transform;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    will-change: transform;
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
}
#wrapper > div > div.top-container > div.monk-holder > object.monk-shadow {
  margin-top: 2rem;
  width: 17.625rem;
  height: 5rem;
}
#wrapper > div > div.top-container > div.logo-holder > p {
  padding-top: 2.25rem;
  font-size: 1.25rem;
  line-height: 2rem;
}
/* Menu desktop */
#menu-container {
  //margin-top: 120px;
  display: flex;
  flex-grow: 0.25;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  height: 50%;
}
#menu-container a.menu-item {
  width: 18rem;
  cursor: pointer;
  text-decoration: none;
  margin: 1rem 2rem 0;
  transition: margin-top 0.1s ease-in, margin-bottom 0.1s ease-in;
}
#menu-container a.menu-item:hover {
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
}
#menu-container > a > div.icon {
  position: relative;
  height: 2.5rem;
  width: 2.5rem;
  margin-left: 7.75rem;
  background: #fcfcfc;
  border: 1px solid #ffffff;
  border-radius: 12px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.06);
  z-index: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#menu-container > a > div.content {
  height: 12.5rem;
  width: 18rem;
  margin-top: -1.25rem;
  background: #fcfcfc;
  border: 1px solid #ffffff;
  border-radius: 12px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.14), 0px 16px 24px rgba(0, 0, 0, 0.16);
  display: flex;
  align-items: center;
  flex-direction: column;
}
#menu-container > a > div.content > H1 {
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: #5963ff;
  margin-top: 3.25rem;
}
#menu-container > a > div.content > p {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: center;
  color: #000000;
  opacity: 0.8;
  -webkit-opacity: 0.8;
  -khtml-opacity: 0.8;
  margin-top: 0.75rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
/* Menu mobile */
#mobile-menu-container {
  display: none;
  flex-grow: 0.25;
  margin-top: 0.5rem;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
}
#mobile-menu-container a.menu-item {
  width: 21.875rem;
  cursor: pointer;
  text-decoration: none;
}
#mobile-menu-container a.menu-item {
  margin-bottom: 1rem;
}
#mobile-menu-container a.menu-item:first-child {
  margin-top: 0.5rem;
}
#mobile-menu-container > a > div.content {
  padding: 0 1.125rem;
  height: 3.5rem;
  width: 21.875rem;
  background: #fcfcfc;
  border: 1px solid #ffffff;
  border-radius: 12px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.06);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
#mobile-menu-container > a H1 {
  font-size: 1rem;
  margin-bottom: 0;
  color: #5963FF;
}
div.bottom-container {
  position: fixed;
  width: 100%;
  padding: 0;
  overflow: hidden;
  height: 60%;
  display: block;
  bottom: 0;
  left: 0;
  z-index: 0;
}
img.blue-wave {
  min-width: 100%;
}
div.bottom-container > div {
  background-color: #5963FF;
  margin-top: -0.5rem;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 68rem) {
  #wrapper > div > div.top-container > div.logo-holder {
    margin-left: 1rem;
  }
  #wrapper > div > div.top-container > div.monk-holder {
    margin-right: 1rem;
  }
}
@media screen and (max-width: 65.9375rem) {
  #menu-container {
    margin-top: 10vh;
  }
}
@media screen and (max-width: 44rem) {
  #menu-container {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 47rem) {
  #wrapper > div > div.top-container {
    flex-direction: column;
    margin-top: 1rem;
  }
}
@media screen and (max-width: 28.5rem) {
  #wrapper > div > div.top-container > div.logo-holder > object.logo {
    margin-left: 0rem;
    width: 21rem;
    height: 7.5rem;
  }
}
@media screen and (max-width: 29.9375rem) {
  /* start of phone styles */
  #wrapper > div > div.top-container > div.monk-holder {
    margin-right: 0;
  }
  #wrapper > div > div.top-container > div.monk-holder > object.monk {
    width: 8rem;
    height: 10.1875rem;
  }
  #wrapper > div > div.top-container > div.monk-holder > object.monk-shadow {
    margin-top: 1rem;
    width: 8rem;
    height: 2rem;
  }
  #wrapper > div > div.top-container > div.logo-holder {
    align-items: center;
    margin-right: 0rem;
    margin-left: 0;
  }
  #wrapper > div > div.top-container > div.logo-holder > object.logo {
    margin-top: 0.5rem;
    width: 8.4375rem;
    height: 3rem;
  }
  #wrapper > div > div.top-container > div.logo-holder > p {
    width: 21.875rem;
    font-size: 1rem;
    text-align: center;
    line-height: 1.5rem;
    padding-top: 1rem;
  }
  #wrapper > div > div#menu-container {
    display: none;
  }
  #wrapper > div > div.top-container > div#mobile-menu-container {
    display: flex;
  }
  :host > div.bottom-container {
    height: 25%;
  }
}
@media screen and (max-width: 25rem) {
  a.menu-item {
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-height: 55.5rem) {
  a.menu-item {
    margin-bottom: 0;
  }
}
@media screen and (max-height: 55rem) and (min-width: 30rem) {
  #wrapper > div > div.top-container > div.monk-holder {
    justify-content: flex-end;
  }
  #wrapper > div > div.top-container > div.monk-holder > object.monk {
    width: 15rem;
    height: 19rem;
  }
  #wrapper > div > div.top-container > div.monk-holder > object.monk-shadow {
    margin-top: 1.5rem;
    width: 15rem;
    height: 3.75rem;
  }
  #wrapper > div > div.top-container > div.logo-holder > object.logo {
    width: 25.3125rem;
    height: 9rem;
  }
}
@media screen and (max-height: 49.375rem) and (min-width: 30rem) {
  #wrapper > div > div.top-container > div.monk-holder > object.monk {
    width: 12rem;
    height: 15.25rem;
  }
  #wrapper > div > div.top-container > div.monk-holder > object.monk-shadow {
    margin-top: 1rem;
    width: 12rem;
    height: 3rem;
  }
  #wrapper > div > div.top-container > div.logo-holder > object.logo {
    width: 22.5rem;
    height: 8rem;
  }
}
/*
:host {
    width: 100%;
    min-height: 100%;
    padding-bottom: 8rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.row {
    padding-bottom: 0.7vh;
    min-width: 175px; //20vw;
    margin-left: 0;
    margin-right: 0;
}
.btn-second {
    color: #333333;
}
.btn-top {
    width: 250px;
    min-width: 250px;
}
.btn-second:hover {
    background-color: #cccccc;
}
.btn-left {
    margin-right: 5px !important; 
}
a.active-link {
    text-decoration: none;
    min-width: 175px; //20vw;
 }
.btn-import:hover {
    text-decoration: none;
}

.ico-wallet-link {
    text-align: center
}

.start-card {
    height: 220px;
}
#content {
    display: flex; 
    //height: calc(100vh - 20rem);
}
.center-content {
    margin: auto; 
}
a:hover {
    text-decoration: none;
}

//Different screens sizes
//List of devices: https://css-tricks.com/snippets/css/media-queries-for-standard-devices/
/*
@media (max-width: 575.98px) 
@media (max-width: 767.98px) - mobile phones
@media (max-width: 991.98px)
@media (max-width: 1199.98px)
*/
