<div id="content">
    <div class="center-content">
        <div class="row">
            <a routerLink="/new-wallet/" class="active-link"><button type="button" class="btn btn-primary btn-lg btn-block btn-generate">Generate wallet</button></a>
        </div>
        <div class="row justify-content-between">
            <a routerLink="/broadcast/"><button type="button" class="btn btn-clear btn-second">Broadcast</button></a>
            <a routerLink="/import/"><button type="button" class="btn btn-clear btn-second">Import</button></a>
        </div>
        <!--
        <div class="row justify-content-end">
            <a routerLink="/ico-wallet/">Retrieve ICO wallet</a>
        </div>
        -->
    </div>
</div>
