.row {
    padding-bottom: 0.7vh;
}

.btn-generate {
    font-size: 24px;
}

.btn-second {
    min-width: 90px;
}

.btn-second:hover {
    background-color: #cccccc;
}

/* Taking out underline link in router link */
a.active-link {
    text-decoration: none;
 }

/*
This needs to change the sass variable of Bootstrap
Info for shades: https://www.w3schools.com/colors/colors_picker.asp
Main colour: #FAB915
*/
.btn-primary {
    color: #fff;
    background-color: #e1a205;
    border-color: #af7e04;
}

.btn-primary:hover {
    color: #fff;
    background-color: #af7e04;
}

/* Taking out the blue outline */
.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }