<div class="main-container" *ngIf="displayTokenCard()">
  <div class="flex-row top-container-nfts">
    <div class="flex-row">
      <h1>{{ !isDiscover ? 'NFT / Collectibles' : 'Discover Apps' }}</h1>
      <span class="flex-row button icon-grey discover" [class.selected]="isDiscover === 'DISCOVER'"
        (click)="isDiscover = !isDiscover">{{ !isDiscover ? 'DISCOVER' : 'NFT / COLLECTIBLES' }}</span>
    </div>
    <div class="flex-row right">
      <ng-container *ngIf="this.nfts && Object.keys(this.nfts).length > 0 && !isDiscover">
        <span class="flex-row button icon-grey" [class.selected]="filter === 'ALL'" (click)="filter = 'ALL'">ALL</span>
        <span class="flex-row button icon-grey" [class.selected]="filter === 'APP'" (click)="filter = 'APP'">APP</span>
      </ng-container>
      <!-- <img class="button icon" src="../../../../assets/img/filter.svg" />
      <img class="button icon" src="../../../../assets/img/info.svg" /> -->
    </div>
  </div>
  <div class="flex-row-wrap nfts">
    <!-- loop through contracts -->
    <ng-container *ngIf="!Object.keys(nfts)?.length && !isDiscover"><span>There are no NFTs in this account</span></ng-container>
    <ng-container *ngFor="let key of Object.keys(this.nfts); let i = index">
      <div class="flex-column collection" [class]="filter === key ? 'expanded' : ''" [id]="sanitizeKey(key, i)" [style.display]="!isDiscover && filter === 'APP' ? '' : 'none'">
        <div class="flex-row head" (click)="toggleDropdown(sanitizeKey('#' + key, i))">
          <div class="flex-row left">
            <img class="icon" [src]="this.nfts[key]?.thumbnailUrl" />
            <div class="title">
              {{ this.nfts[key]?.name }}
            </div>
            <div class="count">{{ this.nfts[key]?.tokens?.length }}</div>
          </div>
          <div class="flex-row right">
            <div class="flex-row button toggle"><img src="../../../../assets/img/caret-left.svg" /></div>
          </div>
        </div>
        <div class="flex-column scroll">
          <div class="flex-row body">
            <ng-container *ngFor="let token of this.nfts[key]?.tokens; trackBy: trackToken">
              <div class="flex-row token" (click)="viewToken(token)">
                <div class="img-wrapper">
                  <app-asset class="icon" [meta]="token?.thumbnailAsset || token?.displayAsset"></app-asset>
                  <div *ngIf="Number.parseInt(token?.balance) > 1" class="balance">{{
                    formatBalance(token) }}</div>
                </div>
                <div class="flex-column right">
                  <div class="title">
                    {{token?.name}}
                  </div>
                  <div *ngIf="token?.series" class="series">
                    {{ token?.series }}
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="flex-column collection scroll" [style.display]="!isDiscover && filter === 'ALL' ? '' : 'none'">
      <div class="flex-row body">
        <ng-container *ngFor="let key of Object.keys(this.nfts)">
          <ng-container *ngFor="let token of this.nfts[key]?.tokens; let i = index; trackBy: trackToken">
            <div class="flex-row token" (click)="viewToken(token)">
              <div class="img-wrapper">
                <app-asset class="icon" [meta]="token?.thumbnailAsset || token?.displayAsset"></app-asset>
                <div *ngIf="Number.parseInt(token?.balance) > 1" class="balance">{{
                  formatBalance(token) }}</div>
              </div>
              <div class="flex-column right">
                <div class="title">
                  {{token?.name}}
                </div>
                <div *ngIf="token?.series" class="series">
                  {{ token?.series }}
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <ng-container *ngFor="let key of Object.keys(contractAliases)">
      <ng-container *ngIf="shouldDisplayLink(contractAliases[key]?.shouldDisplayLink)">
        <div class="flex-column discover" [style.display]="isDiscover ? '' : 'none'">
          <div class="category">{{ contractAliases[key]?.category }}</div>
          <img class="cover" [src]="contractAliases[key]?.thumbnailUrl" />
          <div class="flex-row bottom">
            <div class="title">{{ contractAliases[key]?.name || key }}</div>
            <a [href]="contractAliases[key]?.link || '/'" target="_blank" class="link-to-app">
              <button class="flex-row button">GO TO APP</button>
            </a>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>