<div class="container pt-5" *ngIf="'STARTCOMPONENT.ACTIVATE' | translate">
    <div class="animated fadeIn">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <div class="row">
                  <div class="col-md-2">
                    <i class="fa fa-align-justify"></i>
                    {{ 'OFFLINESIGNINGCOMPONENT.TITLE' | translate }} 
                  </div>
              </div>
            </div>

            <div class="card-body">
                <!-- Subheading -->
                <div class="row">
                    <div class="col-lg-12">
                        <button class="btn btn-success mb-2 mr-sm-2" (click)="toggleShowInstructions()">{{ instructionBtn }}</button>
                        <span *ngIf="showInstructions">
                            <h4> {{ 'OFFLINESIGNINGCOMPONENT.MAININFO' | translate }}  <a href="https://github.com/kukai-wallet/kukai/releases" target="_blank"> {{ 'OFFLINESIGNINGCOMPONENT.MAININFOGITHUB' | translate }} </a>
                            </h4>
                            <h5 class="help-steps">
                                <ol>
                                    <li> {{ 'OFFLINESIGNINGCOMPONENT.INFOSTEP1' | translate }} </li>
                                    <li> {{ 'OFFLINESIGNINGCOMPONENT.INFOSTEP2' | translate }} </li>
                                    <li> {{ 'OFFLINESIGNINGCOMPONENT.INFOSTEP3' | translate }} </li>
                                </ol>
                            </h5>
                        </span>
                    </div>
                </div>

                <!-- Step 1 -->
                <div class="row pt-3">
                    <div class="col-lg-12">
                        <h3> {{ 'OFFLINESIGNINGCOMPONENT.SUBTITLE1' | translate }} </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>
                            {{ 'OFFLINESIGNINGCOMPONENT.INFOUNSIGNEDOPERATION' | translate }} 
                            <a routerLink="/overview" class="btn-main-action"> {{ 'OFFLINESIGNINGCOMPONENT.INFOUNSIGNEDOPERATIONLINK' | translate }} </a>
                        </p>
                        <!-- 
                        <p>You can create an unsigned operation with your view-only wallet in the
                            <a routerLink="/overview" class="btn-main-action">Overview</a> section.</p>
                        -->
                    </div>
                </div>

                <!-- Step 2 -->
                <div class="row pt-3">
                    <div class="col-lg-12">
                        <h3> {{ 'OFFLINESIGNINGCOMPONENT.SUBTITLE2' | translate }} </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p> {{ 'OFFLINESIGNINGCOMPONENT.INFOIMPORTUNSIGNEDOPERATION' | translate }} </p>
                    </div>
                </div>
                <form>
                    <div class="form-group row">
                        <!-- Import Unsigned Operation Button -->
                        <div class="input-group col-sm-8">
                            <div class="input-group-prepend">
                                <span class="input-group-text min-size-prepend"> {{ 'OFFLINESIGNINGCOMPONENT.OPERATION' | translate }} </span>
                            </div>
                            <div class="custom-file">
                                <input [disabled]="!isFullWallet" type="file" class="custom-file-input" id="importUnsignedOperation" accept=".tzop" (change)="handleUnsignedOperationFileInput($event.target.files)">
                                <label class="custom-file-label" for="importUnsignedOperation"> {{InputImportOperationFileStep2}} </label>
                            </div>
                        </div>
                    </div>
                </form>
                <form>
                    <div class="form-group row">
                        <div class="col-sm-8">
                            <label for="unsignedOperationTextarea" class="sr-only"> {{ 'OFFLINESIGNINGCOMPONENT.INFOIMPORTUNSIGNEDOPERATION' | translate }} </label>
                            <textarea [disabled]="!isFullWallet" rows="3" cols="130" [(ngModel)]="unsigned" [ngModelOptions]="{standalone: true}" (change)="decodeUnsignedOp()"
                                class="form-control" id="unsignedOperationTextarea" [placeholder]="'OFFLINESIGNINGCOMPONENT.UNSIGNEDOPERATION' | translate">
                            </textarea>
                        </div>
                    </div>
                </form>
                <small *ngIf="isFullWallet && isOnline() && notAllowOnlineSigning && decodeUnsignedOutput" class="text-danger">
                    {{ 'OFFLINESIGNINGCOMPONENT.INFOWALLETONLINE' | translate }}
                    <button class="btn btn-sm btn-outline-danger mb-2 mr-sm-2" (click)="allowToSignInOnlineWallet()"> {{ 'OFFLINESIGNINGCOMPONENT.YES' | translate }} </button>
                </small>
                <div *ngIf='!notAllowedToSign() && decodeUnsignedOutput'>
                    <pre id="decodeDiv">{{ decodeUnsignedOutput }}</pre>
                </div>

                <form class="form-inline">
                    <label class="sr-only" for="inputPassword"> {{ 'OFFLINESIGNINGCOMPONENT.PASSWORD' | translate }} </label>
                    <input [disabled]="notAllowedToSign()" type="password" class="form-control mb-2 mr-sm-2" id="inputPassword" [(ngModel)]="pwd"
                        [placeholder]="pwdPlaceholder" [ngModelOptions]="{standalone: true}">

                    <button [disabled]="notAllowedToSign()" type="button" class="btn btn-primary mb-2 mr-sm-2" (click)="sign()"> {{ 'OFFLINESIGNINGCOMPONENT.SIGN' | translate }} </button>
                    <button *ngIf="signed1" class="btn btn-clear btn-second mb-2 mr-sm-2" (click)="download()"> {{ 'OFFLINESIGNINGCOMPONENT.DOWNLOAD' | translate }} </button>
                    <small *ngIf="signed1" class="text-success">
                        {{ 'OFFLINESIGNINGCOMPONENT.OPERATIONSUCCESSFUL' | translate }} 
                    </small>
                </form>

                <!-- Step 3 -->
                <div class="row pt-3">
                    <div class="col-lg-12">
                        <h3> {{ 'OFFLINESIGNINGCOMPONENT.SUBTITLE3' | translate }} </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p> {{ 'OFFLINESIGNINGCOMPONENT.INFOIMPORTSIGNEDOPERATION' | translate }} </p>
                    </div>
                </div>
                <!-- Import Signed Operation Button -->
                <form>
                    <div class="form-group row">
                        <div class="input-group col-sm-8">
                            <div class="input-group-prepend">
                                <span class="input-group-text min-size-prepend"> {{ 'OFFLINESIGNINGCOMPONENT.OPERATION' | translate }} </span>
                            </div>
                            <div class="custom-file">
                                <input type="file" [disabled]="!isOnline()" class="custom-file-input" id="importWallet" accept=".tzop" (change)="handleSignedOperationFileInput($event.target.files)">
                                <label class="custom-file-label" for="importWallet"> {{InputImportOperationFileStep3}} </label>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- Broadcast textarea -->
                <form>
                    <div class="form-group row">
                        <div class="col-sm-8">
                            <label for="signedOperationTextarea" class="sr-only"> {{ 'OFFLINESIGNINGCOMPONENT.LABELIMPORTSIGNEDOPERATION' | translate }} </label>
                            <textarea rows="3" cols="130" [disabled]="!isOnline()" [(ngModel)]="signed2" [ngModelOptions]="{standalone: true}"
                                class="form-control" id="signedOperationTextarea" [placeholder]="'OFFLINESIGNINGCOMPONENT.SIGNEDOPERATION' | translate"></textarea>
                        </div>
                    </div>
                </form>
                <small *ngIf="signed2" class="text-info">
                    {{ 'OFFLINESIGNINGCOMPONENT.INFODECODE' | translate }} 
                    <button class="btn btn-sm btn-outline-info mb-2 mr-sm-2" (click)="decodeSignedOp()"> {{ 'OFFLINESIGNINGCOMPONENT.YES' | translate }} </button>
                </small>
                <div *ngIf='decodeSignedOutput'>
                    <pre id="decodeDiv">{{ decodeSignedOutput }}</pre>
                </div>
                <div class="row pb-3">
                    <div class="col-lg-8">
                        <button type="button" [disabled]="!isOnline()" (click)="broadcast()" class="btn btn-primary pull-right"> {{ 'OFFLINESIGNINGCOMPONENT.BROADCAST' | translate }} </button>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>