<div *ngIf="signRequest" class="flex-column kukai-modal">
  <div class="content">
    <div class="flex-column top">
      <img class="flex-row button close" (click)="rejectSigning()" src="../../../assets/img/close.svg" />
      <h1 class="title">Sign Expression</h1>
    </div>
    <div class="flex-column sign-expr">
      <p class="previewAttention">An application has requested you sign an expression.</p>
      <p class="previewAttention warning">Warning! Only sign if you understand the expression or trust the source.</p>
      <div class="flex-row advanced">
        <div class="flex-row switch-container">
          <span class="value">Advanced:&nbsp;&nbsp;<span class="key">{{ advancedForm ? ' ON' : 'OFF'
              }}</span>&nbsp;&nbsp;</span>
          <label class="switch">
            <input type="checkbox" [(ngModel)]="advancedForm" tabindex=-1 />
            <span class="slider round"></span>
          </label>
        </div>
      </div>
      <textarea *ngIf="advancedForm" rows="10" readonly>{{ payload }}</textarea>
      <div class="seperator"></div>
      <div class="flex-column bottom">
        <span *ngIf="this.pwdInvalid" class="danger margin">{{ this.pwdInvalid }}</span>
        <input *ngIf="!walletService.isLedgerWallet() && !walletService.isTorusWallet()" [(ngModel)]="password"
          autocomplete="current-password" placeholder="Password" class="text password" type="password"
          (input)="this.pwdInvalid = ''" (change)="this.pwdInvalid = ''" (keydown.enter)='sign()'>
          <button class="purple confirm" (click)="sign()">
            {{ walletService.isLedgerWallet() ? 'Sign with Ledger' : 'Sign'}}</button>
      </div>
    </div>
  </div>
</div>