<div id="error" class="app flex-row align-items-center" style="height: 100vh;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="logo-container">
          <a class="logo" routerLink="/">
            <img src="../../../assets/img/kukai-logo.svg">
          </a>
        </div>
        <div class="clearfix mt-5">
          <h1 class="float-left display-3 mr-4">500</h1>
          <h4 class="pt-3">Houston, we have a problem!</h4>
          <p>The page you are looking for is temporarily unavailable.</p>
        </div>
      </div>
    </div>
  </div>
</div>
