@use '../../abstracts/mixins' as m;
@use '../../abstracts/variables' as v;

:host {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 8rem;

  & .foot-container {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    padding: 1rem 0;
    margin: 1rem 0;

    & .left {
      width: 62%;
      justify-content: flex-start;
      align-items: flex-start;

      & a {
        margin: 0 0.5rem;
        font-weight: 500;
        color: v.$base-font-color-secondary;
      }
    }

    & .right {
      & img {
        margin: 0 0 0 2rem;
        width: 2rem;
        height: 2rem;
        filter: invert(0.5);
      }
    }
  }
}

@media (max-width: v.$lower-limit) {
  :host {
    padding: 0 2rem;
  }
}