@use '../../abstracts/mixins' as m;
@use '../../abstracts/variables' as v;

:host {
  & .mobile {
    display: none;
  }
}

:host.initial div.foot-container {
  position: initial;
}
:host.hide {
  visibility: hidden;
}
:host div.foot-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 8rem;
  margin: 2rem 0 0 0;
  width: 100vw;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}
@media (max-width: v.$layout-break-3) and (max-aspect-ratio: 1/1), (max-width: v.$layout-break-5) {
  :host div.foot-container {
    position: initial;
  }
}
#follow {
  height: 5rem;
  width: 11rem;
  text-align: center;
  justify-content: center;
}
#follow span {
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  opacity: 0.8;
  -webkit-opacity: 0.8;
  -khtml-opacity: 0.8;
  vertical-align: top;
  width: 100%;
}
.dark #follow span,
div.foot-container.dark > div.links > div.low > a {
  color: v.$base-font-color;
}
.dark img {
  filter: invert(100%);
}
#follow a {
  position: relative;
  top: 0.24rem;
  opacity: 0.8;
  -webkit-opacity: 0.8;
  -khtml-opacity: 0.8;
  font-size: 0.75rem;
}
div.foot-container > div.links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  z-index: 0;
}
div.foot-container > div.links a {
  font-size: 0.5rem;
  color: v.$base-font-color;
  margin-left: 1rem;
}
div.foot-container > div.links a:hover {
  color: white;
  background-color: #5963ff;
}
div.foot-container.dark > div.links a:hover {
  color: v.$base-font-color;
  background-color: inherit;
}
div.foot-container > div.links > div {
  width: 34%;
}
div.foot-container > div.links > div.since {
  width: auto;
}
div.foot-container > div.links > div.since > a {
  margin: 0;
  padding: 0;
}
div.foot-container > div.links > div:last-child > a.docs {
  margin: 0 1rem 1rem auto;
  float: right;
  font-size: 0.75rem;
}
div.foot-container > div.links > div.low {
  padding-top: 0.625rem;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 0 1rem 0;
}
#tg {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
#follow img:hover,
div.foot-container > div.links a.docs img:hover {
  filter: invert(25%) saturate(2878%) hue-rotate(180deg);
}

@media (max-width: v.$lower-limit) {
  :host {
    & .desktop {
      display: none;
    }

    & .mobile {
      display: inline-block;
    }
  }
}
