@use '../../abstracts/mixins'as m;
@use '../../abstracts/variables'as v;

:host {
  & .mobile {
    display: none;
  }
}

:host.initial div.foot-container {
  position: initial;
}

:host.hide {
  visibility: hidden;
}

:host div.foot-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 8rem;
  margin: 2rem 1rem 0 1rem;
  width: calc(100vw - 2rem);
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (max-aspect-ratio: 1 / 1), (min-aspect-ratio: 20 / 10), (max-height: 752px) {
  :host div.foot-container {
    position: initial;
  }
}

#follow {
  height: 100%;
  width: 11rem;
  text-align: center;
  justify-content: center;
}

#follow span {
  font-style: normal;
  font-weight: 500;
  @include m.multiply('font-size', 0.6875);
  line-height: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  opacity: 0.8;
  -webkit-opacity: 0.8;
  -khtml-opacity: 0.8;
  vertical-align: top;
  width: 100%;
  color: v.$base-font-color-secondary;
}

div.foot-container.dark>div.links>div.low>a {
  color: v.$base-font-color-secondary;
  margin: 0 0.5rem;
}

.dark img {
  filter: invert(70%);
}

#follow a {
  position: relative;
  top: 0.24rem;
  opacity: 0.8;
  -webkit-opacity: 0.8;
  -khtml-opacity: 0.8;
  @include m.multiply('font-size', 0.75, "rem", 1.5);
}

:host div.foot-container #since {
  width: 100%;
}

div.foot-container>div.links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  z-index: 0;
}

div.foot-container>div.links a {
  @include m.multiply('font-size', 0.75, "rem", 1.35);
  color: v.$base-font-color-secondary;
}

div.foot-container>div.links a:hover {
  color: white;
  background-color: #5963ff;
}

div.foot-container.dark>div.links a:hover {
  color: v.$base-font-color-secondary;
  background-color: inherit;
}

div.foot-container>div.links>div {
  width: 34%;
}

div.foot-container>div.links>div.since {
  align-items: center !important;
  width: auto;
  height: calc(100% - 2rem);
}

div.foot-container>div.links>div.since>a {
  margin: 0;
  padding: 0;
}

div.foot-container>div.links>div:last-child>a.docs {
  margin: 0 0.5rem 0 auto;
  float: right;
  @include m.multiply('font-size', 0.75, "rem", 1.35);
}

div.foot-container>div.links>div.low {
  align-items: flex-end;
  justify-content: flex-start;
  height: calc(100% - 2rem);
}

#tg {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

#follow img:hover,
div.foot-container>div.links a.docs img:hover {
  filter: invert(25%) saturate(2878%) hue-rotate(180deg);
}

@media (max-width: v.$lower-limit) {
  :host {
    & .desktop {
      display: none;
    }

    & .mobile {
      display: inline-block;
    }
  }

  div.foot-container>div.links>div:last-child>a.docs {
    margin: 0 1rem;
  }

  div.foot-container>div.links>div.left.low {
    justify-content: flex-start;
  }

  div.foot-container>div.links>div.low {
    justify-content: flex-end;
  }
}