.modal-container {
  width: 1000px;
  margin: auto;
}
.mono {
  font-family: "Courier New", Courier, monospace;
}
.btn-op {
  width: 120px;
  border-radius: 0.4rem;
  color: white !important;
  border-color: white !important;
}
.modal-header {
  text-align: center;
}
.modal-body-success {
  text-align: center;
}

.modal-footer {
  padding-bottom: 0rem;
}

.first-modal {
  justify-content: space-between;
}
.text-color {
  color: #6c757d;
}
.align-right {
  text-align: right;
}

.text-right {
  justify-content: flex-end;
}

.input-multi-send {
  margin-bottom: .5rem;  // default at 1rem;
}

.show-more {
  font-size: 0.9rem;
  width: 78px;
}

.btn-balance {
  color: #6c757d;
  padding-right: 0.25rem; // original 0.5rem;
  padding-left: 0.25rem; // original 0.5rem;
}

.dropdown-item {
  cursor:pointer;
}

.no-accounts {
  margin-bottom: 0em;
}

// Changing placeholder colour - Not working
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ced4da;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ced4da;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ced4da;
}
:-moz-placeholder { /* Firefox 18- */
  color: #ced4da;
}

// For dropdown-item when hover (Send and Receive buttons)
.dropdown-item:hover {
  color: #fff !important;
  background-color: #09698D !important;
  border-color: #09698D !important;
  text-decoration: none !important;
}

.fa-check-circle { 
  color: #28a745; //#5cb85c;
  font-size: 96px;
}
.bb2 {
  width: 120px;
}
.fa-paste {
  padding-top: 40px;
  cursor: pointer;
  color: black;
  font-size: 20px;
}