/*
.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
  }
  
.dark-modal .close {
  color: white;   
}
*/
.modal-header {
  text-align: center;
}
.modal-body-success {
  text-align: center;
}

.text-color {
  color: #6c757d;
  text-align: right;
}

.text-right {
  //text-align: right;
  justify-content: flex-end;
}

.btn-balance {
  color: #6c757d;
  padding-right: 0rem; // original 0.5rem;
  padding-left: 0rem; // original 0.5rem;
}

.dropdown-item {
  cursor:pointer;
}

// Changing placeholder colour - Not working
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ced4da;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ced4da;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ced4da;
}
:-moz-placeholder { /* Firefox 18- */
  color: #ced4da;
}

// For dropdown-item when hover (Send and Receive buttons)
.dropdown-item:hover {
  color: #fff !important;
  background-color: #09698D !important;
  border-color: #09698D !important;
  text-decoration: none !important;
}

.fa { 
  color: #28a745; //#5cb85c;
  font-size: 96px;
}
.bb2 {
  width: 120px;
}