<ng-container *ngIf="!headless">
  <button *ngIf="!tokenTransfer" class="purple open" (click)="prepareTransaction()">Send</button>
  <span class="token-send" *ngIf="tokenTransfer && !tokenService.getAsset(tokenTransfer).nonTransferable" (click)="prepareTransaction()">Send</span>
</ng-container>

<app-prepare-send [prepareRequest]="prepareRequest" (prepareResponse)="handlePrepareResponse($event)"></app-prepare-send>
<app-confirm-send [headlessMode]="headless" [confirmRequest]="confirmRequest" (operationResponse)="handleConfirmResponse($event)"></app-confirm-send>
