@import '../../../scss/modal.scss';
@import '../../../scss/switch.scss';
@import '../../../scss/dropdown.scss';

button.purple.open:hover {
  margin-top: -0.125rem;
  margin-bottom: 0.125rem;
}
button:focus {
  outline: none;
}
:host button {
  border-radius: 0.75rem;
  height: 3rem;
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1rem;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content:center;
  cursor: pointer;
  -webkit-appearance: none !important;
  border-width: 0;
}
:host button:focus {
  outline: none;
}
:host p.torus-details {
  margin-top: 0.5rem;
  margin-bottom: 0;
}
:host button.purple {
  color: white;
  background: #5963FF;
  box-shadow: 0px 0px 1px rgba(89, 99, 255, 0.04), 0px 2px 6px rgba(89, 99, 255, 0.04), 0px 16px 24px rgba(89, 99, 255, 0.24);
  transition: margin-top 0.1s ease-in, margin-bottom 0.1s ease-in;
}
div.kukai-modal table {
  display: block;
  margin-top: 1rem;
  width: 100%;
}
div.kukai-modal div.km-body > div.group select.select-css {
  width: 9.5rem;
  height: 2rem;
  line-height: 2rem;
  opacity: 0.6;
  border-radius: 0.5rem;
}
div.kukai-modal div.km-body select.select-css.parameters {
  margin: 0.5rem 0;
  height: 2.25rem;
  line-height: 2.25rem;
}
div.kukai-modal table > thead,
div.kukai-modal table > thead {
  width: 100%;
}
div.kukai-modal table > thead > tr > th {
  padding-bottom: 0.25rem;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #A8A8A8;
}
div.kukai-modal table > tbody > tr > td.txAmount,
div.kukai-modal table > thead > tr > th:last-child {
  text-align: right;
  width: 100%;
}
small {
  margin-bottom: 0;
}
div.switch-container {
  margin-top: 0.5rem;
}
div.kukai-modal input.text.read-only {
  background: #f2f2f2;
}

input.custom-textbox {
  padding-left: 0.75rem;
}
div.kukai-modal.confirm div.advanced{
  margin-top: 0.5rem;
}
div.kukai-modal div.advanced-form input.text::placeholder {
  color: black;
  opacity: 1;
}
div.kukai-modal div.advanced-form input.text::-webkit-input-placeholder,
div.kukai-modal div.advanced-form input.text:-ms-input-placeholder {
  color: black;
}
div.kukai-modal div.advanced-form input.text.read-only::placeholder {
  color: #808080;
  opacity: 1;
}
div.kukai-modal div.advanced-form input.text.read-only::-webkit-input-placeholder,
div.kukai-modal div.advanced-form input.text.read-only:-ms-input-placeholder {
  color: #808080;
}
div.kukai-modal div.advanced-form input.text.read-only {
  color: #808080;
}
div.kukai-modal > div.km-content > div.km-body > div.group > input.text,
div.kukai-modal > div.km-content > div.km-body > div.group > textarea {
  font-size: 0.8125rem;
}
div.kukai-modal > div.km-content {
  width: 30rem;
}
:host span.token-send {
  cursor: pointer;
  color: #5963FF;
  line-height: 2.75rem;
  padding: 0.9375rem 1rem;
  font-size: 0.875rem;
}
:host span.token-send:hover {
  text-decoration: underline;
}
@supports (-webkit-touch-callout: none) {
  div.kukai-modal > div.km-content > div.km-body > div.group > input.text,
  div.kukai-modal > div.km-content > div.km-body > div.group > textarea {
    font-size: 1rem;
  }
}

@media screen and (max-width: 32.25rem) {
  div.kukai-modal > div.km-content {
    width: 25rem;
  }
  
}
@media screen and (max-width: 25rem) {
  input#toAddress, input.custom-textbox {
    font-size: 0.8125rem;
  }
  div.kukai-modal > div.km-content {
    width: 22rem;
  }
}
@media screen and (max-width: 22rem) {
  input#toAddress, input.custom-textbox {
    font-size: 0.75rem;
  }
}
span.batchInfo {
  margin-left: auto;
  font-size: 0.75rem;
}
div.kukai-modal div.preview-amount {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}
div.kukai-modal div.preview-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
div.kukai-modal div.preview-amount > span.amount-tez {
  margin: 0.5rem 0 0.25rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #161616;
}
div.kukai-modal div.preview-amount > span.amount-usd {
  margin-bottom: 0.75rem;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #525252;
}
div.kukai-modal div.km-body span.single-to {
  display: flex;
  margin: 0rem 0 0.5rem;
  word-break: break-all;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1rem;
  color: #161616;
}
div.kukai-modal div.km-body span.torus-to {
  display: block;
  margin-bottom: 0.25rem;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #161616;
}
div.kukai-modal div.seperator {
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.08);
  margin: 0.5rem 0;
}
div.kukai-modal div.preview-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
div.kukai-modal div.preview-row > span {
  margin: 0.25rem 0;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #525252;
}
div.kukai-modal div.km-body span.section,
div.kukai-modal div.preview-row > span:first-child {
  font-weight: 500;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #A8A8A8;
}
div.kukai-modal div.preview-row > span:last-child {
  word-break: break-all;
  padding-left: 0.5rem;
}
div.kukai-modal div.preview-row img,
div.kukai-modal div.km-body span.torus-to img{
  height: 0.75rem;
  margin-bottom: 0.0625rem;
}
// Micheline / JSON tab
div.tabs-container {
  margin-top: 0.5rem;
}
div.tabs-container > ul.tabs {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
div.tabs-container > ul.tabs > li.tab {
  width: 100%;
  color: #787878;
  text-align: center;
  cursor: pointer;
  padding: 1rem auto;
  background-color: rgb(246, 246, 246);
}
div.tabs-container.blue > ul.tabs > li.tab {
  color: black; //5963FF
  background-color: rgba(89, 99, 255, 0.4);
  border-bottom: 0.0625 solid #5963ff;
}
div.tabs-container:not(.blue) > ul.tabs > li.tab:first-child {
  border-top-left-radius: 0.75rem;
}
div.tabs-container:not(.blue) > ul.tabs > li.tab:last-child {
  border-top-right-radius: 0.75rem;
}
div.tabs-container > ul.tabs > li.tab.active {
  background-color: #d9d9d9;
  color: #484848;
}
div.tabs-container > ul.tabs > li.tab:hover {
  background-color: #C0C0C0;
  color: #484848;
}
div.tabs-container.blue > ul.tabs > li.tab.active {
  background-color: #5963FF;
  color: #f3f3f3;
}
div.tabs-container.blue > ul.tabs > li.tab:hover {
  background-color: rgba(89, 99, 255, 0.7);
  color: #f3f3f3;
}
// Multi invokation tab
div.simple-tabs > ul.tabs {
  display: flex;
  list-style-type: none;
  margin: 0.5rem 0;
  padding: 0;
}
div.simple-tabs > ul.tabs > li.tab {
  border: 1px solid rgba(0, 0, 0, 0);
  color: #808080;
  border-bottom: 1px solid;
  text-align: center;
  cursor: pointer;
  padding: 0.25rem 0.75rem;
}
div.simple-tabs > ul.tabs > li.tab.active {
  border: 1px solid;
  color: #161616;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}
div.simple-tabs > ul.tabs > li.tab.rest {
  width: 100%;
  padding: 0;
  border-left: none;
  border-right: none;
}