@import '../../../scss/modal.scss';
@import '../../../scss/switch.scss';
button {
  border-radius: 0.75rem;
  height: 3rem;
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1rem;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content:center;
  cursor: pointer;
  -webkit-appearance: none !important;
  border-width: 0;
}
button.purple:hover {
  margin-top: -0.125rem;
  margin-bottom: 0.125rem;
}
button:focus {
  outline: none;
}
button.purple {
  color: white;
  background: #5963FF;
  box-shadow: 0px 0px 1px rgba(89, 99, 255, 0.04), 0px 2px 6px rgba(89, 99, 255, 0.04), 0px 16px 24px rgba(89, 99, 255, 0.24);
  transition: margin-top 0.1s ease-in, margin-bottom 0.1s ease-in;
}
small {
  margin-bottom: 0;
}
div.switch-container {
  margin-top: 0.5rem;
}
div.kukai-modal input.text.read-only {
  background: #f2f2f2;
}

input.custom-textbox {
  padding-left: 0.75rem;
}
div.kukai-modal div.advanced-form input.text::placeholder {
  color: black;
  opacity: 1;
}
div.kukai-modal div.advanced-form input.text::-webkit-input-placeholder,
div.kukai-modal div.advanced-form input.text:-ms-input-placeholder {
  color: black;
}
div.kukai-modal div.advanced-form input.text.read-only {
  color: #808080;
}
div.kukai-modal > div.km-content > div.km-body > div.group > input.text,
div.kukai-modal > div.km-content > div.km-body > div.group > textarea {
  font-size: 0.8125rem;
}
@supports (-webkit-touch-callout: none) {
  div.kukai-modal > div.km-content > div.km-body > div.group > input.text,
  div.kukai-modal > div.km-content > div.km-body > div.group > textarea {
    font-size: 1rem;
  }
}
@media screen and (max-width: 25rem) {
  input#toAddress, input.custom-textbox {
    font-size: 0.8125rem;
  }
}
@media screen and (max-width: 22rem) {
  input#toAddress, input.custom-textbox {
    font-size: 0.75rem;
  }
}
span.batchInfo {
  margin-left: auto;
  font-size: 0.75rem;
}