<div id="content">
    <div class="center-content">
        <!-- Password card -->
        <div class="card text-center fix-size">
            <div class="card-body">
                <h1 class="card-title">Retrieve your Wallet</h1>
                <div class="card-text">
                    <form class="form-group">
                        
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input type="file" (change)="handleFileInput($event.target.files)" class="form-control-file" id="file" accept=".json">
                            </div>
                        </div>

                        <!-- mnemonic -->
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input type="text" [(ngModel)]="mnemonic" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Mnemonic">
                                <small class="form-text text-left">The 15 words from your PDF.</small>
                            </div>
                        </div>
                        <!-- passphrase -->
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input type="password" [(ngModel)]="passphrase" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Passphrase">
                                <small class="form-text text-left">The email and password you submitted during the ICO (e.g. "email@example.comPassword")</small>
                            </div>
                        </div>
                        <!-- secret -->
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input type="text" [(ngModel)]="secret" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Activation code (optional)">
                                <small class="form-text text-left">If you want to activate your wallet now.</small>
                            </div>
                        </div>

                    </form>
                    <p>This is an zeronet version, please use the faucet website to get test wallet credential that you can retrieve <a href="https://faucet.tzalpha.net/" target="blank">here</a>.</p>
                    <br>
                    <p>At the launch of betanet, you can use your wallet credentials from the pdf file generated during ICO</p>
                </div>
            </div>
            <div class="card-footer text-right">
                <button type="button" class="btn btn-primary btn-lg" (click)="retrieve()">Retrieve</button>
            </div>
        </div>
    </div>
</div>