.mono {
    font-family: "Courier New", Courier, monospace;  
}
.page-header {
    margin: 40px 0px 10px 0px; //top right bottom left
}

.bottom-separator {
    padding-bottom: 27px;
    border-bottom: 1px solid #eee; //Alignment  with sidebar
    margin-bottom: 0.5rem; //space between border and next content
}

.page-header-no-account {
    margin: 40px 0px 10px 0px; //top right bottom left
}

.bottom-separator-no-account {
    padding-bottom: 27px;
    border-bottom: 1px solid #eee; //Alignment  with sidebar
    margin-bottom: 0.5rem; //space between border and next content
}

h4 {
    font-weight: 400;
}

.row-subheading {
    min-width: 992;
}

//btn-second
.btn-second {
    min-width: 96px;
    color: #333333;
}

.btn-second:hover {
    background-color: #cccccc;
}

.btn-second:active {
    background-color: #b3b3b3;
}

//Voting bar
.row-period {
    font-weight: bold;
    text-align: center;
    color: #fafafa;
}

.col-period {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    background: #191919;
}

.col-active {
    background-color: #FAB915;
}

.col-period-start {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.col-period-end {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.row-progress {
    padding-top: 0.8em;
}

.progress-bar {
    background-color: #FAB915;
}

.row-doughnut {
    padding-top: 0.8em;
}

.title {
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
}

.sub-title {
    font-size: 0.8rem;
}

.fa-repeat:active {
    font-weight: bold;
}

.fa-repeat:hover {
    font-weight: bold;
}

.col-bakers-list {
    text-align: right;
}


/* Responsive breakpoints */
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    .container {
        padding-left: 2em;
        min-width: 0vw;
    }
 }

// Medium devices (tablets, 768px and up)
//@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .container {
        min-width: 0vw;
    } 
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .container {
        padding-left: 2em;
        min-width: 0vw;  // 65vw
    } 
}