@use '../../../abstracts/variables'as v;
@use '../../../abstracts/mixins' as m;

$base-end-color: v.$base-end-color;
$base-blue-color: v.$base-blue-color;
$base-font-color: v.$base-font-color;
$border-color: v.$border-color;

:host {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

button {
  position: relative;
  &.with-image {
    width: auto;
    padding: 1rem;
    border: v.$border-width solid transparent;
    border-radius: v.$border-radius-hardest;

    &:not(.tez) {
      background-color: transparent;
      border-color: $border-color;
    }

    & span {
      @include m.multiply('font-size',1.25);
      margin: 0 1rem 0 0.25rem;
      font-weight: 500;
      color: v.$base-end-color-static;
    }

    & img {
      width: 1.5rem;
      height: 1.5rem;
      transform: rotate(45deg);
    }

    &.tez {
      padding: 1rem;
      color: $base-blue-color;
    }
    &:hover {
      filter: unset;
      & .tooltip {
        display: flex;
      }
    }

    & .tooltip {
      position: absolute;
      top: 4rem;
      left: calc(-49%);
      background-color: $base-end-color;
      width: auto;
      min-width: 6rem;
      height: 1rem;
      padding: 0.5rem;
      justify-content: center;
      align-items: center;
      border-radius: v.$border-radius-hard;
      display: none;
      box-shadow: v.$box-shadow;

      & .description {
        color: $base-font-color;
        font-weight: 500;
        letter-spacing: 0.02em;
        font-size: 1rem;
        white-space: pre;
      }
    }

    &:not(.tez, .buy) .tooltip {
      top: 0.5rem;
      right: 115%;
      left: unset;
    }
  }

  &.detail {
    width: 50%;
    height: 4rem;
    color: v.$base-end-color-static;
  }
}