@use '../../../abstracts/variables' as v;
@use '../../../abstracts/mixins' as m;

$base-font-color: v.$base-font-color;
$base-end-color: v.$base-end-color;
$base-blue-color-lightened: v.$base-blue-color-lightened;
$color-lightened-3: v.$color-lightened-3;
$color-lightened-4: v.$color-lightened-4;
$color-lightened-5: v.$color-lightened-5;
$color-lightened-6: v.$color-lightened-6;
$advanced-color: #e6eaef;
$border-width: v.$border-width;
$border-color: v.$border-color;

:host.dark .advanced {
  height: 2em;
  padding: 2em;
  width: calc(100% - 6em);
  border-radius: 10rem;
  border: $border-width solid $border-color;
}

.advanced {
  font-size: 100%;
  min-width: 12em;
  justify-content: center;
  margin: 0 0 0 1em;
  width: 100%;

  & * {
    -webkit-tap-highlight-color: #fff0; 
  }

  & .switch-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 1em;
    font-size: 1.054em;

    & .switch {
      & .slider {
        @include m.base-relative;
        cursor: pointer;
        right: 0;
        bottom: 0;
        background-color: $base-end-color;
        border: $border-width solid v.$border-color;
        border-radius: v.$border-radius-hardest;
        transition: 0.4s;
        width: 3.5em;
        height: 2em;
        font-size: 1.125em;

        &.active {
          & .round {
            -webkit-transform: translateX(1.5em);
            -ms-transform: translateX(1.5em);
            transform: translateX(1.5em);
            background-color: $base-blue-color-lightened;
          }
        }

        & .round {
          position: absolute;
          content: "";
          height: 1.5em;
          width: 1.5em;
          left: 0.25em;
          bottom: 0.25em;
          background-color: v.$border-color;
          transition: 0.25s all;
          border-radius: v.$border-radius-hardest;
        }
      }
    }

    & span {
      margin: 0;
      font-weight: 500;
      &.key {
        color: $color-lightened-3 !important;
        font-size: 1.25em;
        margin: 0 0.5em 0 0;
        &.active {
          color: $color-lightened-3 !important;
          & .round {
            -webkit-transform: translateX(1.5em);
            -ms-transform: translateX(1.5em);
            transform: translateX(1.5em);
            background-color: $base-blue-color-lightened;
          }
        }
      }

      &.value {
        @include m.multiply('font-size',1.125, 'em !important');
        color: #6c7a8d !important;
      }
    }
  }
}