@use 'sass:string' as string;
@use 'sass:math' as math;
@function transform-dark-mode($hex, $mod: 1) {
  $hex: str-slice(string.quote(#{$hex}), 2);
  $darkHex: "#";
  @for $i from 1 through str-length($hex) {
    $i: str-slice($hex, $i, $i);
    @if ($i == "0") {
      $i: 0;
    } @else if ($i == "1") {
      $i: 1;
    } @else if ($i == "2") {
      $i: 2;
    } @else if ($i == "3") {
      $i: 3;
    } @else if ($i == "4") {
      $i: 4;
    } @else if ($i == "5") {
      $i: 5;
    } @else if ($i == "6") {
      $i: 6;
    } @else if ($i == "7") {
      $i: 7;
    } @else if ($i == "8") {
      $i: 8;
    } @else if ($i == "9") {
      $i: 9;
    } @else if ($i == "a") or ($i == "A") {
      $i: 10;
    } @else if ($i == "b") or ($i == "B") {
      $i: 11;
    } @else if ($i == "c") or ($i == "C") {
      $i: 12;
    } @else if ($i == "d") or ($i == "D") {
      $i: 13;
    } @else if ($i == "e") or ($i == "E") {
      $i: 14;
    } @else if ($i == "f") or ($i == "F") {
      $i: 15;
    }
    $i: (15 - math.round($i * $mod));
    @debug $i;
    @if ($i == 15) {
      $i: "F";
    } @else if ($i == 14) {
      $i: "E";
    } @else if ($i == 13) {
      $i: "D";
    } @else if ($i == 12) {
      $i: "C";
    } @else if ($i == 11) {
      $i: "B";
    } @else if ($i == 10) {
      $i: "A";
    } @else {
      $i: "#{$i}";
    }
    $darkHex: str-insert($darkHex, $i, str-length($darkHex) + 1);
  }
  @return #{$darkHex};
}
