@use '../abstracts/functions' as f;
@use '../abstracts/variables'as v;

@mixin multiply($property, $base, $postfix: 'rem', $override: 0) {
  @media (min-width: v.$layout-break-5) {
    #{$property}: f.multiply($base, 1) + $postfix;
  }
  @media (max-width: v.$layout-break-5) {
    @if $override != 0 {
      #{$property}: f.multiply($base, $override) + $postfix; 
    } @else {
      #{$property}: f.multiply($base, v.$font-offset-mobile) + $postfix;
    }
  }
}

@mixin ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin base-relative {
  position: relative;
  top: 0;
  left: 0;
}