$theme: var(--theme);
/* Color */
$base-color-static: var(--base-color-static);
$base-color: var(--base-color);
$base-color-lightened-1: var(--base-color-lightened-1);
$base-color-lightened-2: var(--base-color-lightened-2);
$base-color-lightened-3: var(--base-color-lightened-3);
$base-color-lightened-4: var(--base-color-lightened-4);
$base-color-lightened-5: var(--base-color-lightened-5);
$base-color-lightened-6: var(--base-color-lightened-6);
$base-color-lightened-65: var(--base-color-lightened-65);
$base-color-lightened-675: var(--base-color-lightened-675);
$base-color-lightened-7: var(--base-color-lightened-7);
$base-end-color-static: var(--base-end-color-static);
$base-end-color: var(--base-end-color);
$base-background-color: var(--base-background-color);
$base-background-color-alert: var(--base-background-color-alert);
$base-blue-color: var(--base-blue-color);
$base-blue-color-lightened: var(--base-blue-color-lightened);
$base-red-color: var(--base-red-color);
$base-green-color: var(--base-green-color);
$base-font-color: var(--base-font-color);
$base-font-color-secondary: var(--base-font-color-secondary);
$base-font-color-secondary-half: var(--base-font-color-secondary-half);

/* Box Shadow */

$base-box-shadow-color: var(--base-box-shadow-color);
$base-box-shadow-color-dark: var(--base-box-shadow-color-dark);

$box-shadow: var(--box-shadow);
$box-shadow-top: var(--box-shadow-top);
$box-shadow-right: var(--box-shadow-right);
$box-shadow-bottom: var(--box-shadow-bottom);
$box-shadow-left: var(--box-shadow-left);
$box-shadow-dark: var(--box-shadow-dark);

/* Border */
$border-radius: var(--border-radius);
$border-radius-hard: var(--border-radius-hard);
$border-radius-hardest: var(--border-radius-hardest);
$border-color: var(--border-color);
$border-color-dark-only: var(--border-color-dark-only);
$border-width: var(--border-width);
$border-width-thin: var(--border-width-thin);
$border-width-thick: var(--border-width-thick);
$border-width-dark-only: var(--border-width-dark-only);

/* Filter */
$base-filter-brightness-5: var(--base-filter-brightness-5);
$base-filter-contrast-1: var(--base-filter-contrast-1);
$base-filter-invert-1: var(--base-filter-invert-1);
$base-filter-contrast-invert-00: var(--base-filter-contrast-invert-00);
$base-filter-contrast-invert-01: var(--base-filter-contrast-invert-01);
$base-filter-contrast-invert-10: var(--base-filter-contrast-invert-10);
$base-filter-contrast-invert-11: var(--base-filter-contrast-invert-11);

/* @media */

/* Default Break */
$lower-break: 63em;
$middle-break: 127em;
$upper-break: 255em;

/* Font Break */
$font-break-0: 253em;
$font-break-1: 153em;
$font-break-2: 123em;
$font-break-3: 103em;
$font-break-4: 83em;
$font-break-5: 63em;

/* Layout Break */
$layout-break-0: 253em;
$layout-break-1: 173em;
$layout-break-2: 123em;
$layout-break-3: 83em;
$layout-break-4: 73em;
$layout-break-5: 63em;
$layout-break-6: 43em;

// Offsets
$font-offset-mobile: 1.2;

$compactness: var(--compactness);

$isMobile: var(--is-mobile);