// generic color constants
$base-color: #000 !default;
$base-color-lightened-1: #4a5d75 !default;
$base-color-lightened-2: #98a0ab !default;
$base-color-lightened-3: #b9bfc7 !default;
$base-color-lightened-4: #c1cdd5 !default;
$base-color-lightened-5: #dde3e8 !default;
$base-color-lightened-6: #e6e9ed !default;
$base-color-lightened-7: #f2f4f6 !default;
$base-end-color: #fff !default;
$base-background-color: #eceff1 !default; //ebedf0 - alt for start page
$base-blue-color: #5963ff !default;
$base-blue-color-lightened: #7178e3 !default;
$base-blue-color-alt: #37a9fa !default;
$base-red-color: #eb4e39 !default;
$base-green-color: #c4ec7d !default;
$base-font-color: #3e4855 !default;
$base-font-color-secondary: #98a0ab !default;

$advanced-color: #e6eaef !important;

// box shadow constants
$box-shadow: 0px 12px 24px #3331 !default;
$box-shadow-dark: 0px 6px 12px #3333 !default;

// border constant
$border-radius: 1.0rem !default;
$border-radius-hard: calc(#{$border-radius} * 2) !default;
$border-radius-hardest: calc(#{$border-radius} * 10) !default;
$border-color: #aaa3;

// @media constants
$lower-limit: 63em;
$middle-limit: 127em;
$upper-limit: 255em;

$offset: 1.2;