
// generic color constants
$base-color: #000 !default;
$base-color-lightened-1: #4a5d75 !default;
$base-color-lightened-2: #98a0ab !default;
$base-color-lightened-3: #b9bfc7 !default;
$base-color-lightened-4: #c1cdd5 !default;
$base-color-lightened-5: #dae1e6 !default;
$base-color-lightened-6: #e3e7eb !default;
$base-color-lightened-7: #f3f5f7 !default;
$base-end-color: #fff !default;
$base-background-color: #ebedf0 !default; //ebedf0 - alt for start page
$base-blue-color: #5963ff !default;
$base-blue-color-lightened: #7178e3 !default;
$base-blue-color-alt: #37a9fa !default;
$base-red-color: #eb4e39 !default;
$base-green-color: #c4ec7d !default;
$base-font-color: #3e4855 !default;
$base-font-color-secondary: #98a0ab !default;

$advanced-color: #e6eaef !important;

// box shadow constants
$box-shadow: 0px 12px 24px #3331 !default;
$box-shadow-dark: 0px 6px 12px #3333 !default;

// border constant
$border-radius: 1.0rem !default;
$border-radius-hard: calc(#{$border-radius} * 2) !default;
$border-radius-hardest: calc(#{$border-radius} * 10) !default;
$border-color: #f0f1f2;
$border-width-thin: 0.125rem;
$border-width: 0.1875rem;
$border-width-thin: calc((#{$border-width} / 3) * 2);
$border-width-thick: calc((#{$border-width} / 3) * 4);

// @media constants

// Defaults
$lower-limit: 63em;
$middle-limit: 127em;
$upper-limit: 255em;

// Font Breaks
$font-break-0: 255em;
$font-break-1: 127em;
$font-break-2: 102em;
$font-break-3: 77em;
$font-break-4: 63em;

// Layout Breaks
$layout-break-0: 253em;
$layout-break-1: 173em;
$layout-break-2: 123em;
$layout-break-3: 83em;
$layout-break-4: 73em;
$layout-break-5: 63em;
$layout-break-6: 43em;

// Offsets
$font-offset-mobile: 1.2;

// Activities Constants

$event-new: $base-end-color;
$event-confirmed: $base-color-lightened-6;
$event-unconfirmed: $base-color-lightened-5;