@import "../../../scss/modal.scss";
.modal-footer {
  padding-bottom: 0rem;
}
div.outside-container {
  padding: 0.5rem 0;
}
div.outside-container > span {
  font-style: normal;
  font-weight: normal;
  font-size: 0.8125rem;
  line-height: 1rem;
  color: #2C323A;
}
div.outside-container > span > span {
  color: #5963FF;
  cursor: pointer;
}
.fa-check-circle {
  color: #28a745; //#5cb85c;
  font-size: 96px;
}
button {
  border-radius: 0.75rem;
  height: 3rem;
  width: 8rem;
  font-style: normal;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-appearance: none !important;
  transition: margin-top 0.1s ease-in, margin-bottom 0.1s ease-in;
}
button.blue:hover {
  margin-top: -0.125rem;
}
button:focus {
  outline: none;
}
button.blue {
  color: #5963ff;
  background: #a4a8ec;
  box-shadow: 0px 0px 1px rgba(164, 168, 236, 0.04),
    0px 2px 6px rgba(164, 168, 236, 0.04),
    0px 16px 24px rgba(164, 168, 236, 0.24);
  transition: margin-top 0.1s ease-in, margin-bottom 0.1s ease-in;
}
input.custom-textbox {
  padding-left: 0.75rem;
}
div.kukai-modal > div.km-content > div.km-body > div.group > input.text {
  font-size: 0.8125rem;
}
@supports (-webkit-touch-callout: none) {
  div.kukai-modal > div.km-content > div.km-body > div.group > input.text {
    font-size: 1rem;
  }
}
@media screen and (max-width: 25rem) {
  input#toAddress,
  input.custom-textbox {
    font-size: 0.8125rem;
  }
}
@media screen and (max-width: 22rem) {
  input#toAddress,
  input.custom-textbox {
    font-size: 0.75rem;
  }
}
