<ng-container *ngIf="activeAccount">
    <!-- SEND MODALS -->
    <!-- First Modal -->
    <ng-template #modal1>
        <div class="modal-header">
            <h4 class="modal-title pull-left"> {{ 'DELEGATECOMPONENT.TITLE1' | translate }} </h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="close1()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label for="fromAdress"> {{ 'DELEGATECOMPONENT.FROM' | translate }} </label>
                        <select [(ngModel)]="activeAccount" (change)="checkReveal()" id="fromAdress" class="form-control"
                            name="first">
                            <ng-container *ngFor="let impAcc of implicitAccounts">
                            <option [ngValue]="impAcc">{{ impAcc.address }}</option>
                            <option *ngFor="let origAcc of impAcc.originatedAccounts" [ngValue]="origAcc">{{ origAcc.address }}</option>
                            </ng-container>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label for="toAdress"> {{ 'DELEGATECOMPONENT.TO' | translate }} </label>
                        <input type="text" class="form-control" id="toAdress" placeholder="" [(ngModel)]="toPkh" name="second">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="transactionFee">{{ 'DELEGATECOMPONENT.FEE' | translate }} (&#42793;)</label>
                        <input type="text" class="form-control" id="transactionFee" placeholder={{this.recommendedFee.toString()}}
                            [(ngModel)]="fee" name="four">
                    </div>
                </div>
            </form>
            {{ formInvalid }}
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="sub" (click)="open2(modal2)"> {{
                    'DELEGATECOMPONENT.PREVIEW' | translate }} </button>
            </div>
        </div>
    </ng-template>

    <!-- Confirmation Modal -->
    <ng-template #modal2>
        <div class="modal-header">
            <h4 class="modal-title pull-left"> {{ 'DELEGATECOMPONENT.TITLE2' | translate }} </h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="close2()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p> {{ 'DELEGATECOMPONENT.ACCOUNT' | translate }} {{ activeAccount.address }}
                <BR> {{ 'DELEGATECOMPONENT.DELEGATE' | translate }} {{ getDelegate() | delegatorName }}
                <BR> {{ 'DELEGATECOMPONENT.FEE' | translate }} {{ getFee() | number:'1.0-6' }}&#42793;
            </p>
            <p *ngIf="ledgerInstruction">{{ ledgerInstruction }}</p>
            <div class="row">
                <div *ngIf='walletService.isFullWallet()' class="form-group col-md-6">
                    <label for="pwd">Password:</label>
                    <input [(ngModel)]="password" type="password" id="pwd" class="form-control">
                </div>
            </div>
            {{ pwdValid }}
            <div class="modal-footer">
                <button type="button" [disabled]="walletService.isLedgerWallet() && (!sendResponse || !sendResponse.payload || !sendResponse.payload.signedOperation)" class="btn btn-primary" id="sub" (click)="open3(modal3)"> {{
                    'DELEGATECOMPONENT.CONFIRM' | translate }} </button>
            </div>
        </div>
    </ng-template>

    <!-- Final Modal -->
    <ng-template #modal3>
        <div class="modal-header">
            <h4 class="modal-title pull-left"> {{ 'DELEGATECOMPONENT.TITLE3' | translate }} </h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="close3()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div *ngIf='!sendResponse'>
                {{ 'DELEGATECOMPONENT.WAIT' | translate }}
            </div>
            <ng-container *ngIf='sendResponse'>
                <div *ngIf='sendResponse.success === true'>
                    <i class="fa fa-check-circle"></i>
                    <br>
                    <br>
                    <ng-container *ngIf='sendResponse.payload.opHash'>
                        <p> {{ 'DELEGATECOMPONENT.DELEGATIONSUCCESS' | translate }} </p>
                        <p><a href="{{ CONSTANTS.NET.BLOCK_EXPLORER_URL + '/' + sendResponse.payload.opHash }}" target="_blank">{{ sendResponse.payload.opHash }}</a></p>
                    </ng-container>
                    <ng-container *ngIf='sendResponse.payload.unsignedOperation'>
                        <p> {{ 'DELEGATECOMPONENT.UNSIGNEDSUCCESS' | translate }} </p>
                    </ng-container>
                </div>
                <div *ngIf='sendResponse.success === false'>
                    <p> {{ 'DELEGATECOMPONENT.FAILED' | translate }} </p>
                    <p class="text-danger">{{ sendResponse.payload.msg }}</p>
                </div>
            </ng-container>
            <div class="modal-footer">
                <ng-container *ngIf='sendResponse'>
                    <div *ngIf='sendResponse.success === true'>
                        <button *ngIf='sendResponse.payload.unsignedOperation && !walletService.isLedgerWallet()' type="button" class="btn btn-primary"
                            (click)="download()">
                            {{ 'DELEGATECOMPONENT.DOWNLOAD' | translate }} </button>
                    </div>
                </ng-container>
                <button type="button" class="btn btn-primary" id="sub" (click)="close3()"> {{ 'DELEGATECOMPONENT.CLOSE'
                    | translate }} </button>
            </div>
        </div>
    </ng-template>

    <!-- Showing different Send Format according to actionButtonString -->
    <button type="button" (click)="open1(modal1)" class="btn btn-sm btn-block btn-primary"> {{
        'DELEGATECOMPONENT.TITLE1' | translate }} </button>
</ng-container>