.modal-footer {
    padding-bottom: 0rem;
}

.fa-check-circle { 
    color: #28a745; //#5cb85c;
    font-size: 96px;
}
div.button {
    height: 3rem;
    width: 8rem;
    border-radius: 0.75rem;
    font-family: "Helvetica Now Text";
    font-style: normal;
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 1rem;;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    cursor: pointer;
}
div.button:hover {
    margin-top: -0.125rem;
  }

div.button.blue {
    color: #5963FF;
    background: #A4A8EC;
    box-shadow: 0px 0px 1px rgba(164, 168, 236, 0.04), 0px 2px 6px rgba(164, 168, 236, 0.04), 0px 16px 24px rgba(164, 168, 236, 0.24);
}