<div class="outside-container">
  <span *ngIf="!activeAccount.delegate">No delegate set <span (click)="openModal()">(Choose a baker)</span></span>
  <span *ngIf="activeAccount.delegate">{{ activeAccount.delegate }} <span (click)="openModal()">(Change&nbsp;baker)</span></span>
</div>
<!-- The Modal -->
<div *ngIf="modalOpen" id="myModal" class="kukai-modal">
  <!-- Modal content -->
  <div class="km-content">
    <div class="x" (click)="closeModal()"><img src="../../../assets/img/x.svg"></div>
    <div class="km-header">
      <H1>Delegate (Choose a baker)</H1>
    </div>
    <!-- Prepare delegation -->
    <div class="km-body" *ngIf="activeView === 0">
      <div class="group">
        <label>Current Account Address</label>
        <p>{{ activeAccount.address }}</p>
      </div>
      <div class="group">
        <label>Delegate to Baker Address</label>
        <input #toPkhInput type="text" class="text" [(ngModel)]="toPkh">
      </div>
      <div class="group">
        <label>Fee (tez)</label>
        <input type="text" class="text" [(ngModel)]="fee" placeholder={{this.recommendedFee.toString()}}>
      </div>
      <span *ngIf="formInvalid" class="danger no-margin">
        {{ formInvalid }}
      </span>
      <button class="blue" (click)="openModal2()">Preview</button>
    </div>
    <!-- Confirm transaction -->
    <div class="km-body" *ngIf="activeView === 1">
      <p class="preview">
        Current Account Address — {{ activeAccount.address }}
      </p>
      <p *ngIf="getDelegate()" class="preview">
        Delegate to Baker Address — {{ getDelegate() | delegatorName }}
      </p>
      <p *ngIf="!getDelegate()" class="preview">
        Withdraw delegation
      </p>
      <p class="preview">
        Fee — {{ getFee() | number:'1.0-6' }} tez
      </p>
      <div class="row-group" style="margin: 1.25rem 0 1.5rem;">
        <input *ngIf="!walletService.isLedgerWallet()" [(ngModel)]="password" placeholder="Password" autocomplete="current-password" class="text password" type="password" (input)="this.pwdValid = ''" (change)="this.pwdValid = ''">
        <button *ngIf="walletService.isLedgerWallet() && ledgerError; else elseBlock" class="retry" (click)="ledgerSign()">Sign with Ledger</button>
        <ng-template #elseBlock>
          <button class="blue confirm" (click)="inject()" [disabled]="walletService.isLedgerWallet() && (!sendResponse || !sendResponse.payload || !sendResponse.payload.signedOperation)">
            {{ walletService.isLedgerWallet() ? 'Broadcast' : 'Confirm'}}</button>
        </ng-template>
      </div>
      <span *ngIf="this.pwdValid" class="danger margin">{{ this.pwdValid }}</span>
    </div>
  </div>
</div>