<div class='msg-container'>
  <div *ngFor="let message of messageService.messages ; let i = index">
    <alert *ngIf="!message.timeout" [type]="message.type">
      <button type="button" class="close" aria-label="Close" (click)="removeMessage(i)">
        <span aria-hidden="true">&times;</span>
      </button>
      <span *ngIf="!message.email && !message.username && !message.twitterId && message.msg">{{ message.msg }}</span>
      <span *ngIf="message.email || message.username || message.twitterId">Click <a target="_blank" href="{{ notifyFormat(message) }}">here to notify</a> {{ getAlias(message) }} via {{ message.msg }}: <b>{{ message.amount }}</b> sent</span>
    </alert>
    <alert *ngIf="message.timeout" [type]="message.type" [dismissOnTimeout]="message.timeout">
      <span *ngIf="message.msg">{{ message.msg }}</span><img *ngIf="message.loader" class="loader" src="../../../assets/img/wait.svg"></alert>
  </div>
</div>