:host {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.msg-container {
    position: fixed;
    margin-left: 1rem;
    margin-right: 1rem;
    bottom: 0px;
    z-index: 105;
}
span {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #2C323A;
}
button {
  width: auto;
  height: auto;
  margin-left: 1rem;
}
button.close > span {
  margin-top: 0.125rem;
  font-size: 1.5rem;
  font-weight: bold;
}
:host img.loader {
  height: 1.5rem;
  margin-left: 0.625rem;
}