<div>
  <div class="top">
    <a routerLink="/" class="logo"><img id="logo" src="../../../assets/img/kukai-logo.svg"></a>
  </div>
  <div class="main">
    <div class="main-top">
      <h1>DirectAuth</h1>
      <p>Your Tezos wallet in one-click. <a class="learn-more" target="_blank" href="https://docs.kukai.app/learn-kukai/direct-auth">Learn more</a></p>
    </div>
    <div class="main-mid">
      <p class="signup">Sign up / in with</p>
      <div class="login-options">
        <div *ngFor="let key of torusService.verifierMapKeys" (click)="torusLogin(key)" class="login-option" (mouseover)="activeLogin = key">
          <ng-container *ngIf="key === activeLogin; then color else grey"></ng-container>
          <ng-template #color><img class="login-logo color" src="../../../assets/img/torus-login/{{ key }}-color.svg"></ng-template>
          <ng-template #grey><img class="login-logo grey" src="../../../assets/img/torus-login/{{ key }}-grey.svg"></ng-template>
        </div>
      </div>
    </div>
    <div class="main-bottom">
      <p>The following sign-ins involve a third party authenticator:<BR>Twitter</p>
    </div>
  </div>
</div>
<div class="torus-bg"><img src="../../../assets/img/torus-bg.svg"></div>