@mixin confirm-send-mobile-batch {
  &.batch {
    width: 32em;

    & .divider {
      display: none;
    }

    & .top,
    & .to,
    & .from {
      padding: 2em 0;
      margin: 0 0 0 -2em;
      border-radius: 0;
      width: calc(100% + 4em);
    }

    & .top {
      & .left {
        width: 40%;
      }

      & .right {
        width: calc(60% - 2em);
        margin: 0 2em 0 0;
      }

      &.image {
        align-items: center;
        padding: 1em;
        width: calc(100% + 2em);
        & .left {
          width: auto;
          height: auto;
          justify-content: space-between;
          align-items: center;
        }

        & .right {
          height: 100%;
          justify-content: center;
          width: calc(67% - 2em);
          margin: 0 2em 0 0;
        }

        & .token-image {
          width: 8em;
          height: 8em;
          margin: 0 0 0 1.5em;
        }
      }
    }

    & .from {
      & .left {
        width: auto;
        margin: 0 0 0 3em;
      }

      & .right {
        width: 67%;

        & .address {
          margin: 0.5em 0 0 3em;
        }
      }
    }

    & .to {
      flex-direction: column;
      align-items: center;
      & .left,
      .right {
        width: calc(100% - 2em);
        & .torus-to {
          left: 0;
        }
      }

      & .left {
        align-items: flex-start;
        width: 35%;
        align-self: flex-start;
        margin: 0 0 1em 0;

        & .key {
          text-align: center;
          margin: 0.5em 0 0 3em;
        }
      }

      & .right {
        width: calc(100% - 6em);
        & .transaction {
          width: 100%;
          & .single-to {
            margin: 0.5em 0;
            width: 100%;
            & span {
              font-size: 1em;
            }
          }
        }
      }
    }
  }
}