@use '../../../../abstracts/mixins' as m;
@use '../../../../abstracts/variables'as v;
@use './batch' as b;

$border-color: #e6eaef;

@mixin confirm-send-mobile-default {
  .confirm-send {
    width: auto;

    @include b.confirm-send-mobile-batch;

    & .transfer-amount,
    & .contract-call {
      width: calc(100% - 2em);
    }

    &.image .top .left {
      min-height: 8em;
    }

    & .divider {
      & span {
        border-bottom: 3px solid $border-color;

        &:first-child {
          width: 42%;
        }

        &:last-child {
          width: 42%;
        }
      }
    }

    & .top {
      width: calc(100% - 4em);

      & .left {
        width: 26%;

        & .key {
          text-align: center;
        }
      }

      & .right {
        width: calc(74% - 2em);
      }

      & .token-image {
        width: 8em;
        height: 8em;

        &.balance {
          width: 4em;
          height: 4em;
        }
      }
    }

    & .from {
      padding: 1em 2em;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      & .left {
        width: 31%;
        align-items: flex-start;
      }

      & .right {
        width: 100%;

        & .address {
          font-family: "Roboto Mono";
          margin: 0.5em 0 0 0;
          font-size: 4vw;
        }

        & .torus-name {
          left: 0;
          margin: 0.5em 0 0 0;

          & .verifier-logo {
            margin: 0.25em 0.5em 0 3em;
          }
        }
      }
    }

    & .to {
      padding: 2em;
      width: calc(100% - 4em);
      flex-direction: column;

      & .left {
        width: 31%;
        height: auto;
        align-items: flex-start;
      }

      & .right {
        width: 100%;

        & .transaction {
          & .torus-to {
            left: 0;
            margin: 0.5em 0 0 0;
          }

          & .single-to {
            margin: 0.5em 0 0 0;

            &.default {
              & span {
                margin: 0.5em 0 0 0;
              }
            }

            & span {
              font-family: "Roboto Mono";
              font-size: 4vw;
            }
          }
        }
      }
    }
    & .advanced {
      &-form {
        margin: 1em 0;
      }
    }
  }
}
