@use '../scss/abstracts/variables'as v;
@use '../scss/abstracts/mixins'as m;

:host {
  width: 100vw;
  min-height: 100vh;

  & .network {
    width: 100vw;
    padding: 0.5rem 0;
    @include m.multiply("font-size", 1.25);
    font-weight: 500;
    color: #fff;
    z-index: 5000;
    text-align: center;
    background-color: v.$base-red-color;
    transition: 0.25s box-shadow;
  }
  & .stake {
    display: flex;
    padding: 0.9375rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    background: #7278DC;
    & p {
      color: #FFF;
      font-family: Roboto;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-align: center;
      & a {
        color: #FFF945;
        font-family: Roboto;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
  }
}