@import "../../../scss/modal.scss";
img.qr-icon {
  cursor: pointer;
  margin-left: 0.5rem;
}
div.km-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 0;
  margin-right: 0;
}
@media screen and (max-width: 27rem) {
    div.button {
        width: 6.75rem;
    }
  }