@import "../../../scss/modal.scss";
img.qr-icon {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  vertical-align: baseline;
}
div.km-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 0;
  margin-right: 0;
}
@media screen and (max-width: 27rem) {
    div.button {
        width: 6.75rem;
    }
  }