<ng-container>

    <!-- Receive Modal -->
    <ng-template #modal1 class="receive-modal">
        <div class="modal-header">
            <h4 class="modal-title pull-left"> {{ 'RECEIVECOMPONENT.RECEIVETEZ' | translate }} </h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="close1()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <input [(ngModel)]="activeAddress" type="text" id="toAddress" class="form-control" disabled>
                </div>
            </div>
            <div class="row" *ngIf='activeAddress'>
                <canvas id='canvas'></canvas>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="sub" (click)="close1()"> {{ 'RECEIVECOMPONENT.CLOSE' | translate }} </button>
        </div>
    </ng-template>

<!--       <div *ngIf='accounts' (click)="open1(modal1)" class="card text-white bg-indigo receive-card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="text-value">{{ 'RECEIVECOMPONENT.RECEIVE' | translate }}</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="h1 text-muted pt-3">
                <i class="fa fa-qrcode" style="font-size: 45px;"></i>
              </div>
            </div>
          </div>
        </div>
      </div> -->

    <!-- Showing different Receive Format according to actionButtonString -->
    <button type="button" (click)="open1(modal1)" class="btn btn-outline-primary btn-op">{{ 'RECEIVECOMPONENT.RECEIVE' | translate }}</button>
</ng-container>
