@use '../../abstracts/variables'as v;
@use '../../abstracts/mixins'as m;

:host {
  height: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: v.$base-background-color;

  & .brand-logo {
    text-decoration: none;
    height: 4rem;

    & .icon {
      width: auto;
      height: 100%;
    }
  }
}

.top-container.desktop {
  height: 100%;
  width: calc(89%);
  padding: 0 5.5%;
  flex-wrap: wrap;

  &.default {
    background-color: v.$base-end-color;
    border-bottom: 2px solid v.$border-color;
  }

  &>.right {
    height: 100%;

    &>.left {
      width: 22rem;
      height: 100%;
      justify-content: flex-end;
      position: relative;
      top: -0.25rem;
      left: 0;
      
      &>.delegation {
        text-align: center;
        padding: 0.75rem 1rem 1rem 2rem;
        width: 18rem;

        & .outside-container {
          width: 100%;

          &>div {
            width: 100%;
            justify-content: flex-start;

            &>.address {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              color: v.$base-font-color-secondary;

              &>span {
                color: v.$base-font-color;
              }
            }
          }
        }

        & .choose {
          color: v.$base-red-color;
          font-weight: 500;
          cursor: pointer;
        }

        & .change {
          color: v.$base-blue-color;
          font-weight: 500;
          cursor: pointer;
        }
      }

      & input {
        @include m.multiply('font-size',1);
        width: calc(100% - 5rem);
        height: 2rem;
        padding: 0.6rem 0 0.6rem 2rem;
        background-color: v.$base-end-color;
        border-radius: v.$border-radius;
        border: 2px solid v.$base-color-lightened-5;
        border-radius: 2rem;
        transition: 0.25s border-radius;
        text-align: left;
      }

      & .icon-db {
        width: calc(2rem - 2px);
        height: calc(2rem - 2px);
        position: absolute;
        top: 13px;
        right: calc(3.5rem + 2px);
        background-color: v.$base-end-color;
        border-radius: v.$border-radius;
        transform: rotate(0deg);
        transition: 0.25s transform, 0.25s border-radius;
        border: none;
      }
    }

    &>.right {

      &>span {
        @include m.multiply('font-size',1.35);
        margin: 0 0 0 4rem;
        color: v.$base-color-lightened-2;
        cursor: pointer;

        &:hover, &.selected {
          color: v.$base-blue-color;
        }
      }

      & .icon {

        margin-right: 1rem;
        border: 2px solid v.$base-color-lightened-5;
        width: 2rem;
        height: 2rem;
        padding: calc(0.5rem + 1px);
        border-radius: v.$border-radius-hard;
        position: relative;
        top: 0;
        left: 0;
        cursor: pointer;

        &:last-of-type {
          margin-right: 0;
        }

        &:hover {
          & .tooltip {
            display: flex;
          }
        }

        & .tooltip {
          position: absolute;
          top: 3.5rem;
          left: -3rem;
          background-color: v.$base-background-color;
          width: auto;
          min-width: 8rem;
          height: 1rem;
          padding: 0.5rem;
          justify-content: center;
          align-items: center;
          border-radius: v.$border-radius-hard;
          display: none;
          box-shadow: v.$box-shadow;
        }

        & img {
          width: 100%;
          height: auto;
          object-fit: scale-down;
        }

        &:nth-child(2) {
          margin-right: 2rem;
        }

        &:last-child {
          & img {
            margin: 0 0 0 0.25rem;
          }
        }
      }
    }
  }
}

.top-container.mobile {
  height: 100%;
  width: calc(89%);
  padding: 0 5.5%;
  flex-wrap: wrap;
  display: none;
  position: relative;

  &.default {
    background-color: v.$base-end-color;
  }

  & .copy {
    margin-right: 1rem;
    border: 2px solid v.$base-color-lightened-5;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    border-radius: v.$border-radius-hard;

    & img {
      width: 100%;
      height: auto;
      object-fit: scale-down;
    }
  }

  & .hamburger-dropdown {
    cursor: pointer;
    border: 2px solid #9993;
    border-radius: 10rem;
    width: 4.5rem;
    height: 4.5rem;

    & .hamburger-dropdown-content {
      display: none;
      width: 100%;
      position: absolute;
      left: 0;
      top: 10rem;
      background-color: v.$base-end-color;
      z-index: 1000;
      border-top: 2px solid v.$base-color-lightened-6;
      box-shadow: v.$box-shadow;

      &>div {
        padding: 1rem 2rem;
        border-bottom: 2px solid v.$border-color;
        height: 4rem;
        @include m.multiply('font-size',2);

        &:last-child {
          border-bottom: none;
        }

        &>.delegation {
          text-align: center;
          padding: 0.5rem 0;
          width: 100%;
        }

        & span {
          @include m.multiply('font-size',2);
        }

        & .icon {
          width: 2rem;
        }
      }
    }

    &.expanded {
      & .hamburger-dropdown-content {
        display: flex;

        & .delegation {
          &>div {
            width: 100%;
          }

          & .choose {
            color: v.$base-red-color;
            font-weight: 500;
          }
        }
      }
    }

    & .icon-db {
      padding: 1.5rem;
      width: 1.5rem;
      height: 1.5rem;
      object-fit: scale-down;
    }
  }
}

@media (max-width: v.$lower-limit) {

//   @media not all and (min-resolution:.001dpcm)
// { @supports (-webkit-appearance:none) {
//   @supports not (-webkit-touch-callout: none) {

//   .top-container.mobile .brand-logo .title {
//     height: 3.75rem !important;
//   }

// }}}

  .top-container.desktop {
    display: none;
  }

  .top-container.mobile {
    display: flex;
  }
}

a.logo {
  margin: 2.25rem 2rem 1rem;
  width: 5.6875rem;
  height: 1.75rem;
}

#header-list {
  display: flex;
  @include m.multiply('font-size',0.875);
  color: rgba(255, 255, 255, 0.8);
  vertical-align: bottom;
  text-align: right;
  line-height: 1rem;
  padding: 0 2rem;
  align-items: center;
  width: 100%;

  &>.left {
    padding: 0 0.125rem;
    text-align: left;
    color: white;
    background-color: #CC0000;
    font-weight: 600;
  }

  &>.main {
    flex-grow: 1;
  }

  &.invert {
    color: rgba(0, 0, 0, 0.8);
  }
}