@use '../../abstracts/variables'as v;

%bg {
  width: 85%;
  height: 85%;
  object-fit: contain;
  object-position: center;
}

%ribbon {
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 100vw !important;
  height: 45.5vh;
  border-top: 1.5rem solid #d6dbe3;
  background-color: v.$base-color-lightened-6;
  z-index: -100;
  background: linear-gradient(180deg, v.$base-color-lightened-5, v.$base-background-color);
}

:host {
  width: 100%;
  min-height: calc(100vh - 10rem);
  height: 60rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  & #ribbon {
    @extend %ribbon;

    &-mobile {
      @extend %ribbon;
      display: none;
    }
  }
}

#wrapper {

  width: 100%;
  height: 100%;
  justify-content: center;
  position: relative;

  & .left,
  & .right {
    width: 50%;
    height: 100%;
    position: relative;
    z-index: 100;

    & h1 {
      font-size: 7rem;
      color: v.$base-font-color;
      font-weight: 500;
    }

    & h3 {
      font-size: 3rem;
      font-weight: 400;
      line-height: 4.5rem;
      color: #6c7a8d;
    }

    &>div {
      width: 100%;
      height: 52%;
      justify-content: center;

      &:last-child {
        height: 48%;
      }
    }

    & .top,
    & .login {
      width: calc(100% - 11%);
      padding: 0 0 0 11%;
    }

    & .top {
      justify-content: center;
      width: calc(100% - 11%);
      padding: 0 0 0 11%;

      &>* {
        margin: 2rem 0;
      }
    }

    & .bottom {
      display: none;
      position: relative;
      align-items: center;
    }

    & .login {

      position: relative;
      top: -4rem;

      &>* {
        margin: 1rem 0;
      }

      &>span {
        font-size: 3rem;
        color: v.$base-font-color;

        &:last-of-type {
          font-size: 2rem;
          color: v.$base-font-color;
        }
      }

      & .social {
        justify-content: flex-start;

        .facebook,
        .twitter,
        .reddit,
        &>.google img {
          margin: 0 0 0 2rem;
          border-radius: v.$border-radius-hardest;
          width: 4rem;
          height: 4rem;
          cursor: pointer;
        }

        .facebook,
        .twitter,
        .reddit {
          width: 6rem;
          height: 6rem;
        }

        .facebook,
        .twitter,
        .reddit,
        &>.google {
          background-color: v.$base-end-color;
          box-shadow: v.$box-shadow;
        }

        &>.google {
          border: 2px solid v.$border-color;
          border-radius: v.$border-radius-hardest;
          width: 25rem;
          height: 6rem;
          color: v.$base-font-color;
          font-size: 1.5rem;
          padding: 0 3rem 0 0.5rem;

          &>span {
            padding: 1rem 0;
            font-size: 1.25rem;
            font-weight: 600;
          }

          & img {
            margin: 0;
            width: 2rem;
            height: 2rem;
          }
        }
      }

      & .email {
        height: 4rem;
        justify-content: flex-start;

        & input,
        & .signin {
          height: 100%;
          border: 2px solid v.$border-color;
          border-radius: v.$border-radius-hardest;
        }

        & input {
          width: 55%;
          text-align: left;
          padding: 0.5rem 0 0.5rem 2rem;
          font-size: 2rem;
        }

        & .signin {
          width: 12rem;
          height: 5rem;
          background-color: v.$base-background-color;
          color: v.$base-font-color-secondary;
          font-size: 1.5rem;
          margin: 0 0 0 2rem;
        }
      }
    }
  }

  & .right {
    justify-content: center;
    align-items: flex-end;
    position: relative;
    z-index: 0;
    width: calc(50vw - 4rem);
    padding: 0 4rem 0 0;
  }

  & #bg {
    @extend %bg;

    &-mobile {
      display: none;
      @extend %bg;
    }
  }
}

@media (max-width: 171em) {

  #wrapper {

    & .left,
    & .right {
      & h1 {
        font-size: 4.5rem;
      }

      & h3 {
        font-size: 2rem;
        line-height: 3rem;
      }

      & .login {
        & .social {
          justify-content: flex-start;

          & .facebook,
          & .twitter,
          & .reddit,
          &>.google img {
            margin: 0 0 0 1rem;
          }

          & .facebook,
          & .twitter,
          & .reddit {
            width: 4rem;
            height: 4rem;
          }

          & .google {
            height: 5rem;
          }
        }
      }
    }
  }
}

@media (max-width: v.$lower-limit) {

  :host {

    & .bottom {
      display: flex !important;
    }

    & #ribbon {
      display: none;
    }

    & #ribbon-mobile {
      left: 0;
      display: block;
      height: 48%;
    }

    height: unset;

    #wrapper {
      width: 100%;
      height: auto;
      flex-direction: column;
      align-items: center;
      padding: 2rem 0 0 0;

      #bg {
        display: none;

        &-mobile {
          display: block;
          width: 75% !important;
          height: 100% !important;
          max-width: 70rem;
        }
      }

      & .left,
      & .right {
        width: 100%;
        height: 100%;
        align-items: center;

        & .top h1,
        & .top h3 {
          width: 100%;
          text-align: center;
          font-weight: 400;
          margin: 2rem;
          width: calc(100% - 4rem);
        }

        & .top h1 {
          font-size: 6rem;
          color: v.$base-font-color;
          font-weight: 500;
        }

        & .top h3 {
          font-size: 2.5rem;
          font-weight: 400;
          color: v.$base-font-color-secondary;
        }

        &>div {
          width: 100%;
          height: 100%;
          justify-content: center;
        }

        & .top,
        & .login {
          flex-direction: column;
          width: 100%;
          padding: 0;
          height: auto;

          & .email {
            justify-content: center;
          }
        }

        & .top {
          justify-content: flex-end;
          width: 100%;
          padding: 0;

          &>* {
            margin: 2rem 0;
          }
        }

        & .login {
          position: unset;
          top: unset;


          &>span {
            text-align: center;
            font-weight: 500;
            font-size: 2.5rem;
          }

          & .social {
            flex-direction: column;
            align-items: center;
            height: 15rem;
            justify-content: flex-start;

            & .google {
              margin: 0 0 2rem 0;
              width: 29rem;
              padding: 0 2rem 0 1.5rem;
              height: 6rem;

              &>img {
                width: 2.5rem;
                height: 2.5rem;
                margin: 0;
              }

              & span {
                font-size: 2rem;
              }
            }

            & .facebook, & .twitter, & .reddit {
              width: 6rem;
              height: 6rem;
              margin: 0 0 0 2rem;
            }

            & .facebook {
              margin: 0;
            }
          }
        }
      }
    }
  }
}

@media (max-width: v.$lower-limit) {

  :host {
    #wrapper {
      & .left,
      & .right {
        & h1 {
          font-size: 5rem;
        }
        & h3 {
          font-size: 2.25rem;
        }
      }
    }
  }
}