@use "../../../abstracts/variables" as v;
@use "../../../abstracts/mixins" as m;

$base-font-color: v.$base-font-color;
$base-end-color: v.$base-end-color;
$color-lightened-5: v.$color-lightened-5;
$color-lightened-6: v.$color-lightened-6;
$color-lightened-65: v.$color-lightened-65;
$color-lightened-7: v.$color-lightened-7;
$base-blue-color-lightened: v.$base-blue-color-lightened;
$border-width: v.$border-width;
$border-color: v.$border-color;
$border-radius-hard: v.$border-radius-hard;
$box-shadow: v.$box-shadow;
$box-shadow-dark: v.$box-shadow-dark;
$border-color-dark-only: v.$border-color-dark-only;
$border-width-dark-only: v.$border-width-dark-only;

.dropdown {
  display: block;
  position: relative;
  margin: 0 0.5em 0 0;

  &.pr-request {
    width: 100%;
    margin: 1em 0;

    & .currentAddress {
      width: calc(100% - 1em - #{$border-width});
      padding: 0 0 0 calc(1em - #{$border-width});
      border: $border-width solid $border-color-dark-only;
      font-size: 1.15em;
    }

    & .icon-db {
      right: 0.75em;
    }

    & .dropdown-content {
      top: 0em;
      width: calc(100% + #{$border-width} * 2);
      border: 0 solid $border-color-dark-only;
      position: relative;
      max-height: 15em;
      overflow-y: auto;
      margin: 0 0 2.5em 0;

      &::-webkit-scrollbar-track {
        margin: 0 0 1.5em 0;
      }

      & .option {
        padding: 0.75em 1.125em 0.75em 2.375em;
      }
    }
    &.expanded {
      & .dropdown-content {
        border: $border-width-dark-only solid $border-color-dark-only;
      }
    }
  }

  & * {
    -webkit-tap-highlight-color: #fff0;
  }

  & .currentAddress {
    @include m.multiply("font-size", 1);
    width: calc(100% - 2em);
    padding: 0 0 0 1em;
    background-color: $color-lightened-65;
    border-radius: v.$border-radius-hard;
    border: $border-width solid $border-color-dark-only;
    transition: 0.25s border-radius;
    height: calc(3.375em - #{$border-width});
    cursor: pointer;
    font-weight: 500;
    justify-content: flex-start;

    & .logo {
      height: 1.5em;
      width: 1.5em;
      object-fit: cover;
      margin: 0 1em 0 0;
    }

    & .address {
      @include m.ellipsis;
      width: calc(100% - 4em);
      font-weight: 500;
      font-size: 1.25em;
    }

    &::placeholder {
      color: $base-font-color;
    }
  }

  & .icon-db {
    width: 2em;
    height: 2em;
    position: absolute;
    top: calc(0.685em + #{$border-width} / 2);
    right: 1.5em;
    border-radius: v.$border-radius-hard;
    transform: rotate(0deg);
    transition: 0.25s transform, 0.25s border-radius;
    cursor: pointer;
    filter: v.$base-filter-brightness-5;
  }

  & .dropdown-content {
    background: $base-end-color;
    position: absolute;
    display: none;
    z-index: 100;
    width: calc((100% - 1em) + var(--border-width) * 2);
    top: 3.375em;
    left: 0;
    border: none;
    box-shadow: $box-shadow-dark;
    overflow: hidden;
    max-height: 15em;
    $box-shadow-dark: $box-shadow-dark;
    border-bottom-left-radius: v.$border-radius;
    border-bottom-right-radius: v.$border-radius;

    & .body {
      overflow: hidden;
      overflow-y: auto;
      &::-webkit-scrollbar-track {
        margin: 0 0 0em 0;
      }
    }

    &.right {
      margin-top: -1.1em;
    }

    & .sep {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      border-top: 1px solid #0004;
      border-bottom: 1px solid #0004;
    }

    & .option {
      color: v.$base-font-color;
      padding: 0.75em 1.125em 0.75em calc(2rem - #{$border-width});
      text-decoration: none;
      cursor: pointer;
      background: $base-end-color;
      @include m.multiply("font-size", 1.15);

      &:hover {
        background: $color-lightened-6;
      }

      &.selected {
        background: $color-lightened-5;
      }

      & .alias {
        width: 100%;
        justify-content: flex-start;

        & img {
          height: 1em;
          margin: 0 0.5em 0 0em;
        }

        & span {
          @include m.multiply("font-size", 1.15);
          color: $base-font-color;
        }
      }

      & > span {
        width: 100%;
      }
    }
    & .show-all {
      box-shadow: $box-shadow;
      width: 100%;
      position: sticky;
      bottom: 0;
      left: 0;
      & span {
        color: $base-blue-color-lightened;
      }
    }
  }

  &.expanded {
    & .currentAddress,
    & .icon-db {
      border-top-right-radius: v.$border-radius;
    }

    & .currentAddress {
      border-top-left-radius: v.$border-radius;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      box-shadow: $box-shadow-dark;
    }

    & .icon-db {
      transform: rotate(180deg);
    }

    & .dropdown-content {
      display: flex;
      border: v.$border-width solid v.$border-color-dark-only;
      box-sizing: border-box;
    }
  }
}

@media (max-width: v.$layout-break-5) {
  :host {
    width: 50%;

    & .dropdown:not(.pr-request) .dropdown-content {
      width: calc(100% + 6em);
      top: 4.78em;
      left: calc(-4em + $border-width);

      & .option {
        font-size: 1.5em;
      }
    }
  }
}