@use '../../../abstracts/variables'as v;
@use '../../../abstracts/mixins' as m;

$base-font-color: v.$base-font-color;
$base-end-color: v.$base-end-color;
$color-lightened-5: v.$color-lightened-5;
$color-lightened-6: v.$color-lightened-6;
$color-lightened-7: v.$color-lightened-7;
$border-width: v.$border-width;
$border-color: v.$border-color;

.dropdown {
  min-width: 11.5em;
  width: 0%;
  height: 2.375em;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  top: -3.1265em;
  right: 0;
  cursor: pointer;
  font-size: 1.25em;
  border: $border-width solid $color-lightened-6;
  border-radius: v.$border-radius-hardest;
  transition: 0.25s border-radius;
  padding: 0 0.5em;
  & * {
    -webkit-tap-highlight-color: #fff0; 
  }

  & input {
    text-align: left;
    width: calc(100% - 4em);
    padding: 0 0em 0 0em;
    transition: 0.25s border-radius;
    text-transform: uppercase;
    border: none;
    font-weight: 600;
    color: $base-font-color;
    height: 100%;
    margin: 0;
    font-size: 0.875em;
    cursor: pointer;
  }

  & .icon-db {
    height: 1.25em;
    width: 1.25em;
    transform: rotate(0deg);
    transition: 0.15s transform;
    filter: v.$dropdown-icon-invert;
  }

  & .icon-torus {
    width: 1.25em;
    height: 1.3em;
    border-radius: v.$border-radius-hard;
  }

  & .dropdown-content {
    background: $base-end-color;
    position: absolute;
    display: none;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    top: 3em;
    right: 0;
    box-shadow: v.$box-shadow-dark;

    &.right {
      margin-top: -1.1em;
    }

    & .sep {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
    }

    & a {
      color: $base-font-color;
      padding: 0.75em 1.875em;
      text-decoration: none;
      display: block;
      cursor: pointer;

      &:hover {
        background: $color-lightened-7;
      }

      &.selected {
        background: $color-lightened-6;
      }
    }
  }

  &.expanded {
    & .icon-db {
      transform: rotate(180deg);
    }

    & .dropdown-content {
      display: flex;
    }
  }
}

@media (max-width: v.$layout-break-6) {
  .dropdown {
    top: -3.25em;
    min-width: 12em;
    right: 0;
  }
  .dropdown .icon-db, .dropdown .icon-torus {
    top: 0.75em !important;
  }
}