@import "../../../scss/card.css";
:host {
    width: 100%;
    padding-bottom: 8rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
:host > div {
    min-height: calc(100vh - 13rem);
    margin-top: 5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
:host div > H1 {
    max-width: 100vw;
}
:host p {
    font-size: 1rem;
    line-height: 1.5rem;
}
:host input.text {
    margin-top: 3rem;
}
:host span.text-danger {
    margin-top: 1rem;
}