<div class="kukai-card">
    <H1>
        Activate your ICO wallet
    </H1>
    <p class="description">Wallets created during the fundraiser need to be activated. No private key is required for the activation process.</p>
    <input type="text" class="text" [(ngModel)]="pkh" [placeholder]="'tz1...'">
    <small class="grey">Your public key hash</small>
    <input type="text" class="text" [(ngModel)]="secret" [placeholder]="'Code'">
    <small class="grey">Your activation code</small>
    <div class="buttons"><a routerLink="/import"><div class="button back">Back</div></a><div class="button next" (click)="activate()">Activate</div></div>
    <span *ngIf="formInvalid" class="text-danger">
        {{ formInvalid }}
    </span>
</div>