.page-header {
    margin: 40px 0px 10px 0px; //top right bottom left
}

.bottom-separator {
    //padding-top: 10px;
    padding-bottom: 27px;
    border-bottom: 1px solid #eee; //Alignment  with sidebar
    margin-bottom: 0.5rem; //space between border and next content
}

h4 {
    font-weight: 400;
}

.min-size-prepend {
    min-width: 98px;
}

input:disabled {
    cursor: not-allowed;
}

textarea:disabled {
    cursor: not-allowed;
}

//btn-second
.btn-second {
    min-width: 96px;
    color: #333333;
}

.btn-second:disabled {
    cursor: not-allowed;
}

.btn-second:hover:enabled {
    background-color: #cccccc;
}

.btn-second:active {
    background-color: #b3b3b3;
}
#decodeDiv {
    border-style: dotted;
    border-color: red;
}