<div class="container">
    <!-- Title -->
    <div class="row bottom-separator">
        <div class="col-lg-12">
            <h1 class="page-header">Offline transactions</h1>
        </div>
    </div>

    <!-- Subheading -->
    <div class="row">
        <div class="col-lg-12">
            <h4>In 2 easy steps, you can broadcast an operation to the tezos network without ever needing to use your secret key in an online environment. First, import your wallet and your unsigned operation in an air-gaped offline computer to sign your operation.  Secondly, broadcast your signed operation hash to the network.</h4>
            <!--
            <h4>In 3 easy steps, you can broadcast an operation to the tezos network without ever needing to use your secret key in an online environment. First, you need to create an unsigned operation. In step 2, you can load your wallet in an air-gaped offline computer to sign your operation and, then finally, in step 3, you can broadcast the operation hash to the network.</h4>
            -->
        </div>
    </div>
    <br>

    <!-- Step 1 --
    <div class="row">
        <div class="col-lg-12">
            <h3>1. Create an unsigned operation</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Import your view-only wallet from file (.tzop) or insert your public key (edpk...)</p>
        </div>
    </div>
    <form>
        <div class="form-group row">
            <!-- Import Wallet Button --
            <div class="input-group col-sm-8">
                <div class="input-group-prepend">
                    <span class="input-group-text min-size-prepend">Wallet</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="importWallet" (change)="handleViewOnlyWalletFileInput($event.target.files)">
                    <label class="custom-file-label" for="importWallet"> {{InputImportWalletFileStep1}} </label>
                </div>
            </div>
        </div>
    </form>
    <form class="form-inline">
        <label class="sr-only" for="inputedpk">Input edpk</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inputedpk" placeholder="edpk...">
        <!--
        <button type="submit" class="btn btn-clear btn-second mb-2">Import</button>
        --
    </form>
    <form class="form-inline">
        <label for="inputOperation" class="mr-sm-2">Operation</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Send</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">Delegate</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
            <label class="form-check-label" for="inlineRadio3">New Account</label>
        </div>
        <!--
        <input type="text" class="form-control mb-2 mr-sm-2" id="inputOperation" placeholder="edpk...">
        --
    </form>

    <br>
    -->
    <!-- Step 2 -->
    <div class="row">
        <div class="col-lg-12">
            <h3>1. Create signed operation</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Import or paste your unsigned operation</p>
        </div>
    </div>
    <form>
        <div class="form-group row">
            <!-- Import Wallet Button - only shown when there's not a full Wallet available *ngIf="!walletService.isFullWallet()" -->
            <div class="input-group mb-3 col-sm-8" *ngIf="false">
                <div class="input-group-prepend">
                    <span class="input-group-text min-size-prepend">Wallet</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="importWallet" (change)="handleWalletFileInput($event.target.files)">
                    <label class="custom-file-label" for="importWallet"> {{InputImportWalletFileStep2}} </label>
                </div>
            </div>

            <!-- Import Unsigned Operation Button -->
            <div class="input-group col-sm-8">
                <div class="input-group-prepend">
                    <span class="input-group-text min-size-prepend">Operation</span>
                </div>
                <div class="custom-file">
                    <input [disabled]="isObserverWallet" type="file" class="custom-file-input" id="importUnsignedOperation" accept=".tzop" (change)="handleUnsignedOperationFileInput($event.target.files)">
                    <label class="custom-file-label" for="importUnsignedOperation"> {{InputImportOperationFileStep2}} </label>
                </div>
            </div>
        </div>
    </form>
    <form>
        <div class="form-group row">
            <div class="col-sm-8">
                <label for="unsignedOperationTextarea" class="sr-only">Import or paste your unsigned operation</label>
                <textarea [disabled]="isObserverWallet" rows="4" [(ngModel)]="unsigned" [ngModelOptions]="{standalone: true}" class="form-control" id="unsignedOperationTextarea" placeholder="Unsigned Operation"></textarea>
            </div>
        </div>
    </form>
    <form class="form-inline">
        <label class="sr-only" for="inputPassword">Password</label>
        <input [disabled]="isObserverWallet" type="password" class="form-control mb-2 mr-sm-2" id="inputPassword" [(ngModel)]="pwd" placeholder="{{ pwdPlaceholder }}" [ngModelOptions]="{standalone: true}">
        
        <button [disabled]="isObserverWallet" type="button" class="btn btn-clear btn-second mb-2 mr-sm-2" (click)="sign()">Submit</button>
        <button *ngIf="signed" class="btn btn-clear btn-second mb-2 mr-sm-2" (click)="download()">Download</button>
        <small *ngIf="signed" class="text-success">
            Operation successfully signed!
        </small>
    </form>
    <br>

    <!-- Step 3 -->
    <div class="row">
        <div class="col-lg-12">
            <h3>2. Broadcast </h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Import or paste your signed operation and transmit your operation to the Tezos network</p>
        </div>
    </div>
    <form>
        <div class="form-group row">
            <!-- Import Signed Operation Button -->
            <div class="input-group col-sm-8">
                <div class="input-group-prepend">
                    <span class="input-group-text min-size-prepend">Operation</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="importWallet" accept=".tzop" (change)="handleSignedOperationFileInput($event.target.files)">
                    <label class="custom-file-label" for="importWallet"> {{InputImportOperationFileStep3}} </label>
                </div>
            </div>
        </div>
    </form>
    <form>
        <div class="form-group row">
            <div class="col-sm-8">
                <label for="signedOperationTextarea" class="sr-only">Import your signed operation</label>
                <textarea rows="4" [(ngModel)]="signed" [ngModelOptions]="{standalone: true}" class="form-control" id="signedOperationTextarea" placeholder="Signed Operation"></textarea>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-lg-8">
            <button type="button" (click)="broadcast()" class="btn btn-clear btn-second pull-right">Broadcast</button>
        </div>
    </div>
</div>
