<div class="container">
    <!-- Title -->
    <div class="row bottom-separator">
        <div class="col-lg-12">
            <h1 class="page-header">Offline transactions</h1>
        </div>
    </div>

    <!-- Subheading -->
    <div class="row">
        <div class="col-lg-12">
            <button class="btn btn-clear btn-second mb-2 mr-sm-2" (click)="toggleShowInstructions()">{{ instructionBtn }}</button>
            <h4 *ngIf="showInstructions">In 3 easy steps, you can broadcast an operation to the tezos network without ever needing to use your secret
                key in an online environment. Make sure you have first exported a view-only wallet from the backup view in
                your full wallet. The full wallet should be stored on an offline system and the view-only wallet on an online
                system. In the view-only wallet proceed with the operation (step 1). This will create an unsigned operation
                that will be exported to a file. Move the unsigned operation to your full wallet and sign it (step 2). The
                signed operation can now be exported and transfered back to an online system and broadcasted (step 3).</h4>
        </div>
    </div>
    <BR>

    <!-- Step 1 -->
    <div class="row">
        <div class="col-lg-12">
            <h3>1. Unsigned operation (online)</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>You can create an unsigned operation with your view-only wallet in the
                <a routerLink="/overview" class="btn-main-action">Overview</a>.</p>
        </div>
    </div>
    <br>

    <!-- Step 2 -->
    <div class="row">
        <div class="col-lg-12">
            <h3>2. Sign operation (offline)</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Import or paste your unsigned operation</p>
        </div>
    </div>
    <form>
        <div class="form-group row">
            <!-- Import Unsigned Operation Button -->
            <div class="input-group col-sm-8">
                <div class="input-group-prepend">
                    <span class="input-group-text min-size-prepend">Operation</span>
                </div>
                <div class="custom-file">
                    <input [disabled]="!isFullWallet" type="file" class="custom-file-input" id="importUnsignedOperation" accept=".tzop" (change)="handleUnsignedOperationFileInput($event.target.files)">
                    <label class="custom-file-label" for="importUnsignedOperation"> {{InputImportOperationFileStep2}} </label>
                </div>
            </div>
        </div>
    </form>
    <form>
        <div class="form-group row">
            <div class="col-sm-8">
                <label for="unsignedOperationTextarea" class="sr-only">Import or paste your unsigned operation</label>
                <textarea [disabled]="!isFullWallet" rows="3" cols="130" [(ngModel)]="unsigned" [ngModelOptions]="{standalone: true}" (change)="decodeUnsignedOp()"
                    class="form-control" id="unsignedOperationTextarea" placeholder="Unsigned Operation"></textarea>
            </div>
        </div>
    </form>
    <div *ngIf='decodeOutput' id="decodeDiv">
        <pre>{{ decodeOutput }}</pre>
    </div>
    <form class="form-inline">
        <label class="sr-only" for="inputPassword">Password</label>
        <input [disabled]="!isFullWallet" type="password" class="form-control mb-2 mr-sm-2" id="inputPassword" [(ngModel)]="pwd"
            placeholder="{{ pwdPlaceholder }}" [ngModelOptions]="{standalone: true}">

        <button [disabled]="!isFullWallet" type="button" class="btn btn-clear btn-second mb-2 mr-sm-2" (click)="sign()">Sign</button>
        <button *ngIf="signed1" class="btn btn-clear btn-second mb-2 mr-sm-2" (click)="download()">Download</button>
        <small *ngIf="signed1" class="text-success">
            Operation successfully signed!
        </small>
    </form>
    <br>

    <!-- Step 3 -->
    <div class="row">
        <div class="col-lg-12">
            <h3>3. Broadcast (online)</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Import or paste your signed operation and transmit your operation to the Tezos network</p>
        </div>
    </div>
    <form>
        <div class="form-group row">
            <!-- Import Signed Operation Button -->
            <div class="input-group col-sm-8">
                <div class="input-group-prepend">
                    <span class="input-group-text min-size-prepend">Operation</span>
                </div>
                <div class="custom-file">
                    <input type="file" [disabled]="walletService.isFullWallet()" class="custom-file-input" id="importWallet" accept=".tzop" (change)="handleSignedOperationFileInput($event.target.files)">
                    <label class="custom-file-label" for="importWallet"> {{InputImportOperationFileStep3}} </label>
                </div>
            </div>
        </div>
    </form>
    <form>
        <div class="form-group row">
            <div class="col-sm-8">
                <label for="signedOperationTextarea" class="sr-only">Import your signed operation</label>
                <textarea rows="3" cols="130" [disabled]="walletService.isFullWallet()" [(ngModel)]="signed2" [ngModelOptions]="{standalone: true}"
                    class="form-control" id="signedOperationTextarea" placeholder="Signed Operation"></textarea>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-lg-8">
            <button type="button" [disabled]="walletService.isFullWallet()" (click)="broadcast()" class="btn btn-clear btn-second pull-right">Broadcast</button>
        </div>
    </div>
</div>