@use '../../abstracts/variables' as v;

:host {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-flow: column nowrap;
  min-height: calc(100vh - 10rem);
}

.wrapper {
  width: 100%;
  margin-bottom: 2rem;

  & .desktop, & .mobile {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: calc(100% - 4rem);
      padding: 0 2rem;
  }

  & .mobile {
    display: none;
  }

  & .desktop>div, & .mobile>div {
    width: 49%;
    max-width: 2080px;
    margin: 0 4% 0 1.5%;
  
    &:nth-child(odd) {
      width: 37%;
      max-width: 768px;
      margin: 0 1.5% 0 4%;
    }
  }
}

@media (max-width: calc(#{v.$middle-limit} - 50em)) {
  .wrapper {
    align-items: center;
    flex-flow: column wrap;
    width: 100%;

    & .desktop>div, & .mobile>div {
      width: 100%;
      align-items: center;
      max-width: unset;
      margin: 0;
    
      &:nth-child(odd) {
        width: 100%;
        max-width: unset;
        margin: 0;
      }
    }
  }
}