<button *ngIf="symbol && !override; else detailButton" class="flex-row button button-primary with-image" [class]="symbol === 'tez' ? 'tez' : ''"
  (click)="prepareTransaction()">
  <img [src]="symbol === 'tez' ? '../../../../assets/img/up-arrow-white.svg' : '../../../../assets/img/up-arrow.svg'" />
  <div class="tooltip">
    <div class="description">SEND {{ symbol }}</div>
  </div>
</button>
<ng-template #detailButton>
  <button class="button button-primary detail" (click)="prepareTransaction()">SEND</button>
</ng-template>