@use '../../../../abstracts/variables'as v;
@use '../../../../abstracts/mixins' as m;

$base-font-color: v.$base-font-color;
$base-font-color-secondary: v.$base-font-color-secondary;
$base-blue-color-lightened: v.$base-blue-color-lightened;
$base-color-lightened-1: v.$base-color-lightened-1;
$base-color-lightened-2: v.$base-color-lightened-2;
$base-red-color: v.$base-red-color;
$base-green-color: v.$base-green-color;
$border-color-dark-only: v.$border-color-dark-only;
$border-radius: v.$border-radius;
$border-width: v.$border-width;
$event-unconfirmed: #dae1e6;
$event-confirmed: #e3e7eb;
$event-new: v.$base-end-color;

:host {
  & > div {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 0 0 1rem 0;
    padding: 1rem 2rem;
    border-radius: $border-radius;
    background-color: transparent;
    border: $border-width solid $border-color-dark-only;

    & > img {
      padding-bottom: 1.125rem;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      border-bottom: 0;
    }

    & > div {
      width: 100%;
      height: 100%;
    }
  }

  & .sent,
  .delegated,
  .received,
  .origination {
    position: relative;
    overflow: hidden;

    & br {
      display: none;
    }

    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 0;
      width: 100%;
    }

    &.unconfirmed {
      background-color: $event-unconfirmed;

      &:after {
        height: 0.3rem;
        background-color: $base-color-lightened-1;
      }
    }

    &.confirmed {
      background-color: $event-confirmed;
    }

    &.new {
      background-color: $event-new;

      &:after {
        height: 0.3rem;
        background-color: $base-green-color;
      }
    }

    &.failed {
      background-color: $event-confirmed;
      &:after {
        height: 0.3rem;
        background-color: $base-red-color;
      }
      & .title,
      & .title .failed {
        color: $base-red-color;
      }
      & .title .failed {
        @include m.multiply("font-size", 1.25);
      }
    }

    & .title {
      @include m.multiply("font-size", 1.5);
      margin-bottom: 0.5rem;
    }

    & .address {
      width: 100%;
      justify-content: flex-start;
      @include m.multiply("font-size", 1.125);

      & .prefix, & .value {
        color: $base-font-color-secondary;
      }

      & .value {
        justify-content: flex-start;
        font-family: "Roboto Mono";
        @include m.multiply("font-size", 1);
      }

      & img {
        width: 1rem;
        height: 1rem;
        margin: 0 0.25rem;
      }

      & .copy {
        cursor: pointer;
      }
    }

    & .time {
      width: 9rem;
      text-align: right;
      color: $base-font-color;
      & a {
        color: $base-font-color;
      }
      & a:hover {
        text-decoration: underline;
      }
    }
  }

  & .received {
    &.confirmed .title {
      color: $base-blue-color-lightened;
    }
  }
}

@media (max-width: v.$layout-break-5) {
  :host {
    & .sent,
    & .delegated,
    & .received,
    & .origination {
      & .address {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}
