@import "../../../scss/card.css";
:host {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 8rem;
    overflow: hidden;
    display: flex;
    background: #5963FF;
}
:host > div {
    margin-top: 5rem;
    width: 100vw;
    min-height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
:host input.text {
    margin-top: 2.5rem;
}
:host input.text[disabled] {
  background: #e1e1e1;
}
:host small {
    margin-top: 1rem;
}
@import '../../../scss/switch.scss'