@import "../../../scss/common.css";
:host {
    width: 100vw;
    min-height: 100vh;
    padding-bottom: 8rem;
    display: flex;
}
:host > div {
    margin-top: 5rem;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
input.text {
    margin-top: 2.5rem;
}
small {
    margin-top: 1rem;
}
@import '../../../scss/switch.scss'