@use '../../../../abstracts/variables'as v;
@use '../../../../abstracts/mixins' as m;

$base-font-color: v.$base-font-color;
$base-end-color: v.$base-end-color;
$base-font-color-secondary: v.$base-font-color-secondary;
$base-blue-color-lightened: v.$base-blue-color-lightened;
$border-color-dark-only: v.$border-color-dark-only;
$border-width: v.$border-width;
$border-color: v.$border-color;

.balance {
  align-items: flex-start;
  padding: 1rem 0;
  border-top: 2px solid $border-color;
  margin-right: 1rem;

  &>* {
    margin-right: 0.5rem;

    &:last-child {
      margin-right: 0;
    }
  }

  & .left {
    width: 75%;
    justify-content: flex-start;

    & .icon {
      width: 3.5rem;
      height: 3.5rem;
      margin-right: 1rem;
      overflow: hidden;
      border-radius: v.$border-radius-hardest;
      border: $border-width solid $border-color;
      cursor: pointer;
    }

    & .title {
      width: 8rem;
      margin-right: 0rem;
      @include m.multiply('font-size',1.5);
      height: 3rem;
      align-items: flex-start;
      letter-spacing: 0.02em;
      cursor: pointer;
    }

    & .prices {
      width: 35%;
      height: 3rem;

      & .price {
        @include m.multiply('font-size',1.5);
        margin-bottom: 0.25rem;
        font-weight: 500;
      }

      & .price-usd {
        color: $base-font-color-secondary;
        @include m.multiply('font-size',1);
        font-weight: 500;
      }
    }
  }

  & .right {
    width: calc(25%) - 2rem;
    height: 3.5rem;
    justify-content: flex-end;

    & .icon-send,
    & .icon-fund {

      width: 1.75rem;
      height: 1.75rem;
      margin-right: 0.5rem;
      padding: 0.5rem;
      border-radius: v.$border-radius-hard;
      border: v.$border-width solid $border-color;
      object-fit: scale-down;
    }
  }
}