:host {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background: #5963FF;
}
#wrapper {
  min-height: calc(100% - 8rem);
  padding-bottom: 8rem;
  display: flex;
  justify-content: center;
}
.left {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
img {
  vertical-align: baseline;
}
a.view-all {
  float: right;
  margin: 0.375rem 1.25rem 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #5963ff;
}
.main-container {
  width: 25rem;
  height: 100%;
  background: #fcfcfc;
  border: 0.0625rem solid #ffffff;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.14), 0px 16px 24px rgba(0, 0, 0, 0.16);
  border-radius: 0.75rem;
}
.main-container.large {
  width: 40rem;
  height: 100%;
}
.main-container.small {
  position: relative;
}
.top-container {
  width: 39.875rem;
  margin-top: 1rem;
  height: 2.5rem;
  width: auto;
  border-bottom: 1px solid #eaebf9;
}
div.bottom-container {
  width: 100%;
  padding: 2rem 0 1rem;
}
div#account-container {
  padding: 0 1rem;
  height: calc(100% - 3.4375rem);
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-direction: column;
}
.account-row:hover {
  //#e6ffe6
  background-color: #eaebf9 !important;
  cursor: pointer !important;
}
.account-icon {
  margin-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
span {
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #2c323a;
}
.main-container H1 {
  margin-left: 1rem;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #2c323a;
}
.main-container H2 {
  margin: 1rem 0 0;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
  display: flex;
  align-items: center;
  color: #2c323a;
  opacity: 0.4;
  -webkit-opacity: 0.4;
  -khtml-opacity: 0.4;
}
div.address-container {
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.main-container span {
  margin-top: 0.5rem;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1rem;
  display: flex;
  align-items: flex-end;
  color: #000000;
}
#account-container > div.mid-container > div {
  display: flex;
  width: 100%;
  margin-top: 0.5rem;
}
#account-container > div.mid-container div.icons {
  position: relative;
  top: 1.5rem;
  width: 2.5rem;
  line-height: 1rem;
  height: 1rem;
}
span.mark {
  margin: 0 0.5rem;
  padding: 0;
  align-items: center;
  color: #000000;
  background: #fcfcfc;
  opacity: 0.2;
  -webkit-opacity: 0.2;
  -khtml-opacity: 0.2;
}
span.grey {
  align-items: center;
  color: #000000;
  opacity: 0.4;
  -webkit-opacity: 0.4;
  -khtml-opacity: 0.4;
}
.top-container > img {
  float: right;
  margin-top: 0.25rem;
  margin-right: 1rem;
  cursor: pointer;
}
.seperator {
  width: 38rem;
  margin-left: 0.375rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}
#operations-container > div > img {
  padding-bottom: 1.125rem;
}

#operations-container > div {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  height: 100%;
  margin-bottom: 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}
#operations-container > div:last-child {
  border-bottom: 0;
}
#operations-container > div > div {
  width: 100%;
  height: 100%;
}

#operations-container div span,
#operations-container div a {
  margin-left: 0.5rem;
  margin-top: 0.25rem;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1rem;
  display: flex;
  align-items: center;
  float: left;
  display: flex;
}
img.copy-icon {
  margin-right: 0.5rem;
  cursor: pointer;
}
#operations-container div.line span,
#operations-container div.line a {
  font-weight: normal;
  color: #2c323a;
}
#operations-container div span.green {
  color: #18AE39;
  font-weight: 500;
}
#operations-container div span.red {
  color: #FE5004;
  font-weight: 500;
}
#operations-container div span.blue {
  color: #5963FF;
  font-weight: 500;
}
#operations-container div span.black {
  color: #000000;
  font-weight: 500;
}
div.left-container {
  margin-right: 5rem;
  width: 400px;
}
div.line {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
div.line:last-child {
  margin-top: 0.125rem;
}
.truncate-overflow {
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 70rem) {
  #wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
  }
  div.left-container {
    margin-right: 0rem;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 42rem) {
  .truncate-overflow {
    width: 16rem;
  }
  .main-container.large {
    width: 25rem;
  }
  .truncate-overflow:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: -2rem;
    width: 4rem;
    height: 1.2em;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1) 50%
    );
  }
}
@media screen and (max-width: 27rem) {
  .main-container.large {
    width: 21rem;
  }
  .truncate-overflow {
    width: 13rem;
  }
  .main-container.small {
    width: 21rem;
  }
  div.left-container {
    width: 21rem;
  }
  #account-container > div.mid-container div.icons {
    width: 3rem;
    top: 0;
  }
  img.copy-icon {
    margin-right: 1rem;
  }
}
