<app-header [activeAccount]="account"></app-header>
<div id="wrapper" *ngIf="account">
  <div class="left-container">
    <div class="main-container small" [class.expanded]="!hasTokens()">
      <div class="top-container">
        <H1>Account Information</H1>
      </div>
      <div id="account-container">
        <div class="mid-container">
          <div class="address-container">
            <H2 style="margin-top: 0">Address</H2>
            <div class="icons">
              <img class="copy-icon" src="../../../assets/img/copy-icon.svg" (click)="copy(account)">
              <app-receive [activeAddress]="account.address"></app-receive>
            </div>
          </div>
          <span style="width: auto; font-size: 0.8125rem">{{ account.address }}</span>
          <H2>Balance</H2>
          <div style="margin-top: 0"><span>{{ account.balanceXTZ / 1000000 | number: "1.0-6" }} tez</span><span
              class="mark">—</span><span class="grey"
              style="font-size: 0.75rem">{{ account.balanceUSD | number: "1.0-0" }} USD</span></div>
          <H2>Delegate</H2>
          <app-delegate [activeAccount]="account"></app-delegate>
        </div>
        <div class="bottom-container">
          <app-send [activeAccount]="account"></app-send>
        </div>
      </div>
    </div>
    <div class="main-container small" style="margin-top: 2rem" *ngIf="hasTokens()">
      <div class="top-container">
        <H1>Tokens</H1>
      </div>
      <div class="token-container">
        <ng-container *ngFor="let token of account.tokens">
          <div class="token-row">
            <span><img height="16" src="../../../assets/img/tokens/{{ tokenService.getAsset(token.tokenId).imageFileName }}">&nbsp;&nbsp;{{ printTokenBalance(token) }}</span>
            <app-send [activeAccount]="account" [tokenTransfer]="token.tokenId"></app-send>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="main-container large">
    <div class="top-container">
      <H1 style="float:left">Recent Activity</H1>
      <a class="view-all" href="{{ explorerURL(account.address) }}" target="_blank">View in explorer</a>
    </div>
    <div id="operations-container" *ngIf="this.translate.store.translations.en">
      <ng-container *ngIf="!account.activities.length">
        <div class="line"><span>No transactions yet</span></div>
      </ng-container>
      <ng-container *ngFor="let activity of account.activities | slice:0:5">
        <ng-container [ngSwitch]="getType(activity)">
          <ng-template #CounterpartyRef let-myactivity>
            <span class="grey truncate-overflow">
              <ng-container *ngIf="myactivity.name; else elseBlock">
                <ng-container [ngSwitch]="myactivity.lookupType">
                  <img *ngSwitchCase="2" height="12" src="../../../assets/img/google-logo.svg">
                  <img *ngSwitchCase="3" height="12" src="../../../assets/img/reddit-logo.svg">
                  <img *ngSwitchCase="4" height="12" src="../../../assets/img/twitter-logo.svg">
                </ng-container>
                &nbsp;{{ myactivity.name }}
              </ng-container>
              <ng-template #elseBlock>{{ myactivity.address }}</ng-template>
            </span>
          </ng-template>
          <div *ngSwitchCase="'sent'" class="sent">
            <img src="../../../assets/img/sent.svg">
            <div>
              <div class="line"><span class="red">Sent {{ printAmount(activity) }}</span><a
                  href="{{ explorerURL(activity.hash) }}" target="_blank">
                  <ng-container *ngIf="activity.status > 0">{{ activity.timestamp | timeAgo:trigger }}</ng-container>
                  <ng-container *ngIf="activity.status === 0">Unconfirmed</ng-container>
                </a></div>
              <div class="line"><span class="grey">To —</span>
                <ng-template [ngTemplateOutlet]="CounterpartyRef"
                  [ngTemplateOutletContext]="{ $implicit: getCounterparty(activity) }"></ng-template>
              </div>
            </div>
          </div>
          <div *ngSwitchCase="'received'" class="received">
            <img src="../../../assets/img/received.svg">
            <div>
              <div class="line"><span class="green">Received {{ printAmount(activity) }}</span><a
                  href="{{ explorerURL(activity.hash) }}" target="_blank">
                  <ng-container *ngIf="activity.status > 0">{{ activity.timestamp | timeAgo:trigger }}</ng-container>
                  <ng-container *ngIf="activity.status === 0">Unconfirmed</ng-container>
                </a></div>
              <div class="line"><span class="grey">From —</span>
                <ng-template [ngTemplateOutlet]="CounterpartyRef"
                  [ngTemplateOutletContext]="{ $implicit: getCounterparty(activity) }"></ng-template>
              </div>
            </div>
          </div>
          <div *ngSwitchCase="'delegated'" class="delegated">
            <img src="../../../assets/img/delegated.svg">
            <div>
              <div class="line"><span class="blue">Delegated</span><a href="{{ explorerURL(activity.hash) }}"
                  target="_blank">
                  <ng-container *ngIf="activity.status > 0">{{ activity.timestamp | timeAgo:trigger }}</ng-container>
                  <ng-container *ngIf="activity.status === 0">Unconfirmed</ng-container>
                </a></div>
              <div class="line"><span class="grey">To —</span>
                <ng-template [ngTemplateOutlet]="CounterpartyRef"
                  [ngTemplateOutletContext]="{ $implicit: getCounterparty(activity) }"></ng-template>
              </div>
            </div>
          </div>
          <div *ngSwitchCase="'undelegated'" class="delegated">
            <img src="../../../assets/img/delegated.svg">
            <div>
              <div class="line"><span class="blue">Undelegated</span><a href="{{ explorerURL(activity.hash) }}"
                  target="_blank">
                  <ng-container *ngIf="activity.status > 0">{{ activity.timestamp | timeAgo:trigger }}</ng-container>
                  <ng-container *ngIf="activity.status === 0">Unconfirmed</ng-container>
                </a></div>
              <div class="line"><span class="grey">To —</span>
                <ng-template [ngTemplateOutlet]="CounterpartyRef"
                  [ngTemplateOutletContext]="{ $implicit: getCounterparty(activity) }"></ng-template>
              </div>
            </div>
          </div>
          <div *ngSwitchDefault>
            <div style="padding-left: 0.75rem">
              <div class="line"><span class="black">{{ getType(activity) | titlecase }}</span><a
                  href="{{ explorerURL(activity.hash) }}" target="_blank">
                  <ng-container *ngIf="activity.status > 0">{{ activity.timestamp | timeAgo:trigger }}</ng-container>
                  <ng-container *ngIf="activity.status === 0">Unconfirmed</ng-container>
                </a></div>
              <div class="line"><span class="grey">Counterparty —</span>
                <ng-template [ngTemplateOutlet]="CounterpartyRef"
                  [ngTemplateOutletContext]="{ $implicit: getCounterparty(activity) }"></ng-template>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>