<img #postImage *ngIf="mimeType?.startsWith('image/')" [src]="postSrc" id="postImage" [style.objectFit]="postSrc.indexOf(loaderUrl) > -1 ? 'scale-down' : ''"/>
<img #preImage *ngIf="mimeType?.startsWith('image/')" style="display: none" [attr.data-src]="dataSrc" [src]="preSrc"
  id="preImage" />
<video #video *ngIf="mimeType?.startsWith('video/')" [controls]="controls" [autoplay]="autoplay" [muted]="muted"
  [attr.data-src]="dataSrc" [attr.data-src]="dataSrc" [src]="postSrc + '#t=' + offset"></video>
<model-viewer #model *ngIf="mimeType?.startsWith('model/')" id="modelCanvas" auto-rotate rotation-per-second="30deg"
  [attr.data-src]="postSrc"></model-viewer>