@use '../../../abstracts/variables' as v;
@use '../../../abstracts/mixins' as m;

$base-background-color-alert: v.$base-background-color-alert;
$border-width: v.$border-width;
$border-color-dark-only: v.$border-color-dark-only;
$base-filter-invert-1: v.$base-filter-invert-1;

:host {

  span {
    @include m.multiply('font-size',1.5);
    font-style: normal;
    font-weight: 400;
    color: inherit;
    width: calc(100% - 1rem);
  }

  button {
    width: auto;
    height: auto;
    margin-left: 1em;

    &.close>span {
      @include m.multiply('font-size',2.5);
      font-weight: bold;
    }
  }

  img.loader {
    width: 1.5em;
    height: 1.5em;
    margin: 0em 0em 0em 0.5em;
    padding: 1em 0.5em;
    filter: $base-filter-invert-1;
  }

  &.alert {
    position: relative;
    padding: 0.5em 1.25em 0.5em 1.75em;
    min-height: 3em;
    border: $border-width solid $border-color-dark-only;
    border-radius: v.$border-radius;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 0 0;
    max-width: 72rem;

    & .close {
      width: 1em;
      height: 1em;
      margin: 0.5em 0em 0.5em 1em;
      padding: 0.5em;
      border-radius: v.$border-radius-hardest;
      fill: v.$base-font-color;
      background-color: v.$base-end-color;
    }
  }

  &.alert-info {
    color: v.$base-font-color;
    background-color: $base-background-color-alert;
    border-color: $border-color-dark-only;
  }


  &.alert-heading {
    color: v.$base-font-color;
  }

  &.alert-link {
    font-weight: 700
  }

  &.alert-dismissible {
    padding-right: 4em
  } 

  &.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: .75em 1.25em;
    color: inherit
  }

  &.alert-primary {
    color: v.$base-font-color;
    background-color: $base-background-color-alert;
    border-color: $border-color-dark-only;
  }

  &.alert-primary hr {
    border-top-color: $base-background-color-alert;
  }

  &.alert-primary &.alert-link {
    color: v.$base-font-color
  }

  &.alert-secondary {
    color: v.$base-font-color;
    background-color: $base-background-color-alert;
    border-color: $border-color-dark-only;
  }

  &.alert-secondary hr {
    border-top-color: $base-background-color-alert;
  }

  &.alert-secondary &.alert-link {
    color: v.$base-font-color
  }

  &.alert-success {
    color: v.$base-font-color;
    background-color: $base-background-color-alert;
    border-color: $border-color-dark-only;
    & .close {
      fill: $base-background-color-alert;
    }
  }

  &.alert-success hr {
    border-top-color: $base-background-color-alert;
  }

  &.alert-success &.alert-link {
    color: v.$base-font-color
  }

  &.alert-info hr {
    border-top-color: $base-background-color-alert;
  }

  &.alert-info &.alert-link {
    color: v.$base-font-color
  }

  &.alert-warning {
    color: v.$base-end-color;
    background-color: v.$base-red-color;
    border-color: v.$base-red-color;

    & .close {
      fill: v.$base-red-color;
    }
  }

  &.alert-warning hr {
    border-top-color: v.$base-red-color
  }

  &.alert-warning &.alert-link {
    color: v.$base-end-color
  }

  &.alert-danger {
    color: v.$base-end-color;
    background-color: v.$base-red-color;
    border-color: v.$base-red-color;
    flex-flow: row;

    & .close {
      fill: v.$base-red-color;
    }
  }

  &.alert-danger hr {
    border-top-color: v.$base-red-color
  }

  &.alert-danger &.alert-link {
    color: v.$base-end-color;
  }

  &.alert-light {
    color: v.$base-font-color;
    background-color: $base-background-color-alert;
    border-color: $border-color-dark-only;
  }

  &.alert-light hr {
    border-top-color: $base-background-color-alert;
  }

  &.alert-light &.alert-link {
    color: v.$base-font-color-secondary;
  }

  &.alert-dark {
    color: v.$base-font-color;
    background-color: $base-background-color-alert;
    border-color: $border-color-dark-only;

    & .close {
      fill: $base-background-color-alert;
    }
  }

  &.alert-dark hr {
    border-top-color: $base-background-color-alert;
  }

  &.alert-dark .alert-link {
    color: v.$base-font-color;
  }
}