@use "../../abstracts/variables" as v;
@use "../../abstracts/mixins" as m;

$base-font-color: v.$base-font-color;
$base-font-color-secondary: v.$base-font-color-secondary;
$base-end-color: v.$base-end-color;
$base-color-lightened-6: v.$base-color-lightened-6;
$base-color-lightened-65: v.$base-color-lightened-65;
$base-color-lightened-7: v.$base-color-lightened-7;
$base-blue-color-lightened: v.$base-blue-color-lightened;
$border-width: v.$border-width;
$border-color: v.$border-color;
$border-radius: v.$border-radius;
$box-shadow: v.$box-shadow;
$box-shadow-dark: v.$box-shadow-dark;
$base-filter-brightness-5: v.$base-filter-brightness-5;

.list {
  background: $base-end-color;
  border: none;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 24rem);
  min-width: 66rem;
  max-width: 95vw;
  padding: 0;
  margin: 0 -2rem;

  &::-webkit-scrollbar-track {
    margin: 0;
  }

  &.right {
    margin-top: -1.1rem;
  }

  & .sep {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-top: 1px solid #0004;
    border-bottom: 1px solid #0004;
  }

  & a.option {
    text-decoration: none;
    align-self: flex-start;
    justify-content: flex-start;
    cursor: pointer;
    padding: 1rem 2.25rem 1rem 2.5rem;
    margin: 0;
    width: calc(100% - 4.5rem);
    border-bottom: $border-width solid $border-color;

    & .left {
      align-self: center;

      & .alias {
        width: auto;
        justify-content: flex-start;
        margin: 0 1rem 0 0;

        & img:not(.copy) {
          width: 1.5rem;
          height: 1.5rem;
          margin: 0 1rem 0 -0.5rem;
        }

        & span.name {
          color: v.$base-font-color;
          @include m.multiply("font-size", 1.5, "rem", 1.3);
          font-weight: 400;
        }
      }

      & span.addr {
        margin: 0 0 0 2rem;
        width: auto;
        color: v.$base-font-color-secondary;
        @include m.multiply("font-size", 1.125, "rem", 1.3);
        font-family: "Roboto Mono";

        &.default {
          color: v.$base-font-color;
          @include m.multiply("font-size", 1.5, "rem", 1.3);
        }
      }
    }

    & .copy {
      cursor: pointer;
      margin: 0 0.5rem;
      align-self: center;
      @include m.multiply("width", 1, "rem", 1.75);
      @include m.multiply("height", 1, "rem", 1.75);
      filter: $base-filter-brightness-5;
    }

    &.selected {
      background: $base-color-lightened-6;
    }

    &:hover {
      background: $base-color-lightened-65;
    }

    & .balances {
      width: 100%;
      margin: 0 0 0 1rem;
    }
  }

  & .balance-tez {
    min-width: 10rem;
    width: 100%;
    text-align: right;
    color: $base-font-color;
    font-weight: 500;
    @include m.multiply("font-size", 1.5, "rem", 1.3);
  }

  & .balance-fiat {
    width: 100%;
    text-align: right;
    color: $base-font-color-secondary;
    font-weight: 500;
    @include m.multiply("font-size", 1.125, "rem", 1.3);
  }

  & .total-balances {
    padding: 1rem 1.25rem 0 1.25rem;
    position: relative;
    z-index: 1;
    width: calc(100% - 3rem);
    align-items: center;

    & .balance-fiat {
      @include m.multiply("font-size", 1.225, "rem", 1.3);
    }

    & .balance-tez {
      @include m.multiply("font-size", 1.75, "rem", 1.3);
    }

    & h3 {
      letter-spacing: 0.02em;
      @include m.multiply("font-size", 1.75, "rem", 1.3);
      font-weight: 500;
      color: $base-font-color;
      margin: 0 0 0 1rem;
      width: 13rem;
      top: -0.75rem;
      position: relative;
    }
  }
}

@media (max-width: v.$layout-break-5) {
  .list {
    min-width: 44rem;

    & a.option .left span.addr {
      font-family: 'Roboto Condensed';
    }
  }
}