& .confirm-staking {
  width: 32em;

  & .label {
    color: v.$base-font-color-secondary
  }

  & .head {
    margin: 1rem 0;
    padding: 2rem;
    background-color: v.$modal-container-background-color;
    border-radius: v.$border-radius;

    & img {
      width: 5em;
      height: 5em;
    }

    & .data {
      height: 5em;
      justify-content: center;
      width: 100%;
      align-items: flex-start;
      margin: 0 0 0 2em;

      & .name {
        @include m.multiply('font-size', 1.125, "em");
        margin: 0 0 1em 0;
        color: v.$base-font-color;
        font-weight: 600;
      }

      & .fee-space {

        & .fee {
          @include m.multiply('font-size', 1, "em");
          color: v.$base-font-color;
          font-weight: 600;

          & span {
            color: v.$base-font-color-secondary;
            font-weight: 600;
          }
        }

        & .space {
          @include m.multiply('font-size', 1, "em");
          margin: 0 0 0 2em;
          color: v.$base-font-color;
          font-weight: 600;

          & span {
            color: v.$base-font-color-secondary;
            font-weight: 600;
          }
        }
      }
    }
  }

  & .bottom {
    margin: 1em 0 0 0;
    & .text.password {
      width: calc(100% - 2.5em);
      margin: 0;
    }

    & span.label.danger {
      color: v.$base-red-color;
      font-weight: 500;
      margin: 0 1em 1em 1em;
      align-self: flex-start;
    }
  }
}