@use '../../abstracts/mixins' as m;
@use '../../abstracts/variables' as v;

& .export-mnemonic {
  margin: 0.5rem 0;
  & .description,
  & .whitebox,
  & .seed-blur {
    @include m.multiply("font-size", 2);
    text-align: center;
    color: v.$base-font-color;
    letter-spacing: 0.02em;
  }

  & .description {
    @include m.multiply("font-size", 1);
    text-transform: uppercase;
    font-weight: 600;
    & span {
      @include m.multiply("font-size", 1);
      text-transform: uppercase;
      font-weight: 600;
    }

    &.red, & .red {
      @include m.multiply("font-size", 1.5);
      color: red;
    }

    & .warning {
      display: block;
      padding: 1rem;
      background-color: #000;
    }
  }

  & .whitebox {
    background-color: v.$base-end-color;
    box-shadow: v.$box-shadow;
    padding: 3rem;
    border-radius: v.$border-radius;
    position: relative;
    top: 0;
    left: 0;

    &.final .description {
      margin: 0;
      text-transform: none;
    }

    & .seed-blur,
    & .seed-blur span {
      @include m.multiply("font-size", 1.5);
      color: v.$base-blue-color;
      font-weight: 500;
      margin: 0;
    }

    & .seed-blur {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      justify-content: center;
      border-radius: v.$border-radius;
      background-color: #fff;
    }
    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
      & .seed-blur {
        background-color: rgba(0, 0, 0, 0);
        backdrop-filter: blur(15px);
      }
    }
  }

  & button {
    width: 50%;
    align-self: center;
  }
}