@use '../../abstracts/mixins' as m;
@use '../../abstracts/variables' as v;

& .info {
  margin: 2em 0 0 0;
  width: 38em;
  & .message {
    margin: 0 0 2em 0;
    font-size: 1.375em;
    white-space: pre-line;
  }

  & button {
    width: 50%;
    align-self: center;
  }
}

@media (max-width: v.$layout-break-6) {
  .info {
    width: unset;
  }
}