@use "../../abstracts/variables" as v;
@use "../../abstracts/mixins" as m;
@use "./confirm-send/mixins" as cs;

$base-font-color: v.$base-font-color;
$base-font-color-secondary-half: v.$base-font-color-secondary-half;
$base-font-color-secondary: v.$base-font-color-secondary;
$base-end-color: v.$base-end-color;
$base-end-color-static: v.$base-end-color-static;
$border-color-dark-only: v.$border-color-dark-only;
$border-width-dark-only: v.$border-width-dark-only;
$border-width: v.$border-width;
$border-color: v.$border-color;
$base-filter-brightness-5: v.$base-filter-brightness-5;
$base-filter-contrast-invert-01: v.$base-filter-contrast-invert-01;

:host {
  &#qr {
    & img.override {
      width: 2em;
      height: 2em;
      padding: 0.5em;
      filter: v.$base-filter-brightness-5;
      & + .kukai-modal {
        position: fixed;
      }
    }
    
    @media (max-width: v.$layout-break-6) {
      img.override {
        padding: 0.75em;
      }
    }

    & .kukai-modal .content {
      overflow-y: hidden;
    }
  }
}

.kukai-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: #0006;
  justify-content: flex-start;
  align-items: center;
  z-index: 1000;
  font-size: 100%;

  & .content {
    @include m.base-relative;
    justify-content: center;
    align-items: center;
    background-color: $base-end-color;
    width: auto;
    height: auto;
    max-width: 85vw;
    padding: 2em 2em 0 2em;
    min-width: 32em;
    overflow-x: hidden;
    border: $border-width solid $border-color-dark-only;
    margin: 10em 0 0em 0;
    border-radius: v.$border-radius;

    & .close {
      display: flex;
      justify-content: center;
      top: 0;
      right: 0;
      width: calc(4em - 6px);
      height: calc(4em - 6px);
      border: v.$border-width solid $border-color;
      border-radius: v.$border-radius-hardest;

      & .x {
        object-fit: scale-down;
        width: 1.25em;
        height: 1.25em;
        filter: $base-filter-brightness-5;
      }
    }

    & > .top {
      position: relative;
      top: 0;
      left: 0;
      align-items: center;
      justify-content: space-between;
      flex-direction: row-reverse;
      height: 4em;
      margin: 0 0 2em 0;

      .title {
        font-size: 1.875em;
        @include m.ellipsis;
        width: 70%;
        font-weight: 500;
        text-align: left;
      }
    }

    & .label {
      @include m.multiply("font-size", 1, "em");
      margin: 1em;
      letter-spacing: 0.02em;
      font-weight: 500;
      color: $base-font-color-secondary-half;
      text-transform: uppercase;
    }

    & .seperator {
      @include m.base-relative;
      height: $border-width;
      background-color: $border-color;
      left: 0;
      width: calc(100% + 4em);
    }

    & > .seperator {
      width: 100%;
    }

    & input:not([type="checkbox"]) {
      @include m.multiply("font-size", 1.25, "em");
      height: 4em;
      width: 100%;
      background-color: $base-end-color;
      border: v.$border-width solid $border-color;
      border-radius: v.$border-radius-hardest;
      padding: 0 0 0 2em;
    }

    & .key-value {
      margin: 0 0 1em 0;
    }

    & .key {
      color: $base-font-color-secondary;
      text-transform: uppercase;
      letter-spacing: 0.02em;

      & .value {
        text-transform: unset;
      }
    }

    & .value {
      @include m.multiply("font-size", 1.25, "em");
      color: $base-font-color;
    }

    & .more-info {
      height: 2em;
      justify-content: flex-end;
      margin: 1em 0;

      span {
        @include m.multiply("font-size", 1, "em");
        color: $base-font-color-secondary;
        text-transform: uppercase;
        margin: 0 0.5em 0 0;
      }

      img {
        height: 1.75em;
        width: auto;
        filter: $base-filter-contrast-invert-01;
      }

      &.open {
        img {
          transform: rotate(180deg);
        }
      }
    }

    & .meta-more {
      width: 100%;
      height: auto;
      max-height: 0;
      transition: 0.15s max-height;
      overflow: hidden;
    }

    & .prepare-send,
    & .confirm-send {
      & input::placeholder {
        text-transform: uppercase;
      }
    }

    @import "./token-detail.scss";

    @import "./confirm-staking.scss";

    @import "./new-account.scss";

    @import "./originate.scss";

    @import "./receive.scss";

    @import "./qr-scanner.scss";

    @import "./sign-expr.scss";

    @import "./prepare-send.scss";

    @include cs.confirm-send;

    @import "./permission-request.scss";

    @import "./account-list.scss";

    @import "./info.scss";

    @import "./export-mnemonic.scss";

    & .advanced {
      &-toggle {
        position: relative;
        left: -1em;
        width: 100%;
        height: 4em;
        margin: 0 0 1em 0;
      }
      &-form {
        margin: 1em 0 0 0;
        width: 100%;
        & > div {
          width: 100%;
          & > div {
            width: calc(50% - 0.5em);
          }
        }
        & .label {
          font-size: 1.125em;
          margin: 0 0 0.5em 0;
        }
        & input {
          margin: 0 0 1em 0;
          width: 100%;
          padding: 0 0 0 1em;
          height: 3.5em;
          border-radius: 1em;
          align-self: flex-start;
        }
      }
    }

    & .bottom {
      align-items: center;
      background-color: $base-end-color;
      width: 100%;
      & .danger {
        color: v.$base-red-color;
      }
    }
  }

  & button.confirm {
    width: 50%;
    height: 4.5em;
    border-radius: v.$border-radius-hardest;
    padding: 0 2em;
    font-size: 1.125em;
    margin: 2em 0;
    color: $base-end-color-static;
  }
}

@media (max-width: v.$layout-break-6) {
  .kukai-modal {
    font-size: 2.95vw;
    background-color: $base-end-color;
    & .content {
      margin: 0;
      border-radius: 0;
      padding: 1em;
      border: none;
      & .top {
        margin: 0 0 1em 0;
      }
      & .advanced {
        &-form {
          margin: 1em 0;
        }
      }

      & .bottom {
        left: 0em;
        bottom: 0;
        width: calc(100% - 4em);
        padding: 0 2em;
        min-height: 16em;
        min-height: 12em;
        justify-content: flex-end;
        background-color: $base-end-color;
      }
    }
  }
}
