@use '../../abstracts/mixins' as m;
@use '../../abstracts/variables'as v;

$border-radius: v.$border-radius;

& .originate {
  margin: 2em 0 0 0;
  height: auto;
  $color-lightened-7: v.$color-lightened-7;

  & .seperator, span {
    margin: 0.5em 0;
  }

  & .top {
    padding: 1em 2em;
    background-color: v.$color-lightened-65;
    border-radius: $border-radius;

    & .amount {
      &.key {
        font-size: 1.25em;
        font-weight: 500;
      }

      & .value {
        font-size: 1.5em;
        font-weight: 500;
      }
    }
  }

  & .from {
    text-transform: none;
    font-family: 'Roboto Mono';
  }

  & .key {
    color: $base-font-color-secondary;
  }

  & .value {
    text-transform: none;
    color: $base-font-color;
  }

  & .attrs {
    padding: 0 1em 0.5em 1em;
  }

  & .attr {
    justify-content: flex-start;
  }

  & .key, .value {
    font-size: 1em;
    font-weight: 500;
  }

  & .danger {
    margin-top: 1em;
  }

  & .advanced-form {

    &>div:not(.tabs-container) {
      width: 100%;

      &>div {
        width: 50%;
      }
    }

    & input {
      margin: 0 0 1em 0;
      width: calc(100% - 3em);
      height: 3.5em;
      align-self: center;
    }

    & textarea {
      width: calc(100% - 2em);
      padding: 1em;
    }

    & .tabs-container {
      margin-top: 0.5em;
      width: 100%;

      & .tabs {
        width: 100%;
        margin: 0 0 0.5em 0;

        & .tab {
          @include m.multiply('font-size', 1.25, "em");
          color: v.$base-font-color;
          cursor: pointer;

          &.active {
            color: v.$base-blue-color;
          }
        }
      }
    }
  }
}
