@use '../../abstracts/mixins' as m;
@use '../../abstracts/variables'as v;

$color-lightened-7: v.$color-lightened-7;

& .permission-request {
  margin: 2em 0 0 0;
  align-items: center;

  & .requests {
    margin: 2em 0;
    padding: 2em;
    width: calc(100% - 4em);
    background-color: $color-lightened-7;
    border-radius: v.$border-radius;
    
    & span {
      @include m.multiply("font-size", 1, "em");
      color: v.$base-font-color-secondary-half;
      text-transform: uppercase;
      font-weight: 500;

      &:before {
        @include m.multiply("height", 1.375, "em");
        content: "◆";
        margin: 0 0.5em 0 0;
      }
    }
  }

  & h4 {
    @include m.multiply("font-size", 1.375, "em");
    color: v.$base-font-color;
    font-weight: 500;
  }

  & h6 {
    @include m.multiply("font-size", 1, "em");
    text-transform: uppercase;
    color: v.$base-font-color-secondary;
    font-weight: 500;
  }

  & .seperator {
    left: 0;
  }
}
