@use "../../abstracts/mixins" as m;
@use "../../abstracts/variables" as v;

$base-font-color: v.$base-font-color;
$base-font-color-secondary: v.$base-font-color-secondary;
$base-end-color: v.$base-end-color;
$base-red-color: v.$base-red-color;
$base-blue-color-lightened: v.$base-blue-color-lightened;
$color-lightened-3: v.$color-lightened-3;
$color-lightened-7: v.$color-lightened-7;
$border-width: v.$border-width;
$border-color: v.$border-color;
$base-background-color: v.$base-background-color;

& .prepare-send {
  margin: 2em 0 0 0;
  height: auto;
  width: 100%;
  max-width: 32em;

  & textarea {
    border-radius: v.$border-radius-hard;
    border: $border-width solid $border-color;
    padding: 2em;
    margin: 1em 0;
  }

  & .title {
    @include m.multiply("font-size", 1, "em");
    color: $base-font-color;
    font-weight: 500;
    width: calc(100% - 8em);
    @include m.ellipsis;
  }

  & .top,
  & .from .top,
  & .to {
    height: auto;
    border-radius: v.$border-radius;
    padding: 2em;
  }

  & .top {
    background-color: v.$modal-container-background-color;
    align-items: flex-start;
    padding: 0.75em 1em 1em 1em;

    & .label {
      text-transform: uppercase;

      &.title {
        margin: 1em 0 1em 0;
      }
    }

    & .token {
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: auto;
      margin: 0.25em 0 1em 0em;

      & .asset {
        width: 6em;
        height: 6em;
        overflow: hidden;
        background-color: $base-end-color;
        border-radius: v.$border-radius;
        box-shadow: v.$box-shadow-dark;
      }

      & .title {
        @include m.multiply("font-size", 1.5, "em");
        color: $base-font-color;
        font-weight: 500;
        margin: 0 0 0 1.5em;
      }
    }

    & .amount {
      width: 100%;
      position: relative;
      margin: 0 0 1em 0;

      & input {
        width: 100%;
        height: 3.5em;
        padding: 0 0 0 1.25em;
      }

      & button {
        position: absolute;
        right: 0.375em;
        top: 0.35em;
        width: 6em;
        height: 2.75em;
        background-color: transparent;
        color: #666;
        border: $border-width solid $border-color;
        padding: 0 1em;
        font-weight: 600;
        border-radius: v.$border-radius-hardest;
      }
    }

    & .fees {
      width: calc(100% - 4px);
      height: 1.25em;
      padding: 0;
      color: $color-lightened-3;

      & .amount {
        &-usd,
        &-fee {
          color: #6c7a8d;
          font-weight: 500;

          & > span {
            color: #b9bfc7;
          }
        }
      }
    }

    & .from {
      width: 100%;
      border-top: 2px solid $border-color;
      padding: 1em 0 0 0;
      margin: 1em 0 0 0;

      & > p {
        color: $base-font-color-secondary;
      }
    }
  }

  & .to {
    margin-top: 2em;
    padding: 0;
    display: block;

    & .address {
      position: relative;

      & .tool {
        border: v.$border-width solid v.$border-color;
        border-radius: v.$border-radius-hard;
        position: absolute;
        top: 0.875em;
        right: 0.75em;
        cursor: pointer;
        & img {
          width: 2em;
          height: 2em;
          padding: 0.5em;
          filter: v.$base-filter-brightness-5;
        }
        &#paste {
          right: 4.75em;
        }
      }

      & input.text {
        margin: 0 0 0.5em 0;
        padding: 0 0 0 1.25em;
      }

      &-display {
        height: 1em;

        & span {
          height: 1em;
          margin: 0 1em;

          & img {
            height: 1em;
          }
        }
      }
    }
  }

  & .multiple-destinations {
    padding: 1em;
    width: 15em;
    background-color: $base-end-color;
    color: $base-font-color-secondary;
    border: $border-width solid $border-color;
    font-size: 1.25em;
    margin: 1em 0 0 0;

    & span {
      font-size: 0.85em;
    }
  }

  & .bottom {
    & .danger {
      margin: 1em 0 0 0;
      align-self: center;
      color: $base-red-color;
    }
  }
}

@media (max-width: v.$layout-break-6) {
  .prepare-send .top .amount button {
    font-size: 4.45vw;
    right: 0.45em;
    top: 0.375em;
  }

  .prepare-send .to .address .tool {
    top: 1em;
    right: 1em;
    & img {
      width: 2em;
      height: 2em;
      padding: 0.75em;
    }
    &#paste {
      right: 5.5em;
    }
  }
}
