& .qr-scanner {
  position: relative;
  background-color: v.$base-end-color;
  $base-end-color: v.$base-end-color;
  padding: 0 2em;
  border-radius: v.$border-radius-hard;
  max-width: v.$lower-break;

  & video {
    width: 100%;
    max-width: 30em;
  }

  & .video-container {
    margin: 1em -1em -0.5em;
  }

  & p.no-cam {
    display: block;
    width: 100%;
    text-align: center;
  }

  input.text {
    margin: 2em 0;
  }
}