& .receive {
  justify-content: center;
  align-items: center;
  margin: 1em 0 0 0;

  & label {
    @include m.multiply("font-size", 1.125, "em");
    margin: 0 0 1em 0;
  }

  & img.qr-icon {
    width: 1em;
    height: 1em;
    cursor: pointer;
    vertical-align: baseline;
  }

  & img.copy {
    cursor: pointer;
    margin: 0 0 0 0.5rem;
    filter: v.$base-filter-invert-1
  }

  & span.value {
    margin: 1em 0;
  }
}
