@use '../../abstracts/mixins' as m;
@use '../../abstracts/variables'as v;

& .sign-expr {
  margin: 2em 0 0 0;
  align-items: center;

  & label,
  & p {
    @include m.multiply('font-size',1.25);
    margin: 0.25em 0 0.25em 0;
    font-weight: 500;
  }

  & .previewAttention {
    margin: 0 0 1em 0;
    text-align: center;

    &:first-of-type {
      margin: 0;
    }

    &.warning {
      color: v.$base-red-color;
    }
  }

  & textarea {
    margin: 1em 0 2em 0;
    padding: 1em;
    width: calc(75% - 2em);
  }

  & .bottom {
    margin: 2em 0 0 0;
    align-items: center;
    width: 100%;

    & input {
      width: calc(75% - 2.25em);
    }
  }
}