<!-- NEW ACCOUNT MODALS -->
<!-- First Modal -->
<ng-template #modal1>
    <div class="modal-header">
        <h4 class="modal-title pull-left"> {{ 'NEWACCOUNTCOMPONENT.TITLE' | translate }} </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="close1()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group" *ngIf="implicitAccounts">
            <label for="fromAdress"> {{ 'NEWACCOUNTCOMPONENT.FUNDSFROM' | translate }} </label>
            <div class="text-monospace">
                <select [(ngModel)]="activeAccount" (change)="checkReveal()" id="fromAdress" class="form-control mono" name="first">
                    <option *ngFor="let impAcc of implicitAccounts" [ngValue]="impAcc">{{ impAcc.address }}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="ammount"> {{ 'NEWACCOUNTCOMPONENT.AMOUNTSEND' | translate }} (&#42793;)</label>
                <input [(ngModel)]="amount" type="text" id="ammount" class="form-control" placeholder="0.00">
            </div>
            <div class="form-group col-md-6">
                <label for="fee"> {{ 'NEWACCOUNTCOMPONENT.FEE' | translate }} (&#42793;)</label>
                <input [(ngModel)]="fee" type="text" id="fee" class="form-control" placeholder={{this.recommendedFee.toString()}}>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="sub" (click)="open2(modal2)"> {{ 'NEWACCOUNTCOMPONENT.PREVIEW' | translate }} </button>
        </div>
        {{ formInvalid }}
    </div>
</ng-template>

<!-- Confirmation Modal -->
<ng-template #modal2>
    <div class="modal-header">
        <h4 class="modal-title pull-left"> {{ 'NEWACCOUNTCOMPONENT.TITLE2' | translate }} </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="close2()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p> {{ 'NEWACCOUNTCOMPONENT.FROM' | translate }}  {{ activeAccount.address }}
            <BR> {{ 'NEWACCOUNTCOMPONENT.AMOUNT' | translate }}  {{ getAmount() | number:'1.0-6' }}&#42793;
            <BR> {{ 'NEWACCOUNTCOMPONENT.FEE2' | translate }}  {{ getFee() | number:'1.0-6' }}&#42793;
            <BR> {{ 'NEWACCOUNTCOMPONENT.ORIGINATIONBURN' | translate }} 0.489&#42793;
            <BR>
        </p>
        <p *ngIf="ledgerInstruction">{{ ledgerInstruction }}</p>
        <div class="row">
            <div *ngIf='walletService.isFullWallet()' class="form-group col-md-6">
                <label for="pwd"> {{ 'NEWACCOUNTCOMPONENT.PASSWORD' | translate }} </label>
                <input [(ngModel)]="password" type="password" id="pwd" class="form-control">
                <small id="passwordHelpBlock" class="form-text text-muted" *ngIf='!isValidModal2.neverConfirmed && !isValidModal2.password'>
                    {{ pwdValid }}
                </small>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" [disabled]="walletService.isLedgerWallet() && (!sendResponse || !sendResponse.payload || !sendResponse.payload.signedOperation)" class="btn btn-primary" id="sub" (click)="open3(modal3)"> {{ 'NEWACCOUNTCOMPONENT.CONFIRM' | translate }} </button>
        </div>
    </div>

</ng-template>

<!-- Final Modal -->
<ng-template #modal3>
    <div class="modal-header">
        <h4 class="modal-title pull-left"> {{ 'NEWACCOUNTCOMPONENT.TITLE3' | translate }} </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="close3()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf='!sendResponse'>
            {{ 'NEWACCOUNTCOMPONENT.PLEASEWAIT' | translate }} 
        </div>
        <ng-container *ngIf='sendResponse'>
            <div *ngIf='sendResponse.success === true'>
                <i class="fa fa-check-circle"></i>
                <br>
                <br>
                <ng-container *ngIf='sendResponse.payload.opHash'>
                    <p> {{ 'NEWACCOUNTCOMPONENT.INFO' | translate }} </p>
                    <p><a href="{{ CONSTANTS.NET.BLOCK_EXPLORER_URL + '/' + sendResponse.payload.opHash }}" target="_blank">{{ sendResponse.payload.opHash }}</a></p>
                </ng-container>
                <ng-container *ngIf='sendResponse.payload.unsignedOperation'>
                    <p> {{ 'NEWACCOUNTCOMPONENT.INFOUNSIGNED' | translate }} </p>
                </ng-container>
            </div>
            <div *ngIf='sendResponse.success === false'>
                <p> {{ 'NEWACCOUNTCOMPONENT.OPERATIONFAILED' | translate }} </p>
                <p class="text-danger">{{ sendResponse.payload.msg }}</p>
            </div>

        </ng-container>

        <div class="modal-footer">
            <button *ngIf='sendResponse && sendResponse.payload.unsignedOperation && !walletService.isLedgerWallet()' type="button" class="btn btn-primary" (click)="download()"> {{ 'NEWACCOUNTCOMPONENT.DOWNLOAD' | translate }} </button>
            <button type="button" class="btn btn-primary" id="sub" (click)="close3()"> {{ 'NEWACCOUNTCOMPONENT.CLOSE' | translate }} </button>
        </div>
    </div>
</ng-template>
<button *ngIf='implicitAccounts' type="button" href (click)="open1(modal1)" class="btn btn-primary btn-op mt-3 ml-3" [disabled]="walletService.isLedgerWallet()"> {{ 'NEWACCOUNTCOMPONENT.NEWACCOUNT' | translate }} </button>
