.modal-header {
    text-align: center;
  }
  .modal-body-success {
    text-align: center;
  }
  
  .fa { 
    color: #28a745; //#5cb85c;
    font-size: 96px;
  }
  a:hover {
    cursor:pointer;
   }
  .btn-op {
    width: 120px;
    //margin-right: 5px;
    border-radius: 0.4rem;
}
