<!-- NEW ACCOUNT MODALS -->
<!-- First Modal -->
<ng-template #modal1>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Fund new account</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="close1()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="fromAdress">Fund from:</label>
            <select [(ngModel)]="activePkh" id="fromAdress" class="form-control mono" name="first">
                <option *ngFor="let account of accounts" [ngValue]="account.pkh">{{ account.pkh }}</option>
            </select>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="ammount">Amount:</label>
                <input [(ngModel)]="amount" type="text" id="ammount" class="form-control" placeholder="0.00">
            </div>
            <div class="form-group col-md-6">
                <label for="fee">Fee:</label>
                <input [(ngModel)]="fee" type="text" id="fee" class="form-control" placeholder="0.00">
            </div>
        </div>
        <button type="button" class="btn btn-primary" id="sub" (click)="open2(modal2)">Preview</button>
        {{ formInvalid }}
    </div>
</ng-template>

<!-- Confirmation Modal -->
<ng-template #modal2>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Authenticate new account</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="close2()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>From: {{ activePkh }}
            <BR> Amount: {{ amount | number:'1.0-6' }}&#42793;
            <BR> Fee: {{ fee | number:'1.0-6' }}&#42793;
            <BR> Origination burn:
            <ng-container *ngIf="originationBurn">
                {{ originationBurn | number:'1.0-6' }}&#42793;
            </ng-container>
            <BR>
        </p>
        <div class="row">
            <div *ngIf='walletService.isFullWallet()' class="form-group col-md-6">
                <label for="pwd">Password:</label>
                <input [(ngModel)]="password" type="password" id="pwd" class="form-control">
                <small id="passwordHelpBlock" class="form-text text-muted" *ngIf='!isValidModal2.neverConfirmed && !isValidModal2.password'>
                    {{ pwdValid }}
                </small>
            </div>
        </div>
        <button type="button" class="btn btn-primary" id="sub" (click)="open3(modal3)">Confirm</button>

    </div>
</ng-template>

<!-- Final Modal -->
<ng-template #modal3>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Confirmation</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="close3()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf='!sendResponse'>
            Please wait...
        </div>
        <ng-container *ngIf='sendResponse'>
            <div *ngIf='sendResponse.success === true'>
                <i class="fa fa-check-circle"></i>
                <br>
                <br>
                <ng-container *ngIf='sendResponse.payload.opHash'>
                    <p>Your funding of a new account have successfully been broadcasted to the network</p>
                </ng-container>
                <ng-container *ngIf='sendResponse.payload.unsignedOperation'>
                    <p>Your unsigned transaction have successfully been created</p>
                </ng-container>
            </div>
            <div *ngIf='sendResponse.success === false'>
                <p>Failure!</p>
                <p>{{ sendResponse.payload.msg }}</p>
            </div>
            <button *ngIf='sendResponse.payload.unsignedOperation' type="button" class="btn btn-primary" (click)="download()">Download</button>
        </ng-container>
        <button type="button" class="btn btn-primary" id="sub" (click)="close3()">Close</button>
    </div>
</ng-template>
<button *ngIf='accounts' type="button" href (click)="open1(modal1)" class="btn btn-sm btn-outline-primary btn-op">New account</button>