// Here you can add other styles
@import '../assets/fonts/HelveticaNow/stylesheet.css';
//@import '../assets/fonts/Rubik/style.css';
body {
    background-color: #F4F4F4;
}
html, body {
    height: auto;
    margin: 0;
}
button, input, textarea {
  -webkit-appearance: none !important;
  outline: none;
}
button:focus, input:focus, textarea:focus {
  outline: none;
}
p,
span,
H1,
H2,
small,
button,
div,
th,
td,
label,
input,
textarea {
  font-family: "Helvetica Now Text";
}