// Here you can add other styles
@import '../assets/fonts/HelveticaNow/stylesheet.css';
body {
    background-color: #E5E5E5;
}
html, body {
    height: auto;
    margin: 0;
}
button, input, textarea {
  -webkit-appearance: none !important;
}