.kukai-card H1,
.kukai-card span,
.kukai-card p,
.kukai-card div.whitebox {
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
  color: #303030;
  margin-bottom: 0;
  max-width: 34rem;
  padding: 0 0.5rem;
}
.kukai-card p.description {
  margin-top: 1.375rem;
}
.kukai-card p.description.bold {
  font-weight: bold;
}
.kukai-card p.description.red {
  color: #ff0000;
}
.kukai-card H1 {
  padding-bottom: 1.125rem;
  margin-block-end: 0;
  font-weight: bold;
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: 1.4px;
}
.kukai-card span,
.kukai-card p {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
}
.kukai-card div.whitebox {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 4rem;
  width: 30rem;
  height: 8.5rem;
  z-index: 1;
  background: #fcfcfc;
  padding: 1.25rem;
  border: 1px solid #ffffff;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.06);
  border-radius: 0.75rem;
  font-weight: bold;
}
.kukai-card div.seed-blur {
  margin-top: -8.5625rem;
  margin-bottom: 0.0625rem;
  height: 8.5rem;
  width: 30rem;
  z-index: 2;
  backdrop-filter: blur(8px);
  border-radius: 0.75rem;
  background: rgba(238, 238, 238);
  background: rgba(238, 238, 238, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.kukai-card span.black {
  color: black;
}
.kukai-card span.step-counter {
  display: block;
  margin-top: 1.5rem;
  width: 100%;
  text-align: center;
  max-width: 100%;
}
.kukai-card div.buttons {
  margin-top: 4.5rem;
  width: 17.5rem;
  display: flex;
  justify-content: space-between;
}
.kukai-card div.buttons.single {
  justify-content: center;
  width: auto;
}
.kukai-card div.buttons.single.finish {
  margin-top: 2.5rem;
}
.kukai-card div.button {
  border-radius: 0.75rem;
  width: 8rem;
  height: 3rem;
  font-style: normal;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: margin-top 0.1s ease-in, margin-bottom 0.1s ease-in;
}
.kukai-card div.button:hover {
  margin-top: -0.125rem;
}
.kukai-card div.buttons.single div.button:hover {
  margin-bottom: 0.125rem;
}
.kukai-card div.button.next {
  color: #098424;
  box-shadow: 0px 0px 1px rgba(155, 227, 171, 0.04),
    0px 2px 6px rgba(155, 227, 171, 0.04),
    0px 16px 24px rgba(155, 227, 171, 0.24);
}
.kukai-card div.button.back {
  background: rgba(0, 0, 0, 0.08);
}
.kukai-card div.button.next {
  background: #9be3ab;
}
.kukai-card div.button.disabled-button {
  pointer-events: none;
  opacity: 0.4;
  -webkit-opacity: 0.4;
  -khtml-opacity: 0.4;
}
.kukai-card a {
  color: inherit;
  text-decoration: inherit;
}
.kukai-card input:focus {
  outline: none;
}
@media screen and (max-width: 30rem) {
  .kukai-card div.whitebox {
    margin-top: 4rem;
    width: 22rem;
    height: 11.5rem;
  }
  .kukai-card div.seed-blur {
    width: 22rem;
    height: 11.5rem;
    margin-top: -11.5625rem;
  }
}
/* Step 2 */
.kukai-card div.word-verify {
  margin-top: 2.75rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}
.kukai-card div.word-input {
  margin-left: 5rem;
  margin-right: 5rem;
}
.kukai-card div.word-input > input {
  margin-top: 0.5rem;
  height: 2.5rem;
  width: 17.5rem;
  border-radius: 4px;
  text-align: center;
  border-width: 0;
}
.kukai-card span.word-index {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: center;
  letter-spacing: 0.32px;
  color: #393939;
}
.kukai-card div.word-hint {
  width: 6rem;
}
.kukai-card div.word-hint > span.word-value {
  display: block;
  margin-top: 1.25rem;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.125rem;
  text-align: center;
  letter-spacing: 0.16px;
  color: #737373;
}
.kukai-card progress[value] {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  width: 27rem;
  height: 0.5rem;
  margin-top: 2.5rem;
  border-radius: 4px;
}
.kukai-card progress::-webkit-progress-bar,
.kukai-card progress {
  background-color: #e1e1e1;
  border-radius: 4px;
  width: 100%;
}
.kukai-card progress::-webkit-progress-value {
  background-color: #5963ff !important;
  border-radius: 20px;
}
.kukai-card progress::-moz-progress-bar {
  background-color: #5963ff !important;
  border-radius: 20px;
}

.kukai-card progress {
  color: #5963ff;
  border-radius: 20px;
}
@media screen and (max-width: 36rem) {
  .kukai-card div.word-input {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media screen and (max-width: 32rem) {
  .kukai-card div.word-input {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .kukai-card div.word-input > input {
    width: 10rem;
  }
  .kukai-card progress[value] {
    width: 20rem;
  }
}
/* Step 3 */
.kukai-card small {
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.32px;
  color: #393939;
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
  width: 28rem;
}
.kukai-card small.grey {
  margin-top: 0.25rem;
  margin-bottom: -1.25rem;
  color: #393939;
  opacity: 0.4;
  -webkit-opacity: 0.4;
  -khtml-opacity: 0.4;
}
.kukai-card input.text,
.kukai-card textarea.text {
  width: 28rem;
  background: #e1e1e1;
  border-radius: 4px;
  border: 0px solid;
  height: 2.5rem;
  padding-left: 1rem;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0.16px;
  color: #393939;
}
.kukai-card textarea.text {
  height: 7rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  resize: none;
}
.kukai-card ::-webkit-input-placeholder {
  color: #737373;
}
.kukai-card ::-moz-input-placeholder {
  color: #737373;
}
.kukai-card :-ms-input-placeholder {
  color: #737373;
}
@media screen and (max-width: 29rem) {
  .kukai-card input.text,
  .kukai-card textarea.text {
    width: 20rem;
  }
  .kukai-card small {
    width: 20rem;
  }
}

/* Step 4 */
.kukai-card p.pkh {
  margin-top: 0;
}
.kukai-card div.whitebox.final {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 10rem;
}
.kukai-card div.whitebox .buttons {
  margin-top: 1rem;
}
