  H1,
  span,
  p,
  div.whitebox {
    font-family: "Helvetica Now Text";
    font-style: normal;
    display: flex;
    align-items: center;
    text-align: center;
    color: #303030;
    margin-bottom: 0;
    max-width: 34rem;
  }
  p.description {
    margin-top: 1.375rem;
  }
  p.description.bold {
    font-weight: bold;
  }
  p.description.red {
    color: #ff0000;
  }
  H1 {
    padding-bottom: 1.125rem;
    margin-block-end: 0;
    font-weight: bold;
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: -1.4px;
  }
  span,
  p {
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  div.whitebox {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 4rem;
    width: 30rem;
    height: 8.5rem;
    z-index: 1;
    background: #fcfcfc;
    padding: 1.25rem;
    border: 1px solid #ffffff;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
      0px 16px 24px rgba(0, 0, 0, 0.06);
    border-radius: 0.75rem;
    font-weight: bold;
  }
  div.seed-blur {
    margin-top: -8.5625rem;
    margin-bottom: 0.0625rem;
    height: 8.5rem;
    width: 30rem;
    z-index: 2;
    backdrop-filter: blur(8px);
    border-radius: 0.75rem;
    background: rgba(238, 238, 238, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  span.black {
    color: black;
  }
  span.step-counter {
    display: block;
    margin-top: 1.5rem;
    width: 100%;
    text-align: center;
    max-width: 100%;
  }
  div.buttons {
    margin-top: 4.5rem;
    width: 17.5rem;
    display: flex;
    justify-content: space-between;
  }
  div.buttons.single {
    justify-content: center;
    width: auto;
  }
  div.buttons.single.finish {
    margin-top: 2.5rem;
  }
  div.button {
    border-radius: 0.75rem;
    width: 8rem;
    height: 3rem;
    border-radius: 0.75rem;
    font-family: "Helvetica Now Text";
    font-style: normal;
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  div.button:hover {
    margin-top: -0.125rem;
  }
  div.buttons.single div.button:hover {
    margin-bottom: 0.125rem;
  }
  div.button.next {
    color: #098424;
    box-shadow: 0px 0px 1px rgba(155, 227, 171, 0.04),
      0px 2px 6px rgba(155, 227, 171, 0.04),
      0px 16px 24px rgba(155, 227, 171, 0.24);
  }
  div.button.back {
    border: 1px solid #000000;
  }
  div.button.next {
    background: #9BE3AB;
  }
  div.button.disabled {
    pointer-events: none;
    opacity: 40%;
  }
  a {
    color: inherit;
    text-decoration: inherit;
  }
  @media screen and (max-width: 30rem) {
    div.whitebox {
      margin-top: 4rem;
      width: 22rem;
      height: 11.5rem;
    }
    div.seed-blur {
      width: 22rem;
      height: 11.5rem;
      margin-top: -11.5625rem;
    }
  }
  /* Step 2 */
  div.word-verify {
    margin-top: 2.75rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
  }
  div.word-input {
    margin-left: 5rem;
    margin-right: 5rem;
  }
  div.word-input > input {
    margin-top: 0.5rem;
    height: 2.5rem;
    width: 17.5rem;
    background: #e1e1e1;
    border-radius: 4px;
    text-align: center;
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.125rem;
    letter-spacing: 0.16px;
    color: #393939;
    border-width: 0;
  }
  div.word-input > input::placeholder,
  input::-webkit-input-placeholder,
  input:-ms-input-placeholder {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.125rem;
    letter-spacing: 0.16px;
    color: #a8a8a8;
  }
  span.word-index {
    display: block;
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 1rem;
    text-align: center;
    letter-spacing: 0.32px;
    color: #393939;
  }
  div.word-hint {
    width: 6rem;
  }
  div.word-hint > span.word-value {
    display: block;
    margin-top: 1.25rem;
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.125rem;
    text-align: center;
    letter-spacing: 0.16px;
    color: #a8a8a8;
  }
  progress[value] {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    width: 27rem;
    height: 0.5rem;
    margin-top: 2.5rem;
    border-radius: 4px;
  }
  progress::-webkit-progress-bar,
  progress {
    background-color: #e1e1e1;
    border-radius: 4px;
    width: 100%;
  }
  progress::-webkit-progress-value {
    background-color: #5963ff !important;
    border-radius: 20px;
  }
  progress::-moz-progress-bar {
    background-color: #5963ff !important;
    border-radius: 20px;
  }
  
  progress {
    color: #5963ff;
    border-radius: 20px;
  }
  @media screen and (max-width: 36rem) {
    div.word-input {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
  @media screen and (max-width: 32rem) {
    div.word-input {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
    div.word-input > input {
      width: 10rem;
    }
    progress[value] {
      width: 20rem;
    }
  }
  /* Step 3 */
  small {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.32px;
    color: #393939;
    margin-top: 2.5rem;
    margin-bottom: 0.5rem;
    width: 28rem;
  }
  small.grey {
    margin-top: 0.25rem;
    margin-bottom: -1.25rem;
    color: #393939;
    opacity: 0.4;
  }
  input.text, textarea.text {
    width: 28rem;
    background: #e1e1e1;
    border-radius: 4px;
    border: 0px solid;
    height: 2.5rem;
    padding-left: 1rem;
  }
  textarea.text {
      height: 7rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      resize: none;
  }
  @media screen and (max-width: 29rem) {
    input.text, textarea.text {
      width: 20rem;
    }
    small {
      width: 20rem;
    }
  }
  
  /* Step 4 */
  p.pkh {
    margin-top: 0;
  }
  div.whitebox.final {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 10rem;
  }
  div.whitebox .buttons {
    margin-top: 1rem;
  }
  