/* Modal */
div.kukai-modal {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0); //fallback
  background-color: rgba(0, 0, 0, 0.4);
}
/* Modal Content/Box */
div.kukai-modal > div.km-content {
  position: relative;
  background-color: #fcfcfc;
  margin: 5rem auto;
  border: 1px solid #ffffff;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.06);
  border-radius: 0.75rem;
  width: 25rem;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.5s;
  animation-name: animatetop;
  animation-duration: 0.5s;
}
/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: 20rem;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
div.kukai-modal > div.km-content > div.km-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}
div.km-header > H1 {
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  color: #2c323a;
  margin: 1rem;
}
div.km-header > span.close {
  margin: 0.25rem 0.5rem;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}
div.km-header > span.close:hover,
div.km-header > span.close:focus {
  color: #2c323a;
  text-decoration: none;
  cursor: pointer;
}
div.km-body {
  margin: 1rem;
}
div.kukai-modal div.amount {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 5rem;
}
div.kukai-modal input.custom-large {
  width: auto;
  font-style: normal;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5rem;
  line-height: 5rem;
  color: #2C323A;
  background: #fcfcfc;
  opacity: 0.4;
  padding: 0;
  text-align: center;
  border: 0;
}
div.kukai-modal input.custom-large:disabled {
  background-color: rgba(0, 0, 0, 0);
}
div.kukai-modal input:focus,
div.kukai-modal textarea:focus {
  outline: none;
}
div.kukai-modal span.tez {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
  color: #2C323A;
  opacity: 0.4;
}
div.kukai-modal p.fee {
  margin-top: 0.375rem;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #2C323A;
  opacity: 0.4;
}
div.kukai-modal p.preview {
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1rem;
  display: flex;
  align-items: flex-end;
  color: #000000;
  opacity: 0.6;
  margin-bottom: 0.5rem;
}
div.kukai-modal td, th {
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #000000;
  opacity: 0.6;
}
div.kukai-modal th {
  font-weight: bold;
}
div.km-content label:not(.switch) {
  margin-bottom: 0.5rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.125rem;
  display: flex;
  align-items: center;
  color: #2C323A;
  opacity: 0.4;
}
div.kukai-modal p, span.danger {
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1rem;
  display: flex;
  align-items: flex-end;
  color: #000000;
}
div.kukai-modal span.no-margin,
div.kukai-modal span.margin {
  color: #FF0000;
}
div.kukai-modal span.no-margin {
  margin-top: 0.75rem;
  margin-bottom: -1.75rem;
  color: #FF0000;
}
div.kukai-modal div.group {
  margin-top: 1.5rem;
}
div.kukai-modal input.text,
div.kukai-modal textarea.text {
  width: 100%;
  background: #E1E1E1;
  border-radius: 0.75rem;
  height: 3rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 3rem;
  letter-spacing: 0.16px;
  color: #000000;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 0;
}
div.kukai-modal input.text.password {
  width: 14rem;
  margin-right: 1rem;
}
div.kukai-modal textarea.text {
  padding-top: 0.5rem;
  height: 7rem;
  line-height: 1.25rem;
  resize: none;
}
div.kukai-modal input.text::placeholder,
div.kukai-modal textarea.text::placeholder {
  color: #808080;
  opacity: 1;
}
div.kukai-modal input.text::-webkit-input-placeholder,
div.kukai-modal input.text:-ms-input-placeholder,
div.kukai-modal textarea.text::-webkit-input-placeholder,
div.kukai-modal textarea.text:-ms-input-placeholder {
  color: #808080;
}
div.kukai-modal textarea.text::placeholder,
div.kukai-modal textarea.text::-webkit-input-placeholder,
div.kukai-modal textarea.text:-ms-input-placeholder {
  padding-top: 0.5rem;
  line-height: 1.25rem;
}
div.kukai-modal div.row-group {
  display: flex;
  justify-content: space-between;
}
div.kukai-modal div.row-group > div.group:first-child {
  margin-right: 1rem;
}
div.kukai-modal div.advanced {
  margin-top: 1.5rem;
}
div.kukai-modal button.blue {
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background: #5963FF;
  box-shadow: 0px 0px 1px rgba(89, 99, 255, 0.04), 0px 2px 6px rgba(89, 99, 255, 0.04), 0px 16px 24px rgba(89, 99, 255, 0.24);
  width: 100%;
  height: 3rem;
  border-radius: 0.75rem;
  border: 0;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}
div.kukai-modal button.blue.confirm,
div.kukai-modal button.retry {
  height: 3rem;
  margin: 0;
}
div.kukai-modal button.retry {
  width: 100%;
  font-size: 1rem;
  background-color: #d3d3d3;
  color: rgb(33, 37, 41);
}
div.kukai-modal button:focus {
  outline: none;
}
div.kukai-modal div.switch-container {
  width: auto !important;
}
div.kukai-modal button.small {
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: auto;
  height: 1.5rem;
  color: #000000;
  opacity: 0.6;
  background: rgba(214, 214, 214, 0.4);
  border-radius: 0.3125rem;
  border: 0;
}
div.kukai-modal button.small.max {
  background: #d5f2dc;
}
div.kukai-modal button.small.multiple-destinations {
  color: #5963FF;
  opacity: 1;
  margin: 1rem 1.5rem;
}
div.kukai-modal div.advanced > div.row-group {
  height: 1.5rem;
}
div.kukai-modal div.x {
  position: absolute;
  top: -1rem;
  right: -1rem;
  width: 2rem;
  height: 2rem;
  z-index: 120;
  background: #FCFCFC;
  border: 1px solid #FFFFFF;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media screen and (max-width: 27rem) {
  div.kukai-modal div.x {
    right: -1px;
    border-bottom-right-radius: 0;
  }
  div.kukai-modal button.small.multiple-destinations {
    margin-right: 2.5rem;
  }
}
@media screen and (max-width: 25rem) {
  div.kukai-modal > div.km-content {
    width: 23rem;
  }
  div.kukai-modal input.text.password {
    width: 11rem;
  }
}