.switch {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.5rem;
  margin-bottom: 0;
}

.switch input { 
  opacity: 0;
  -webkit-opacity: 0;
  -khtml-opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d9d9d9;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.125rem;
  width: 1.125rem;
  left: 0.1875rem;
  bottom: 0.1875rem;
  background-color: #7B7B7B;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  box-shadow: 0px 0px 1px rgba(89, 99, 255, 0.04), 0px 2px 6px rgba(89, 99, 255, 0.04), 0px 16px 24px rgba(89, 99, 255, 0.24);
}

input:checked + .slider:before {
  background-color: #5963FF;
  -webkit-transform: translateX(1.5rem);
  -ms-transform: translateX(1.5rem);
  transform: translateX(1.5rem);
}

.slider.round {
  border-radius: 2.125rem;
}
.slider.round:before {
  border-radius: 50%;
}
input:checked + .slider {
  background-color: rgba(89, 99, 255, 0.4);;
}
div.kukai-card > div.grey-card > div.switch-container > span.switch-desc,
span.switch-desc {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.16px;
  color: #161616;
  margin-left: 0.5rem;
}
div.switch-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 28rem;
}
small {
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.32px;
  color: #393939;
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 29rem) {
  div.switch-container {
      width: 20rem;
  }
}