<div id="content" *ngIf="activePanel === 0">
    <div class="center-content">
        <div class="card text-center fix-size">
            <div class="card-body">
                <h1 class="card-title"> {{ 'MNEMONICIMPORTCOMPONENT.TITLE' | translate }} </h1>
                <div class="card-text">
                    <form class="form-group form-min-height">
                        <div>
                            <tabset>
                                <tab heading="ICO import" (select)="tge = true"></tab>
                                <tab heading="Regular import" id="tab1" (select)="tge = false"></tab>
                            </tabset>
                            <BR>
                        </div>
                        <div class="form-group row" *ngIf="tge">
                            <div class="col-sm-12">
                                <!--
                                <p> Please make sure to first
                                    <a routerLink="/activate">activate</a> your ICO-wallet.
                                </p>
                                -->
                                <p>
                                    <a routerLink="/activate"> {{ 'MNEMONICIMPORTCOMPONENT.INFO' | translate }} </a>
                                </p>
                            </div>
                        </div>
                        <!-- mnemonic -->
                        <div class="form-group row" [ngClass]="{ 'form-row-margin-top': !tge }">
                            <!-- ngClass => margin-top: 75px only for tab1 -->
                            <div class="col-sm-12">
                                <textarea rows="2" [(ngModel)]="mnemonic" [ngModelOptions]="{standalone: true}" class="form-control" [placeholder]="'MNEMONICIMPORTCOMPONENT.MNEMONIC' | translate"></textarea>
                                <small class="form-text text-left"> {{ 'MNEMONICIMPORTCOMPONENT.INFOMNEMONIC' | translate }} </small>
                            </div>
                        </div>
                        <!-- passphrase -->
                        <div class="form-group row" *ngIf="!tge">
                            <div class="col-sm-12">
                                <input type="password" [(ngModel)]="passphrase" [ngModelOptions]="{standalone: true}" class="form-control" [placeholder]="'MNEMONICIMPORTCOMPONENT.PASSPHRASE' | translate">
                                <small class="form-text text-left"> {{ 'MNEMONICIMPORTCOMPONENT.INFOPASSPHRASE' | translate }} </small>
                            </div>
                        </div>
                        <!-- email -->
                        <div class="form-group row" *ngIf="tge">
                            <div class="col-sm-12">
                                <input type="text" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control" [placeholder]="'MNEMONICIMPORTCOMPONENT.EMAIL' | translate">
                                <small class="form-text text-left"> {{ 'MNEMONICIMPORTCOMPONENT.INFOEMAIL' | translate }} </small>
                            </div>
                        </div>
                        <!-- password -->
                        <div class="form-group row" *ngIf="tge">
                            <div class="col-sm-12">
                                <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control" [placeholder]="'MNEMONICIMPORTCOMPONENT.PASSWORD' | translate">
                                <small class="form-text text-left"> {{ 'MNEMONICIMPORTCOMPONENT.INFOPASSWORD' | translate }} </small>
                            </div>
                        </div>
                        <!-- Pkh -->
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input type="text" [(ngModel)]="pkh" [ngModelOptions]="{standalone: true}" class="form-control" [placeholder]="'MNEMONICIMPORTCOMPONENT.TZ1' | translate">
                                <small class="form-text text-left" *ngIf="tge"> {{ 'MNEMONICIMPORTCOMPONENT.INFOPKHICO' | translate }} </small>
                                <small class="form-text text-left" *ngIf="!tge"> {{ 'MNEMONICIMPORTCOMPONENT.INFOPKH' | translate }} </small>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-footer text-right">
                <button type="button" class="btn btn-primary btn-lg" (click)="retrieve()"> {{ 'MNEMONICIMPORTCOMPONENT.RETRIEVE' | translate }} </button>
            </div>
        </div>
    </div>
</div>
<!-- Password -->
<div id="content" *ngIf="activePanel === 1">
    <div class="center-content">
        <div class="card text-center fix-size">
            <div class="card-body">
                <h1 class="card-title"> {{ 'MNEMONICIMPORTCOMPONENT.TITLE2' | translate }} </h1>
                <div class="card-text">
                    <form class="form-group">
                        <!-- password 1 -->
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input type="password" [(ngModel)]="pwd1" (keyup)="calcStrength()" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Password">
                                <small id="emailHelp1" class="form-text text-muted text-left"> Password strength: {{ pwdStrength }}</small>
                                <small class="form-text text-left"></small>
                            </div>
                        </div>
                        <!-- password 2 -->
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input type="password" [(ngModel)]="pwd2" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Confirm Password">
                                <small class="form-text text-left"></small>
                            </div>
                        </div>
                    </form>
                    <p> {{ 'MNEMONICIMPORTCOMPONENT.INFOPASSWORD2' | translate }} </p>
                </div>
            </div>
            <div class="card-footer text-right">
                <button type="button" class="btn btn-primary btn-lg" (click)="setPwd()"> {{ 'MNEMONICIMPORTCOMPONENT.ENCRYPT' | translate }} </button>
            </div>
        </div>
    </div>
</div>
<!-- Finish -->
<div id="content" *ngIf="activePanel === 2">
    <div class="center-content">
        <div class="card text-center fix-size">
            <div class="card-body">
                <h1 class="card-title"> {{ 'MNEMONICIMPORTCOMPONENT.TITLE3' | translate }} </h1>
                <div class="card-text">
                    <form class="form-group">
                        <p class="seed">
                            <b> {{ 'MNEMONICIMPORTCOMPONENT.PKH' | translate }}
                                {{ showPkh() }}
                            </b>
                        </p>
                        <br>
                        <p> {{ 'MNEMONICIMPORTCOMPONENT.INFOCONFIRMATION' | translate }} </p>
                        <p> {{ 'MNEMONICIMPORTCOMPONENT.INFODOWNLOAD' | translate }} </p>
                        <button type="button" class="btn btn-primary btn-lg" (click)="download()"> {{ 'MNEMONICIMPORTCOMPONENT.DOWNLOAD' | translate }} </button>
                    </form>
                </div>
            </div>
            <div class="card-footer text-right">
                <button type="button" class="btn btn-primary btn-lg" [disabled]="!Downloaded" (click)="done()"> {{ 'MNEMONICIMPORTCOMPONENT.FINISH' | translate }} </button>
            </div>
        </div>
    </div>
</div>