<div id="content" *ngIf="activePanel === 0">
    <div class="center-content">
        <div class="card text-center fix-size">
            <div class="card-body">
                <h1 class="card-title"> {{ 'MNEMONICIMPORTCOMPONENT.TITLE' | translate }} </h1>
                <div class="card-text">
                    <form class="form-group form-min-height">
                        <div>
                            <!--
                            <tabset>
                                <tab heading="ICO import" (select)="tge = true"></tab>
                                <tab heading="Regular import" id="tab1" (select)="tge = false"></tab>
                            </tabset>
                            -->
                            <ul class="nav nav-pills" [selectedIndex]="activeTab" (selectedIndexChange)="tabChanged()">
                                <li class="nav-item" label="Regular import">
                                  <button class="btn btn-primary" (click)="tge = false">Regular Import</button>
                                </li>
                                <li label="ICO import" (select)="tge = true">
                                  <button class="btn btn-success" (click)="tge = true">Fundraiser Import</button>
                                </li>
                            </ul>
                            <BR>
                        </div>
                        <div class="form-group row" *ngIf="tge">
                            <div class="col-sm-12">
                                    <p *ngIf="this.CONSTANTS.NET.NAME !== 'Mainnet'">Need a <a href="https://faucet.tzalpha.net/" target="_blank">faucet</a> for the testnet?</p>
                                <p>
                                    <a routerLink="/activate"> {{ 'MNEMONICIMPORTCOMPONENT.INFO' | translate }} </a>
                                </p>
                            </div>
                        </div>
                        <!-- mnemonic -->
                        <div class="form-group row" [ngClass]="{ 'form-row-margin-top': !tge }">
                            <!-- ngClass => margin-top: 75px only for tab1 -->
                            <div class="col-sm-12">
                                <textarea rows="2" [(ngModel)]="mnemonic" [ngModelOptions]="{standalone: true}" class="form-control" [placeholder]="'MNEMONICIMPORTCOMPONENT.MNEMONIC' | translate"></textarea>
                                <small class="form-text text-left"> {{ 'MNEMONICIMPORTCOMPONENT.INFOMNEMONIC' | translate }} </small>
                            </div>
                        </div>
                        <!-- passphrase -->
                        <div class="form-group row" *ngIf="!tge">
                            <div class="col-sm-12">
                                <input type="password" [(ngModel)]="passphrase" [ngModelOptions]="{standalone: true}" class="form-control" [placeholder]="'MNEMONICIMPORTCOMPONENT.PASSPHRASE' | translate">
                                <small class="form-text text-left"> {{ 'MNEMONICIMPORTCOMPONENT.INFOPASSPHRASE' | translate }} </small>
                            </div>
                        </div>
                        <!-- email -->
                        <div class="form-group row" *ngIf="tge">
                            <div class="col-sm-12">
                                <input type="text" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control" [placeholder]="'MNEMONICIMPORTCOMPONENT.EMAIL' | translate">
                                <small class="form-text text-left"> {{ 'MNEMONICIMPORTCOMPONENT.INFOEMAIL' | translate }} </small>
                            </div>
                        </div>
                        <!-- password -->
                        <div class="form-group row" *ngIf="tge">
                            <div class="col-sm-12">
                                <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control" [placeholder]="'MNEMONICIMPORTCOMPONENT.PASSWORD' | translate">
                                <small class="form-text text-left"> {{ 'MNEMONICIMPORTCOMPONENT.INFOPASSWORD' | translate }} </small>
                            </div>
                        </div>
                        <!-- Pkh -->
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input type="text" [(ngModel)]="pkh" [ngModelOptions]="{standalone: true}" class="form-control" [placeholder]="'MNEMONICIMPORTCOMPONENT.TZ1' | translate">
                                <small class="form-text text-left" *ngIf="tge"> {{ 'MNEMONICIMPORTCOMPONENT.INFOPKHICO' | translate }} </small>
                                <small class="form-text text-left" *ngIf="!tge"> {{ 'MNEMONICIMPORTCOMPONENT.INFOPKH' | translate }} </small>
                            </div>
                        </div>
                        <div class="form-inline form-check row input-left">
                            <input class="form-check-input" (change)="hdImport = !hdImport" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                              HD wallet
                            </label>
                          </div>
                          <div class="form-inline form-check row">
                            <input class="form-check-input" (change)="hdImport = !hdImport" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                            <label class="form-check-label" for="exampleRadios2">
                              Legacy wallet
                            </label>
                          </div>
                    </form>
                </div>
            </div>
            <div class="card-footer text-right">
                <button type="button" class="btn btn-primary btn-lg" (click)="retrieve()"> {{ 'MNEMONICIMPORTCOMPONENT.RETRIEVE' | translate }} </button>
            </div>
        </div>
    </div>
</div>
<!-- Password -->
<div id="content" *ngIf="activePanel === 1">
    <div class="center-content">
        <div class="card text-center fix-size">
            <div class="card-body">
                <h1 class="card-title"> {{ 'MNEMONICIMPORTCOMPONENT.TITLE2' | translate }} </h1>
                <div class="card-text">
                    <form class="form-group">
                        <!-- password 1 -->
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input type="password" [(ngModel)]="pwd1" (keyup)="calcStrength()" [ngModelOptions]="{standalone: true}" class="form-control" [placeholder]="'MNEMONICIMPORTCOMPONENT.PASSWORD' | translate">
                                <small id="emailHelp1" class="form-text text-muted text-left"> {{ 'MNEMONICIMPORTCOMPONENT.PASSWORDSTRENGHT' | translate }} {{ pwdStrength }}</small>
                                <small class="form-text text-left"></small>
                            </div>
                        </div>
                        <!-- password 2 -->
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input type="password" [(ngModel)]="pwd2" [ngModelOptions]="{standalone: true}" class="form-control" [placeholder]="'MNEMONICIMPORTCOMPONENT.PASSWORDCONFIRM' | translate">
                                <small class="form-text text-left"></small>
                            </div>
                        </div>
                    </form>
                    <p> {{ 'MNEMONICIMPORTCOMPONENT.INFOPASSWORD2' | translate }} </p>
                </div>
            </div>
            <div class="card-footer text-right">
                <button type="button" class="btn btn-primary btn-lg" (click)="setPwd()"> {{ 'MNEMONICIMPORTCOMPONENT.ENCRYPT' | translate }} </button>
            </div>
        </div>
    </div>
</div>
<!-- Finish -->
<div id="content" *ngIf="activePanel === 2">
    <div class="center-content">
        <div class="card text-center fix-size">
            <div class="card-body">
                <h1 class="card-title"> {{ 'MNEMONICIMPORTCOMPONENT.TITLE3' | translate }} </h1>
                <div class="card-text">
                    <form class="form-group">
                        <p class="seed">
                            <b> {{ 'MNEMONICIMPORTCOMPONENT.PKH' | translate }}
                                {{ showPkh() }}
                            </b>
                        </p>
                        <br>
                        <p> {{ 'MNEMONICIMPORTCOMPONENT.INFOCONFIRMATION' | translate }} </p>
                        <p> {{ 'MNEMONICIMPORTCOMPONENT.INFODOWNLOAD' | translate }} </p>
                        <button type="button" class="btn btn-primary btn-lg" (click)="download()"> {{ 'MNEMONICIMPORTCOMPONENT.DOWNLOAD' | translate }} </button>
                    </form>
                </div>
            </div>
            <div class="card-footer text-right">
                <button type="button" class="btn btn-primary btn-lg" [disabled]="!Downloaded" (click)="done()"> {{ 'MNEMONICIMPORTCOMPONENT.FINISH' | translate }} </button>
            </div>
        </div>
    </div>
</div>