<div id="content" *ngIf="activePanel === 0">
    <div class="center-content">
        <div class="card text-center fix-size">
            <div class="card-body">
                <h1 class="card-title">Retrieve your Wallet</h1>
                <div class="card-text">
                    <form class="form-group">
                        <div>
                            <tabset>
                              <tab heading="Regular import" id="tab1" (select)="tge = false"></tab>
                              <tab heading="ICO import" (select)="tge = true"></tab>
                            </tabset><BR>
                        </div>
                        <div class="form-group row" *ngIf="tge">
                            <div class="col-sm-12">
                                <input type="file" (change)="handleFileInput($event.target.files)" class="form-control-file" id="file" accept=".json">
                            </div>
                        </div>
                        <div class="form-group row" *ngIf="tge">
                                <div class="col-sm-12">
                                    <p>Please make sure to first <a routerLink="/activate">activate</a> your ICO-wallet.</p>
                                </div>
                            </div>
                        <!-- mnemonic -->
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input type="text" [(ngModel)]="mnemonic" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Mnemonic">
                                <small class="form-text text-left">The mnemonic phrase (15 words)</small>
                            </div>
                        </div>
                        <!-- passphrase -->
                        <div class="form-group row" *ngIf="!tge">
                            <div class="col-sm-12">
                                <input type="password" [(ngModel)]="passphrase" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Passphrase (optional)">
                                <small class="form-text text-left">If your mnemonic phrase is protected with a passphrase, it need to be entered here</small>
                            </div>
                        </div>
                        <!-- email -->
                        <div class="form-group row" *ngIf="tge">
                            <div class="col-sm-12">
                                <input type="text" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Email">
                                <small class="form-text text-left">The email used during the ICO (e.g. example@email.com)</small>
                            </div>
                        </div>
                        <!-- password -->
                        <div class="form-group row" *ngIf="tge">
                            <div class="col-sm-12">
                                <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Password">
                                <small class="form-text text-left">The password you choose during the ICO.</small>
                            </div>
                        </div>
                    </form>
                    <p>This is an alphanet version, please use the faucet website to get test wallet credential that you can retrieve <a href="https://faucet.tzalpha.net/" target="blank">here</a>.</p>
                    <br>
                    <p>At the launch of betanet, you can use your wallet credentials from the pdf file generated during ICO</p>
                </div>
            </div>
            <div class="card-footer text-right">
                <button type="button" class="btn btn-primary btn-lg" (click)="retrieve()">Retrieve</button>
            </div>
        </div>
    </div>
</div>
<!-- Password -->
<div id="content" *ngIf="activePanel === 1">
    <div class="center-content">
        <div class="card text-center fix-size">
            <div class="card-body">
                <h1 class="card-title">Set a password</h1>
                <div class="card-text">
                    <form class="form-group">
                        <!-- password 1 -->
                        <div class="form-group row" *ngIf="tge">
                            <div class="col-sm-12">
                                <input type="password" [(ngModel)]="pwd1" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Password">
                                <small class="form-text text-left"></small>
                            </div>
                        </div>
                        <!-- password 2 -->
                        <div class="form-group row" *ngIf="tge">
                            <div class="col-sm-12">
                                <input type="password" [(ngModel)]="pwd2" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Password">
                                <small class="form-text text-left"></small>
                            </div>
                        </div>
                    </form>
                    <p>The password is used to encrypt your private key.</p>
                </div>
            </div>
            <div class="card-footer text-right">
                <button type="button" class="btn btn-primary btn-lg" (click)="setPwd()">Encrypt</button>
            </div>
        </div>
    </div>
</div>
<!-- Finish -->
<div id="content" *ngIf="activePanel === 2">
    <div class="center-content">
        <div class="card text-center fix-size">
            <div class="card-body">
                <h1 class="card-title">Wallet created</h1>
                <div class="card-text">
                    <form class="form-group">
                        <p class="seed"><b>{{ export() }}</b></p>
                        <br>
                        <p>Your wallet is now set up and ready to use.</p>
                        <p>Please download your Encrypted Keystore File..</p>
                        <button type="button" class="btn btn-primary btn-lg" (click)="download()">Download</button>
                    </form>
                    <p>At the launch of betanet, you can use your wallet credentials from the pdf file generated during ICO</p>
                </div>
            </div>
            <div class="card-footer text-right">
                <button type="button" class="btn btn-primary btn-lg" [disabled]="!Downloaded" (click)="done()">Finish</button>
            </div>
        </div>
    </div>
</div>