@import '../../../scss/modal.scss';
img.add {
    float: right;
    margin-right: 1rem;
    cursor: pointer;
}
.modal-footer {
    justify-content: space-between;
}
.wait {
    cursor: wait !important;
}