<!-- Confirm Modal -->
<ng-template #modal1 class="confirm-modal">
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add a new account</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="close1()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Derive a new account for your HD wallet. Enter your password to confirm.</p>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="user-pwd">Password</label>
                <input [(ngModel)]="password" (input)="errorMsg = ''" (change)="errorMsg = ''" type="password" id="user-pwd" class="form-control">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="panel-footer text-center">
            <span class="pull-left">{{ errorMsg }}</span>
        </div>
        <button type="button" class="btn btn-primary" id="sub" (click)="addPkh()" [class.wait]="wait">Confirm</button>
    </div>
</ng-template>

<img src="../../../assets/img/add.svg" (click)="open1(modal1)">