@use "../../../../../../abstracts/variables" as v;
@use "../../../../../../abstracts/mixins" as m;
@import "../mixins";

$base-font-color: v.$base-font-color;
$base-end-color: v.$base-end-color;
$base-blue-color-lightened: v.$base-blue-color-lightened;
$color-lightened-1: v.$color-lightened-1;
$color-lightened-2: v.$color-lightened-2;
$color-lightened-5: v.$color-lightened-5;
$color-lightened-65: v.$color-lightened-65;
$color-lightened-7: v.$color-lightened-7;
$border-color-dark-only: v.$border-color-dark-only;
$border-width: v.$border-width;
$border-color: v.$border-color;
$border-radius: v.$border-radius;
$box-shadow: 0px 4px 6px #3332;

@include base;

.scroll-wrapper {
  background-color: $base-end-color;
  border-radius: v.$border-radius;
  margin: 1rem 0 0 0;
}

.body {
  display: grid;
  grid-template-columns: repeat(3, 33.3333%);
  padding: 1rem 1rem 1rem 2rem;
  border-radius: v.$border-radius;
  overflow-x: hidden;
  overflow-y: auto;
  flex-wrap: wrap;
  height: 100%;
  background-color: $base-end-color;
  justify-content: flex-start;
  width: calc(100% - 4rem);
  max-height: 44rem;

  & .token {
    display: flex;
    width: auto;
    justify-content: flex-start;
    padding: 1rem;
    cursor: pointer;

    &:hover {
      background-color: $color-lightened-65;
      border-radius: $border-radius;
    }

    &:last-of-type {
      border-bottom: none;
    }
  }
}

@media (max-width: v.$layout-break-2 + 25em) {
  .body {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (max-width: v.$layout-break-4) {
  .body .token {
    @include m.multiply("font-size", 1.5);
  }
}

@media (max-width: v.$layout-break-6) {
  .body {
    grid-template-columns: repeat(1, 100%);
    & .token {
      padding: 1rem 0;
      border-bottom: 2px solid $border-color;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}