.wait {
    cursor: wait !important;
}
.page-header {
    margin: 40px 0px 10px 0px;
}

.bottom-separator {
    padding-bottom: 27px;
    border-bottom: 1px solid #eee; //Alignment  with sidebar
    margin-bottom: 0.5rem; //space between border and next content
}

.page-header-no-account {
    margin: 40px 0px 10px 0px;
}

.bottom-separator-no-account {
    padding-bottom: 27px;
    border-bottom: 1px solid #eee; //Alignment  with sidebar
    margin-bottom: 0.5rem; //space between border and next content
}

h4 {
    font-weight: 400;
}

.btn-second {
    min-width: 96px;
    color: #333333;
}

.btn-second:hover {
    background-color: #cccccc;
}

.btn-second:active {
    background-color: #b3b3b3;
}

/* Responsive breakpoints */
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    .container {
        padding-left: 2em;
        min-width: 85vw
    }
 }

// Medium devices (tablets, 768px and up)
//@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
/*@media (min-width: 992px) { 
    .container {
        min-width: 70vw
    } 
 }*/

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .container {
        padding-left: 2em;
        min-width: 65vw
    } 
}