<div class="container" *ngIf="this.walletService.wallet">
    <!-- Title -->
    <div class="row bottom-separator">
        <div class="col-lg-12">
            <h1 class="page-header">Backup Your Wallet</h1>
        </div>
    </div>

    <!-- Subheading -->
    <div class="row">
        <div class="col-lg-12">
            <h4>
                <p>A wallet backup protects your tezzies against computer or software failure. If you lose the backup and can't access your wallet for some reasons, your tezzies are permanently lost!</p>
                <p>It is recommended that you store backups of both forms of your key (the Keystore file version and paper wallet version) in physically separate, offline environments.</p>
            </h4>
        </div>
    </div>
    <br>

    <!-- Reveal Seed -->
    <div class="row">
        <div class="col-lg-12">
            <h3>1. Backup your Seed</h3>
        </div>
    </div>
    <form>
        <div class="form-group row">
            <div class="col-sm-8">
                <label for="seedTextarea">Reveal Seed</label>
                <textarea rows="3" class="form-control" id="seedTextarea" [placeholder]="mySeed" disabled></textarea>
            </div>
        </div>
    </form>

    <form class="form-inline">
        <label class="sr-only" for="inlineFormInputPassword">Password</label>
        <input type="password" class="form-control mb-2 mr-sm-2" id="inlineFormInputPassword" placeholder="Password" aria-describedby="passwordHelpInline">

        <button type="submit" class="btn btn-clear btn-second mb-2 pull-right" (click)="decryptSeed()">Decrypt</button>
    </form>
    <br>
    <br>

    <!-- Export File -->
    <div class="row">
        <div class="col-lg-12">
            <h3>2. Export your Encrypted Keystore File</h3>
        </div>
    </div>
    <form class="form-inline">
        <label class="sr-only" for="inlineFormInputPassword2">Password</label>
        <input type="password" class="form-control mb-2 mr-sm-2" id="inlineFormInputPassword2" placeholder="Password" aria-describedby="passwordHelpInline">

        <button type="submit" class="btn btn-clear btn-second mb-2 mr-sm-2" (click)="revealFileButton()">Decrypt</button>
        <button type="button" class="btn btn-clear btn-second mb-2 mr-sm-2" aria-describedby="saveFileButton" *ngIf="showFileButton" (click)="saveFile()">Download</button>

        <small id="saveFileButton" class="text-success" *ngIf="saveSuccessfully">
            File has been saved - please store it safely
        </small>
    </form>
    <BR>
    <!-- Export PK -->
    <div class="row">
        <div class="col-lg-12">
            <h3>3. Show Publik Key</h3>
        </div>
    </div>
    <form class="form-inline">
        <label class="sr-only" for="inlineFormInputPassword3">Password</label>
        <input type="password" class="form-control mb-2 mr-sm-2" [(ngModel)]="pwd3" name="pwd3" placeholder="Password" aria-describedby="passwordHelpInline">
        <button type="submit" id="pkDecrypt" class="btn btn-clear btn-second mb-2 mr-sm-2" [class.wait]="wait === 1" (click)="decryptPk()">Decrypt</button>
        <small *ngIf="pk">
            {{ pk }}
        </small>
    </form>
</div>

<!-- Default message - No account created -->
<div class="container" *ngIf="!this.walletService.wallet">
    <!-- Title -->
    <div class="row bottom-separator-no-account">
        <div class="col-lg-12">
            <h1 class="page-header-no-account">Backup</h1>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <p>Before making a backup, you will need to <a routerLink="">create or import</a> a wallet.</p>
            <!--
            You need to <a routerLink="">create or import</a> a wallet to see this view...
            -->
        </div>
    </div>
</div>

    

