<div class="container" *ngIf="this.walletService.wallet">
    <!-- Title -->
    <div class="row bottom-separator">
        <div class="col-lg-12">
            <h1 class="page-header">{{ 'BACKUPCOMPONENT.TITLE' | translate }}</h1>
        </div>
    </div>

    <!-- Subheading -->
    <div class="row">
        <div class="col-lg-12">
            <h4>
                <p>{{ 'BACKUPCOMPONENT.HEADING1' | translate }}</p>
                <p>{{ 'BACKUPCOMPONENT.HEADING2' | translate }}</p>
            </h4>
        </div>
    </div>
    <br>

    <!-- Export File -->
    <div class="row">
        <div class="col-lg-12">
            <h3 *ngIf="walletService.isFullWallet()">{{ 'BACKUPCOMPONENT.EXPORTFULLWALLET' | translate }}</h3>
            <h3 *ngIf="walletService.isViewOnlyWallet()">{{ 'BACKUPCOMPONENT.EXPORTVIEWONLYWALLET' | translate }}</h3>
            <h3 *ngIf="walletService.isObserverWallet()">{{ 'BACKUPCOMPONENT.EXPORTOBSERVERWALLET' | translate }}</h3>
            <p *ngIf="walletService.isFullWallet()">{{ 'BACKUPCOMPONENT.INFOFULLWALLET' | translate }}</p>
            <p *ngIf="walletService.isViewOnlyWallet()">{{ 'BACKUPCOMPONENT.INFOVIEWONLYWALLET' | translate }}</p>
            <p *ngIf="walletService.isObserverWallet()">{{ 'BACKUPCOMPONENT.INFOOBSERVERWALLET' | translate }}</p>
        </div>
    </div>
    <form class="form-inline">
        <button type="button" class="btn btn-clear btn-second mb-2 mr-sm-2" aria-describedby="saveFileButton" (click)="saveFile()">{{ 'BACKUPCOMPONENT.DOWNLOAD' | translate }}</button>
    </form>
    <BR>
    <ng-container *ngIf="walletService.isFullWallet()">
        <!-- Export PK -->
        <div class="row">
            <div class="col-lg-12">
                <h3>{{ 'BACKUPCOMPONENT.EXPORTVIEWONLYWALLET2' | translate }}</h3>
                <p>{{ 'BACKUPCOMPONENT.INFOVIEWONLYWALLET2' | translate }}</p>
            </div>
        </div>
        <form class="form-inline">
            <label class="sr-only" for="inlineFormInputPassword3">{{ 'BACKUPCOMPONENT.PASSWORD' | translate }}</label>
            <input type="password" class="form-control mb-2 mr-sm-2" [(ngModel)]="pwd2" name="pwd2" placeholder="Password" aria-describedby="passwordHelpInline">
            <button type="submit" id="pkDecrypt" class="btn btn-clear btn-second mb-2 mr-sm-2" [class.wait]="wait === 1" (click)="decryptPk()">{{ 'BACKUPCOMPONENT.GENERATE' | translate }}</button>
            <small *ngIf="pk">
                {{ pk }}
            </small>
        </form>
    </ng-container>
</div>

<!-- Default message - No account created -->
<div class="container" *ngIf="!this.walletService.wallet">
    <!-- Title -->
    <div class="row bottom-separator-no-account">
        <div class="col-lg-12">
            <h1 class="page-header-no-account">{{ 'BACKUPCOMPONENT.BACKUP' | translate }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <!--
            <p>Before making a backup, you will need to
                <a routerLink="">create or import</a> a wallet.</p>
            -->
            <p>
                {{ 'BACKUPCOMPONENT.EMPTY' | translate }}
            </p>
        </div>
    </div>
</div>